<div class="col-12 col-lg-7">
                  <div>
                    <h1 class="title" style="font-size: 5rem;"><b>
                        <div id="productTitle">{{product.title}}</div>
                      </b></h1>
                    {{!-- </br> --}}
                    <hr />
                    {{!-- </br> --}}
                   <h3 style="    color:#de5b6d;    font-weight: bold;    font-size: 20px;    margin: 1px 0px 6px 0px;">M.R.P. <i class="fa fa-rupee"></i><del style="color: black;">{{product.price}}</del>  {{product.sellingPrice}}</h3> 
                    {{!-- <p style="font-size: 1.5rem;">Meet the 4 in 1 Digital gate lock from LAVNA Locks, which you
                      can access from your fingerprint, RFID Card, PIN, and Key.</p> --}}
                    <p style="font-size: 1.5rem;"><i class="fas fa-fingerprint"></i>&nbsp; &nbsp;{{product.description}}
                    </p>
                    <h2><b>Features Of Gate Lock:</b></h2>
                    </br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp; 360° Fingerprint sensor – 0.4 sec. unlocking speed || Register up to 100 fingerprints in the lock.
                    </p><br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp;Mobile application– This lock completely operate through mobile application. Add/Del. any user, unlocking records, Bluetooth unlocking.
                    </p><br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp; Universal OTP feature, you can generate OTP from anywhere and share with your guest for one time entrance.
                    </p><br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp; 100 RFID Card/ 100 Pin Password can be register in this lock.
 
                    </p><br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp; Computerized key also for unlocking.
                    </p><br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp; Auto-locking system
                    </p><br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp;Low battery indicator 
                    </p><br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp; External power port to give power to the lock in case of low battery.
                    </p><br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp;Adjustable spy code – You can use random numbers before or after the original pin in the presence of strangers to protect your original Pin.
                    </p><br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp;Record History- You can Check Past Unlocking record on your Mobile Application. (3 year warranty of the lock.) 
                    </p><br>

                    
                  <br>
                  </div>
                  <h2><b>Description Of Gate Lock:</b></h2>
                  <br>  
                  <p style="font-size: 1.5rem;">
                  Introducing you all a Smart Solution for your Home, Office, Shop, Hotels, Resorts, Schools, Hospital, Banks, Gyms and other Private premises, most importantly this is a High-tech Fingerprint Digital Door Lock with strong features and simple to use.
                  <br><br>

Secondly, this biometric Fingerprint door Lock makes your unlocking very easy and you can say that your finger, your key & no one can take your key beside this the security lock will eliminate so many things like manual locking, making multiple keys for family members, no need to carry your key when you go out and so on.<br><br>

Thirdly this digital lock is suitable for wooden door and the smart lock is universal and simple to install as it can be installed on both the side left or right of the door & both opening indoor and outdoor but it is advised to get it installed after watching our installation video on our YouTube Channel moreover you can also contact us to know if installation services will be available at your location and cost for the same if any alongside you can contact our customer service anytime through WhatsApp or through calling.
<br><br>
All our products are also available on amazon, do check them out.
</p>
                  <!-- Add to Cart Form -->
                  {{!-- <form class="btn__group" method="post">
                    <div class="add_to_cart">
                      <button style="margin:1rem; padding:1rem;" class="btn-primary add" type="button" id="btn"
                        onclick="addTocart(index)">Add To Cart</button>
                    </div>
                  </form><br> --}}
<hr>
                </div>

               <div class="container">
      <table class="table">
  <thead>
    <tr>
      <th scope="col">Features</th>
      
      <th scope="col">L-A28(Remote)</th>
     
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Fingerprint Sensor:</th>
      <td><i style="color:green;" class="fa fa-check" aria-hidden="true"></i></td>
      
    
    </tr>
    <tr>
      <th scope="row">Password:</th>
      <td><i style="color:green;" class="fa fa-check" aria-hidden="true"></i></td>
      
     
    </tr>
    <tr>
      <th scope="row">RFID Card:</th>
      <td><p>Yes</p></td>
      
    
    </tr>
    <tr>
      <th scope="row">Fingerprint Capacity:</th>
      <td><p>100</p></td>
     
    </tr>

      <tr>
      <th scope="row">Password Capacity:</th>
      <td><p>100</p></td>
      
    
    </tr>

    
      <tr>
      <th scope="row">RFID Capacity:</th>
      <td><p>100</p></td>
      
    
    </tr>

{{!-- 
    <tr>
      <th scope="row">Display Screen:</th>
      <td><p>Yes</p></td>
      
    
    </tr> --}}
      <tr>
      <th scope="row">Recognition speed:</th>
     <td><p>Less than 0.4s</p></td>
      
     
    </tr>

       <tr>
      <th scope="row">Operating Temperature:</th>
     <td><p>-10 °C- 60 °C</p></td>
      
     
    </tr>

      <tr>
      <th scope="row">Power supply:</th>
     <td><p>4pcs*1.5V AA alkaline batteries</p></td>
      
     
    </tr>

      <tr>
      <th scope="row">Working Current:</th>
     <td><p>300mAH</p></td>
      
     
    </tr>

     <tr>
      <th scope="row">Emergency Open:</th>
       <td><p>5 V Micro USB , Computerized key</p></td>
      
     
    </tr>

     <tr>
      <th scope="row">Colour:</th>
      <td><p> Black</p></td>
      
     
    </tr>

     <tr>
      <th scope="row">Weight:</th>
     <td><p>2 kg</p></td>
      
     
    </tr>

     <tr>
      <th scope="row">Door Thickness:</th>
     <td><p>32 to 70 mm ONLY</p></td>
      
     
    </tr>

     <tr>
      <th scope="row">Box Dimension:</th>
      <td><p>H-18cm, L-33cm, W-17cm</p></td>
      
     
    </tr>
     <tr>
      <th scope="row">Mortise Dimension:</th>
      <td><p>H-10.5cm, L-2.2cm, W-7cm</p></td>
      
     
    </tr>

     <tr>
      <th scope="row">Applicable on:</th>
      <td><p>Wooden and metal main door</p></td>
      
     
    </tr>

    

      <tr>
      <th scope="row">Box Contains:</th>
     <td><p>
       <ul>
  <li>Main Lock</li>
  <li>1 Indoor Unit 

</li>
  <li> 1 Outdoor Unit 

</li>
<li> Side Panel 
</li>
<li> Suitable Screw Packet
 
</li>
<li> 2 Mechanical Key 
 
</li>
<li> 2 RFID card
 
</li>
<li> Door cutting diagram
 
</li>
<li> User Manual
 
</li>

</ul>
     </p></td>
      
     
    </tr>

    
  </tbody>
</table>
</div>
                