<div class="col-12 col-lg-7">
                  <div>
                    <h1 class="title" style="font-size: 5rem;"><b>
                        <div id="productTitle">{{product.title}}</div>
                      </b></h1>
                    {{!-- </br> --}}
                    <hr />
                    {{!-- </br> --}}
                    <h3 style="    color:#de5b6d;    font-weight: bold;    font-size: 20px;    margin: 1px 0px 6px 0px;">M.R.P. <i class="fa fa-rupee"></i><del style="color: black;">{{product.price}}</del>  {{product.sellingPrice}}</h3> 
                    {{!-- <p style="font-size: 1.5rem;">Meet the 4 in 1 Digital gate lock from LAVNA Locks, which you
                      can access from your fingerprint, RFID Card, PIN, and Key.</p> --}}
                    <p style="font-size: 1.5rem;"><i class="fas fa-fingerprint"></i>&nbsp; &nbsp;{{product.description}}
                    </p>
                    <h2><b>Features Of Gate Lock:</b></h2>
                    </br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp; RFID Card unlocking - 0.5 sec. unlocking speed/ Register 100 cards in the Smart lock for doors.
                    </p><br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp; Suitable for wooden main door, hotel door locks. Minimum door thickness required 32-100 MM.
                    </p><br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp; Mechanical key unlocking, comes with 2 computerized mechnical key in the electronic lock.
                    </p><br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp; Auto door locking system || Low battery indicator..
 
                    </p><br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp; Support the hotel locks function like energy saver which are sold separately.
                    </p><br>
                    
                  </div>
                  <h2><b>Description Of Gate Lock:</b></h2>
                  <br>  
                  <p style="font-size: 1.5rem;">
                  Smart Solution for your Home, Office, Shop, Hotels or other Private premises this is a High-tech Digital Door Lock with strong features and simple to use. Minimum Door thickness require 32 mm.
                  <br><br>

This Lock makes your unlocking very easy. This handle door lock will eliminate so many things like manual locking. The security lock is suitable for wooden & metal doors and it is universal and simple to install, this lock comes with all side left and right of the door & both opening indoor and outdoor. But before placing your order please tell them which side you need.
<br><br>
It is advised to get it installed after watching our installation video on our YouTube Channel. You can also contact us to know if installation services will be available at your location and cost for the same if any. Customer care <b style="color: blue;">@ 1800-313-4491 & 9667771077.</b>

<br>
</p>
                  <!-- Add to Cart Form -->
                  {{!-- <form class="btn__group" method="post">
                    <div class="add_to_cart">
                      <button style="margin:1rem; padding:1rem;" class="btn-primary add" type="button" id="btn"
                        onclick="addTocart(index)">Add To Cart</button>
                    </div>
                  </form><br> --}}
<hr>
                </div>

        <div class="container">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Features</th>
      
      <th scope="col">LH-300</th>
     
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">RFID Card:</th>
      <td><i style="color:green;" class="fa fa-check" aria-hidden="true"></i></td>
      
    
    </tr>
    {{!-- <tr>
      <th scope="row">Password:</th>
      <td><i style="color:green;" class="fa fa-check" aria-hidden="true"></i></td>
      
     
    </tr> --}}
    <tr>
      <th scope="row">RFID Capacity:</th>
      <td><p>100</p></td>
     
    </tr>

      {{!-- <tr>
      <th scope="row">Password Capacity:</th>
      <td><p>100</p></td>
      
    
    </tr> --}}

      <tr>
      <th scope="row">Recognition speed:</th>
     <td><p> 0.5s</p></td>
      
     
    </tr>

       <tr>
      <th scope="row">Operating Temperature:</th>
     <td><p>-10 °C- 60 °C</p></td>
      
     
    </tr>

      <tr>
      <th scope="row">Power supply:</th>
     <td><p>3.7 V Output Power</p></td>
      
     
    </tr>

      <tr>
      <th scope="row">Working Current:</th>
     <td><p>300mAH</p></td>
      
     
    </tr>

     <tr>
      <th scope="row">Emergency:</th>
       <td><p>Only Key</p></td>
      
     
    </tr>

     <tr>
      <th scope="row">Color:</th>
      <td><p>Silver & chrome</p></td>
      
     
    </tr>

     <tr>
      <th scope="row">Weight:</th>
     <td><p>2.7 kg</p></td>
      
     
    </tr>

     <tr>
      <th scope="row">Door Thickness:</th>
     <td><p>	
32 to 60 mm</p></td>
      
     
    </tr>

     <tr>
      <th scope="row">Box Dimension:</th>
      <td><p>H-12 cm, L-18.8 cm, W-34.8 cm</p></td>
      
     
    </tr>
    <tr>
      <th scope="row">Mortise Dimension:</th>
      <td><p>H-20cm, L-2.2cm, W-9cm</p></td>
      
     
    </tr>

     <tr>
      <th scope="row">Applicable on:</th>
      <td><p>	
Wooden Main Door</p></td>
      
     
    </tr>

    

     <tr>
      <th scope="row">Box Contains:</th>
     <td><p>
       <ul>
  <li>Main Lock</li>
  <li>1 Indoor Unit 

</li>
  <li> 1 Outdoor Unit 

</li>
<li> Side Panel 
</li>
<li> Suitable Screw Packet
 
</li>
<li> 2 Mechanical Key 
 
</li>
<li> 2 RFID Card
 
</li>

</ul>
     </p></td>
      
     
    </tr>

    
  </tbody>
</table>
</div>
                