<div class="col-12 col-lg-7">
                  <div>
                    <h1 class="title" style="font-size: 5rem;"><b>
                        <div id="productTitle">{{product.title}}</div>
                      </b></h1>
                    {{!-- </br> --}}
                    <hr />
                    {{!-- </br> --}}
                    <h3 style="    color:#de5b6d;    font-weight: bold;    font-size: 20px;    margin: 1px 0px 6px 0px;">M.R.P. <i class="fa fa-rupee"></i><del style="color: black;">{{product.price}}</del>  {{product.sellingPrice}}</h3> 
                    {{!-- <p style="font-size: 1.5rem;">Meet the 4 in 1 Digital gate lock from LAVNA Locks, which you
                      can access from your fingerprint, RFID Card, PIN, and Key.</p> --}}
                    <p style="font-size: 1.5rem;"><i class="fas fa-fingerprint"></i>&nbsp; &nbsp;{{product.description}}
                    </p>
                    <h2><b>Features Of Gate Lock:</b></h2>
                    </br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp; <b>360⁰ Fingerprint Sensor -</b><br> Register up to 100 fingerprints in the lock. 0.4 sec. unlocking speed.
                    </p><br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp; <b>Mobile application – </b><br> This lock completely operates through mobile application. Add/Del. any user, unlocking records, Bluetooth unlocking.
                    </p><br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp; <b>Special RFID Card -</b><br> Up to 100 RFID card can be registered in this lock, the RFID card is specially designed for this lock only for your security.
                    </p><br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp; <b>PIN Option -</b><br> You can register up to 100 PIN in this lock and the Touch Key Pad is very fine to use.
 
                    </p><br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp; <b>OTP Unlock -</b><br> You can generate OTP from anywhere & share with your guest for one time entrance in your absence.
                    </p><br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp; <b>Time Base Access -</b><br> In this you can allow a user to unlock the door for a specific time Period.
                    </p><br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp;<b>Mechanical Key -</b><br> This lock also contains a computerized mechanical key for unlocking.
                    </p><br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp; <b>Privacy Mode -</b><br> In this mode your lock can’t be operate by any user, only admin can be open the lock.
                    </p><br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp;<b>Auto locking system -</b><br> The lock will eliminate the manual locking as it will get locked automatically when the door gets closed.
                    </p><br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp;<b>Public Mode -</b><br> You can set the lock in Public mode, Public mode means auto locking system will get disabled.
                    </p><br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp;<b>Low Battery Indication -</b><br> The lock will give you an indication on the mobile app screen that the battery is low.
                    </p><br>
                     <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp;<b>External power port -</b><br> You can give power to the lock externally from any normal power bank in case of complete battery drain.
                    </p><br>
                     <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp;<b>Adjustable spy code -</b><br> You can use random numbers before or after the original pin in the presence of strangers to protect your original Pin.
                    </p><br>
                     <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp;<b>Past Unlocking Records -</b><br> You can Check Past Unlocking record in your Mobile Application.
                    </p><br>

                    
                  <br>
                  </div>
                  <h2><b>Description Of Gate Lock:</b></h2>
                  <br>  
                  <p style="font-size: 1.5rem;">
                  Introducing you all new Smart Solution for your Home, Office, Shop, Hotels or other Private premises, most importantly this is a High-tech Fingerprint Digital Door Lock with strong features and simple to use. Minimum door thickness required 30mm.
                  <br><br>

This biometric Fingerprint door Lock makes your unlocking very easy and you can say that your finger, your key & no one can take your key beside this the security lock will eliminate so many things like manual locking, making multiple keys for family members, no need to carry your key when you go out and so on.

This digital lock is suitable for wooden & metal door, this smart lock is universal and simple to use, it can be installed on both the side Left or Right of the door & both opening Indoor and Outdoor. It is advised to get it installed after watching our installation video on our YouTube Channel moreover you can also contact us to know if installation services is available at your location and cost for the same. You can contact to our customer support team <b style="color: blue;">@ 18003134491 calling </b>, <b style="color: green;">9667771077 WhatsApp</b>
<br>
</p>
                  <!-- Add to Cart Form -->
                  {{!-- <form class="btn__group" method="post">
                    <div class="add_to_cart">
                      <button style="margin:1rem; padding:1rem;" class="btn-primary add" type="button" id="btn"
                        onclick="addTocart(index)">Add To Cart</button>
                    </div>
                  </form><br> --}}
<hr>
                </div>

               <div class="container">
      <table class="table">
  <thead>
    <tr>
      <th scope="col">Features</th>
      
      <th scope="col">L-A28(Bluetooth)</th>
     
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Fingerprint Sensor:</th>
      <td><i style="color:green;" class="fa fa-check" aria-hidden="true"></i></td>
      
    
    </tr>
    <tr>
      <th scope="row">Password:</th>
      <td><i style="color:green;" class="fa fa-check" aria-hidden="true"></i></td>
      
     
    </tr>
    <tr>
      <th scope="row">RFID Card:</th>
      <td><i style="color:green;" class="fa fa-check" aria-hidden="true"></i></td>
      
    
    </tr>
    <tr>
      <th scope="row">Fingerprint Capacity:</th>
      <td><p>Up-to 100</p></td>
     
    </tr>

      <tr>
      <th scope="row">Password Capacity:</th>
      <td><p>Up-to 100</p></td>
      
    
    </tr>

    
      <tr>
      <th scope="row">RFID Capacity:</th>
      <td><p>Up-to 100</p></td>
      
    
    </tr>

{{!-- 
    <tr>
      <th scope="row">Display Screen:</th>
      <td><p>Yes</p></td>
      
    
    </tr> --}}
      <tr>
      <th scope="row">Recognition speed:</th>
     <td><p>Less than 0.4s</p></td>
      
     
    </tr>

       <tr>
      <th scope="row">Operating Temperature:</th>
     <td><p>-10 °C- 60 °C</p></td>
      
     
    </tr>

      <tr>
      <th scope="row">Power supply:</th>
     <td><p>4pcs*1.5V AAA alkaline batteries, (Duracell ULTRA)</p></td>
      
     
    </tr>

      <tr>
      <th scope="row">Working Current:</th>
     <td><p>300mAH</p></td>
      
     
    </tr>

     <tr>
      <th scope="row">Emergency Open:</th>
       <td><p>5 V Micro USB , Computerized key</p></td>
      
     
    </tr>

     <tr>
      <th scope="row">Color:</th>
      <td><p> Black & Rose Gold</p></td>
      
     
    </tr>

     <tr>
      <th scope="row">Weight:</th>
     <td><p>2 kg</p></td>
      
     
    </tr>

     <tr>
      <th scope="row">Door Thickness:</th>
     <td><p>30 to 70 mm</p></td>
      
     
    </tr>

     <tr>
      <th scope="row">Box Dimension:</th>
      <td><p>H-18cm, L-33cm, W-17cm</p></td>
      
     
    </tr>
     <tr>
      <th scope="row">Mortise Dimension:</th>
      <td><p>H-10.5cm, L-2.2cm, W-7cm</p></td>
      
     
    </tr>

     <tr>
      <th scope="row">Applicable on:</th>
      <td><p>Wooden and metal main door</p></td>
      
     
    </tr>

    

      <tr>
      <th scope="row">Box Contains:</th>
     <td><p>
       <ul>
  <li>Main Lock</li>
  <li>1 Indoor Unit 

</li>
  <li> 1 Outdoor Unit 

</li>
<li> Side Panel 
</li>
<li> Suitable Screw Packet
 
</li>
<li> 2 Mechanical Key 
 
</li>
<li> 2 RFID card
 
</li>
<li> Door cutting diagram
 
</li>
<li> User Manual
 
</li>

</ul>
     </p></td>
      
     
    </tr>

    
  </tbody>
</table>
</div>
                