<div class="col-12 col-lg-7">
                  <div>
                    <h1 class="title" style="font-size: 5rem;"><b>
                        <div id="productTitle">{{product.title}}</div>
                      </b></h1>
                    {{!-- </br> --}}
                    <hr />
                    {{!-- </br> --}}
                   <h3 style="    color:#de5b6d;    font-weight: bold;    font-size: 20px;    margin: 1px 0px 6px 0px;">M.R.P. <i class="fa fa-rupee"></i><del style="color: black;">{{product.price}}</del>  {{product.sellingPrice}}</h3> 
                    {{!-- <p style="font-size: 1.5rem;">Meet the 4 in 1 Digital gate lock from LAVNA Locks, which you
                      can access from your fingerprint, RFID Card, PIN, and Key.</p> --}}
                    <p style="font-size: 1.5rem;"><i class="fas fa-fingerprint"></i>&nbsp; &nbsp;{{product.description}}
                    </p>
                    <h2><b>Features Of Gate Lock:</b></h2>
                    </br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp; FAST FINGERPRINT SENSOR - Up to 100 fingerprints can be registered in this security lock and unlocking speed is 0.5 seconds only.
                    </p><br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp;SPECIAL RFID CARD - Up to 100 RFID card can be registered in this fingerprint lock, the RFID card is specially designed for this smart lock only for your security.
                    </p><br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp; PIN WITH VERY FINE TOUCH KEY PAD - Up to 100 pins can be registered in this electronic lock and the Touch Key Pad is very fine to use.
                    </p><br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp; REMOTE UNLOCKING - The digital Lock can also be opened from Remote; you don’t have to get up from your place to open the door.
 
                    </p><br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp; DOOR BELL - There is an inbuilt doorbell in this security lock.
                    </p><br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp; LOW BATTERY INDICATION - The fingerprint lock will give you an indication on the screen that the battery is low.
                    </p><br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp;RECORD HISTORY - You can Check 20,000 Past Unlocking Records.
                    </p><br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp; EMERGENCY POWER - In case the battery is completely discharged, an external 5V Micro USB type cable can be used to give power to the lock.
                    </p><br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp;Adjustable spy code – You can use random numbers before or after the original pin in the presence of strangers to protect your original Pin.
                    </p><br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp;Record History- You can Check Past Unlocking record on your Mobile Application. (3 year warranty of the lock.) 
                    </p><br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp;AUTO LOCKING SYSTEM - The electronic lock will eliminate the manual locking as it will get locked automatically when the door gets closed.
                    </p><br>

                    
                  <br>
                  </div>
                  <h2><b>Description Of Gate Lock:</b></h2>
                  <br>  
                  <p style="font-size: 1.5rem;">
                  Smart Solution for your Home, Office, Shop, Hotels, Resorts, Schools, Hospital, Banks, Gyms and other Private premises. This is a High tech Fingerprint Digital Door Lock with strong features and simple to use. This security lock will eliminate so many problems of glass door locks like manual locking, cutting and drilling in the glass door, multiple keys for all the office staff and so on.
                  <br><br>

This fingerprint lock is suitable for Glass door only; 10-12 MM thickness. The glass door lock is universal and simple to install, It can be installed both the side left and right of the door. It is advised to get installed after watching our YouTube video or you can also contact us to know if installation services will be available at your location and cost for the same.
<br><br>

All our products are also available on amazon, do check them out.
</p>
                  <!-- Add to Cart Form -->
                  {{!-- <form class="btn__group" method="post">
                    <div class="add_to_cart">
                      <button style="margin:1rem; padding:1rem;" class="btn-primary add" type="button" id="btn"
                        onclick="addTocart(index)">Add To Cart</button>
                    </div>
                  </form><br> --}}
<hr>
                </div>

         <div class="container">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Features</th>
      
      <th scope="col">L-A5</th>
     
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Fingerprint Sensor:</th>
      <td><i style="color:green;" class="fa fa-check" aria-hidden="true"></i></td>
      
    
    </tr>
    <tr>
      <th scope="row">Password:</th>
      <td><i style="color:green;" class="fa fa-check" aria-hidden="true"></i></td>
      
     
    </tr>
    <tr>
      <th scope="row">Fingerprint Capacity:</th>
      <td><p>100</p></td>
     
    </tr>

      <tr>
      <th scope="row">Password Capacity:</th>
      <td><p>100</p></td>
      
    
    </tr>

<tr>
      <th scope="row">RFID Card:</th>
      <td><p>Yes</p></td>
      
    
    </tr>
    <tr>
      <th scope="row">Display Screen:</th>
      <td><p>Yes</p></td>
      
    
    </tr>
     <tr>
      <th scope="row">RFID Card Capacity:</th>
      <td><p>Upto 100</p></td>
      
    
    </tr>
      <tr>
      <th scope="row">Recognition speed:</th>
     <td><p>Less than 0.5s</p></td>
      
     
    </tr>

       <tr>
      <th scope="row">Operating Temperature:</th>
     <td><p>-10 °C- 60 °C</p></td>
      
     
    </tr>

      <tr>
      <th scope="row">Power supply:</th>
     <td><p>4 pcs*1.5V AA Battery, Duracell Ultra</p></td>
      
     
    </tr>

      <tr>
      <th scope="row">Working Current:</th>
     <td><p>300mAH</p></td>
      
     
    </tr>

     <tr>
      <th scope="row">Emergency Open:</th>
       <td><p>Micro USB Type Port power supply</p></td>
      
     
    </tr>

     <tr>
      <th scope="row">Colour:</th>
      <td><p>Midnight Black</p></td>
      
     
    </tr>

     <tr>
      <th scope="row">Weight:</th>
     <td><p>2 kg</p></td>
      
     
    </tr>

     <tr>
      <th scope="row">Door Thickness:</th>
     <td><p>10 to 12 mm ONLY</p></td>
      
     
    </tr>

     <tr>
      <th scope="row">Box Dimension:</th>
      <td><p>H-18cm, L-14cm, W-27cm</p></td>
      
     
    </tr>

     <tr>
      <th scope="row">Applicable on:</th>
      <td><p>Glass Door:</p></td>
      
     
    </tr>

    

     <tr>
      <th scope="row">Box Contains:</th>
     <td><p>
       <ul>
  <li>Main Lock</li>
  <li>Side lock
</li>
  <li> 2 Plastic Patching
</li>
<li> User Manual 

</li>
<li> Suitable screws  

</li>
<li> 2 RFID Cards 

</li>
<li> 1 Remote

</li>
</ul>
     </p></td>
      
     
    </tr>

    
  </tbody>
</table>
</div>
                