<div class="col-12 col-lg-7">
                  <div>
                    <h1 class="title" style="font-size: 5rem;"><b>
                        <div id="productTitle">{{product.title}}</div>
                      </b></h1>
                    {{!-- </br> --}}
                    <hr />
                    {{!-- </br> --}}
                    <h3 style="    color:#de5b6d;    font-weight: bold;    font-size: 20px;    margin: 1px 0px 6px 0px;">M.R.P. <i class="fa fa-rupee"></i><del style="color: black;">{{product.price}}</del>  {{product.sellingPrice}}</h3> 
                    {{!-- <p style="font-size: 1.5rem;">Meet the 4 in 1 Digital gate lock from LAVNA Locks, which you
                      can access from your fingerprint, RFID Card, PIN, and Key.</p> --}}
                    <p style="font-size: 1.5rem;"><i class="fas fa-fingerprint"></i>&nbsp; &nbsp;{{product.description}}
                    </p>
                    <h2><b>Features Of Gate Lock:</b></h2>
                    </br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp; 360° Fingerprint unlocking – 0.4 sec. unlocking speed ,Register 10 fingerprints in the lock.
                    </p><br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp;Automatic locking Function.
                    </p><br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp; In handle Fingerprint sensor for convenient unlocking.
                    </p><br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp; Key Unlocking – 2 computerized key with the lock , to unlock the lock manually also.
 
                    </p><br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp; Easy to install and simple to use.
                    </p><br>
                    
                  </div>
                  <h2><b>Description Of Gate Lock:</b></h2>
                  <br>  
                  <p style="font-size: 1.5rem;">
                  Smart Solution for your Home, Office, Shop, Hotels, Resorts, Schools, Hospital, Banks, Gyms and other Private premises This is a High-tech Fingerprint Digital Door Lock with strong features and simple to use.
                  <br><br>

This Fingerprint Lock makes your unlocking very easy. You can say that your finger, your key & no one can take or remake your key. This handle door lock will eliminate so many things like manual locking, making multiple keys for family members, no need to carry your key when you go out and so on.<br><br>

This electronic lock is application-based, you can operate this lock completely via mobile application. The security lock is suitable for wooden door and it is universal and simple to install, It can be installed both the side left or right of the door & both opening indoor and outdoor.
<br><br>

It is advised to get it installed after watching our installation video on our YouTube Channel. You can also contact us to know if installation services will be available at your location and cost for the same if any.
<br><br>
All our products are also available on amazon, do check them out.

</p>
                  <!-- Add to Cart Form -->
                  {{!-- <form class="btn__group" method="post">
                    <div class="add_to_cart">
                      <button style="margin:1rem; padding:1rem;" class="btn-primary add" type="button" id="btn"
                        onclick="addTocart(index)">Add To Cart</button>
                    </div>
                  </form><br> --}}
<hr>
                </div>

        <div class="container">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Features</th>
      
      <th scope="col">L-A15</th>
     
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Fingerprint Sensor:</th>
      <td><i style="color:green;" class="fa fa-check" aria-hidden="true"></i></td>
      
    
    </tr>
    {{!-- <tr>
      <th scope="row">Password:</th>
      <td><i style="color:green;" class="fa fa-check" aria-hidden="true"></i></td>
      
     
    </tr> --}}
    <tr>
      <th scope="row">Fingerprint Capacity:</th>
      <td><p>20</p></td>
     
    </tr>

      {{!-- <tr>
      <th scope="row">Password Capacity:</th>
      <td><p>100</p></td>
      
    
    </tr> --}}

      <tr>
      <th scope="row">Recognition speed:</th>
     <td><p>Less than 0.4s</p></td>
      
     
    </tr>

       <tr>
      <th scope="row">Operating Temperature:</th>
     <td><p>-10 °C- 60 °C</p></td>
      
     
    </tr>

      <tr>
      <th scope="row">Power supply:</th>
     <td><p>4 Pcs of AAA Alkaline Battery</p></td>
      
     
    </tr>

      <tr>
      <th scope="row">Working Current:</th>
     <td><p>300mAH</p></td>
      
     
    </tr>

     <tr>
      <th scope="row">Emergency Power:</th>
       <td><p>External 5 V Micro USB Port</p></td>
      
     
    </tr>

     <tr>
      <th scope="row">Colour:</th>
      <td><p>Black</p></td>
      
     
    </tr>

     <tr>
      <th scope="row">Weight:</th>
     <td><p>1 kg</p></td>
      
     
    </tr>

     <tr>
      <th scope="row">Door Thickness:</th>
     <td><p>	
28 to 60 mm</p></td>
      
     
    </tr>

     <tr>
      <th scope="row">Box Dimension:</th>
      <td><p>H-17.8 cm, L-25.5 cm, W-7.5 cm</p></td>
      
     
    </tr>

     <tr>
      <th scope="row">Applicable on:</th>
      <td><p>	
Wooden Main Door</p></td>
      
     
    </tr>

    

     <tr>
      <th scope="row">Box Contains:</th>
     <td><p>
       <ul>
  <li>Main Lock</li>
  <li>1 Indoor Unit 

</li>
  <li> 1 Outdoor Unit 

</li>
<li> Side Panel 
</li>
<li> Suitable Screw Packet
 
</li>
<li> 2 Mechanical Key 
 
</li>
<li> User Manual
 
</li>

</ul>
     </p></td>
      
     
    </tr>

    
  </tbody>
</table>
</div>
                