<section id="icon-section">
  <div class="container">
    <div class="row">
      <div class="box-guide">
        <h1>Features</h1>
      </div>
    </div>
    <div class="row mt-4">

      <div class="col-lg-4 ">
        <div class="row">
          <h4 class="">Access Modes</h4>
        </div>
        <div class="row play-position-la28g">
          <div class="col-lg-3">
            <div class="set-img-la28g">
              <img src="../../public/assets/new_assets/images/360 fingerprint sensor.png" alt="" class="img-fluid">
            </div>
          </div>
          <div class="col-lg-9">
            <div class="fingerprint-la28g">
              <h6>360⁰ Fingerprint Sensor</h6>
              <div class="img-detail-la28g">
                <p>Register up to 100 fingerprints in the lock. 0.4 sec. unlocking speed</p>
              </div>
            </div>

          </div>
        </div>
        <div class="row play-position-la28g">
          <div class="col-lg-3">
            <div class="set-img-la28g">
               <img src="../../public/assets/new_assets/images/Mobile Application.png" alt="">
              
            </div>
          </div>
          <div class="col-lg-9">
            <div class="fingerprint-la28g">
              <h6>Mobile Application </h6>
              <div class="img-detail-la28g">
                <p>This lock completely operates through mobile application. Add/Del. any user, unlocking records,
                  Bluetooth unlocking.</p>
              </div>
            </div>

          </div>
        </div>
        <div class="row play-position-la28g">
          <div class="col-lg-3">
            <div class="set-img-la28g">
              <img src="../../public/assets/new_assets/images/Special RFID Card.png" alt="">
            </div>
          </div>
          <div class="col-lg-9">
            <div class="fingerprint-la28g">
              <h6> Special RFID Card </h6>
              <div class="img-detail-la28g">
                <p>Up to 100 RFID card can be registered in this lock, the RFID card is specially designed for this lock
                  only for your security.</p>
              </div>
            </div>

          </div>
        </div>
        <div class="row play-position-la28g">
          <div class="col-lg-3">
            <div class="set-img-la28g">
              <img src="../../public/assets/new_assets/images/Pin option.png" alt="">
            </div>
          </div>
          <div class="col-lg-9">
            <div class="fingerprint-la28g">
              <h6> PIN Option </h6>
              <div class="img-detail-la28g">
                <p>You can register up to 100 PIN in this lock and the Touch Key Pad is very fine to use.</p>
              </div>
            </div>

          </div>
        </div>
        <div class="row play-position-la28g">
          <div class="col-lg-3">
            <div class="set-img-la28g">
              <img src="../../public/assets/new_assets/images/Mechanical key.png" alt="">
            </div>
          </div>
          <div class="col-lg-9">
            <div class="fingerprint-la28g">
              <h6>Mechanical Key </h6>
              <div class="img-detail-la28g">
                <p>This lock also contains a computerized mechanical key for unlocking.</p>
              </div>
            </div>

          </div>
        </div>
        <div class="row play-position-la28g">
          <div class="col-lg-3">
            <div class="set-img-la28g">
              <img src="../../public/assets/new_assets/images/Otp unlock.png" alt="">
            </div>
          </div>
          <div class="col-lg-9">
            <div class="fingerprint-la28g">
              <h6>OTP Unlock </h6>
              <div class="img-detail-la28g">
                <p>You can generate OTP from anywhere & share with your guest for one time entrance in your absence.</p>
              </div>
            </div>

          </div>
        </div>
        <div class="row play-position-la28g">
          <div class="col-lg-3">
            <div class="set-img-la28g">
              <img src="../../public/assets/new_assets/images/Time Base Access.png" alt="">
            </div>
          </div>
          <div class="col-lg-9">
            <div class="fingerprint-la28g">
              <h6> Time Base Access </h6>
              <div class="img-detail-la28g">
                <p>In this you can allow a user to unlock the door for a specific time Period.</p>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="row">
          <h4 class="">Smart Features</h4>
        </div>


        <div class="row play-position-la28g">
          <div class="col-lg-3">
            <div class="set-img-la28g">
              <img src="../../public/assets/new_assets/images/DND mode.png" alt="">
            </div>
          </div>
          <div class="col-lg-9">
            <div class="fingerprint-la28g">
              <h6>Privacy Mode </h6>
              <div class="img-detail-la28g">
                <p>In this mode your lock can’t be operate by any user, only admin can be open the lock.</p>
              </div>
            </div>

          </div>
        </div>
        <div class="row play-position-la28g">
          <div class="col-lg-3">
            <div class="set-img-la28g">
              <img src="../../public/assets/new_assets/images/Auto locking System.png" alt="">
            </div>
          </div>
          <div class="col-lg-9">
            <div class="fingerprint-la28g">
              <h6> Auto Locking System </h6>
              <div class="img-detail-la28g">
                <p>The lock will eliminate the manual locking as it will get locked automatically when the door gets
                  closed.</p>
              </div>
            </div>

          </div>
        </div>
        <div class="row play-position-la28g">
          <div class="col-lg-3">
            <div class="set-img-la28g">
              <img src="../../public/assets/new_assets/images/Adjustable Spy Code.png" alt="">
            </div>
          </div>
          <div class="col-lg-9">
            <div class="fingerprint-la28g">
              <h6> Adjustable Spy Code </h6>
              <div class="img-detail-la28g">
                <p>You can use random numbers before or after the original pin in the presence of strangers to protect
                  your original Pin.</p>
              </div>
            </div>

          </div>
        </div>

        <div class="row play-position-la28g">
          <div class="col-lg-3">
            <div class="set-img-la28g">
              <img src="../../public/assets/new_assets/images/Externla Power Port.png" alt="">
            </div>
          </div>
          <div class="col-lg-9">
            <div class="fingerprint-la28g">
              <h6>External Power Port </h6>
              <div class="img-detail-la28g">
                <p>You can give power to the lock externally from any normal power bank in case of complete battery
                  drain.</p>
              </div>
            </div>

          </div>
        </div>
        <div class="row play-position-la28g">
          <div class="col-lg-3">
            <div class="set-img-la28g">
              <img src="../../public/assets/new_assets/images/Past unlocking Records.png" alt="">
            </div>
          </div>
          <div class="col-lg-9">
            <div class="fingerprint-la28g">
              <h6> Past Unlocking Records </h6>
              <div class="img-detail-la28g">
                <p>You can Check Past Unlocking record in your Mobile Application.</p>
              </div>
            </div>

          </div>
        </div>
        <div class="row play-position-la28g">
          <div class="col-lg-3">
            <div class="set-img-la28g">
              <img src="../../public/assets/new_assets/images/Low battery Indicator.png" alt="">
            </div>
          </div>
          <div class="col-lg-9">
            <div class="fingerprint-la28g">
              <h6> Low Battery Indication </h6>
              <div class="img-detail-la28g">
                <p>The lock will give you an indication on the mobile app screen that the battery is low.</p>
              </div>
            </div>

          </div>
        </div>
        <div class="row play-position-la28g">
          <div class="col-lg-3">
            <div class="set-img-la28g">
              <img src="../../public/assets/new_assets/images/Public Mode.png" alt="">
            </div>
          </div>
          <div class="col-lg-9">
            <div class="fingerprint-la28g">
              <h6> Public Mode </h6>
              <div class="img-detail-la28g">
                <p>You can set the lock in Public mode, Public mode means auto locking system will get disabled.</p>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <h4 class="">Suitable For</h4>
        <div class="row play-position-la28g">
          <div class="col-lg-3">
            <div class="set-img-la28g">
              <img src="../../public/assets/new_assets/images/wooden.png" alt="">
            </div>
          </div>
          <div class="col-lg-9">
            <div class="fingerprint-la28g">
              <h6>Wooden Door</h6>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="features-table">
  <div class="container">
    <div class="row">
      <h1 class="text-center M-3">Product Details</h1>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="table-col-3">
          <div class="sticky-top table-sticky-header overflow-scroll d-flex align-items-center feature py-3">
            <div class="h3 m-0 px-3">Specifications</div>
            <div class="h4 m-0 text-center px-3"></div>

          </div>
          <div class="table-responsive table-sticky">
            <table class="table table-bordered table-striped">
              <thead class="visually-hidden">
                <tr>
                  <th scope="col">Specifications</th>
                  <th scope="col"></th>

                </tr>
              </thead>
              <tbody class="text-center align-middle">
                <tr>
                  <th class="text-start p-3" scope="row">Fingerprint Sensor</th>
                  <td><span class="fa fa-check text-success"></span></td>

                </tr>
                <tr>
                  <th class="text-start p-3" scope="row">Password</th>
                  <td><span class="fa fa-check text-success"></span></td>

                </tr>
                <tr>
                  <th class="text-start p-3" scope="row">RFID Card</th>
                  <td><span class="fa fa-check text-success"></span></td>

                </tr>
                <tr>
                  <th class="text-start p-3" scope="row">Fingerprint Capacity</th>
                  <td>Up-to 100</td>

                </tr>
                <tr>
                  <th class="text-start p-3" scope="row">Password Capacity</th>
                  <td>Up-to 100</td>

                </tr>
                <tr>
                  <th class="text-start p-3" scope="row">RFID Capacity</th>
                  <td>Up-to 100</td>

                </tr>
                <tr>
                  <th class="text-start p-3" scope="row">Recognition speed</th>
                  <td>Less than 0.4s</td>

                </tr>
                <tr>
                  <th class="text-start p-3" scope="row">Operating Temperature</th>
                  <td>-10 °C- 60 °C</td>

                </tr>

                <tr>
                  <th class="text-start p-3" scope="row">Power supply</th>
                  <td>4pcs*1.5V AAA alkaline batteries, (Duracell ULTRA)</td>

                </tr>
                <tr>
                  <th class="text-start p-3" scope="row">Working Current</th>
                  <td>
                    300mAH</td>

                </tr>
                <tr>
                  <th class="text-start p-3" scope="row">Emergency Open</th>
                  <td>
                    5 V Micro USB , Computerized key</td>

                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="table-col-3">
          <div class="sticky-top table-sticky-header overflow-scroll d-flex align-items-center feature py-3">
            <div class="h3 m-0 px-3">Specifications</div>
            <div class="h4 m-0 text-center px-3"></div>

          </div>
          <div class="table-responsive table-sticky">
            <table class="table table-bordered table-striped">
              <thead class="visually-hidden">
                <tr>
                  <th scope="col">Specifications</th>
                  <th scope="col"></th>

                </tr>
              </thead>
              <tbody class="text-center align-middle">

                <tr>
                  <th class="text-start p-3" scope="row">Color</th>
                  <td> Rose Gold</td>

                </tr>
                <tr>
                  <th class="text-start p-3" scope="row">Weight</th>
                  <td>2 kg</td>

                </tr>
                <tr>
                  <th class="text-start p-3" scope="row">Door Thickness</th>
                  <td>30 to 70 mm </td>

                </tr>
                <tr>
                  <th class="text-start p-3" scope="row">Box Dimension</th>
                  <td>H-18cm, L-33cm, W-17cm</td>

                </tr>
                <tr>
                  <th class="text-start p-3" scope="row">Mortise Dimension</th>
                  <td>H-10.5cm, L-2.2cm, W-7cm</td>

                </tr>
                <tr>
                  <th class="text-start p-3" scope="row">Applicable on</th>
                  <td>Wooden Door</td>

                </tr>

                <tr>
                  <th class="text-start p-3" scope="row">Box Contains</th>
                  <td>
                    <ul class="main-lock">
                      <li>Main Lock</li>
                      <li>1 Indoor Unit</li>
                      <li>1 Outdoor Unit</li>
                      <li>Side Panel</li>
                      <li>Suitable Screw Packet</li>
                      <li>2 Mechanical Key</li>
                      <li>2 RFID card</li>
                      <li>Door cutting diagram</li>
                      <li>User Manual</li>

                    </ul>
                  </td>

                </tr>



              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>