<section id="icon-section"> 
        <div class="container">
            <div class="row">
                <div class="box-guide">
                    <h1>Features</h1>
                </div>
            </div>
            <div class="row mt-4">
               
                <div class="col-lg-5 ">
                    <div class="row">
                    </div>
                    <div class="row play-position-lh300">
                        <div class="col-lg-3">
                            <div class="set-img-lh300">
                                <img src="../../public/assets/new_assets/images/50la.png" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="fingerprint-lh300">
                               <div class="img-detail-lh300">
                                   <p> RFID Card unlocking – 0.5 sec. unlocking speed.</p>
                               </div>
                            </div>
                        
                        </div>
                    </div>
                    <div class="row play-position-lh300 mt-4">
                       <div class="col-lg-3">
                           <div class="set-img-lh300">
                              
                               <img src="../../public/assets/new_assets/images/50la.png" alt="">
                           </div>
                       </div>
                       <div class="col-lg-9">
                           <div class="fingerprint-lh300">
                               <div class="img-detail-lh300">
                                   <p>Register cards with the help of encoder & software in this lock.</p>
                               </div>
                           </div>
                          
                       </div>
                   </div>
                   <div class="row play-position-lh300 mt-4">
                       <div class="col-lg-3">
                           <div class="set-img-lh300">
                               <img src="../../public/assets/new_assets/images/50la.png" alt="">
                           </div>
                       </div>
                       <div class="col-lg-9">
                           <div class="fingerprint-lh300">
                               <div class="img-detail-lh300">
                                   <p> Support all Hotel Locks feature like Energy Saver, Encoder & Software which are sold separately.</p>
                               </div>
                           </div>
                          
                       </div>
                   </div>
                   <div class="row play-position-lh300 mt-4">
                       <div class="col-lg-3">
                           <div class="set-img-lh300">
                               <img src="../../public/assets/new_assets/images/50la.png" alt="">
                           </div>
                       </div>
                       <div class="col-lg-9">
                           <div class="fingerprint-lh300">
                               <div class="img-detail-lh300">
                                   <p>  Suitable for Hotel doors lock. Minimum door thickness required 32-100 MM.</p>
                               </div>
                           </div>
                          
                       </div>
                   </div>
                   <div class="row play-position-lh300 mt-4">
                       <div class="col-lg-3">
                           <div class="set-img-lh300">
                               <img src="../../public/assets/new_assets/images/50la.png" alt="">
                           </div>
                       </div>
                       <div class="col-lg-9">
                           <div class="fingerprint-lh300">
                               <div class="img-detail-lh300">
                                   <p> Mechanical key unlocking, comes with 2 computerized mechanical key in the electronic lock.</p>
                               </div>
                           </div>
                          
                       </div>
                   </div>
                   <div class="row play-position-lh300 mt-4">
                    <div class="col-lg-3">
                        <div class="set-img-lh300">
                            <img src="../../public/assets/new_assets/images/50la.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="fingerprint-lh300">
                         <div class="img-detail-lh300">
                             <p>Auto door locking system. || Low battery indicator.</p>
                         </div>
                        </div>
                      
                    </div>
                </div>
              
                </div>
              
           
               <div class="col-lg-3 suitable-for">
                   <h4 class="">Suitable For</h4>
                   <div class="row play-position-lh300">
                       <div class="col-lg-3">
                           <div class="set-img-lh3001">
                               <img src="../../public/assets/new_assets/images/wooden.png" alt="" style="width: 100%;">
                           </div>
                       </div>
                       <div class="col-lg-9">
                           <div class="fingerprint-lh3001">
                               <h6>Wooden Door</h6>
                           </div>
                         
                       </div>
                   </div>
                   
                
               </div>
            </div>
        </div>
    </section>


     <section id="features-table">
         <div class="container">
             <div class="row">
                 <h1 class="text-center M-3">Product Details</h1>
             </div>
             <div class="row">
                 <div class="col-lg-6">
                    <div class="table-col-3">
                        <div class="sticky-top table-sticky-header overflow-scroll d-flex align-items-center feature py-3">
                            <div class="h3 m-0 px-3">Specifications</div>
                            <div class="h4 m-0 text-center px-3"></div>
                          
                        </div>
                        <div class="table-responsive table-sticky">
                            <table class="table table-bordered table-striped">
                                <thead class="visually-hidden">
                                    <tr>
                                        <th scope="col">Specifications</th>
                                        <th scope="col"></th>
                                       
                                    </tr>
                                </thead>
                                <tbody class="text-center align-middle">
                                    <tr>
                                        <th class="text-start p-3" scope="row">RFID Card</th>
                                        <td><span class="fa fa-check text-success"></span></td>
                                     
                                    </tr>
                               
                                    <tr>
                                        <th class="text-start p-3" scope="row">RFID Capacity</th>
                                        <td>Up to 50</td>
                                       
                                    </tr>
                                    <tr>
                                        <th class="text-start p-3" scope="row">Recognition Speed</th>
                                        <td> < 0.5s</td>
                                       
                                    </tr>
                                    <tr>
                                        <th class="text-start p-3" scope="row">Power Supply</th>
                                        <td>3.7 V Output Power</td>
                                        
                                    </tr>
                                    <tr>
                                        <th class="text-start p-3" scope="row">Working Current</th>
                                        <td>300 mAh</td>
                                    
                                    </tr>
                                    <tr>
                                        <th class="text-start p-3" scope="row">Emergency</th>
                                        <td>Only Key</td>
                                  
                                    </tr>
                                    <tr>
                                        <th class="text-start p-3" scope="row">Color</th>
                                        <td>Silver</td>
                                       
                                    </tr>
                                     <tr>
                                        <th class="text-start p-3" scope="row">Weight</th>
                                        <td>2.6kg</td>
                                   
                                    </tr>
                                  
                                    
                                  
                                </tbody>
                            </table>
                        </div>
                    </div>
                 </div>
                 <div class="col-lg-6">
                    <div class="table-col-3">
                        <div class="sticky-top table-sticky-header overflow-scroll d-flex align-items-center feature py-3">
                            <div class="h3 m-0 px-3">Specifications</div>
                            <div class="h4 m-0 text-center px-3"></div>
                         
                        </div>
                        <div class="table-responsive table-sticky">
                            <table class="table table-bordered table-striped">
                                <thead class="visually-hidden">
                                    <tr>
                                        <th scope="col">Specifications</th>
                                        <th scope="col"></th>
                                   
                                    </tr>
                                </thead>
                                <tbody class="text-center align-middle">
                                 
                                    <tr>
                                        <th class="text-start p-3" scope="row">Box Dimension</th>
                                        <td> H-12 cm, L-18.8 cm, W-34.8 cm</td>
                                  
                                    </tr>
                                
                                    <tr>
                                        <th class="text-start p-3" scope="row">Door Thickness</th>
                                        <td>32 to 100 mm</td>
                                      
                                    </tr>
                                
                                    <tr>
                                        <th class="text-start p-3" scope="row">Mortise Dimension</th>
                                        <td>H-20cm, L-2.2cm, W-9cm</td>
                                   
                                    </tr>
                                    <tr>
                                        <th class="text-start p-3" scope="row">Applicable on</th>
                                        <td>Hotel & Commercial Doors</td>
                                    
                                    </tr>
                               
                                    <tr>
                                        <th class="text-start p-3" scope="row">Box Contains</th>
                                        <td><ul class="main-lock">
                                            <li>Main Lock</li>
                                            <li>1 Indoor Unit</li>
                                            <li>1 Outdoor Unit</li>
                                            <li>Side Panel</li>
                                            <li>Suitable Screw Packet</li>
                                            <li>2 Mechanical Key</li>
                                            <li>2 RFID card</li>
                                          

                                        </ul></td>
                               
                                    </tr>
                                   
                                   
                              
                                </tbody>
                            </table>
                        </div>
                    </div> 
                </div>
             </div>
         </div>
     </section>