<div class="col-12 col-lg-7">
                  <div>
                    <h1 class="title" style="font-size: 5rem;"><b>
                        <div id="productTitle">{{product.title}}</div>
                      </b></h1>
                    {{!-- </br> --}}
                    <hr />
                    {{!-- </br> --}}
                   <h3 style="    color:#de5b6d;    font-weight: bold;    font-size: 20px;    margin: 1px 0px 6px 0px;">M.R.P. <i class="fa fa-rupee"></i><del style="color: black;">{{product.price}}</del>  {{product.sellingPrice}}</h3> 
                    {{!-- <p style="font-size: 1.5rem;">Meet the 4 in 1 Digital gate lock from LAVNA Locks, which you
                      can access from your fingerprint, RFID Card, PIN, and Key.</p> --}}
                    <p style="font-size: 1.5rem;"><i class="fas fa-fingerprint"></i>&nbsp; &nbsp;{{product.description}}
                    </p>
                    <h2><b>Features Of Gate Lock:</b></h2>
                    </br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp; FAST FINGERPRINT SENSOR - 50 fingerprints can be registered in this fingerprint lock and unlocking speed is 0.5 seconds only.
                    </p><br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp;PIN OPTION WITH VERY FINE TOUCH KEY PAD - You can register 100 pin in this Digital lock and the Touch Key Pad is very fine to use.
                    </p><br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp; AUTO POP-UP - Cabinet door or drawer will get automatically pop out when you unlock the fingerprint lock.
                    </p><br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp; LED LIGHT INDICATOR - Around the fingerprint sensor, there is an LED light indicator that indicates your finger status.
 
                    </p><br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp;AUTO LOCKING - The electronic lock will eliminate the manual locking as it will get locked automatically when the door gets closed.
                    </p><br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp; EMERGENCY POWER - In case the battery is completely discharged, an external 5V Micro AUX type cable can be used to give power to the electronic lock.
                    </p><br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp; LOW BATTERY INDICATION - Numbers on the security lock start blinking when you try to open the Lock which indicates Battery is low.
                    </p><br>
                    <p style="font-size: 1.5rem;">
                      <i class="fas fa-fingerprint"></i>&nbsp; ADJUSTABLE SPY CODE - You can use random numbers before or after the pin in the presence of strangers to protect your original Pin.
                    </p>
                  <br>
                  </div>
                  <h2><b>Description Of Gate Lock:</b></h2>
                  <br>  
                  <p style="font-size: 1.5rem;">
                  Smart Solution for your Home, Office, Shop, Hotels, Resorts, Schools, Hospital, Banks, Gyms and other Private premises This is a Hightech Fingerprint Digital Door Lock with strong features and simple to use.
                  <br><br>

This Fingerprint security Lock makes your unlocking very easy and fast. You can say that your finger, your key & no one can take your key. This lock will eliminate so many things like manual locking, carrying multiple keys of your all cabinet.

This smart lock is suitable for any type of cabinet like any drawer, sliding almirah door, single almirah door, double almirah door. The smart lock is universal and simple to install, It can be installed both the side left or right of the door. It is advised to get it installed after watching our installation video on our Youtube Channel. You can also contact us to know if installation services will be available at your location and cost for the same if any.
<br><br>
All our products are also available on amazon, do check them out.
</p>
                  <!-- Add to Cart Form -->
                  {{!-- <form class="btn__group" method="post">
                    <div class="add_to_cart">
                      <button style="margin:1rem; padding:1rem;" class="btn-primary add" type="button" id="btn"
                        onclick="addTocart(index)">Add To Cart</button>
                    </div>
                  </form><br> --}}
<hr>
                </div>

                <div class="container">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Features</th>
      
      <th scope="col">L-S9</th>
     
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Fingerprint Sensor:</th>
      <td><i style="color:green;" class="fa fa-check" aria-hidden="true"></i></td>
      
    
    </tr>
    <tr>
      <th scope="row">Password:</th>
      <td><i style="color:green;" class="fa fa-check" aria-hidden="true"></i></td>
      
     
    </tr>
    <tr>
      <th scope="row">Fingerprint Capacity:</th>
      <td><p>50</p></td>
     
    </tr>

      <tr>
      <th scope="row">Password Capacity:</th>
      <td><p>100</p></td>
      
    
    </tr>

      <tr>
      <th scope="row">Recognition speed:</th>
     <td><p>Less than 0.5s</p></td>
      
     
    </tr>

       <tr>
      <th scope="row">Operating Temperature:</th>
     <td><p>-10 °C- 60 °C</p></td>
      
     
    </tr>

      <tr>
      <th scope="row">Power supply:</th>
     <td><p>4 pcs*1.5V AA Battery, Duracell Ultra</p></td>
      
     
    </tr>

      <tr>
      <th scope="row">Working Current:</th>
     <td><p>300mAH</p></td>
      
     
    </tr>

     <tr>
      <th scope="row">Emergency Power:</th>
       <td><p>External 5V Micro AUX Type Cable</p></td>
      
     
    </tr>

     <tr>
      <th scope="row">Colour:</th>
      <td><p>Black</p></td>
      
     
    </tr>

     <tr>
      <th scope="row">Weight:</th>
     <td><p>1 kg</p></td>
      
     
    </tr>

     <tr>
      <th scope="row">Product Dimension:</th>
     <td><p>H-10cm, W-5.5cm, L-1cm</p></td>
      
     
    </tr>

     <tr>
      <th scope="row">Box Dimension:</th>
      <td><p>H-17.7 cm, L-18.6 cm, T-3.9 cm</p></td>
      
     
    </tr>

     <tr>
      <th scope="row">Applicable on:</th>
      <td><p>Almirah/cabinet/drawer</p></td>
      
     
    </tr>

    

     <tr>
      <th scope="row">Box Contains:</th>
     <td><p>
       <ul>
  <li>Main Lock</li>
  <li>Front Lock Panel
</li>
  <li> Suitable Screw Packet
</li>
<li> User guide

</li>
</ul>
     </p></td>
      
     
    </tr>

    
  </tbody>
</table>
</div>
                