<section id="icon-section">
    <div class="container">
        <div class="row">
            <div class="box-guide">
                <h1>Features</h1>
            </div>
        </div>
        <div class="row mt-4">

            <div class="col-lg-4">
                <div class="row">
                    <h4 class="">Access Modes</h4>
                </div>
                <div class="row play-position-la5">
                    <div class="col-lg-3">
                        <div class="set-img-la5" >
                            <img src="../../public/assets/new_assets/images/360 fingerprint sensor.webp" alt=""
                                class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="fingerprint-la5">
                            <h6>Fast Fingerprint Sensor</h6>
                            <div class="img-detail-la5">
                                <p>Up to 100 fingerprints can be registered in this lock and unlocking speed is 0.4
                                    seconds only.</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row play-position-la5">
                    <div class="col-lg-3">
                        <div class="set-img-la5">
                            <img src="../../public/assets/new_assets/images/Mobile Application.webp" alt="">
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="fingerprint-la5">
                            <h6> Special RFID Card </h6>
                            <div class="img-detail-la5">
                                <p>Up to 100 RFID card can be registered in this lock, the RFID card is specially
                                    designed for this lock only for your security.</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row play-position-la5">
                    <div class="col-lg-3">
                        <div class="set-img-la5">
                            <img src="../../public/assets/new_assets/images/Pin option.webp" alt="">
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="fingerprint-la5">
                            <h6> PIN Option </h6>
                            <div class="img-detail-la5">
                                <p>You can register up to 100 PIN in this lock and the Touch Key Pad is very fine to
                                    use.</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row play-position-la5">
                    <div class="col-lg-3">
                        <div class="set-img-la5">

                            <img src="../../public/assets/new_assets/images/Special RFID Card.webp" alt="">
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="fingerprint-la5">
                            <h6>Remote Unlocking </h6>
                            <div class="img-detail-la5">
                                <p>The Lock can also be opened from Remote; you don’t have to get up from your place to
                                    open the door.</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row play-position-la5">
                    <div class="col-lg-3">
                        <div class="set-img-la5">
                            <img src="../../public/assets/new_assets/images/Time Base Access.webp" alt="">
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="fingerprint-la5">
                            <h6> Time Base Access </h6>
                            <div class="img-detail-la5">
                                <p>In this you can allow a user to unlock the door for a specific time Period.</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row play-position-la5">
                    <div class="col-lg-3">
                        <div class="set-img-la5">
                            <img src="../../public/assets/new_assets/images/Mechanical key.webp" alt="">
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="fingerprint-la5">
                            <h6> Record History </h6>
                            <div class="img-detail-la5">
                                <p>You can export past 20,000 unlocking entries in excel sheet.</p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="row">
                    <h4 class="">Smart Features</h4>
                </div>
                <div class="row play-position-la5">
                    <div class="col-lg-3">
                        <div class="set-img-la5">
                            <img src="../../public/assets/new_assets/images/Adjustable Spy Code.webp" alt="">
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="fingerprint-la5">
                            <h6> Door Bell </h6>
                            <div class="img-detail-la5">
                                <p>There is an inbuilt doorbell in this lock</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row play-position-la5">
                    <div class="col-lg-3">
                        <div class="set-img-la5">
                            <img src="../../public/assets/new_assets/images/Low battery Indicator.webp" alt="">
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="fingerprint-la5">
                            <h6> Low Battery Indication </h6>
                            <div class="img-detail-la5">
                                <p>The lock will give you an indication on the mobile app screen that the battery is
                                    low.</p>
                            </div>
                        </div>

                    </div>
                </div>



                <div class="row play-position-la5">
                    <div class="col-lg-3">
                        <div class="set-img-la5">
                            <img src="../../public/assets/new_assets/images/Externla Power Port.webp" alt="">
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="fingerprint-la5">
                            <h6>External Power Port </h6>
                            <div class="img-detail-la5">
                                <p>You can give power to the lock externally from any normal power bank in case of
                                    complete battery drain.</p>
                            </div>
                        </div>

                    </div>
                </div>




                <div class="row play-position-la5">
                    <div class="col-lg-3">
                        <div class="set-img-la5">
                            <img src="../../public/assets/new_assets/images/Auto locking System.webp" alt="">
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="fingerprint-la5">
                            <h6> Auto Locking System </h6>
                            <div class="img-detail-la5">
                                <p>The lock will eliminate the manual locking as it will get locked automatically when
                                    the door gets closed.</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row play-position-la5">
                    <div class="col-lg-3">
                        <div class="set-img-la5">
                            <img src="../../public/assets/new_assets/images/Public Mode.webp" alt="">
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="fingerprint-la5">
                            <h6> Public Mode </h6>
                            <div class="img-detail-la5">
                                <p>You can set the lock in Public mode, Public mode means auto locking system will get
                                    disabled.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <h4 class="">Suitable For</h4>
                </div>
                <div class="row play-position-la5 mt-3">
                    <div class="col-lg-3">
                        <div class="set-img-la5">
                            <img src="../../public/assets/new_assets/images/glass-door.webp" alt="">
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="fingerprint-la5">
                            <h6> Glass Door </h6>

                        </div>

                    </div>
                </div>



            </div>

        </div>
    </div>
</section>


<section id="features-table">
    <div class="container">
        <div class="row">
            <h1 class="text-center M-3">Product Details</h1>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="table-col-3">
                    <div class="sticky-top table-sticky-header overflow-scroll d-flex align-items-center feature py-3">
                        <div class="h3 m-0 px-3">Specifications </div>
                        <div class="h4 m-0 text-center px-3"> </div>

                    </div>
                    <div class="table-responsive table-sticky">
                        <table class="table table-bordered table-striped">
                            <thead class="visually-hidden">
                                <tr>
                                    <th scope="col">Specifications</th>
                                    <th scope="col"></th>

                                </tr>
                            </thead>
                            <tbody class="text-center align-middle">
                                <tr>
                                    <th class="text-start p-3" scope="row">Fingerprint Sensor</th>
                                    <td><span class="fa fa-check text-success"></span></td>

                                </tr>

                                <tr>
                                    <th class="text-start p-3" scope="row">Password</th>
                                    <td><span class="fa fa-check text-success"></span></td>

                                </tr>
                                <tr>
                                    <th class="text-start p-3" scope="row">Pin</th>
                                    <td><span class="fa fa-check text-success"></span></td>

                                <tr>
                                    <th class="text-start p-3" scope="row">Remote</th>
                                    <td><span class="fa fa-check text-success"></span></td>

                                </tr>
                                <tr>
                                    <th class="text-start p-3" scope="row">Display Screen</th>
                                    <td><span class="fa fa-check text-success"></span></td>

                                </tr>
                                <tr>
                                    <th class="text-start p-3" scope="row">Fingerprint Capacity</th>
                                    <td>Up-to 100</td>

                                </tr>
                                <tr>
                                    <th class="text-start p-3" scope="row">Password Capacity</th>
                                    <td>Up-to 100</td>

                                </tr>
                                <tr>
                                    <th class="text-start p-3" scope="row">RFID Card</th>
                                    <td>Yes</td>

                                </tr>
                                <tr>
                                    <th class="text-start p-3" scope="row">RFID Card Capacity</th>
                                    <td>Up-to 100</td>

                                </tr>
                                <tr>
                                    <th class="text-start p-3" scope="row">Recognition speed</th>
                                    <td>Less than 0.5s</td>

                                </tr>
                                <tr>
                                    <th class="text-start p-3" scope="row">Operating Temperature</th>
                                    <td>-10 °C- 60 °C</td>

                                </tr>

                                <tr>
                                    <th class="text-start p-3" scope="row">Power supply</th>
                                    <td>4pcs*1.5V AA Battery , Duracell Ultra</td>

                                </tr>
                                <tr>
                                    <th class="text-start p-3" scope="row">Working Current</th>
                                    <td>
                                        300mAH</td>

                                </tr>
                                <tr>
                                    <th class="text-start p-3" scope="row">Emergency Open</th>
                                    <td> Micro USB Type Port power supply</td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="table-col-3">
                    <div class="sticky-top table-sticky-header overflow-scroll d-flex align-items-center feature py-3">
                        <div class="h3 m-0 px-3">Specifications</div>
                        <div class="h4 m-0 text-center px-3"></div>

                    </div>
                    <div class="table-responsive table-sticky">
                        <table class="table table-bordered table-striped">
                            <thead class="visually-hidden">
                                <tr>
                                    <th scope="col">Specifications</th>
                                    <th scope="col"></th>

                                </tr>
                            </thead>
                            <tbody class="text-center align-middle">

                                <tr>
                                    <th class="text-start p-3" scope="row">Color</th>
                                    <td> Black</td>

                                </tr>
                                <tr>
                                    <th class="text-start p-3" scope="row">Weight</th>
                                    <td>2 kg</td>

                                </tr>
                                <tr>
                                    <th class="text-start p-3" scope="row">Door Thickness</th>
                                    <td>
                                        10 to 12 mm ONLY</td>

                                </tr>
                                <tr>
                                    <th class="text-start p-3" scope="row">Box Dimension</th>
                                    <td>H-18cm, L-14cm, W-27cm</td>

                                </tr>
                                <tr>
                                    <th class="text-start p-3" scope="row">Applicable on</th>
                                    <td>Single, Double & Sliding glass doors</td>

                                </tr>


                                <tr>
                                    <th class="text-start p-3" scope="row">Box Contains</th>
                                    <td>
                                        <ul class="main-lock">
                                            <li>Main Lock</li>
                                            <li>Side lock</li>
                                            <li>2 Plastic Patching</li>
                                            <li>Suitable Screw Packet</li>
                                            <li>2 RFID card</li>
                                            <li>1 Remote</li>
                                            <li>User Manual</li>

                                        </ul>
                                    </td>

                                </tr>



                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>