<!DOCTYPE html>
<html lang="en">
<head>
    {{!-- <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> --}}
    {{!-- <title>Digital Fingerprint Lock - Lavna Locks</title> --}}
  
    <!-- Favicons -->
    <link href="../../public/assets/new_assets/img2/fevicon_lavana.webp" rel="icon">
    <link href="../../public/assets/new_assets/img2/fevicon_lavana.webp" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Playfair+Display:wght@400;500;600;700;800;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
    </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="../../public/assets/new_assets/css/font-awesome.min.css" rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="../../public/assets/new_assets/vendor/aos/aos.css" rel="stylesheet">
  
    <link href="../../public/assets/new_assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../public/assets/new_assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../../public/assets/new_assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->

  <link href="../../public/assets/new_assets/css/owl.min.css" rel="stylesheet">
  <link href="../../public/assets/new_assets/css/distributor.css" rel="stylesheet">
  <link href="../../public/assets/new_assets/css/detail.css" rel="stylesheet">
  <link href="../../public/assets/new_assets/css/checkout.css" rel="stylesheet">
  <link href="../../public/assets/new_assets/css/builder.css" rel="stylesheet">
  <link href="../../public/assets/new_assets/css/about.css" rel="stylesheet">
  <link href="../../public/assets/new_assets/css/style2.css" rel="stylesheet">
  <link href="../../public/assets/new_assets/css/style.css" rel="stylesheet">
  <link href="../../public/assets/new_assets/css/new.css" rel="stylesheet">
  <link href="../../public/assets/new_assets/css/signin.css" rel="stylesheet">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-174630181-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-174630181-1');
</script>


  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-212799731-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-212799731-4');
  </script>

</head>
<body style="overflow-x: hidden;">
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K68VG5W"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <a class="whats-app" href="https://api.whatsapp.com/send?phone=+91-9971427608&amp;text=Hello! I'm interested in your LAVNA | Digital Locks. Please provide me with further details." target="_blank">
       <i class="bx bxl-whatsapp my-float"></i>
    </a>

    <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <a href="/" class="logo me-auto"><img src="../../public/assets/new_assets/img2/logo-lavna.webp" alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/shop">Products</a></li>
        <li><a href="/builder">Builder’s Project</a></li>

        {{#if login}}
        <li>
          <a
            class="dropdown-toggle"
            href="#"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="fa fa-user"></i> Welcome
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
             <a class="dropdown-item" href="/user/dashboard">Dashboard</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/user/logout">Logout</a>
          </div>
        </li>
        {{else}}

        <li><a style="color: #003399; font-weight: 600;"  href="/user/signin">SIGN IN</a></li>
        <li><span class="line" style="color: #003399;">/</span></li>
        <li><a style="color: #003399; font-weight: 600;" href="/user/signup">SIGN UP</a></li>

        {{/if}}
          <li>
          <a href="/shopping-cart">
            <img id="my_img" width="100%" src="../../public/assets/new_assets/img2/cart-1.svg" alt=""> {{#if session.cart}}
              <span class="badge badge-pill badge-info"> {{session.cart.totalQty}}</span>
              {{else}}
              <span class="badge badge-pill badge-info">0</span>
              {{/if}}
          </a>
         </li>

        </ul>
      </nav>

      <button id="togg">
             <i class="fa fa-bars" aria-hidden="true"></i>
       </button>

      <a class="cc" href="tel:1800-313-4491"><button class="button_unique" type="button" data-hover="1800-313-4491"><span><img src="../../public/assets/new_assets/img2/bx_bxs-phone-call.svg"> CUSTOMER CARE</span></button></a>

    </div>
  </header>
  <!-- End Header -->