<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Digital Fingerprint Lock- Lavna Locks</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


<link href="/prod-details/css/all.min.css">
  <!-- Favicons -->
  <!-- <link href="assets/img/favicon.png" rel="icon"> -->
  <link href="/assets/img/lavnalogo.jpg" rel="icon">
  <!-- <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <link rel="stylesheet" type="text/css" href="/public/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script> -->
  <script src="https://code.jquery.com/jquery-1.10.2.js" integrity="sha256-it5nQKHTz+34HijZJQkpNBIHsjpV8b6QzMJs9tmOBSo=" crossorigin="anonymous"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
<!--SEO TAGS-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-174630181-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-174630181-1');
</script>

<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K68VG5W');</script>


<!--SEO TAGS-->
  <!-- CSS only -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script
      src="https://kit.fontawesome.com/91abd10b8f.js"
      crossorigin="anonymous"
    ></script>
<script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  <link href="/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="products.json">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- =======================================================
  * Template Name: Company - v2.2.1
  * Template URL: https://bootstrapmade.com/company-free-html-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

  {{!-- <iframe src="https://giphy.com/embed/5bd7dlGfaIHKnRpG3D" width="100vw" height="1000vh" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/cafe-ideas-cargando-5bd7dlGfaIHKnRpG3D"></a></p> --}}
<link href="node_modules/whatsapp-button.js/dist/wpp_css/whatsappButton.css" rel="stylesheet" />
<script src="node_modules/whatsapp-button.js/dist/wpp_js/whatsappButton.js"></script>

  <style>
   
    
 nav{
    font-size: 20px !important;
    float: right;
    }

         
    .contact{
        background-size: cover;
        background: center;
        width: 100%;
        padding: 100px;
    }
    .contactform{
        padding: 65px 50px;
        background: #fff;
        box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
        max-width: 550px;
        margin-top: 10px;
        /* margin-left: 300px; */
        margin-left: auto ;
    }
    .contactform h3{
        color: #111;
        font-size: 1.2em;
        margin-bottom: 20px;
        font-weight: 500;
        
    }
    .contactform .inputbox{
        position: relative;
        width: 100%;
        margin-bottom: 20px;
    }
    .contactform .inputbox input,
    .contactform .inputbox textarea{
        width: 100%;
        border: 1px solid #555;
        padding: 10px;
        color: #111;
        outline: none;
        font-size: 16px;
        font-weight: 300;
        resize: none;
    }
    .contactform .inputbox input[type="submit"]
    {
        font-size: 1em;
        color: #fff;
        background: blueviolet;
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 2px;
        transition: 0.5s;
        max-width: 100px;
        font-weight: 500;
        border: none;
        cursor: pointer;
    }
    #cont{
        align-items: center;
        width: 100%;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        color: #fff;
    }
    #cont1{
        font-size: 14px;
        align-items: center;
        width: 100%;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        color: #fff;
    }
    #raleway{
      padding-top: 70px;
    
    
      
    }

    



footer{
    background-color: black;
    height: auto;
    width: 100vw;
    font-family: sans-serif;
    padding-top: 40px;
    color: white;
    overflow: hidden;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: white;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 15px;
    padding: 5px;
}
.socials a{
    text-decoration: none;
    color: white;
    
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: blueviolet;
}
.footer-bottom{
    background: black;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    color: white;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-content img{
    width: 220px;

}


/* for desktop */
.whatsapp_float {
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	color:#FFF;
	border-radius:50px;
	text-align:center;
        font-size:35px;
	box-shadow: 2px 2px 3px #999;
        z-index:100;
}

.whatsapp-icon {
	margin-top:8px;
}
/* for mobile */
@media screen and (max-width: 767px){
     .whatsapp-icon {
	 margin-top:10px;
     }
    .whatsapp_float {
        width: 40px;
        height: 40px;
        bottom: 20px;
        right: 10px;
        font-size: 22px;
    }
}
    #span{
        background-color: red;
        color: white;
        border-radius: 50%;
        font-size: 1.2rem;
        text-align: center;
        margin-top: -4rem;
    }
    .whatsapp_float{
      animation: rotation 5s infinite linear;
    }
    



@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}




#myCarousel .carousel-item .mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-color: #000000;
    background-image: url('/assets/img/Slider Background-04.jpg') !important;

}

#myCarousel h4 {
    font-size: 50px;
    margin-bottom: 15px;
    color: #FFF;
    line-height: 100%;
    letter-spacing: 0.5px;
    font-weight: 600
}

#myCarousel p {
    font-size: 18px;
    margin-bottom: 15px;
    color: #d5d5d5
}

#myCarousel .carousel-item a {   
    font-size: 14px;
    color: #FFF;
    padding: 13px 32px;
    display: inline-block
}

#myCarousel .carousel-item a:hover {
   
    text-decoration: none
}

#myCarousel .carousel-item h4 {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft
}

#myCarousel .carousel-item p {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight
}

#myCarousel .carousel-item ul {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight
}

#myCarousel .carousel-item a {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp
}

#myCarousel .carousel-item .mask img {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
    display: block;
    height: auto;
    max-width: 100%
}

#myCarousel h4,
#myCarousel p,
#myCarousel a,
#myCarousel .carousel-item .mask img {
    -webkit-animation-duration: 1s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

#myCarousel .container {
    max-width: 1430px
}

#myCarousel .carousel-item {
    height: 100%;
    min-height: 550px
}

#myCarousel {
    position: relative;
    z-index: 1;
    background: #000;
    background-size: cover
}

.carousel-control-next,
.carousel-control-prev {
    height:30px;
    opacity:0.5;
    width: 20px;
    padding: 10px;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
   
}

.carousel-item {
    position: relative;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    transition: -webkit-transform .6s ease;
    transition: transform .6s ease;
    transition: transform .6s ease, -webkit-transform .6s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px
}

.carousel-fade .carousel-item {
    opacity: 0;
    -webkit-transition-duration: .6s;
    transition-duration: .6s;
    -webkit-transition-property: opacity;
    transition-property: opacity
}

.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right,
.carousel-fade .carousel-item.active {
    opacity: 1
}

.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-right.active {
    opacity: 0
}

.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item-prev.active,
.carousel-fade .carousel-item.active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
}

@supports (transform-style:preserve-3d) {

    .carousel-fade .carousel-item-left.active,
    .carousel-fade .carousel-item-next,
    .carousel-fade .carousel-item-prev,
    .carousel-fade .carousel-item-prev.active,
    .carousel-fade .carousel-item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item-prev.active,
.carousel-fade .carousel-item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp
}

@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

.slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight
}









h5 {
  color: white;
  font-size: 1.5rem;
  display: block;
  height: 42px;
  width: 320px;
  animation-name: animateIn;
  animation-duration: 350ms;
  animation-delay: calc(var(--animation-order) * 100ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

h5 + h5 {
dex}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: scale(0.6) translateY(-8px);
  }
  
  100% {
    opacity: 1;
  }
}
.wrapper{
 
  padding:100px;
}

.toggle_radio{
  position: relative;
  background: rgba(255,255,255,.1);
  margin: 4px auto;
  overflow: hidden;
  padding: 0 !important;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: relative;
  height: 26px;
  width: 318px;
}
.toggle_radio > * {
  float: left;
}
.toggle_radio input[type=radio]{
  display: none;
  /*position: fixed;*/
}
.toggle_radio label{
  font: 90%/1.618 "Source Sans Pro";
  color: rgba(255,255,255,.9);
  z-index: 0;
  display: block;
  width: 100px;
  height: 20px;
  margin: 3px 3px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  z-index: 1;
  /*background: rgba(0,0,0,.1);*/
  text-align: center;
  /*margin: 0 2px;*/
  /*background: blue;*/ /*make it blue*/
}
.toggle_option_slider{
  /*display: none;*/
  /*background: red;*/
  width: 100px;
  height: 20px;
  position: absolute;
  top: 3px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}

#first_toggle:checked ~ .toggle_option_slider{
  background: rgba(255,255,255,.3);
  left: 3px;
}
#second_toggle:checked ~ .toggle_option_slider{
  background: rgba(255,255,255,.3);
  left: 109px;
}
#third_toggle:checked ~ .toggle_option_slider{
  background: rgba(255,255,255,.3);
  left: 215px;
}



.btn-change{
    height: 50px;
    width: 100px;
    background: lightseagreen;
    margin: 20px;
    float: left;
    box-shadow: 0 0 1px #ccc;
    -webkit-transition: all 0.5s ease-in-out;
    border: 0px;
    color: #fff;
}
.btn-change:hover{
    -webkit-transform: scale(1.1);
    background: #31708f;
}




@keyframes blinking {
  0% {
    background-color: #ff3d50;
    border: 5px solid #871924;
  }
  /* YOU CAN ADD MORE COLORS IN THE KEYFRAMES IF YOU WANT
  50% {
    background-color: #55d66b;
    border: 5px solid #126620;
  }
  */
  100% {
    background-color: #222291;
    border: 5px solid #6565f2;
  }
}
#demm {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-top: -1rem;
  /* NAME | TIME | ITERATION */
  animation: blinking 1s infinite;
}


  </style>

  <style>

    .float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}
  </style>

</head>

<body>
  

  <!-- ======= Header ======= -->
    <!-- ======= Header ======= -->
  <header id="header" class="">

  
    <div class="container">

      <a href="/" class="logo"><img class="img-fluid shadow" style="margin-left: -1rem; height: 100rem !important; width: 40rem;" src="/assets/img/logo (1).svg"></a>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a style="font-size: 1.5rem;" href="/">HOME</a></li>
          <li><a style="font-size: 1.5rem;" href="/about">ABOUT US</a></li>
          <li><a style="font-size: 1.5rem;" href="/shop">SHOP</a></li>
          <li><a style="font-size: 1.5rem;" href="/faq">FAQ's</a></li>
          <li><a style="font-size: 1.5rem;" href="/blog">Blog</a></li>
          {{!-- <li><a style="font-size: 1.5rem;" href="/contact">Contact US</a></li> --}}
{{#if login}}
          <li>
            <a
              class="dropdown-toggle"
              href="#"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false" style="font-size: 14px;"
            >
              <i class="fas fa-user"></i> Welcome
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/user/profile">Orders</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/user/logout">Logout</a>
            </div>
          </li>
          
          {{else}}
         <li>
            <a  style="font-size: 1.5rem;" href="/user/signup"> Sign Up</a>
          </li>
          <li>
            <a  style="font-size: 1.5rem;" href="/user/signin"> Sign In</a>
          </li>
          {{/if}}
           <li>
            <a href="/shopping-cart">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
</svg> {{#if session.cart}}
              <span class="badge badge-pill badge-info" style="background-color: #007bff;"
                > {{session.cart.totalQty}}</span
              >
              {{else}}
              <span class="badge badge-pill badge-info" style="background-color: #007bff;">0</span>
              {{/if}}
            </a>
          </li>
         
        </ul>
      </nav>
      <!-- .nav-menu -->

      {{!-- <div class="header-social-links">
        <a style="font-size: 1.5rem;" href="https://www.facebook.com/lavnadigitallocks" class="facebook"><i style="color: blue; font-size: 17px;" class="fa fa-facebook-square" aria-hidden="true"></i></a>&nbsp;&nbsp;
        <a style="font-size: 1.5rem;" href="https://www.instagram.com/lavnalocks/" class="instagram"><i style="color: white; border-radius: 12%; background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%) !important;" class="icofont-instagram"></i></a>&nbsp;&nbsp;
        <!-- <a style="font-size: 1.5rem;" href="https://api.whatsapp.com/send?phone=+91-9971427608" class="whatsapp"><i class="icofont-whatsapp"></i></i></a> -->
      </div> --}}

    </div>
    {{!-- <a  href="https://api.whatsapp.com/send?phone=+91-9971427608" class="whatsapp_float shadow " target="_blank"> <i id="demm" class="fa fa-whatsapp whatsapp-icon" style="text-align: center; align-item: center;">
      
    </i></a> --}}

    
<a href="https://api.whatsapp.com/send?phone=+91-9971427608&text=Hello! I'm interested in your LAVNA | Digital Locks. Please provide me with further details." class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>
</a>
  {{!-- <div class="whatsapp"> --}}
    {{!-- <a href="https://api.whatsapp.com/send?phone=+91-9971427608"> --}}
      {{!-- <h5 style="font-family:sans-serif;"><i style="font-size:1.8rem; height: 1.2rem; top: -11%; text-align: center !important; align-items: center !important;" class="fa fa-whatsapp" aria-hidden="true">&nbsp;How Can I Help You?</i></h5> --}}
    {{!-- <i class="fa fa-whatsapp" style="font-size:48px;color:rgb(31, 248, 128)"></i> --}}
    {{!-- </a> --}}
{{!-- </div> --}}
{{!-- <div id="WhatsappButton"></div>   --}}
{{!-- <script>
new WhatsappButton('9971427608', 'How Can I Help you?', 'Hello, How Can I Help you?', 'Hello, How Can I Help you?', '1', '#068700', '#000000', '', '')
</script> --}}

 

</header>