<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Digital Fingerprint Lock- Lavna Locks</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="assets/img/favicon.png" rel="icon"> -->
  <link href="/assets/img/lavnalogo.jpg" rel="icon">
  <!-- <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <link rel="stylesheet" type="text/css" href="/public/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script> -->
  <script src="https://code.jquery.com/jquery-1.10.2.js" integrity="sha256-it5nQKHTz+34HijZJQkpNBIHsjpV8b6QzMJs9tmOBSo=" crossorigin="anonymous"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  <!-- CSS only -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script
      src="https://kit.fontawesome.com/91abd10b8f.js"
      crossorigin="anonymous"
    ></script>
<script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  <link href="/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="products.json">

  <!-- =======================================================
  * Template Name: Company - v2.2.1
  * Template URL: https://bootstrapmade.com/company-free-html-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style>
    
    
 nav{
    font-size: 20px !important;
    margin-left: 20% !important;
    }

    

         
    .contact{
        background-size: cover;
        background: center;
        width: 100%;
        padding: 100px;
    }
    .contactform{
        padding: 65px 50px;
        background: #fff;
        box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
        max-width: 550px;
        margin-top: 10px;
        /* margin-left: 300px; */
        margin-left: auto ;
    }
    .contactform h3{
        color: #111;
        font-size: 1.2em;
        margin-bottom: 20px;
        font-weight: 500;
        
    }
    .contactform .inputbox{
        position: relative;
        width: 100%;
        margin-bottom: 20px;
    }
    .contactform .inputbox input,
    .contactform .inputbox textarea{
        width: 100%;
        border: 1px solid #555;
        padding: 10px;
        color: #111;
        outline: none;
        font-size: 16px;
        font-weight: 300;
        resize: none;
    }
    .contactform .inputbox input[type="submit"]
    {
        font-size: 1em;
        color: #fff;
        background: blueviolet;
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 2px;
        transition: 0.5s;
        max-width: 100px;
        font-weight: 500;
        border: none;
        cursor: pointer;
    }
    #cont{
        align-items: center;
        width: 100%;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        color: #fff;
    }
    #cont1{
        font-size: 14px;
        align-items: center;
        width: 100%;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        color: #fff;
    }
    #raleway{
      padding-top: 70px;
    
    
      
    }

    



footer{
    background-color: black;
    height: auto;
    width: 100vw;
    font-family: sans-serif;
    padding-top: 40px;
    color: white;
    overflow: hidden;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: white;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 15px;
    padding: 5px;
}
.socials a{
    text-decoration: none;
    color: white;
    
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: blueviolet;
}
.footer-bottom{
    background: black;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    color: white;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-content img{
    width: 220px;

}


.whatsapp h5{
            color: white;
            background: #205a19;
            padding: 8px;
            margin: 8px;
            /* border-radius: 5%; */
            height: 50px;
            text-align: center;
            align-items: center;
            justify-content: center;
            width: 250px;
            top: -10%;
            box-sizing: border-box;
        }
        .whatsapp{
            position: fixed;
            right: 4%;
            bottom: 1%;
            /* font-size: 40px; */
        }
    #span{
        background-color: red;
        color: white;
        border-radius: 50%;
        font-size: 1.2rem;
        text-align: center;
        margin-top: -4rem;
    }
  </style>
</head>

<body>
  

  <!-- ======= Header ======= -->
    <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <a href="/" class="logo"><img class="img-fluid" style="margin-left: -1rem; height: 100rem !important; width: 30rem;" src="/assets/img/logo (1).svg"></a>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a style="font-size: 1.5rem;" href="/">HOME</a></li>
          <li><a style="font-size: 1.5rem;" href="/about">ABOUT US</a></li>
          <li><a style="font-size: 1.5rem;" href="/shop">SHOP</a></li>
          <li><a style="font-size: 1.5rem;" href="/faq">FAQ's</a></li>
          <li><a style="font-size: 1.5rem;" href="/blog">Blog</a></li>
          {{!-- <li><a style="font-size: 1.5rem;" href="/contact">Contact US</a></li> --}}
{{#if login}}
          <li>
            <a
              class="dropdown-toggle"
              href="#"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false" style="font-size: 14px;"
            >
              <i class="fas fa-user"></i> Welcome
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/user/profile">Orders</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/user/logout">Logout</a>
            </div>
          </li>
          
          {{else}}
          <li>
            <a  style="font-size: 1.5rem;" href="/user/signup"> Sign Up</a>
          </li>
          <li>
            <a  style="font-size: 1.5rem;" href="/user/signin"> Sign In</a>
          </li>
          {{/if}}
           <li>
            <a href="/shopping-cart">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
</svg> {{#if session.cart}}
              <span class="badge badge-pill badge-info" style="background-color: #007bff;"
                > {{session.cart.totalQty}}</span
              >
              {{else}}
              <span class="badge badge-pill badge-info" style="background-color: #007bff;">0</span>
              {{/if}}
            </a>
          </li>
         
        </ul>
      </nav><!-- .nav-menu -->

      {{!-- <div class="header-social-links">
        <a style="font-size: 1.5rem;" href="https://www.facebook.com/lavnadigitallocks" class="facebook"><i style="color: blue; font-size: 17px;" class="fa fa-facebook-square" aria-hidden="true"></i></a>&nbsp;&nbsp;
        <a style="font-size: 1.5rem;" href="https://www.instagram.com/lavnalocks/" class="instagram"><i style="color: white; border-radius: 12%; background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%) !important;" class="icofont-instagram"></i></a>&nbsp;&nbsp;
        <!-- <a style="font-size: 1.5rem;" href="https://api.whatsapp.com/send?phone=+91-7838486896" class="whatsapp"><i class="icofont-whatsapp"></i></i></a> -->
      </div> --}}

    </div>
    
  <div class="whatsapp">
    <a href="https://api.whatsapp.com/send?phone=+91-7838486896">
      {{!-- <h5 style="font-family:sans-serif;"><i style="font-size:1.8rem; height: 1.2rem; top: -11%; text-align: center !important; align-items: center !important;" class="fa fa-whatsapp" aria-hidden="true">&nbsp;How Can I Help You?</i></h5> --}}
    <i class="fa fa-whatsapp" style="font-size:48px;color:rgb(31, 248, 128)"></i>
    </a>
</div>

  </header>