
<div class="_product-images">
  <div class="picZoomer">
    <img class="my_img" src="../../public/assets/new_assets/images/L-H300/L-H300_0.webp" alt="" class="img-fluid">
  </div>
</div>
<div class="zoom-thumb" id="thumb-id">
  <ul class="piclist">

    <li class="img1"><img src="../../public/assets/new_assets/images/L-H300/L-H300_0.webp" alt=""></li>
    <li class="img1"><img src="../../public/assets/new_assets/images/L-H300/L-H300_1.webp" alt=""></li>
    <li class="img1"><img src="../../public/assets/new_assets/images/L-H300/L-H300_2.webp" alt=""></li>
    <li class="img1"><img src="../../public/assets/new_assets/images/L-H300/L-H300_3.webp" alt=""></li>
    <li class="img1"><img src="../../public/assets/new_assets/images/L-H300/L-H300_4.webp" alt=""></li>
    <li class="img1"><img src="../../public/assets/new_assets/images/L-H300/L-H300_5.webp" alt=""></li>
    <li class="img1"><img src="../../public/assets/new_assets/images/L-H300/L-H300_6.webp" alt=""></li>
    <li class="img1"><img src="../../public/assets/new_assets/images/L-H300/L-H300_7.webp" alt=""></li>
    <li class="img1"><img src="../../public/assets/new_assets/images/L-H300/L-H300_8.webp" alt=""></li>
  </ul>
</div>