 <div class="slideshow-container">
                    <div class="mySlides1">
                      <img src="/assets/img/LA15/1.jpg" style="width:100%;height: 500px;">
                    </div>

                                    <div class="mySlides1">
    <iframe width="100%" height="400px" src="https://www.youtube.com/embed/JBQJB64UncQ">
    </iframe>
  </div>

                    <div class="mySlides1">
                      <img src="/assets/img/LA15/2.jpg" style="width:100%;height: 500px;">
                    </div>

                    <div class="mySlides1">
                      <img src="/assets/img/LA15/3.jpg" style="width:100%; height: 500px;">
                    </div>

                    <div class="mySlides1">
                      <img src="/assets/img/LA15/4.jpg" style="width:100%; height: 500px;">
                    </div>

                    <div class="mySlides1">
                      <img src="/assets/img/LA15/5.jpg" style="width:100%; height: 500px;">
                    </div>

                    <div class="mySlides1">
                      <img src="/assets/img/LA15/6.jpg" style="width:100%; height: 500px;">
                    </div>

                    {{!-- <div class="mySlides1">
                      <img src="/assets/img/LA5/7.jpg" style="width:100%; height: 500px;">
                    </div> --}}


                    <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
                  </div>