 <div class="slideshow-container">
                                    

                    <div class="mySlides1">
                      <img src="/assets/img/LE50/1.jpg" class="product-image">
                    </div>
                    <div class="mySlides1">
                      <img src="/assets/img/LE50/2.jpg" class="product-image">
                    </div>
                    <div class="mySlides1">
                      <img src="/assets/img/LE50/3.jpg" class="product-image">
                    </div>
                    <div class="mySlides1">
                      <img src="/assets/img/LE50/4.jpg" class="product-image">
                    </div>
                    <div class="mySlides1">
                      <img src="/assets/img/LE50/5.jpg" class="product-image">
                    </div>
                    <div class="mySlides1">
                      <img src="/assets/img/LE50/6.jpg" class="product-image">
                    </div>
                    
                    <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
                  </div>