 <div class="slideshow-container">
                    <div class="mySlides1">
                      <img src="/assets/img/L-A28.jpg" style="width:100%;height: 500px;">
                    </div>

                    <div class="mySlides1">
    <iframe width="100%" height="400px" src="https://www.youtube.com/embed/eIOXer9tv8E">
    </iframe>
  </div>


                    <div class="mySlides1">
                      <img src="/assets/img/LA28_black/2.jpg" style="width:100%;height: 600px;">
                    </div>

                    <div class="mySlides1">
                      <img src="/assets/img/LA28_black/3.jpg" style="width:100%; height: 500px;">
                    </div>

                    <div class="mySlides1">
                      <img src="/assets/img/LA28_black/4.jpg" style="width:100%; height: 500px;">
                    </div>

                    <div class="mySlides1">
                      <img src="/assets/img/LA28_black/5.jpg" style="width:100%; height: 500px;">
                    </div>

                    <div class="mySlides1">
                      <img src="/assets/img/LA28_black/6.jpg" style="width:100%; height: 500px;">
                    </div>

                 

                   

                     <div class="mySlides1">
                      <img src="/assets/img/LA28_black/9.jpg" style="width:100%; height: 500px;">
                    </div>

                   

                     <div class="mySlides1">
                      <img src="/assets/img/LA28_black/11.jpg" style="width:100%; height: 500px;">
                    </div>

                     <div class="mySlides1">
                      <img src="/assets/img/LA28_black/12.jpg" style="width:100%; height: 500px;">
                    </div>

                     
                    <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
                  </div>