
<section id="services" class="services section-bg">
        <div class="container">
          
           <div class="row row-sm">
              <div class=" col-lg-6 col-md-6 _boxzoom">
              
                <div class="_product-images " id="prd_zoomer">

                    <div class="picZoomer ">
                       <img class="my_img" src="../../public/assets/new_assets/images/LA24-gold_1.webp" alt="" class="img-fluid">
                    </div>
             
                </div>
                 <div class="zoom-thumb" id="thumb-id">
                    <ul class="piclist">
                      <li class="img1 active1"><img src="../../public/assets/new_assets/images/LA24-gold_1.webp" alt=""></li>
                      <li class="img1"><img src="../../public/assets/new_assets/images/LA24-gold_2.webp" alt=""></li>
                      <li class="img1"><img src="../../public/assets/new_assets/images/free-installation.webp" alt=""></li>
                      <li class="img1"><img src="../../public/assets/new_assets/images/LA24-gold_3.webp" alt=""></li>
                      <li class="img1"><img src="../../public/assets/new_assets/images/LA24-gold_4.webp" alt=""></li>
                      <li class="img1"><img src="../../public/assets/new_assets/images/LA24-gold_5.webp" alt=""></li>
                      <li class="img1"><img src="../../public/assets/new_assets/images/LA24-gold_6.webp" alt=""></li>
                      <li class="img1"><img src="../../public/assets/new_assets/images/LA24-GOLD7.webp" alt=""></li>
                      <li class="img1"><img src="../../public/assets/new_assets/images/L-H300/L-H300_8.webp" alt=""></li>
                      
                    </ul>
                   </div>
                   <div class="row">
                    <p class="mrp">  <span class="mrp1">M.R.P.</span> <del><span><i class="fa fa-rupee"></i> {{product.price}}</span></del> <span class="number ml-2"><i class="fa fa-rupee"></i> {{product.sellingPrice}}</span></p> 
                   </div>
                   <div class="row">
                    <div class="col-lg-12 variant-gold">
                        <div class="col-lg-1">
                            <h2>Color:</h2>
                        </div>
                        <div class="col-lg-3">
                            <div class="color">
                                <a href="/products/L-A24-GOLD" class="active-golden"> <div class="goledn mr-3">
                                    <div class="golden">Golden</div>
                                </div></a>
                                <a href="/products/L-A24-Black(Bluetooth)"><div class="blackish">
                                    <div class="black-1">Black</div>
                              </div></a>
                                
                                
                          </div>
                         
                        </div>
                       
                     </div>
                   </div>
                 <div class="row purchase">
                     <div class="col-lg-3 col-12">
                        <div class="number1">
                            <span class="minus">-</span>
                            <input type="text" id="quantity" class="count" value="1"/>
                            <span class="plus">+</span>
                        </div>
                     </div>
                   
                   
                     <div class="col-lg-5 col-6">
                        <div class="cart-add">
                           <a type="button" onclick="addToCart();" class="btn btn-theme">Add To Cart</a>
                        </div>
                    </div>
                      <div class="col-lg-5 col-6">
                         <div class="buy-now">
                            <a type="button" onclick="checkout();" class="btn btn-theme1">Buy Now</a>
                         </div>
                     </div>
                  
                 </div>
              </div>
              <div class="col-lg-6 col-md-6">
                 <div class="detail-box">
                     <h1 id="productTitle">Lavna Locks {{product.title}} with Bluetooth Mobile App, Fingerprint, PIN, OTP, RFID Card and Manual</h1>
                 
                     <p class="sensor">  Meet the 6 in 1 smart Digital door lock from LAVNA Locks, which you can access from your fingerprint, RFID Card, PIN, Bluetooth unlocking, OTP Unlocking and Key.</p>
                     <p class="sensor des">Description</p>
                     <p>Clear all your security concerns with Lavna's latest and updated security solutions. 
Looking to arm your door with a smart lock that comes with multiple smart features? Think no more than Lavna LA-24 fingerprint door lock for home, and othe private premises. 
<br> <br>
    
                       The smart door lock features a fingerprint scanner that can swiftly identify your finger, and is one of the best smart locks with fingerprints out there! <br>
It enables the users to enter their homes with either an RFID card, pin code, mechanical key, or fingerprints, ensuring they always have access. But the feature that sets it apart from others is its three alarm systems. With an intrusion alarm, a wrong password alarm, and a low battery alarm, this range of smart locks has taken home security to the next level!
<br>
                         <a href="tel:18003134491"><i class="fa fa-phone" style="transform: rotate(15deg);font-size: 12px;"></i> 18003134491 </a>  <br>
                         <a href="https://api.whatsapp.com/send?phone=+919667771077"> <i class="bx bxl-whatsapp what1" style="font-size: 20px;"></i> <span class="number-digit"> 9667771077</span> </a> 
                    </p>
                 </div>
              </div>
           </div>
        </div>
     </section>

        <script>
      function addToCart() {
        var title = document.getElementById("productTitle").innerHTML;
        window.location.href = "/add-to-cart/" + title;
      }
      function checkout() {
        var title = document.getElementById("productTitle").innerHTML;
        window.location.href = "/products/checkout/" + title;
      }
    </script>
