{{!-- <div class="_product-images " id="prd_zoomer">

  <div class="vid_box">
    <iframe style="width: 100%; height:100%;" src="https://www.youtube.com/embed/JBQJB64UncQ"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>

  <div class="picZoomer ">
    <img class="my_img" src="../../public/assets/new_assets/images/LA15/1.jpg" alt="" class="img-fluid">
  </div>

</div>
<div class="zoom-thumb" id="thumb-id">
  <ul class="piclist">
    <li class="img1 active1 vidOpener" data-type="1">
      <img src="../../public/assets/new_assets/images/LA15/1.jpg" alt="">
      <span class="playIcon"><i class="fa fa-play-circle"></i></span>

    </li>
    <li class="img1"><img src="../../public/assets/new_assets/images/LA15/1.jpg" alt=""></li>
    <li class="img1"><img src="../../public/assets/new_assets/images/LA15/2.jpg" alt=""></li>
    <li class="img1"><img src="../../public/assets/new_assets/images/LA15/3.jpg" alt=""></li>
    <li class="img1"><img src="../../public/assets/new_assets/images/LA15/4.jpg" alt=""></li>
    <li class="img1"><img src="../../public/assets/new_assets/images/LA15/5.jpg" alt=""></li>
    <li class="img1"><img src="../../public/assets/new_assets/images/LA15/6.jpg" alt=""></li>
    <li class="img1"><img src="../../public/assets/new_assets/images/LA15/7.jpg" alt=""></li>
    <li class="img1"><img src="../../public/assets/new_assets/images/LA15/8.jpg" alt=""></li>
    <li class="img1"><img src="../../public/assets/new_assets/images/LA15/9.jpg" alt=""></li>
  </ul>
</div> --}}


  <section id="services" class="services section-bg">
        <div class="container">
          
           <div class="row row-sm">
              <div class=" col-lg-6 col-md-6 _boxzoom">
              
                <div class="_product-images " id="prd_zoomer">

                    <div class="vid_box">
                        <iframe style="width: 100%; height:100%;" src="https://www.youtube.com/embed/JBQJB64UncQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                     </div>
                    
                    <div class="picZoomer ">
                       <img class="my_img" src="../../public/assets/new_assets/images/LA15/1.jpg" alt="" class="img-fluid">
                    </div>
             
                </div>
                 <div class="zoom-thumb" id="thumb-id">
                    <ul class="piclist">
                        <li class="img1 active1 vidOpener" data-type="1" >
                            <img src="../../public/assets/new_assets/images/LA15/1.jpg" alt="">
                            <span class="playIcon"><i class="fa fa-play-circle"></i></span>
                            
                        </li>
                        <li class="img1"><img src="../../public/assets/new_assets/images/LA15/1.jpg" alt=""></li>
                        <li class="img1"><img src="../../public/assets/new_assets/images/LA15/2.jpg" alt=""></li>
                        <li class="img1"><img src="../../public/assets/new_assets/images/free-installation.jpg" alt=""></li>
                        <li class="img1"><img src="../../public/assets/new_assets/images/LA15/3.jpg" alt=""></li>
                        <li class="img1"><img src="../../public/assets/new_assets/images/LA15/4.jpg" alt=""></li>
                        <li class="img1"><img src="../../public/assets/new_assets/images/LA15/5.jpg" alt=""></li>
                        <li class="img1"><img src="../../public/assets/new_assets/images/LA15/6.jpg" alt=""></li>
                        <li class="img1"><img src="../../public/assets/new_assets/images/LA15/7.jpg" alt=""></li>
                        <li class="img1"><img src="../../public/assets/new_assets/images/LA15/8.jpg" alt=""></li>
                        
                    </ul>
                   </div>
                   <div class="row">
                    <p class="mrp">  <span class="mrp1">M.R.P.</span> <del><span><i class="fa fa-rupee"></i> {{product.price}}</span></del> <span class="number ml-2"><i class="fa fa-rupee"></i> {{product.sellingPrice}}</span></p>
                   </div>
                   {{!-- <div class="row">
                     <div class="col-lg-12 variant-gold">
                        <div class="col-lg-1">
                            <h2>Color:</h2>
                        </div>
                        <div class="col-lg-3">
                            <div class="color">
                                <a href="la28gold.html" class="active-golden"> <div class="goledn mr-3">
                                    <div class="golden">Golden</div>
                                </div></a>
                                <a href="la28black.html"><div class="blackish">
                                    <div class="black-1">Black</div>
                                </div></a>
                                
                                
                            </div>
                         
                        </div>
                       
                     </div> 
                   </div> --}}
                 <div class="row purchase">
                     <div class="col-lg-3 col-12">
                        <div class="number1">
                            <span class="minus">-</span>
                            <input type="text" id="quantity" class="count" value="1"/>
                            <span class="plus">+</span>
                        </div>
                     </div>
                   
                   
                     {{!-- <div class="col-lg-5 col-6">
                        <div class="cart-add">
                           <a type="button" onclick="addToCart();" class="btn btn-theme">Add To Cart</a>
                        </div>
                    </div>
                      <div class="col-lg-5 col-6">
                         <div class="buy-now">
                            <a type="button" onclick="checkout();" class="btn btn-theme1">Buy Now</a>
                         </div>
                     </div> --}}

                     <div class="col-lg-5 col-6">
                        <div class="cart-add">
                           <a type="button" class="btn btn-theme">Out of stock</a>
                        </div>
                    </div>
                  
                 </div>
              </div>
              <div class="col-lg-6 col-md-6">
                 <div class="detail-box">
                     <h1 id="productTitle">{{product.title}}</h1>
                 
                     <!-- <p class="mrp">  <span class="mrp1">M.R.P.</span> <del><span>RS. 4999</span></del> <span class="number ml-2">RS. 3899</span></p> -->
                     <!-- <div>
                        <img src="assets/images/360 fingerprint sensor.png" alt="" class="img-fluid">
                     </div> -->
                     <p class="sensor"> Meet the 2 in 1 smart MOST Affordable Digital door lock from LAVNA Locks, which you can access from your fingerprint and Key.</p>
                     <p class="sensor des">Description</p>
                   
                     <p>Smart Solution for your Home, Office, Shop, Hotels or other Private premises this is a High-tech Fingerprint Digital Door Lock with strong features and simple to use. Minimum Door thickness require 28 mm.<br> <br>
    
                        This Fingerprint Lock makes your unlocking very easy. You can say that your finger, your key & no one can take or remake your key. This handle door lock will eliminate so many things like manual locking, making multiple keys for family members, no need to carry your key when you go out and so on.<br><br>
                        The security lock is suitable for wooden & metal doors and it is universal and simple to install, It can be installed both the side left and right of the door & both opening indoor and outdoor. <br> <br>
                        It is advised to get it installed after watching our installation video on our YouTube Channel. You can also contact us to know if installation services will be available at your location and cost for the same. <br> <br> If you require any further information, feel free to contact us. <br> 
                         <a href="tel:18003134491"><i class="fa fa-phone" style="transform: rotate(15deg);font-size: 12px;"></i> 18003134491 </a>  <br>
                         <a href="https://api.whatsapp.com/send?phone=+919667771077"> <i class="bx bxl-whatsapp what1" style="font-size: 20px;"></i> <span class="number-digit"> 9667771077</span> </a> 
                    </p>
                 </div>
              </div>
           </div>
        </div>
     </section>


      <script>
        function addToCart() {
          var title = document.getElementById("productTitle").innerHTML;
          window.location.href = "/add-to-cart/" + title;
        }
        function checkout() {
          var title = document.getElementById("productTitle").innerHTML;
          window.location.href = "/products/checkout/" + title;
        }
      </script>