{{!-- <div class="_product-images " id="prd_zoomer">

  <div class="vid_box">
    <iframe style="width: 100%; height:100%;" src="https://www.youtube.com/embed/GqZcq-uXDl4"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>

  <div class="picZoomer ">
    <img class="my_img" src="../../public/assets/new_assets/images/LA5/LA-5_1.jpg" alt="" class="img-fluid">
  </div>

</div>
<div class="zoom-thumb" id="thumb-id">
  <ul class="piclist">
    <li class="img1 active1 vidOpener" data-type="1">
      <img src="../../public/assets/new_assets/images/LA5/L-A5.jpg" alt="">
      <span class="playIcon"><i class="fa fa-play-circle"></i></span>

    </li>
    <li class="img1"><img src="../../public/assets/new_assets/images/LA5/L-A5.jpg" alt=""></li>
    <li class="img1"><img src="../../public/assets/new_assets/images/LA5/LA-5_1.jpg" alt=""></li>
    <li class="img1"><img src="../../public/assets/new_assets/images/LA5/LA-5_2.jpg" alt=""></li>
    <li class="img1"><img src="../../public/assets/new_assets/images/LA5/LA-5_3.jpg" alt=""></li>
    <li class="img1"><img src="../../public/assets/new_assets/images/LA5/LA-5_4.jpg" alt=""></li>
    <li class="img1"><img src="../../public/assets/new_assets/images/LA5/LA-5_5.jpg" alt=""></li>
    <li class="img1"><img src="../../public/assets/new_assets/images/LA5/LA-5_7.jpg" alt=""></li>
    <li class="img1"><img src="../../public/assets/new_assets/images/LA5/LA-5_6.jpg" alt=""></li>

    <li class="img1"><img src="../../public/assets/new_assets/images/LA5/LA-5_8.jpg" alt=""></li>
  </ul>
</div> --}}

<section id="services" class="services section-bg">
        <div class="container">
          
           <div class="row row-sm">
              <div class=" col-lg-6 col-md-6 _boxzoom">
      

                 <div class="_product-images " id="prd_zoomer">

                    <div class="vid_box">
                        <iframe style="width: 100%; height:100%;" src="https://www.youtube.com/embed/GqZcq-uXDl4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                     </div>
                    
                    <div class="picZoomer ">
                       <img class="my_img" src="../../public/assets/new_assets/images/LA5/LA-5_1.jpg" alt="" class="img-fluid">
                    </div>
             
                </div>
                 <div class="zoom-thumb" id="thumb-id">
                    <ul class="piclist">
                        <li class="img1 active1 vidOpener" data-type="1" >
                            <img src="../../public/assets/new_assets/images/LA5/L-A5.jpg" alt="">
                            <span class="playIcon"><i class="fa fa-play-circle"></i></span>
                            
                        </li>
                        <li class="img1"><img src="../../public/assets/new_assets/images/LA5/L-A5.jpg" alt=""></li>
                        <li class="img1"><img src="../../public/assets/new_assets/images/LA5/LA-5_1.jpg" alt=""></li>
                        <li class="img1"><img src="../../public/assets/new_assets/images/LA5/LA-5_2.jpg" alt=""></li>
                        <li class="img1"><img src="../../public/assets/new_assets/images/LA5/LA-5_3.jpg" alt=""></li>
                        <li class="img1"><img src="../../public/assets/new_assets/images/LA5/LA-5_4.jpg" alt=""></li>
                        <li class="img1"><img src="../../public/assets/new_assets/images/LA5/LA-5_5.jpg" alt=""></li>
                        <li class="img1"><img src="../../public/assets/new_assets/images/LA5/LA-5_7.jpg" alt=""></li>
                        <li class="img1"><img src="../../public/assets/new_assets/images/LA5/LA-5_6.jpg" alt=""></li>
                        <li class="img1"><img src="../../public/assets/new_assets/images/LA5/LA-5_8.jpg" alt=""></li>
                    </ul>
                   </div>
                 
                   <div class="row">
                    <p class="mrp">  <span class="mrp1">M.R.P.</span> <del><span><i class="fa fa-rupee"></i> {{product.price}}</span></del> <span class="number ml-2"><i class="fa fa-rupee"></i> {{product.sellingPrice}}</span></p> 
                   </div>
                   <div class="row">
                   </div>
                 <div class="row purchase">
                     {{!-- <div class="col-lg-3 col-12">
                        <div class="number1">
                            <span class="minus">-</span>
                            <input type="text" id="quantity" class="count" value="1"/>
                            <span class="plus">+</span>
                        </div>
                     </div> --}}
                   
                   
                     {{!-- <div class="col-lg-5 col-6">
                        <div class="cart-add">
                           <a type="button" onclick="addToCart();" class="btn btn-theme">Add To Cart</a>
                        </div>
                    </div>
                      <div class="col-lg-5 col-6">
                         <div class="buy-now">
                            <a type="button" onclick="checkout();" class="btn btn-theme1">Buy Now</a>
                         </div>
                     </div> --}}

                     <div class="col-lg-5 col-6">
                        <div class="cart-add">
                           <a type="button" class="btn btn-theme">Out of stock</a>
                        </div>
                    </div>
                  
                 </div>
              </div>
              <div class="col-lg-6 col-md-6">
                 <div class="detail-box">
                     <h1 id="productTitle">{{product.title}}</h1>
                 
                     <p class="sensor">  Meet the 4 in 1 smart Glass door security lock from LAVNA Locks, which you can access from your fingerprint, RFID Card, PIN and remote.</p>
                     <p class="sensor des">Description</p>
                     <p>Smart Solution for your Home, Office, Shop, Hotel or other Private premises. This is a High tech Fingerprint Digital Door Lock with strong features and simple to use. This fingerprint lock is suitable for Glass door only, required door thickness 10-12 MM only. Applicable on single glass door, double glass door & sliding glass door. This lock will eliminate so many problems of glass door locks like manual locking, cutting and drilling in the glass door, making multiple keys for all the office staff and so on. <br> <br>
    
                        The lock is universal and simple to install, It can be installed both the side Left and Right of the door. It is advised to get installed after watching our YouTube video or you can also contact us to know if installation services will be available at your location and cost for the same.<br><br>
                  
                        If you require any further information, feel free to contact us.  <br>
                         <a href="tel:18003134491"><i class="fa fa-phone" style="transform: rotate(15deg);font-size: 12px;"></i> 18003134491 </a>  <br>
                         <a href="https://api.whatsapp.com/send?phone=+919667771077"> <i class="bx bxl-whatsapp what1" style="font-size: 20px;"></i> <span class="number-digit"> 9667771077</span> </a> 
                    </p>
                 </div>
              </div>
           </div>
        </div>
     </section>
