 <div class="slideshow-container">
                    <div class="mySlides1">
                      <img src="/assets/img/LA28_gold/1.jpg" style="width:100%;height: 600px;">
                    </div>

                    <div class="mySlides1">
                      <img src="/assets/img/LA28_gold/2.jpg" style="width:100%;height: 500px;">
                    </div>

                    <div class="mySlides1">
                      <img src="/assets/img/LA28_gold/3.jpg" style="width:100%; height: 500px;">
                    </div>

                    <div class="mySlides1">
                      <img src="/assets/img/LA28_gold/4.jpg" style="width:100%; height: 500px;">
                    </div>

                    <div class="mySlides1">
                      <img src="/assets/img/LA28_gold/5.jpg" style="width:100%; height: 500px;">
                    </div>

                    <div class="mySlides1">
                      <img src="/assets/img/LA28_gold/6.jpg" style="width:100%; height: 500px;">
                    </div>

                    <div class="mySlides1">
                      <img src="/assets/img/LA28_gold/7.jpg" style="width:100%; height: 500px;">
                    </div>

                    <div class="mySlides1">
                      <img src="/assets/img/LA28_gold/7.jpg" style="width:100%; height: 500px;">
                    </div>
                    
                    <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
                  </div>