 <div class="slideshow-container">
                    <div class="mySlides1">
                      <img src="/assets/img/LA28WIFI/1.jpg" class="product-image">
                    </div>
                    <div class="mySlides1">
                      <img src="/assets/img/LA28WIFI/2.jpg" class="product-image">
                    </div>
                    <div class="mySlides1">
                      <img src="/assets/img/LA28WIFI/3.jpg" class="product-image">
                    </div>
                    <div class="mySlides1">
                      <img src="/assets/img/LA28WIFI/5.jpg" class="product-image">
                    </div>
                    <div class="mySlides1">
                      <img src="/assets/img/LA28WIFI/6.jpg" class="product-image">
                    </div>
                    <div class="mySlides1">
                      <img src="/assets/img/LA28WIFI/7.jpg" class="product-image">
                    </div>
                    <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
                  </div>