<div class="_product-images " id="prd_zoomer">

  <div class="vid_box">
    <iframe style="width: 100%; height:100%;" src="https://www.youtube.com/embed/rEB37N0YaXQ"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>

  <div class="picZoomer ">
    <img class="my_img" src="../../public/assets/new_assets/images/LA28/1.jpg" alt="" class="img-fluid">
  </div>

</div>
<div class="zoom-thumb" id="thumb-id">
  <ul class="piclist">
    <li class="img1 active1 vidOpener" data-type="1">
      <img src="../../public/assets/new_assets/images/LA28/1.jpg" alt="">
      <span class="playIcon"><i class="fa fa-play-circle"></i></span>

    </li>
    <li class="img1"><img src="../../public/assets/new_assets/images/LA28/1.jpg" alt=""></li>
    <li class="img1"><img src="../../public/assets/new_assets/images/LA28/2.jpg" alt=""></li>
    <li class="img1"><img src="../../public/assets/new_assets/images/LA28/3.jpg" alt=""></li>
    <li class="img1"><img src="../../public/assets/new_assets/images/LA28/4.jpg" alt=""></li>
    <li class="img1"><img src="../../public/assets/new_assets/images/LA28/5.jpg" alt=""></li>
    <li class="img1"><img src="../../public/assets/new_assets/images/LA28/6.jpg" alt=""></li>
    <li class="img1"><img src="../../public/assets/new_assets/images/LA28/7.jpg" alt=""></li>
    <li class="img1"><img src="../../public/assets/new_assets/images/free-installation.jpg" alt=""></li>
  </ul>
</div>