
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a style="font-size: 1.5rem;" href="/">HOME</a></li>
          <li><a style="font-size: 1.5rem;" href="/about">ABOUT US</a></li>
          <li><a style="font-size: 1.5rem;" href="/shop">SHOP</a></li>
          <li><a style="font-size: 1.5rem;" href="/faq">FAQ's</a></li>
          <li><a style="font-size: 1.5rem;" href="/blog">Blog</a></li>
          <li>
            <a  style="font-size: 1.5rem;" href="/user/signup"> Sign Up</a>
          </li>
          <li>
            <a  style="font-size: 1.5rem;" href="/user/signin"> Sign In</a>
          </li>

        </ul>
      </nav><!-- .nav-menu -->

  