{{>header}}

  <main id="main">

    <!-- ======= Top-Banner Section ======= -->
    <section id="top_ban">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-lg-12">
                    <div class="box">
                        <h1>REINVENT SECURITY AND ACCESS WITH US</h1>
                        <h4>Introducing a new perspective to home security with range of smart door locks.</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Top-Banner Section -->


    <!-- ======= About Section ======= -->
    <section id="about1" class="about">
        <div class="container" data-aos="fade-up">
          <div class="row d-flex align-items-center">
            <div class="col-lg-6">
              <div class="box" data-aos="fade-left" data-aos-delay="1000">
                <a href="/products/L-E50"><img class="shadow" src="assets/new_assets/img2/about-mn.png" alt="le50_product_image" data-aos="fade-right" data-aos-delay="1200"></a>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box1" data-aos="zoom-in">
                <h5>Welcome to LAVNA &nbsp;<img width="15%" src="assets/new_assets/img2/Line_about.svg" alt="line_icon"></h5>
                <h1>About Us</h1>
                <p>Welcome to Lavna Digital Locks, a destination that promises security solutions equipped with the latest technology. LAVNA Locks is a Unit of Bhagwn Shri Locks PVT. LTD. </p>
                <p>Our locks have set a benchmark in renovating your place with a stylish touch while keeping up the high-quality safety standards. We are on a journey of equipping PAN India with keyless digital locks that will have the maximum level of security to ensure peace of mind. Everything that is locked is meant to be safe and Lavna locks have a futuristic management team who are browsing and working to make that happen. We at Lavna locks believe that one is enough. No other outsider can enter your safe place without your permission. Our locks are meant for people who believe that “it’s your home and only you should have access to your heaven”. You care about your assets, we care about your place.</p>
              </div>
            </div>
          </div>
        </div>
    </section>
    <!-- End About Section -->


    <!-- ======= Mission Section ======= -->  
    <section id="mission">
        <div class="container">
            <div class="row pr-0">             
                <div class="col-lg-7">
                    <div class="box" data-aos="zoom-in">
                        <h5>WHY CHOOSE US &nbsp;<img width="15%" src="assets/new_assets/img2/Line_about.svg" alt="line_icon"></h5>
                        <h1>Our 3 Fold Mission</h1>
                        <p><span>1.</span> Our mission is to bring that smile and rush of emotions and excitement when you enter your own house.</p>
                        <p><span>2.</span> Our mission is to create a luxurious impression of you and
                            your house in front of anyone who enters through that beautiful door of yours.</p>
                        <p><span>3.</span> Our mission is to make your entry and exit in house as convenient and safe as possible.</p>
                        <a href="/shop" class="btn shadow">Our Products</a>
                    </div>
                </div>
                <div class="col-lg-5 p-0 pr-0 m-0 text-right">
                  <div class="box1 text-right">
                    <a href="/products/L-A28-Black(Bluetooth)"><img src="assets/new_assets/img2/1 802.png" alt="la28_product"></a>
                  </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Mission Section -->



    <!-- ======= Projects Section ======= -->  
    <section id="projects">
        <div class="container">
            <div class="row mb-2">
                <div class="col-lg-12 text-center">
                    <div class="box" data-aos="zoom-in">
                        <h5>OUR PROJECTS &nbsp;<img width="8%" src="assets/new_assets/img2/Line_about.svg" alt="line_icon"></h5>
                        <h1>What We Do To Make It Possible</h1>
                        <p>Adding a smart door lock to your home is the first and most important step in making your house look luxurious and expensive.</p>

                        <p>That is why LAVNA offers elegantly designed smart fingerprint locks with 6 different ways to unlock your door. You can choose to activate any of them according to your convenience and safety.</p>
                        
                        <p>These locks took years of time to perfect the design for your home and offices.</p>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-12 text-center">
                    <div class="box1">
                        <h4>EVERY LAVNA smart lock is designed for these top 3 things </h4>
                        <div class="row">
                          <div class="col-lg-4">
                            <div class="box mt-4" id="proj_box1">
                              <img src="assets/new_assets/img2/carbon_security.png" alt="security_icon">
                              <h4> 1. SECURITY</h4>
                            </div>
                          </div>
                          <div class="col-lg-4">
                            <div class="box mt-4">
                              <img src="assets/new_assets/img2/bi_patch-check.png" alt="convenience_icon">
                              <h4>2. CONVENIENCE</h4>
                            </div>
                          </div>
                          <div class="col-lg-4">
                            <div class="box mt-4" id="proj_box2">
                              <img src="assets/new_assets/img2/healthicons_medium-level-outline.png" alt="status_icon">
                              <h4>3. STATUS</h4>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Projects Section -->


    <!-- ======= below_proj Section ======= -->  
    <section id="below_proj">
      <div class="container">
        <div class="row text-center">
          <div class="col-lg-12" data-aos="zoom-in">
            <h1>We Are Creating A World Where <br>
              Innovation Starts From Your Door</h1>
            <p>LAVNA helps you transform your boring and shabby house into a house of...</p>
            <div class="row">
              <div class="col-lg-4">
                <h4 id="first_h4"><i class="fa fa-circle" aria-hidden="true"></i>&nbsp; Luxurious</h4>
              </div>
              <div class="col-lg-4">
                <h4 id="second_h4"><i class="fa fa-circle" aria-hidden="true"></i>&nbsp; Convenient</h4>
              </div>
              <div class="col-lg-4">
                <h4 id="third_h4"><i class="fa fa-circle" aria-hidden="true"></i>&nbsp; Excitement</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End below_proj Section -->


    <!-- ======= home_design Section ======= -->  
    <section id="home_design">
      <div class="container">
        <div class="row text-center">
          <div class="col-lg-12">
            <h1>Home Design Learning Platform</h1>
          </div>
        </div>
        <div class="row mt-4 d-flex align-items-center">
          <div class="col-lg-6">
            <p>LAVNA believes you don't have to take an interior design course or hire an expensive interior designer to make your home look attractive.</p>
            <p>LAVNA provides an easy to apply education content on everything you need, to make your home look attractive.</p>
            <p>We give you access to the knowledge of high end interior designers who share their smart tip to increase your standard of living without throwing away huge money.</p>
            <p>Here you can checkout some of our blogs and social media content.</p>
            <div class="row d-flex mt-4 mb-4 align-items-center">
              <div class="col-lg-4 col-6">
                <h4 id="check" data-aos="fade-right">Check It Out :-</h4>
              </div>
              <div class="col-lg-8 col-6" data-aos="fade-up">
                <a target="_blank" href="https://www.facebook.com/bhagwnshrilocksprivatelimited/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                <a target="_blank" href="https://www.instagram.com/lavnalocks/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="box">
              <a href="/products/L-A24-GOLD"><img src="assets/new_assets/img2/home-design.png" alt="la24gold_product" data-aos="zoom-in"></a>
            </div>
            <img id="uni_design" src="assets/new_assets/img2/home-design-ban.png" data-aos="fade-left" alt="side_banner">
          </div>
        </div>
      </div>
    </section>
    <!-- End home_design Section -->


    <!-- ======= tdc Section ======= -->
    <section id="tdc">
      <div class="container">
        <div class="row" data-aos="fade-down">
          <div class="col-lg-4 text-center">
            <div class="box">
              <img src="assets/new_assets/img2/CTD.png" alt="caring_icon">
              <h4>CARING</h4>
              <p>We care about both our customers and employees.
                LAVNA proves the best after sale services to its customers</p>
            </div>
          </div>
          <div class="col-lg-4 text-center">
            <div class="box1">
              <img src="assets/new_assets/img2/TDS.png" alt="trustworthy_icon">
              <h4>TRUSTWORTHY</h4>
              <p>Our brand is the voice and our product is the souvenir</p>
            </div>
          </div>
          <div class="col-lg-4 text-center">
            <div class="box2">
              <img src="assets/new_assets/img2/DCT.png" alt="design_icon">
              <h4>DESIGN</h4>  
              <p>We believe it is the right for everyone to have a smart and beautiful home</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End tdc Section -->


    <!-- ======= featured_on Section ======= -->
    <section id="featured_on">
      <div class="container">
        <div class="row text-center mb-4">
          <div class="col-lg-12">
            <h1>Featured On</h1>
          </div>
        </div>
        <div class="row mt-4 d-flex align-items-center">
          <div class="col-lg-3 text-center">
            <div class="box">
              <img src="assets/new_assets/img2/BI.png" alt="business_insider" data-aos="fade-right">
            </div>
          </div>
          <div class="col-lg-3 text-center">
            <div class="box">
              <img src="assets/new_assets/img2/digit.png" alt="digit" data-aos="fade-up">
            </div>
          </div>
          <div class="col-lg-3 text-center">
            <div class="box">
              <img src="assets/new_assets/img2/tti.png" alt="the_times_of_india" data-aos="fade-up">
            </div>
          </div>
          <div class="col-lg-3 text-center">
            <div class="box">
              <img src="assets/new_assets/img2/amazon.png" alt="amazon" data-aos="fade-left">
            </div>
          </div>
        </div>
      </div>
    </section>
     <!-- End featured_on Section -->


    <!-- ======= Householders Section ======= -->
    <section id="Householders" class="why-us">
    <div class="container" data-aos="fade-up">
    <div class="row text-center">
        <h5 data-aos="zoom-in">SATISFIED HOUSEHOLDERS OF <img src="assets/new_assets/img2/Line_about.svg" alt="line_icon"></h5>
        <h3 data-aos="zoom-out">Householders</h3>
        <p data-aos="fade-left">Our brand stands on the solid ground of trust which makes us everyone’s household product.</p>
    </div>
    <div class="row mt-4 mb-4 text-center d-flex align-items-center">
        <div class="col-lg-6 row1">
        <div class="box text-center">
            <img width="55%" src="assets/new_assets/img2/omaxe-realty.jpg.crdownload.jpeg" alt="omaxe_logo">
        </div>
        </div>
        <div class="col-lg-6">
        <div class="box">
            <img width="32%" src="assets/new_assets/img2/brigade-group-logo.jpg" alt="brigade_logo">
        </div>
        </div>
    </div>
    <div class="row mt-4 text-center d-flex align-items-center">
        <div class="col-lg-6 row2">
        <div class="box">
            <img width="30%" src="assets/new_assets/img2/supertech-logo-250x250.png" alt="supertech_logo">
        </div>
        </div>
        <div class="col-lg-6">
        <div class="box">
            <img width="55%" src="assets/new_assets/img2/logo-black.png" alt="phoenix_logo">
        </div>
        </div>
    </div>
    </div>
    </section><!-- End Householders Section -->



    <section id="weuse">
      <div class="container">
        <div class="row text-center mb-4">
          <div class="col-lg-12">
            <h1>Who Do We Serve </h1>
          </div>
        </div>
        <div class="row mt-4" data-aos="fade-up">
          <div class="col-lg-4 text-center">
            <div class="box">
              <img src="assets/new_assets/img2/we_use_1.png" alt="for residential use">
              <h4>RESIDENTIAL SOCIETIES AND HOUSES</h4>
            </div>
          </div>
          <div class="col-lg-4 text-center">
            <div class="box">
              <img src="assets/new_assets/img2/we_use_2.png" alt="for hospitals and clinic use">
              <h4>HOSPITALS AND CLINICS</h4>
            </div>
          </div>
          <div class="col-lg-4 text-center">
            <div class="box">
              <img src="assets/new_assets/img2/we_use_3.png" alt="for offices and showrooms use">
              <h4>OFFICES, SHOWROOMS AND INSTITUTES</h4>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="extra">
      <div class="container">
        <div class="row text-center mt-2 mb-2">
          <div class="col-lg-12 text-center">
            <h1>Take Your First Step In Converting Your<br> Normal Boring Home Into A <span>Smart Home</span></h1>
            <a href="/shop" class="btn shadow">Help Me Select Which Lock Is Best For Me</a>
          </div>
        </div>
      </div>
    </section>

  </main>

   <!-- ======= Footer ======= -->
   <footer id="footer">
    <div class="container">
    <div class="footer-top">
        <div class="row">
        <div class="col-lg-12">
        <a href="/" class="logo me-auto"><img width="20%" src="assets/new_assets/img2/Logo.jpg" alt="Lavna_logo"></a>
        </div>
        </div>    
    </div>
    <div class="footer-mid">
        <div class="row mt-4">
        <div class="col-lg-5">
            <div class="box">
            <h4>Subscribe to our newsletter</h4>
            <form id="contact-form2">
                <input type="email" name="email" id="emailsb" placeholder="Enter Your Email" required><button type="submit" id="submit-modal2">Subscribe Us</button>
            </form>
            
            </div>
        </div>
        <div class="col-lg-4">
            <h4 class="link">Links</h4>
            <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/shop">Products</a></li>
            <li><a href="/builder">Builder’s Project</a></li>
            <li><a href="/privacypolicy">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="col-lg-3">
          <h4 class="link">Contact Us</h4>
          <ul>
          <li><a href="tel:+91-18003134491"><i class="fa fa-phone"></i>  +91-18003134491</a></li>
          <li> <a href="mailto:sales@lavnalocks.com"><i class="fa fa-envelope"></i> sales@lavnalocks.com</a></li>
          </ul>
            <ul class="lastul">
            <li><a target="_blank" href="https://www.facebook.com/bhagwnshrilocksprivatelimited/"><img src="assets/new_assets/img2/facebook (2).svg" alt="facebook"></a></li>
            <li><a target="_blank" href="https://www.instagram.com/lavnalocks/"><img src="assets/new_assets/img2/instagram (1).svg" alt="instagram"></a></li>
            <li><a target="_blank" href="https://youtu.be/Yst8KW2Vm4M"><img src="assets/new_assets/img2/Vector (13).png" alt="youtube"></a></li>
            </ul>
        </div>
        </div>
    </div>
    </div>


    <div id="f_bottom" class="container-fluid">
    <div class="row text-center">
        <div class="col-lg-12 footer-bottom">
        <div class="copyright">
            &copy; 2022 LAVNA Locks is a Unit of Bhagwn Shri Locks PVT. LTD. All Rights Reserved.
        </div>
        </div>
    </div>
    </div>
  </footer>
  <!-- End Footer -->

  <div id="preloader"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Vendor JS Files -->
  <script src="assets/new_assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/new_assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/new_assets/js/main.js"></script>
  <script src="assets/new_assets/js/owl.min.js"></script>  
  <script src="assets/new_assets/js/custom.js"></script>  


  <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js">
  </script>


<script type="text/javascript">
   (function(){
      emailjs.init("user_mTjMBBP092bpZsnZTyLfp");
   })();
</script>
  
  <script>
      $(".progress-bar").animate({
      width: "90%"
    }, 2500);

    $("#progress-bar2").animate({
        width: "80%"
    }, 2500);

    $("#progress-bar3").animate({
        width: "70%"
    }, 2500);
  </script>

  <script>
     $(document).ready(function(){
            var submitIcon = $('.searchbox-icon');
            var inputBox = $('.searchbox-input');
            var searchBox = $('.searchbox');
            var isOpen = false;
            submitIcon.click(function(){
                if(isOpen == false){
                    searchBox.addClass('searchbox-open');
                    inputBox.focus();
                    isOpen = true;
                } else {
                    searchBox.removeClass('searchbox-open');
                    inputBox.focusout();
                    isOpen = false;
                }
            });  
             submitIcon.mouseup(function(){
                    return false;
                });
            searchBox.mouseup(function(){
                    return false;
                });
            $(document).mouseup(function(){
                    if(isOpen == true){
                        $('.searchbox-icon').css('display','block');
                        submitIcon.click();
                    }
                });
        });
            function buttonUp(){
                var inputVal = $('.searchbox-input').val();
                inputVal = $.trim(inputVal).length;
                if( inputVal !== 0){
                    $('.searchbox-icon').css('display','none');
                } else {
                    $('.searchbox-input').val('');
                    $('.searchbox-icon').css('display','block');
                }
            }
  </script>

<script>
  var swiper = new Swiper("#prd_thumb", {
    slidesPerView: 5.5,
    spaceBetween: 20,

    navigation: {
        nextEl: "#prd_thumb .swiper-button-next",
        prevEl: "#prd_thumb .swiper-button-prev",
      },
   
  });



$(document).ready(function(){

$('.chn_img').click(function(){

$('.chn_img').removeClass('active');
$(this).addClass('active');
var target = $(this).attr('data-target');
var src = $(this).attr('data-img');

$(target).attr('src',src);

});

});

</script>


<script>
	$(document).ready(function(){
		$("#contact-form2").submit(function(e) {
      $('#submit-modal2').html('Sending...');
    			e.preventDefault();
			var emailId = document.getElementById("emailsb").value;
			if(emailId ==='' || emailId == undefined )
			{
				return;
			}
			var Body ='Email: '+emailId;
      $('#emailsb').val('');

      sendMailToUser(emailId);
      sendMailToOwner(Body, emailId);
			});

		});


function sendMailToUser(emailId){

var data = {
   service_id: 'service_8zp4yhp',
   template_id: 'template_kvsj7kk',
   user_id: 'user_mTjMBBP092bpZsnZTyLfp',
   template_params: {
        'user_email':emailId,
        'reply_to':'contact@lavnalocks.com',
  		  'company':"Lavnalocks",

   }

};

$.ajax('https://api.emailjs.com/api/v1.0/email/send', {
   type: 'POST',
   data: JSON.stringify(data),
   contentType: 'application/json'
}).done(function(msg) {
  // alert(msg);
  $('#submit-modal2').html('Subscribe');
  swal("Thank You!", "Your have subscribe lavnalocks", "success");
$('#closemodal').trigger('click');
}).fail(function(error) {
   alert('Oops... user mail failed' + JSON.stringify(error));
});

}
    

  function sendMailToOwner(Body, emailId){
var data = {
   service_id: 'service_8zp4yhp',
   template_id: 'template_mxovugp',
   user_id: 'user_mTjMBBP092bpZsnZTyLfp',
   template_params: {
         'user_email': emailId ,
         'reply_to':'contact@lavnalocks.com', 
         'owner_email': 'sales@lavnalocks.com',
         'company': 'Lavnalocks',
   }

};

$.ajax('https://api.emailjs.com/api/v1.0/email/send', {
   type: 'POST',
   data: JSON.stringify(data),
   contentType: 'application/json'
}).done(function() {
  $('#submit-modal').html('Send');
  swal("Thank You!", "Your Query has been submitted!", "success");
$('#closemodal').trigger('click');
}).fail(function(error) {
   alert('Oops... ' + JSON.stringify(error));
});

}

</script>

<script>
    $(document).ready(function(){
        $("#togg").click(function(){
            $("#navbar").toggle();
        });
    });
</script>

<script src="assets/new_assets/js/title.js"></script>

</body>

</html>