{{>header title="Blog - Lavna Locks" }}

<style>
  #blow_new h3{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 36px;
    color: #003399;
}
#blow_new .content h2{
  font-size: 22px !important;
  margin-top: 24px;
  margin-bottom: 18px;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
  color: #003399;
}
#blow_new .content p{
      font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #707784;
    margin-top: 14px;
    text-align: justify;
}

.box .content{
  padding: 15px;
  margin-top: -16px;
}
.box .content a{
  font-family: 'Source Sans Pro',sans-serif;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    padding: 10px 35px;
    border-radius: 50px;
    transition: .5s;
    margin-top: 5px;
    margin-left: 10px;
    color: #fff;
    background-color: #039;
    z-index: 100;
    position: relative;
}
.box #hidden{
  display: none;
}
#blow_new .box img{
  width: 100%;
}
@media (max-width:767px){
  #blow_new .box{
    margin-top: 20px;
  }
}

#blow_new .box{
  height: 710px;
}
</style>

  <main id="main">

  <section id="blow_new">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-12">
          <h3>Blogs</h3>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-4">
          <div class="box">
            <a href="blog/Why-it-is-a-good-investment-to-have-a-keyless-fingerprint-door-lock"><img src="../../public/assets/new_assets/images/blog3.jpg" alt="" class="img-fluid shadow"></a>
              <div class="content shadow">
                <h2> Why it is a good investment to have a keyless fingerprint door lock</h2>
                 <p>The new technology that makes up a digital lock for the house is the new digital keyless door locks that can help to make a home or office more secure. This type of door lock is not just a feature that will help to keep people from being able to get into the home<br>
                  With the use of keyless door locks, a person will be able to use a wireless sensor that is able to sense when a person tries to open a door or window.</p>
                  <a href="blog/Why-it-is-a-good-investment-to-have-a-keyless-fingerprint-door-lock" class="btn shadow">Show More</a>
              </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="box">
             <a href="blog/Everything-you-need-to-know-about-digital-fingerprint-locks"><img src="../../public/assets/new_assets/images/blog2.jpg" alt="" class="img-fluid shadow"></a>
                <div class="content shadow">
                  <h2>Everything you need to know about digital fingerprint locks</h2>
                  <p>In the present times, securing yourself and your loved ones by whatever means necessary has become of crucial importance. With the increasing crime stats in every state of the country, you can never be too certain of what you may or may not have to face in the unforeseen future and its circumstances In such a case, it becomes of prime importance to find a lock system that is secure enough to provide you a relieved good night’s sleep without worrying about what it might mean to rest peacefully</p>
                      <a href="blog/Everything-you-need-to-know-about-digital-fingerprint-locks" class="btn shadow">Show More</a>
                </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="box">
            <a href="blog/Tips-to-help-you-buy-the-best-digital-gate-lock"><img src="../../public/assets/new_assets/images/blog4.jpg" alt="" class="img-fluid shadow"></a>
            <div class="content shadow">
              <h2>Tips to help you buy the best digital gate lock</h2>
                  <p>Digital gates came into existence to replace traditional key locks, and as such have proved to be very useful. However, you have to realize that there are a plethora of different digital gates in the marketplace, from which you must choose the right one for your workplace or home.<br>
                The first thing that you need to look for when comparing digital gates is their locking mechanisms. You may also want to check out the features of various models. The locking mechanisms that different companies,</p>
              <a href="blog/Tips-to-help-you-buy-the-best-digital-gate-lock" class="btn shadow">Show More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-4">
          <div class="box">
          <a href="blog/Smart-door-locks-for-Glassdoor"><img src="../../public/assets/new_assets/images/blog1.jpg" alt="" class="img-fluid shadow"></a> 
           <div class="content shadow">
             <h2>Smart door locks for Glassdoor</h2>
             <p>There is a myriad of benefits that come with smart locks. These include keyless entry, security cameras, and more. However, the most important benefit is that smart locks allow you full control over who can enter your home. As a homeowner, this means you no longer need to worry about whether or not your guests will remember their keys when they leave!  <br><br>
              <p id="hidden">you need to look for when comparing digital gates is their locking mechanisms. You may also want to check out the features of various models. The locking mechanisms that different companies offer can differ considerably, which means that one model may be better than another when it comes to locking. You also need to ensure that the locking mechanism is easy to use.</p>
              <a href="blog/Smart-door-locks-for-Glassdoor" class="btn shadow">Show More</a>
            </div>
      </div>
        </div>
      </div>
  </section>

  </main><!-- End #main -->


  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
    <div class="footer-top">
        <div class="row">
        <div class="col-lg-12">
        <a href="/" class="logo me-auto"><img width="20%" src="assets/new_assets/img2/Logo.webp" alt="Lavna_logo"></a>
        </div>
        </div>    
    </div>
    <div class="footer-mid">
        <div class="row mt-4">
        <div class="col-lg-5">
            <div class="box">
            <h4>Subscribe to our newsletter</h4>
            <form id="contact-form2">
                <input type="email" name="email" id="emailsb" placeholder="Enter Your Email" required><button type="submit" id="submit-modal2">Subscribe Us</button>
            </form>
            
            </div>
        </div>
        <div class="col-lg-4">
            <h4 class="link">Links</h4>
            <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/shop">Products</a></li>
            <li><a href="/builder">Builder’s Project</a></li>
            <li><a href="/privacypolicy">Privacy Policy</a></li>
               <li><a href="/faq">FAQ</a></li>
            <li><a href="/blog">Blog</a></li>
            </ul>
        </div>
        <div class="col-lg-3">
          <h4 class="link">Contact Us</h4>
          <ul>
          <li><a href="tel:+91-18003134491"><i class="fa fa-phone"></i>  +91-18003134491</a></li>
          <li> <a href="mailto:sales@lavnalocks.com"><i class="fa fa-envelope"></i> sales@lavnalocks.com</a></li>
          </ul>
            <ul class="lastul">
            <li><a target="_blank" href="https://www.facebook.com/bhagwnshrilocksprivatelimited/"><img src="assets/new_assets/img2/facebook (2).svg" alt="facebook"></a></li>
            <li><a target="_blank" href="https://www.instagram.com/lavnalocks/"><img src="assets/new_assets/img2/instagram (1).svg" alt="instagram"></a></li>
            <li><a target="_blank" href="https://youtu.be/Yst8KW2Vm4M"><img src="assets/new_assets/img2/Vector (13).webp" alt="youtube"></a></li>
          </ul>
        </div>
        </div>
    </div>
    </div>


    <div id="f_bottom" class="container-fluid">
    <div class="row text-center">
        <div class="col-lg-12 footer-bottom">
        <div class="copyright">
            &copy; 2022 LAVNA Locks is a Unit of Bhagwn Shri Locks PVT. LTD. All Rights Reserved.
        </div>
        </div>
    </div>
    </div>
  </footer>
  <!-- End Footer -->

  <div id="preloader"></div>
  <script src="assets/new_assets/js/jquery.min.js"></script>

  <!-- Vendor JS Files -->
  <script src="../../public/assets/new_assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/new_assets/vendor/aos/aos.js"></script>
  <script src="assets/new_assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/new_assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/new_assets/js/main.js"></script>
  <script src="assets/new_assets/js/owl.min.js"></script>  
  <script src="assets/new_assets/js/custom.js"></script>  

  <script type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js">
  </script>

  <script type="text/javascript">
    (function(){
        emailjs.init("user_mTjMBBP092bpZsnZTyLfp");
    })();
  </script>

  <script>
	$(document).ready(function(){
		$("#contact-form2").submit(function(e) {
      $('#submit-modal2').html('Sending...');
    			e.preventDefault();
			var emailId = document.getElementById("emailsb")?.value;
			if(emailId ==='' || emailId == undefined )
			{
				return;
			}
			var Body ='Email: '+emailId;
      $('#emailsb').val('');

      sendMailToUser(emailId);
      sendMailToOwner(Body, emailId);
			});

		});


function sendMailToUser(emailId){

var data = {
   service_id: 'service_8zp4yhp',
   template_id: 'template_kvsj7kk',
   user_id: 'user_mTjMBBP092bpZsnZTyLfp',
   template_params: {
        'user_email':emailId,
        'reply_to':'contact@lavnalocks.com',
  		  'company':"Lavnalocks",

   }

};

$.ajax('https://api.emailjs.com/api/v1.0/email/send', {
   type: 'POST',
   data: JSON.stringify(data),
   contentType: 'application/json'
}).done(function(msg) {
  // alert(msg);
  $('#submit-modal2').html('Subscribe');
  swal("Thank You!", "Your have subscribe lavnalocks", "success");
$('#closemodal').trigger('click');
}).fail(function(error) {
   alert('Oops... user mail failed' + JSON.stringify(error));
});

}
    

  function sendMailToOwner(Body, emailId){
var data = {
   service_id: 'service_8zp4yhp',
   template_id: 'template_mxovugp',
   user_id: 'user_mTjMBBP092bpZsnZTyLfp',
   template_params: {
         'user_email': emailId ,
         'reply_to':'contact@lavnalocks.com', 
         'owner_email': 'sales@lavnalocks.com',
         'company': 'Lavnalocks',
   }

};

$.ajax('https://api.emailjs.com/api/v1.0/email/send', {
   type: 'POST',
   data: JSON.stringify(data),
   contentType: 'application/json'
}).done(function() {
  $('#submit-modal').html('Send');
  swal("Thank You!", "Your Query has been submitted!", "success");
$('#closemodal').trigger('click');
}).fail(function(error) {
   alert('Oops... ' + JSON.stringify(error));
});

}

</script>

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
    $(document).ready(function(){
        $("#togg").click(function(){
            $("#navbar").toggle();
        });
    });
</script>


</body>

</html>