{{>header}}

<style>
  
.links{
  text-align: center;
}
.links ul li{
  list-style: none;
  line-height: 33px;
}
.links ul li a{
  text-decoration: none;
  color: #FFF;
  font-weight: 500;
  font-size: 16px;
}
.links h4{
  font-size: 23px;
  margin-left: 40px;
}
.links span{
  font-size: 17px;
  font-weight: 600;
}
</style>

  <main id="main">

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container">

        <div class="row">

          <div class="col-lg-8 entries">

            <article class="entry" data-aos="fade-up">

              <div class="entry-img">
                <img src="assets/img/blog1.jpg" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                WHY IT IS A GOOD INVESTMENT TO HAVE A KEYLESS FINGERPRINT DOOR LOCK
              </h2>


              <div class="entry-content">
                <p style="font-size: 18px;">
                  The new technology that makes up a digital lock for the house is the new digital keyless door locks that can help to make a home or office more secure. This type of door lock is not just a feature that will help to keep people from being able to get into the home<br><br>
                  With the use of keyless door locks, a person will be able to use a wireless sensor that is able to sense when a person tries to open a door or window. This is an important feature for any home or office as it can help to ensure that a door or window will not be opened without someone being able to open it. If someone were able to open a door or window without getting a signal from the sensor, they would have the ability to enter the home or office and could potentially cause damage to the property.
                </p>
              </div>

            </article><!-- End blog entry -->

            <article class="entry" data-aos="fade-up">

              <div class="entry-img">
                <img style="height: 200%;" src="assets/img/blog3.jpg" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                EVERYTHING YOU NEED TO KNOW ABOUT DIGITAL FINGERPRINT LOCKS
              </h2>


              <div class="entry-content">
                <p style="font-size: 18px;">
                  In the present times, securing yourself and your loved ones by whatever means necessary has become of crucial importance. With the increasing crime stats in every state of the country, you can never be too certain of what you may or may not have to face in the unforeseen future and its circumstances In such a case, it becomes of prime importance to find a lock system that is secure enough to provide you a relieved good night’s sleep without worrying about what it might mean to rest peacefully
                  With the use of keyless door locks, a person will be able to use a wireless sensor that is able to sense when a person tries to open a door or window. This is an important feature for any home or office as it can help to ensure that a door or window will not be opened without someone being able to open it. If someone were able to open a door or window without getting a signal from the sensor, they would have the ability to enter the home or office and could potentially cause damage to the property.
                </p>
              </div>

            </article><!-- End blog entry -->
            <article class="entry" data-aos="fade-up">

              <div class="entry-img">
                <img style="height: 200%;" src="assets/img/blog2.jpeg" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                TIPS TO HELP YOU BUY THE BEST DIGITAL GATE LOCK
              </h2>


              <div class="entry-content">
                <p style="font-size: 18px;">
                  Digital gates came into existence to replace traditional key locks, and as such have proved to be very useful. However, you have to realize that there are a plethora of different digital gates in the marketplace, from which you must choose the right one for your workplace or home.<br><br>
                  The first thing that you need to look for when comparing digital gates is their locking mechanisms. You may also want to check out the features of various models. The locking mechanisms that different companies offer can differ considerably, which means that one model may be better than another when it comes to locking. You also need to ensure that the locking mechanism is easy to use.
                </p>
              </div>

            </article><!-- End blog entry -->



          </div><!-- End blog entries list -->


          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer style="width: 100% !important;">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 text-left align-left">
            <div class="footer-content img-responsive">
             <a href="/" class="logo"><img style="width: 100%; height: 40%;" src="/assets/img/Logo.jpg" alt=""></a>

              <p>Your Finger Your Key. A Complete Fingerprint Door Lock collection. </p>
              <ul class="socials">
                  <li><a href="https://www.facebook.com/bhagwnshrilocksprivatelimited/"><i style="font-size: 1.8rem;" class="fa fa-facebook"></i></a></li>
                  <li><a href="https://www.instagram.com/lavnalocks/"><i style="font-size: 1.8rem;" class="fa fa-instagram"></i></a></li>
                  <li><a href="https://www.youtube.com/channel/UCBCwfurSO-DsJaNKlaomHWg/videos"><i style="font-size: 1.8rem;" class="fa fa-youtube" aria-hidden="true"></i></a></li>
                  <li><a href="https://api.whatsapp.com/send?phone=+91-9971427608"><i style="font-size: 1.8rem;" class="fa fa-whatsapp"></i></a></li>
              </ul>
              <p style="color:white;" >Customer Support: <a style="color:white;" href="tel:1800-313-4491">1800-313-4491</a></p>
            </div>
        </div>
        <div class="col-lg-4 links">
           <h4>Useful links</h4>
            <ul>
                <li><a href="/">Home</a></li>
              <li><a href="/about">About Us</a></li>
              <li><a href="/shop">Shop</a></li>
              <li><a href="/faq">Faq's</a></li> 
              <li><a href="/blog">Blogs</a></li> 
              <li><a href="/privacypolicy">Privacy Policy</a></li> 
            </ul>
        </div>
           <div class="col-lg-4 links">
           <h4>Contact Us</h4>
            <ul>
              <li><span>Main Head Office:</span> <a href="">Rohini, Sector - 3 Delhi - 110085</a></li><br>
              <li><span>Mobile:</span> <a href="tel:9667771077">+91-9667771077</a></li>
              <li><span>Email:</span> <a href="mailto:contact@lavnalocks.com">Contact@lavnalocks.com</a></li>
            </ul>
        </div>
      </div>
    </div>
    
    <div class="footer-bottom img-responsive" style="background: rgb(243, 235, 235) !important; height:5.5rem !important;">
        <p style="color: black !important; text-align: center; align-items: center; font-size:15px; font-weight:600">&copy;2022 LAVNA Locks is a Unit of Bhagwn Shri Locks PVT. LTD. All Rights Reserved.</p>
    </div>
</footer>

  <!-- End Footer -->

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/jquery-sticky/jquery.sticky.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

  <script src="../../public/assets/new_assets/js/title.js"></script>

</body>

</html>