{{>header}}


    <main id="main">


        <section id="top_ban_build">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="box" data-aos="zoom-in">
                            <h1>LAVNA PRESENTS THE OWNERS OF
                                THE TOP REAL ESTATE<br> COMPANIES THE 
                                PERFECT OPPORTUNITY </h1>
                            <h4>To expand their business in India
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section id="prob">
            <div class="container">
                <div class="row mb-4">
                    <div class="col-lg-12 text-center" >
                        <h1 data-aos="zooom-in">The 3 Big Problems In The Real Estate Market</h1>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-lg-4 text-center">
                        <div class="box shadow text-center mt-4" data-aos="fade-right">
                            <img src="" alt="">
                            <h4>Lack of Brand Awareness</h4>
                            <p>You can even build a Taj Mahal
                                2.0 but no body will buy from
                                you if they don't even know
                                you exist.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 text-center">
                        <div class="box shadow text-center mt-4" data-aos="fade-up">
                            <img src="" alt="">
                            <h4>Highly Competitive Market</h4>
                            <p>There are more than 82,000+
                                real estate Companies in India.
                                If that does not scare you I don't
                                know what will.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 text-center">
                        <div class="box shadow text-center mt-4" data-aos="fade-left">
                            <img src="" alt="">
                            <h4>Less Profit Margin</h4>
                            <p>Due to high competition and
                                similar offers agents compete
                                on price rather than value. Due
                                to which profit is cut and so is
                                the income.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section id="first_sec">
            <div class="container">
                <div class="row mb-4">
                    <div class="col-lg-12">
                        <h4 data-aos="fade-up">1. Smart locks are the best way to create your brand awareness</h4>
                    </div>
                </div>
                <div class="row mt-4 mb-4 d-flex align-items-center">
                    <div class="col-lg-7" data-aos="fade-right">
                        <p>All you need to improve the real estate brand is a TREND,USP and
                            right Marketing.</p>
                        <p>Smart home and home automation are the top trendsin real estate
                            market but no one seems to invest in any of those because smart
                            homes looks expensive.</p>
                        <p>There is no need for you to invest a huge load of money on expensive
                            smart home technology to make a point of difference in your brand.
                            All you need is small tech that makes a big difference, Here are some of the research.</p>
                    </div>
                    <div class="col-lg-5 text-center">
                        <div class="box">
                            <a href="/products/L-A28-Black(Bluetooth)"><img class="shadow" src="assets/new_assets/img2/smart_lock.png" alt="" data-aos="fade-left"></a>
                        </div>
                    </div>
                </div>


                <div class="row mb-4">
                    <div class="col-lg-12">
                        <h4 data-aos="fade-down" id="right-text">2. Smart locks creates unique selling proposition for your company</h4>
                    </div>
                </div>
                <div class="row mt-4 mb-4 d-flex align-items-center">
                    <div class="col-lg-5 text-center">
                        <div class="box1">
                            <img class="shadow" src="assets/new_assets/img2/smart_lock2.png" alt="" data-aos="fade-right">
                        </div>
                    </div>
                    <div class="col-lg-7" data-aos="fade-left">
                        <p>There are not many people looking to invest smart locks in their
                            housing projects.</p>
                        <p>This can give you a first mover advantage and a can create a point of
                            difference for your real estate company.</p>
                        <p>Their are 2 offers on the table.</p>
                        <p>1- Normal House with normal infrastructure and normal interior.</p>
                        <p>2-Smart house with a smart door lock installed for creating best first
                            impression.</p>
                        <p>What do you think will put more impact on your prospect the first
                            one or the second ?</p>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-lg-12">
                        <h4 data-aos="zoom-in">3. Smart lock scan help you increase the price of houses by 5%</h4>
                    </div>
                </div>
                <div class="row mt-4 d-flex align-items-center">
                    <div class="col-lg-7" data-aos="fade-right">
                        <p>Adding even a few smart home products is the single easiest way
                            to boost your home’s value, according to the National Association
                            of Realtors(NAR) and their 2018 Home Buyer And Generational
                            Trend Report.</p>
                        <p>If you can increase the value of the product you can charge more
                            for the houses.</p>
                        <p>Research also suggest that installing smart lock scan increase the
                            ask price for your home by 5%.</p>
                        <p>LAVNA will help you gain the first impression when any customers.</p>
                    </div>
                    <div class="col-lg-5 text-center">
                        <div class="box">
                            <a href="/products/L-A24-Black(Bluetooth)"><img class="shadow" src="assets/new_assets/img2/smart_lock3.png" alt="" data-aos="fade-left"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section id="mid_sec">
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-12">
                        <h1>LAVNA  REAL ESTATE PROJECT</h1>
                        <h4>will offer you the most</h4>
                        <div class="row mt-4 mb-4" data-aos="zoom-in">
                            <div class="col-lg-4">
                                <img src="assets/new_assets/img2/builder_icon.png">
                                <h5>SMARTEST</h5>
                            </div>
                            <div class="col-lg-4">
                                <img src="assets/new_assets/img2/builder_icon2.png">
                                <h5>CONVENIENT</h5>
                            </div>
                            <div class="col-lg-4">
                                <img src="assets/new_assets/img2/builder_icon3.png">
                                <h5>EASIEST</h5>
                            </div>
                        </div>
                        <h4 id="last" data-aos="fade-up">solution to help you make your best impression to the world</h4>
                    </div>
                </div>
            </div>
        </section>


        <section id="second_sec">
            <div class="container">
                <div class="row mb-4">
                    <div class="col-lg-12 text-center">
                        <h1 data-aos="fade-up">Why Installing LAVNA Smart Locks Is The
                            Best Thing<br> You Can Give Your Customer
                            This Year</h1>
                        <h4 data-aos="zoom-in">Smart locks are one of the most trending 2022 products and people are looking
                            to make their home much smarter</h4>
                    </div>
                </div>
                <div class="row mt-4" data-aos="fade-up">
                    <div class="col-lg-4 mt-4 text-center">
                        <div class="card text-center">
                            <img src="assets/new_assets/img2/bi_check-circle-fill.png">
                            <h5>CONVENIENCE</h5>
                            <p>LAVNA offers elegantly
                                designed smart fingerprint
                                locks with 6 different ways
                                to unlock your door. You
                                can choose to activate any
                                of them according to your
                                convenience and safety.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-4">
                        <div class="card text-center">
                            <img src="assets/new_assets/img2/mdi_list-status.png">
                            <h5>STATUS</h5>
                            <p>Believe me or not but
                                installing anything related
                                to smart technology help
                                make house look more
                                expensive. We are happy to
                                give your clients this
                                luxurious feeling when they enter through the door of
                                the house made by you.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-4">
                        <div class="card text-center">
                            <img src="assets/new_assets/img2/ic_round-security.png">
                            <h5>SECURITY</h5>
                            <p>Every research suggest
                                that smart door locks are
                                more safe and secure from
                                theft and robbery than any
                                other mechanical lock.
                                And security features are
                                the first thing considered
                                while buying any house.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        
        <section id="contactus1">
            <div class="container">
                <div class="row text-center mb-4">
                    <div class="col-lg-12">
                        <h5>Nothing is more expensive than missed
                            opportunity &nbsp;<img width="8%" src="assets/new_assets/img2/Line_about.svg"></h5>
                        <h1>Fill The Form Now To Apply In Our LAVNA
                            Real Estate Project
                        </h1>
                    </div>
                </div>
                <div class="row mt-4 d-flex align-items-center">
                    <div class="col-lg-12">
                        <div class="box" data-aos="fade-right">
                            <form id="builder_form">
                                <div class="form-group">
                                    <label for="name">Name*</label>
                                    <input class="form-control" type="text" name="name" id="name" placeholder="Your Name*" pattern="[A-Za-z. ]+" data-error="Name is required." min-length="3" required>
                                </div>
                                <div class="form-group">
                                    <label class="mt-4" for="email">Email*</label>
                                    <input class="form-control" type="email" name="email" id="email" placeholder="Your Email*"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" data-error="Valid email is required." required>
                                </div>
                                <div class="form-group">
                                    <label class="mt-4" for="mobile">Mobile*</label>
                                    <input class="form-control" type="text" name="mobile" id="mobile" placeholder="Your Mobile No*"  pattern="[1-9]+[0-9]{9}" data-error="Contact no is required." required>
                                </div>
                                <div class="form-group">
                                    <label class="mt-4" for="select">How many locks do you need ?</label>
                                    <select class="form-select" name="locks" id="locks" aria-label="Default select example" required>
                                        <option value="" selected>0 - 10</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="10+">More than 10</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="mt-4" for="mobile">City*</label>
                                    <input class="form-control" type="text" name="city" id="city" placeholder="Enter Your City*" required>
                                </div>
                                <div class="form-group">
                                    <label class="mt-4" for="message">Message</label>
                                    <textarea class="form-control" id="message" name="message" rows="2" placeholder="Message" required></textarea>
                                </div>
                                <div class="form-group">
                                    <button id="builder_submit" class="btn shadow mt-4" type="submit">Apply Now</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>  
            </div>
        </section>

        {{!-- <div class="nb-form">
            <p class="title sdkjk">Enquire Now</p>
            <img id="rms87" src="assets/new_assets/img2/times5.png" class="hide" alt="" >
       
            <form id="contact-form">
              <input type="text" name="cpname" id="name" placeholder="Name" pattern="[A-Za-z. ]+" data-error="Name is required." min-length="3" required>
              <input type="email" name="cpemail" id="email" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" data-error="Valid email is required." required>
              <input type="text" name="cpphone" id="mobile" placeholder="Phone" pattern="[1-9]+[0-9]{9}" data-error="Contact no is required." required>
              <select name="product" id="product" required>
                 <option value="" selected>Select Product</option>
                <option>L-A24(Bluetooth)</option>
                <option>L-A28(Bluetooth)</option>
                <option>L-A15</option>
                <option>L-E50</option>
                <option>L-A5</option>
                <option>L-S9</option>
                <option>L-H300(With Encoder)</option>
              </select>
              <textarea name="cpmessage" id="message" placeholder="Message" required></textarea>
              <input id="submit-modal" type="submit" value="Send message">
            </form>
        </div> --}}


    </main>


    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
        <div class="footer-top">
            <div class="row">
            <div class="col-lg-12">
            <a href="index.html" class="logo me-auto"><img width="20%" src="assets/new_assets/img2/Logo.jpg" alt=""></a>
            </div>
            </div>    
        </div>
        <div class="footer-mid">
            <div class="row mt-4">
            <div class="col-lg-5">
                <div class="box">
                <h4>Subscribe to our newsletter</h4>
                <form id="contact-form2">
                    <input type="email" name="email" id="emailsb" placeholder="Enter Your Email" required><button type="submit" id="submit-modal2">Subscribe Us</button>
                </form>
                
                </div>
            </div>
            <div class="col-lg-4">
                <h4 class="link">Links</h4>
                <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/shop">Products</a></li>
                <li><a href="/builder">Builder’s Project</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
              <h4 class="link">Contact Us</h4>
              <ul>
              <li><a href="tel:+91-18003134491"><i class="fa fa-phone"></i>  +91-18003134491</a></li>
              <li> <a href="mailto:sales@lavnalocks.com"><i class="fa fa-envelope"></i> sales@lavnalocks.com</a></li>
              </ul>
                <ul class="lastul">
                <li><a target="_blank" href="https://www.facebook.com/bhagwnshrilocksprivatelimited/"><img src="assets/new_assets/img2/facebook (2).svg"></a></li>
                <li><a target="_blank" href="https://www.instagram.com/lavnalocks/"><img src="assets/new_assets/img2/instagram (1).svg"></a></li>
                <li><a target="_blank" href="https://youtu.be/Yst8KW2Vm4M"><img src="assets/new_assets/img2/Vector (13).png"></a></li>
                </ul>
            </div>
            </div>
        </div>
        </div>
  
  
        <div id="f_bottom" class="container-fluid">
        <div class="row text-center">
            <div class="col-lg-12 footer-bottom">
            <div class="copyright">
                &copy; 2022 LAVNA Locks is a Unit of Bhagwn Shri Locks PVT. LTD. All Rights Reserved.
            </div>
            </div>
        </div>
        </div>
    </footer>
    <!-- End Footer -->
    
    <div id="preloader"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Vendor JS Files -->
  <script src="assets/new_assets/vendor/aos/aos.js"></script>
  <script src="assets/new_assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/new_assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/new_assets/js/main.js"></script>
  <script src="assets/new_assets/js/owl.min.js"></script>  
  <script src="assets/new_assets/js/custom.js"></script>  


  <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js">
  </script>


<script type="text/javascript">
   (function(){
      emailjs.init("user_mTjMBBP092bpZsnZTyLfp");
   })();
</script>
  

<script>
    $(".progress-bar").animate({
    width: "92%"
}, 2500);

$("#progress-bar2").animate({
    width: "84%"
}, 2500);

$("#progress-bar3").animate({
    width: "88%"
}, 2500);
</script>


<script>
  var swiper = new Swiper("#prd_thumb", {
    slidesPerView: 5.5,
    spaceBetween: 20,

    navigation: {
        nextEl: "#prd_thumb .swiper-button-next",
        prevEl: "#prd_thumb .swiper-button-prev",
      },
   
  });



$(document).ready(function(){

$('.chn_img').click(function(){

$('.chn_img').removeClass('active');
$(this).addClass('active');
var target = $(this).attr('data-target');
var src = $(this).attr('data-img');

$(target).attr('src',src);

});

});

</script>


<script>
	$(document).ready(function(){
		$("#contact-form2").submit(function(e) {
      $('#submit-modal2').html('Sending...');
    			e.preventDefault();
			var emailId = document.getElementById("emailsb").value;
			if(emailId ==='' || emailId == undefined )
			{
				return;
			}
			var Body ='Email: '+emailId;
      $('#emailsb').val('');

      sendMailToUser(emailId);
      sendMailToOwner(Body, emailId);
			});

		});


function sendMailToUser(emailId){

var data = {
   service_id: 'service_8zp4yhp',
   template_id: 'template_kvsj7kk',
   user_id: 'user_mTjMBBP092bpZsnZTyLfp',
   template_params: {
        'user_email':emailId,
        'reply_to':'contact@lavnalocks.com',
  		  'company':"Lavnalocks",

   }

};

$.ajax('https://api.emailjs.com/api/v1.0/email/send', {
   type: 'POST',
   data: JSON.stringify(data),
   contentType: 'application/json'
}).done(function(msg) {
  // alert(msg);
  $('#submit-modal').html('Send');
  swal("Thank You!", "Your have subscribe lavnalocks", "success");
$('#closemodal').trigger('click');
}).fail(function(error) {
   alert('Oops... user mail failed' + JSON.stringify(error));
});

}
    

  function sendMailToOwner(Body, emailId){
var data = {
   service_id: 'service_8zp4yhp',
   template_id: 'template_mxovugp',
   user_id: 'user_mTjMBBP092bpZsnZTyLfp',
   template_params: {
         'user_email': emailId ,
         'reply_to':'contact@lavnalocks.com', 
         'owner_email': 'sales@lavnalocks.com',
         'company': 'Lavnalocks',
   }

};

$.ajax('https://api.emailjs.com/api/v1.0/email/send', {
   type: 'POST',
   data: JSON.stringify(data),
   contentType: 'application/json'
}).done(function() {
  $('#submit-modal').html('Send');
  swal("Thank You!", "Your Query has been submitted!", "success");
$('#closemodal').trigger('click');
}).fail(function(error) {
   alert('Oops... ' + JSON.stringify(error));
});

}

</script>


<script>
	$(document).ready(function(){
        debugger;
		$("#builder_form").submit(function(e) {
        $('#builder_submit').html('Sending...');
    		e.preventDefault();
            var name = document.getElementById("name").value;
			var email = document.getElementById("email").value;
            var mobile = document.getElementById("mobile").value;
            var locks = document.getElementById("locks").value;
            var city = document.getElementById("city").value;
            var message = document.getElementById("message").value;


			if(name ==='' || name == undefined )
			{
				return;
			}
            if(email ==='' || email == undefined )
			{
				return;
			}
            if(mobile ==='' || mobile == undefined )
			{
				return;
			}
            if(locks ==='' || locks == undefined )
			{
				return;
			}
            if(city ==='' || city == undefined )
			{
				return;
			}
            if(message ==='' || message == undefined )
			{
				return;
			}

			var Body ='Name: '+name+'<br>Email: '+email+'<br>Mobile: '+mobile+'<br>locks: '+locks+'<br>city: '+city+'<br>Message: '+message;
          

            sendMailToOwner(Body, name, email, mobile, locks, city, message );
              $('#name').val('');
            $('#email').val('');
            $('#mobile').val('');
            $('#locks').val('');
            $('#city').val('');
            $('#message').val('');
			});

		});


  function sendMailToOwner(Body, name, email, mobile, locks, city, message ){
      debugger
    var data = {
    service_id: 'service_8zp4yhp',
    template_id: 'template_xcrbexa',
    user_id: 'user_mTjMBBP092bpZsnZTyLfp',
        template_params: {
            'reply_to':'contact@lavnalocks.com', 
            'owner_email': 'sales@lavnalocks.com',
            'name': name,
            'email': email,
            'mobile': mobile,
            'locks': locks,
            'city': city,
            'message': message,
            'company': 'Lavnalocks',
        }

    };

$.ajax('https://api.emailjs.com/api/v1.0/email/send', {
   type: 'POST',
   data: JSON.stringify(data),
   contentType: 'application/json'
}).done(function() {
  $('#submit-modal').html('Send');
  swal("Thank You!", "Your Query has been submitted!", "success");
$('#closemodal').trigger('click');
}).fail(function(error) {
   alert('Oops... ' + JSON.stringify(error));
});

}

</script>


<script>
    $('.swiper-button-next').click(
      function(e){
            $(this).parents('.swiper-container').find('.xnext').trigger('click');
 });    

 $('.swiper-button-prev').click(function(e){$(this).parents('.swiper-container').find('.xprev').trigger('click');});
</script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</body>
</html>