  {{!-- <style>
    body { margin-top:20px; }
  .panel-title {display: inline;font-weight: bold;}
  .checkbox.pull-right { margin: 0; }
  .pl-ziro { padding-left: 0px; }
  </style> --}}


{{>header}}<br><br><br><br>

<style>
  
.links{
  text-align: center;
}
.links ul li{
  list-style: none;
  line-height: 33px;
}
.links ul li a{
  text-decoration: none;
  color: #FFF;
  font-weight: 500;
  font-size: 16px;
}
.links h4{
  font-size: 23px;
  margin-left: 40px;
}
.links span{
  font-size: 17px;
  font-weight: 600;
}
</style>

<div class="container mt-4 mb-5">
  <!-- Flash messages -->
  <div class="row mt-3 mb-3">
    <div class="col-md-8 m-auto">
      {{#if errorMsg }}
      <div id="error" class="alert alert-danger">
        {{errorMsg}}
      </div>
      {{else}}
      <div id="error" class="alert alert-danger d-none"></div>
      {{/if}}
    </div>
  </div>
  <div class="col-md-8 m-auto">
    <!-- Checkout form -->
    
    <form action="/checkout" method="POST" id="checkout-form">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="card-name">Card Holder Name</label>
            <input type="text" id="card-name" class="form-control" required />
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="address">Address</label>
            <input
              type="text"
              id="address"
              class="form-control"
              required
              name="address"
            />
          </div>
        </div>
        <div class="col-md-12">
          <label for="card-element">Card Information</label>
          <!-- A Stripe Element will be inserted here. -->
          <div id="card-element" class="StripeElement"></div>
          <!-- Used to display form errors. -->
          <div id="card-errors" role="alert" class="text-danger mb-3"></div>
        </div>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      </div>
      <button id="submit-btn" type="submit" class="btn btn-primary" style="margin-top: 15px;">
        Buy now
      </button>
    </form>
  </div>
</div>



<script type="text/javascript" src="https://js.stripe.com/v3/"></script>
<script type="text/javascript" src="/javascripts/checkout.js"></script>

{{!-- <div class="container" style="margin-top: 2%;" >
    <div class="row">
        <div class="col-xs-12 col-md-4" style="
    margin-left: 30%;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Payment Details
                    </h3>
                    <div class="checkbox pull-right">
                        <label>
                            <input type="checkbox" />
                            Remember
                        </label>
                    </div>
                </div>
                <div class="panel-body">
                    <form role="form">
                    <div class="form-group">
                        <label for="cardNumber">
                            CARD NUMBER</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="cardNumber" placeholder="Valid Card Number"
                                required autofocus />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-7 col-md-7">
                            <div class="form-group">
                                <label for="expityMonth">
                                    EXPIRY DATE</label>
                                <div class="col-xs-6 col-lg-6 pl-ziro">
                                    <input type="text" class="form-control" id="expityMonth" placeholder="MM" required />
                                </div>
                                <div class="col-xs-6 col-lg-6 pl-ziro">
                                    <input type="text" class="form-control" id="expityYear" placeholder="YY" required /></div>
                            </div>
                        </div>
                        <div class="col-xs-5 col-md-5 pull-right">
                            <div class="form-group">
                                <label for="cvCode">
                                    CV CODE</label>
                                <input type="password" class="form-control" id="cvCode" placeholder="CV" required />
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
            <ul class="nav nav-pills nav-stacked">
                <li class="active" style="width: 100%;"><a href="#"><span class="badge pull-right"><span class="glyphicon glyphicon-usd"></span>4200</span> Final Payment</a>
                </li>
            </ul>
            <br/>
            <a href="http://www.jquery2dotnet.com" class="btn btn-success btn-lg btn-block" role="button">Pay</a>
        </div>
    </div>
</div> --}}


<br><br><br><br>

  
  
        <!-- ****** Quick View Modal Area End ****** -->
  <footer style="width: 100% !important;">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 text-left align-left">
            <div class="footer-content img-responsive">
             <a href="/" class="logo"><img style="width: 100%; height: 40%;" src="/assets/img/Logo.jpg"></a>

              <p>Your Finger Your Key. A Complete Fingerprint Door Lock collection. </p>
              <ul class="socials">
                  <li><a href="https://www.facebook.com/lavnadigitallocks"><i style="font-size: 1.8rem;" class="fa fa-facebook"></i></a></li>
                  <li><a href="https://www.instagram.com/lavnalocks/"><i style="font-size: 1.8rem;" class="fa fa-instagram"></i></a></li>
                  <li><a href="https://www.youtube.com/channel/UCBCwfurSO-DsJaNKlaomHWg/videos"><i style="font-size: 1.8rem;" class="fa fa-youtube" aria-hidden="true"></i></a></li>
                  <li><a href="https://api.whatsapp.com/send?phone=+91-9971427608"><i style="font-size: 1.8rem;" class="fa fa-whatsapp"></i></a></li>
              </ul>
              <p style="color:white;" >Customer Support: <a style="color:white;" href="tel:1800-313-4491">1800-313-4491</a></p>
            </div>
        </div>
        <div class="col-lg-4 links">
           <h4>Useful links</h4>
            <ul>
             <li><a href="index.html">Home</a></li>
              <li><a href="/about">About Us</a></li>
              <li><a href="/shop">Shop</a></li>
              <li><a href="/faq">Faq's</a></li> 
              <li><a href="/blog">Blogs</a></li> 
              <li><a href="/privacypolicy">Privacy Policy</a></li> 
            </ul>
        </div>
           <div class="col-lg-4 links">
           <h4>Contact Us</h4>
            <ul>
              <li><span>Main Head Office:</span> <a href="">Rohini, Sector - 3 Delhi - 110085</a></li><br>
              <li><span>Mobile:</span> <a href="tel:9667771077">+91-9667771077</a></li>
              <li><span>Email:</span> <a href="mailto:contact@lavnalocks.com">Contact@lavnalocks.com</a></li>
            </ul>
        </div>
      </div>
    </div>
    
    <div class="footer-bottom img-responsive" style="background: rgb(243, 235, 235) !important; height:5.5rem !important;">
        <p style="color: black !important; text-align: center; align-items: center; font-size:15px; font-weight:600">&copy;2021 A Unit of PRS Neurosciences and Mechatronics Research Institute Pvt. Ltd.All rights reserved.Powered by MGC</p>
    </div>
</footer>




  <!-- End Footer -->

  <!-- <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a> -->

  <!-- Vendor JS Files -->
  {{!-- <script src="/public/assets/vendor/jquery/jquery.min.js"></script> --}}
     <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
  <script src="/public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/public/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/public/assets/vendor/php-email-form/validate.js"></script>
  <script src="/public/assets/vendor/jquery-sticky/jquery.sticky.js"></script>
  <script src="/public/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/public/assets/vendor/venobox/venobox.min.js"></script>
  <script src="/public/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="/public/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/public/assets/vendor/aos/aos.js"></script>
   

  <!-- Template Main JS File -->
  <script src="/public/assets/js/main.js"></script>
  {{!-- <script src="/public/assets/vendor/bootstrap/js/bootstrap.min.js"></script> --}}

</body>

</html>