
{{>header}}<br><br><br><br>

<style>
  
.links{
  text-align: center;
}
.links ul li{
  list-style: none;
  line-height: 33px;
}
.links ul li a{
  text-decoration: none;
  color: #FFF;
  font-weight: 500;
  font-size: 16px;
}
.links h4{
  font-size: 23px;
  margin-left: 40px;
}
.links span{
  font-size: 17px;
  font-weight: 600;
}
</style>

<div class="container mt-4 mb-5">
  <!-- Flash messages -->
  <div class="row mt-3 mb-3">
    <div class="col-md-8 m-auto">
      {{#if errorMsg }}
      <div id="error" class="alert alert-danger">
        {{errorMsg}}
      </div>
      {{else}}
      <div id="error" class="alert alert-danger d-none"></div>
      {{/if}}
    </div>
  </div>
  <div class="col-md-8 m-auto">
    <!-- Checkout form -->
    
    <form action="/checkout" method="POST" id="checkout-form">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="card-name">Card Holder Name</label>
            <input type="text" id="card-name" class="form-control" required />
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="address">Address</label>
            <input
              type="text"
              id="address"
              class="form-control"
              required
              name="address"
            />
          </div>
        </div>
        <div class="col-md-12">
          <label for="card-element">Card Information</label>
          <!-- A Stripe Element will be inserted here. -->
          <div id="card-element" class="StripeElement"></div>
          <!-- Used to display form errors. -->
          <div id="card-errors" role="alert" class="text-danger mb-3"></div>
        </div>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      </div>
      <button id="submit-btn" type="submit" class="btn btn-primary" style="margin-top: 15px;">
        Buy now
      </button>
    </form>
  </div>
</div>



<script type="text/javascript" src="https://js.stripe.com/v3/"></script>
<script type="text/javascript" src="/javascripts/checkout.js"></script>


 <!-- ======= Footer ======= -->
   <footer id="footer">
    <div class="container">
    <div class="footer-top">
        <div class="row">
        <div class="col-lg-12">
        <a href="index.html" class="logo me-auto"><img width="20%" src="assets/new_assets/img2/Logo.jpg" alt=""></a>
        </div>
        </div>    
    </div>
    <div class="footer-mid">
        <div class="row mt-4">
        <div class="col-lg-5">
            <div class="box">
            <h4>Subscribe to our newsletter</h4>
            <form id="contact-form2">
                <input type="email" name="email" id="emailsb" placeholder="Enter Your Email" required><button type="submit" id="submit-modal2">Subscribe Us</button>
            </form>
            
            </div>
        </div>
        <div class="col-lg-4">
            <h4 class="link">Links</h4>
            <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/shop">Products</a></li>
            <li><a href="/builder">Builder’s Project</a></li>
            </ul>
        </div>
        <div class="col-lg-3">
          <h4 class="link">Contact Us</h4>
          <ul>
          <li><a href="tel:+91-18003134491"><i class="fa fa-phone"></i>  +91-18003134491</a></li>
          <li> <a href="mailto:sales@lavnalocks.com"><i class="fa fa-envelope"></i> sales@lavnalocks.com</a></li>
          </ul>
            <ul class="lastul">
            <li><a target="_blank" href="https://www.facebook.com/bhagwnshrilocksprivatelimited/"><img src="assets/new_assets/img2/facebook (2).svg"></a></li>
            <li><a target="_blank" href="https://www.instagram.com/lavnalocks/"><img src="assets/new_assets/img2/instagram (1).svg"></a></li>
            <li><a target="_blank" href="https://youtu.be/Yst8KW2Vm4M"><img src="assets/new_assets/img2/Vector (13).png"></a></li>
            </ul>
        </div>
        </div>
    </div>
    </div>


    <div id="f_bottom" class="container-fluid">
    <div class="row text-center">
        <div class="col-lg-12 footer-bottom">
        <div class="copyright">
            &copy; 2022 LAVNA Locks is a Unit of Bhagwn Shri Locks PVT. LTD. All Rights Reserved.
        </div>
        </div>
    </div>
    </div>
  </footer>
  <!-- End Footer -->

  <div id="preloader"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Vendor JS Files -->
  <script src="assets/new_assets/vendor/aos/aos.js"></script>
  <script src="assets/new_assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/new_assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/new_assets/js/main.js"></script>
  <script src="assets/new_assets/js/owl.min.js"></script>  
  <script src="assets/new_assets/js/custom.js"></script>  


  <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js">
  </script>


<script type="text/javascript">
   (function(){
      emailjs.init("user_mTjMBBP092bpZsnZTyLfp");
   })();
</script>
  
 
<script>
  



$(document).ready(function(){

$('.chn_img').click(function(){

$('.chn_img').removeClass('active');
$(this).addClass('active');
var target = $(this).attr('data-target');
var src = $(this).attr('data-img');

$(target).attr('src',src);

});

});

</script>


<script>
	$(document).ready(function(){
		$("#contact-form").submit(function(e) {
      
      $('#submit-modal').html('Sending...');
    			e.preventDefault();

			var Name = document.getElementById("name").value;
			var emailId = document.getElementById("email").value;
			var mobile = document.getElementById("mobile").value;
      var product = document.getElementById("product").value;
      var message = document.getElementById("message").value;

			if(Name ==='' || Name == undefined )
			{
				return;
			}
			if(emailId ==='' || emailId == undefined )
			{
				return;
			}
			if(mobile==='' || mobile == undefined )
			{
				return;
			}
      if(product==='' || product == undefined )
			{
				return;
			}
      if(message==='' || message == undefined )
			{
				return;
			}

      var Body ='Name: '+Name+'<br>Email: '+emailId+'<br>Mobile: '+mobile+'<br>Product: '+product+'<br>Message: '+message;
      $('#name').val('');
      $('#email').val('');
      $('#mobile').val('');
      $('#product').val('');
      $('#message').val('');

      sendMailToOwner(Body, Name, emailId, mobile, product,message );
			});

		});
 

  function sendMailToOwner(Body, Name, emailId, mobile, product,message){

var data = {
   service_id: 'service_8zp4yhp',
   template_id: 'template_r8bl13q',
   user_id: 'user_mTjMBBP092bpZsnZTyLfp',
   template_params: {
        'from_name': Name,
	      'user_name':Name,
         'user_email':emailId,
         'user_mobile':mobile,
         'product':product,
         'reply_to':'contact@flybunch.com', 
         'owner_email': 'ps1089124@gmail.com',
         'company': 'Lavnalocks',
		 'message':message,
   }
};

$.ajax('https://api.emailjs.com/api/v1.0/email/send', {
   type: 'POST',
   data: JSON.stringify(data),
   contentType: 'application/json'
}).done(function() {
  $('#submit-modal').html('Send');
$('#closemodal').trigger('click');
}).fail(function(error) {
   alert('Oops... ' + JSON.stringify(error));
});

}

</script>

</body>

</html>