{{>header}}


 <main id="main">


        <section id="top_ban_dis">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="box" data-aos="zoom-in">
                            <h1>BECOME OUR
                                DISTRIBUTOR</h1>
                            <h4>Become the distributor of the fastest growing <br>
                                sector in the market.</h4>
                            <form id="contact-form2">
                                <input type="email" name="email" id="emailsb" placeholder="Enter Your Email" required><button class="shadow" type="submit" id="submit-modal2">Subscribe Us</button>
                            </form>
                            <h5>According to the researchnester.in, the offline distribution channel of smart locks segment is
                                anticipated to be the most attractive distribution channel for new entrants
                                looking to enter in the market, existing players looking for business expansion</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section id="whoweare">
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-12 text-center">
                        <div class="box shadow" data-aos="zoom-in">
                            <h1>Who Are We? </h1>
                            <p>LAVNA offers high tech designed solution to old door locking system.
                                LAVNA is a brand that helps people replace old traditional door locks
                                with new smart locks with 6 different features.
                                Not only that LAVNA provides a practical education platform people can
                                benefit for making their house look more attractive and luxurious.</p>
                            <a href="/about" class="btn shadow">Know More About Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="process">
            <div class="container">
                <div class="row mb-4">
                    <div class="col-lg-12 text-center" data-aos="fade-up">
                        <h5>Steps to become our distributor &nbsp;<img width="8%" src="assets/new_assets/img2/Line_about.svg" alt=""></h5>
                        <h1>Easy 4 Step Process To Become<br>Our
                            Distributor</h1>
                    </div>
                </div>
                <div class="row mt-4 d-flex align-items-center" id="process_row">
                    <div class="col-lg-3 text-center">
                        <div class="box" data-aos="fade-right" data-aos-delay="1000">
                            <img id="step1" src="assets/new_assets/img2/step1.webp" alt="">
                            <p>Check if you meet all the requirements mentioned below</p>
                        </div>
                    </div>
                    <div class="col-lg-3 text-center">
                        <div class="box" data-aos="fade-up" data-aos-delay="1000">
                            <img id="step2" src="assets/new_assets/img2/step2.webp" alt="">
                            <p>Go to contact us page and fill the application form</p>
                        </div>
                    </div>
                    <div class="col-lg-3 text-center">
                        <div class="box" data-aos="fade-down" data-aos-delay="1000">
                            <img id="step3" src="assets/new_assets/img2/step3.webp" alt="">
                            <p>If your form is approved a call will be scheduled to finalize the process</p>
                        </div>
                    </div>
                    <div class="col-lg-3 text-center">
                        <div class="box" data-aos="fade-left" data-aos-delay="1000">
                            <img id="step4" src="assets/new_assets/img2/step4.webp" alt="">
                            <p>Now you can make the investment and start distributing LAVNA products</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-lg-12 text-center">
                        <a href="#contactus" class="btn shadow">Become Our Distributor</a>
                    </div>
                </div>
            </div>
        </section>


        <section id="requirment">
            <div class="container">
                <div class="row mb-4">
                    <div class="col-lg-12 text-center" data-aos="fade-up">
                        <h5>Requirements to become our distributor &nbsp;<img width="8%" src="assets/new_assets/img2/Line_about.svg" alt=""></h5>
                        <h1>Top 3 Requirements To Become<br>Our
                            Distributor</h1>
                    </div>
                </div>
                <div class="row mt-4 d-flex align-items-center">
                    <div class="col-lg-4 text-center">
                        <div class="box shadow" data-aos="fade-right" data-aos-delay="1000">
                            <h4>Step 1</h4>
                            <p>Field of operation should be in hardware showrooms
                                and locks.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 text-center">
                        <div class="box1 shadow" data-aos="fade-up" data-aos-delay="1000">
                            <h4>Step 2</h4>
                            <p>Initial investment should be
                                approx 5 lakh.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 text-center">
                        <div class="box2 shadow" data-aos="fade-down" data-aos-delay="1000">
                            <h4>Step 3</h4>
                            <p>2 staff members required<br> installation staff marketing executive.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section id="topperks">
            <div class="container">
                <div class="row mb-4">
                    <div class="col-lg-12 text-center" data-aos="fade-up">
                        <h1>Top Perks Provided By Lavna<br> To Distributors</h1>
                    </div>
                </div>
                <div class="row mt-4 d-flex align-items-center" data-aos="fade-up">
                    <div class="col-lg-3 text-center">
                        <div class="box text-center mt-4">
                            <img src="assets/new_assets/img2/topperk1.webp" alt="">
                            <h4>Resources</h4>
                            <p>Demo stand catalogues banners & salary for installation staff provided by
                                company.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 text-center">
                        <div class="box text-center mt-4">
                            <img src="assets/new_assets/img2/topperk2.webp" alt="">
                            <h4>Marketing</h4>
                            <p>Digital marketing is done by our company for
                                you.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 text-center">
                        <div class="box text-center mt-4">
                            <img src="assets/new_assets/img2/topperk3.webp" alt="">
                            <h4>Profit</h4>
                            <p>Distributor to dealer is 10-12%
                                profit.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 text-center">
                        <div class="box text-center mt-4">
                            <img src="assets/new_assets/img2/topperk4.webp" alt="">
                            <h4>Price</h4>
                            <p>Retail prices to be decided by the distributor but dealer prices are to be decided by the
                                company.</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-lg-12 text-center">
                        <a href="#contactus" class="btn shadow">Become Our Distributor</a>
                    </div>
                </div>
            </div>
        </section>


        <section id="become_db">
            <div class="container">
                <div class="row mb-4">
                    <div class="col-lg-12 text-center">
                        <h1>WHY YOU SHOULD BECOME OUR DISTRIBUTOR ?</h1>
                    </div>
                </div>
                <div class="row mt-4 mb-4 inner_wrap">
                    <div class="col-lg-12 text-center">
                        <h4 data-aos="fade-up">1. Fastest Growing Market</h4>
                    </div>
                    <div class="row mt-4 mb-4">
                        <div class="col-lg-4 text-center">
                            <div class="box mt-4 text-center" data-aos="fade-right">
                                <img src="assets/new_assets/img2/g-market-size-2.webp" alt="">
                                <h5>Global market size</h5>
                                <p>The global smart lock market
                                    size was valued at USD 1.38
                                    billion in 2020.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 text-center">
                            <div class="box mt-4 text-center" data-aos="zoom-out">
                                <img src="assets/new_assets/img2/growth-rate.webp" alt="">
                                <h5>Compound annual growth rate</h5>
                                <p>The demand is expected to
                                    expand at a compound annual
                                    growth rate (CAGR) of 21.4% from
                                    2021 to 2028.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 text-center">
                            <div class="box mt-4 text-center" data-aos="fade-left">
                                <img class="mt-4" src="assets/new_assets/img2/market-share.webp" alt="">
                                <h5>Smart door lock market share</h5>
                                <p>Residential 60% Hospitality 20%
                                    Enterprise 10% Critical
                                    Infrastructure 10%.
                                </p>
                            </div>
                        </div>
                    </div>
                    <span class="border_btm"></span>
                </div>

                <div class="row mt-4 mb-4" id="second_bg">
                    <div class="col-lg-12 text-center">
                        <h4 data-aos="fade-up">2. Best Marketing Done By LAVNA</h4>
                    </div>
                    <div class="row mt-4 mb-4">
                        <div class="col-lg-4 text-center">
                            <div class="box-1 mt-4 text-center" data-aos="fade-right">
                                <img src="assets/new_assets/img2/Frame.svg" alt="">
                                <h5>Increasing product and brand awareness</h5>
                                <p>We are currently marketing our brand all over
                                    the internet.
                                    We publish daily blogs and social media content
                                    to educate our customers about this new
                                    technology all over India.
                                    You play a huge role in providing our customer
                                    the physical touch which is the biggest
                                    hindrance for any online company.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 text-center">
                            <div class="box-1 mt-4 text-center" data-aos="zoom-out">
                                <img src="assets/new_assets/img2/zondicons_education.svg" alt="">
                                <h5>Educating our customers </h5>
                                <p>LAVNA to increase brand awareness has launched a
                                    new education platform which provides specialized
                                    knowledge of interior design and home decor via
                                    social media.
                                    This project will help us create a buzz in the market
                                    which you can take advantage of before anyone.
                                    If your industry is somewhere between home
                                    automation and home advancement this is the
                                    perfect opportunity for you and your business to
                                    invest in LAVNA door lock products.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 text-center">
                            <div class="box-1 mt-4 text-center" data-aos="fade-left">
                                <img src="assets/new_assets/img2/wpf_news.svg" alt="">
                                <h5>Featured in news channels</h5>
                                <p>LAVNA is featured in some of the biggest news
                                    channel blogs like Business insider , digit , times
                                    of India and many other tech channels.
                                    LAVNA smart locks has been amazon's choice
                                    for a very long time.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-4 mb-4 inner_wrap">
                    <div class="col-lg-12 mb-4 text-center">
                        <h4 data-aos="fade-up">3. Limited Distributors And Less Competition</h4>
                    </div>
                    <div class="row mt-4 mb-4">
                        <div class="col-lg-3 text-center">
                            <div class="box-2">
                                <img class="shadow" src="assets/new_assets/img2/img_!.webp" alt="" data-aos="fade-right">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="box1" data-aos="fade-up">
                                <h5>To avoid a sudden oversaturation of market
                                    we are limiting number of distributions we
                                    keep for our company. Due to sudden surge of
                                    demand this year we are increasing those
                                    numbers.
                                </h5>
                                <p>When we talk to our customers they need an
                                    in hand experience of the product to develop
                                    trust in brand and our product.
                                </p>
                                <p>Here's where you can help us develop that
                                    trust and confidence in our customers.</p>
                                <p>Due to limited number of suppliers in every
                                    locality you can take advantage of this
                                    opportunity.
                                </p>
                                <p>See if you are suitable for our distribution by
                                    filling the form now.</p>
                            </div>
                        </div>
                        <div class="col-lg-3 parent_box2 text-center">
                            <div class="box2">
                                <img class="shadow" src="assets/new_assets/img2/img_2.webp" alt="" data-aos="fade-left">
                            </div>
                        </div>
                    </div>
                    <span class="border_btm"></span>
                </div>
            </div>
        </section>


        <section id="contactus">
            <div class="container">
                <div class="row text-center mb-4">
                    <div class="col-lg-12">
                        <h5>Contact Us &nbsp;<img width="8%" src="assets/new_assets/img2/Line_about.svg" alt=""></h5>
                        <h1>If You Think You Meet The Requirements Mentioned<br> Above 
                            Kindly Fill The Form 
                        </h1>
                    </div>
                </div>
                <div class="row mt-4 d-flex align-items-center" id="row-form">
                    <div class="col-lg-12">
                        <div class="box" data-aos="fade-right">
                            <form>
                                <div class="form-group">
                                    <label for="name">Name*</label>
                                    <input class="form-control" type="text" name="cpname" id="name" placeholder="Your Name" pattern="[A-Za-z. ]+" data-error="Name is required." min-length="3" required>
                                </div>
                                <div class="form-group">
                                    <label class="mt-4" for="email">Email*</label>
                                    <input class="form-control" type="email" name="cpemail" id="email" placeholder="Your Email*"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" data-error="Valid email is required." required>
                                </div>
                                <div class="form-group">
                                    <label class="mt-4" for="mobile">Mobile*</label>
                                    <input class="form-control" type="text" name="cpphone" id="mobile" placeholder="Your Mobile No*"  pattern="[1-9]+[0-9]{9}" data-error="Contact no is required." required>
                                </div>
                                <div class="form-group">
                                    <label class="mt-4" for="message">Message</label>
                                    <textarea class="form-control" id="message" name="message" rows="2" placeholder="Message" required></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn shadow mt-4" type="submit">Join Us Now</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>  
            </div>
        </section>

        <div class="nb-form">
            <p class="title sdkjk">Enquire Now</p>
            <img id="rms87" src="assets/new_assets/img2/times5.webp" class="hide" alt="" >
         
            <form id="contact-form">
              <input type="text" name="cpname" id="name" placeholder="Name" pattern="[A-Za-z. ]+" data-error="Name is required." min-length="3" required>
              <input type="email" name="cpemail" id="email" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" data-error="Valid email is required." required>
              <input type="text" name="cpphone" id="mobile" placeholder="Phone" maxlength="10" minlength="10" pattern="[1-9]+[0-9]{9}" data-error="Contact no is required." required>
              <select name="product" id="product" required>
                <option value="" selected>Select Product</option>
                <option value="la24bluetooth">L-A24(Bluetooth)</option>
                <option value="la28bluetooth">L-A28(Bluetooth)</option>
                <option value="la15">L-A15</option>
                <option value="le50">L-E50</option>
                <option value="la5">L-A5</option>
                <option value="ls9">L-S9</option>
                <option value="lh300">L-H300(With Encoder)</option>
              </select>
              <textarea name="cpmessage" id="message" placeholder="Message" required></textarea>
              <input id="submit-modal" type="submit" value="Send message">
            </form>
        </div>


    </main>



<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
    <div class="footer-top">
        <div class="row">
        <div class="col-lg-12">
        <a href="/" class="logo me-auto"><img width="20%" src="assets/new_assets/img2/Logo.webp" alt="Lavna_logo"></a>
        </div>
        </div>    
    </div>
    <div class="footer-mid">
        <div class="row mt-4">
        <div class="col-lg-5">
            <div class="box">
            <h4>Subscribe to our newsletter</h4>
            {{!-- <form id="contact-form2">
                <input type="email" name="email" id="emailsb" placeholder="Enter Your Email" required><button type="submit" id="submit-modal2">Subscribe Us</button>
            </form> --}}

               <form action="">
                <div class="ml-form-embed" data-account="3867533:r4q2f7i6e7" data-form="5653363:t6a8j0">
                </div>
              </form>
            
            </div>
        </div>
        <div class="col-lg-4">
            <h4 class="link">Links</h4>
            <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/shop">Products</a></li>
            <li><a href="/builder">Builder’s Project</a></li>
            <li><a href="/privacypolicy">Privacy Policy</a></li>
               <li><a href="/faq">FAQ</a></li>
            <li><a href="/blog">Blog</a></li>
            </ul>
        </div>
        <div class="col-lg-3">
            <h4 class="link">Contact Us</h4>
            <ul>
            <li><a href="tel:+91-18003134491"><i class="fa fa-phone"></i>  +91-18003134491</a></li>
            <li> <a href="mailto:sales@lavnalocks.com"><i class="fa fa-envelope"></i> sales@lavnalocks.com</a></li>
            </ul>
            <ul class="lastul">
            <li><a target="_blank" href="https://www.facebook.com/bhagwnshrilocksprivatelimited/"><img src="assets/new_assets/img2/facebook (2).svg" alt="facebook"></a></li>
            <li><a target="_blank" href="https://www.instagram.com/lavnalocks/"><img src="assets/new_assets/img2/instagram (1).svg" alt="instagram"></a></li>
            <li><a target="_blank" href="https://youtu.be/Yst8KW2Vm4M"><img src="assets/new_assets/img2/Vector (13).webp" alt="youtube"></a></li>
            </ul>
        </div>
        </div>
    </div>
    </div>


    <div id="f_bottom" class="container-fluid">
    <div class="row text-center">
        <div class="col-lg-12 footer-bottom">
        <div class="copyright">
            &copy; 2022 LAVNA Locks is a Unit of Bhagwn Shri Locks PVT. LTD. All Rights Reserved.
        </div>
        </div>
    </div>
    </div>
</footer>
<!-- End Footer -->

<div id="preloader"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Vendor JS Files -->
  <script src="assets/new_assets/vendor/aos/aos.js"></script>
  <script src="assets/new_assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/new_assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/new_assets/js/main.js"></script>
  <script src="assets/new_assets/js/owl.min.js"></script>  
  <script src="assets/new_assets/js/custom.js"></script>  


  <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js">
  </script>


<script type="text/javascript">
   (function(){
      emailjs.init("user_mTjMBBP092bpZsnZTyLfp");
   })();
</script>
  



<script>
  var swiper = new Swiper("#prd_thumb", {
    slidesPerView: 5.5,
    spaceBetween: 20,

    navigation: {
        nextEl: "#prd_thumb .swiper-button-next",
        prevEl: "#prd_thumb .swiper-button-prev",
      },
   
  });



$(document).ready(function(){

$('.chn_img').click(function(){

$('.chn_img').removeClass('active');
$(this).addClass('active');
var target = $(this).attr('data-target');
var src = $(this).attr('data-img');

$(target).attr('src',src);

});

});

</script>


<script>
	$(document).ready(function(){
		$("#contact-form2").submit(function(e) {
      $('#submit-modal2').html('Sending...');
    			e.preventDefault();
			var emailId = document.getElementById("emailsb").value;
			if(emailId ==='' || emailId == undefined )
			{
				return;
			}
			var Body ='Email: '+emailId;
      $('#emailsb').val('');

      sendMailToUser(emailId);
      sendMailToOwner(Body, emailId);
			});

		});


function sendMailToUser(emailId){

var data = {
   service_id: 'service_8zp4yhp',
   template_id: 'template_kvsj7kk',
   user_id: 'user_mTjMBBP092bpZsnZTyLfp',
   template_params: {
        'user_email':emailId,
        'reply_to':'contact@lavnalocks.com',
  		  'company':"Lavnalocks",

   }

};

$.ajax('https://api.emailjs.com/api/v1.0/email/send', {
   type: 'POST',
   data: JSON.stringify(data),
   contentType: 'application/json'
}).done(function(msg) {
  // alert(msg);
  $('#submit-modal').html('Send');
  swal("Thank You!", "Your have subscribe lavnalocks", "success");
$('#closemodal').trigger('click');
}).fail(function(error) {
   alert('Oops... user mail failed' + JSON.stringify(error));
});

}
    

  function sendMailToOwner(Body, emailId){
var data = {
   service_id: 'service_8zp4yhp',
   template_id: 'template_mxovugp',
   user_id: 'user_mTjMBBP092bpZsnZTyLfp',
   template_params: {
         'user_email': emailId ,
         'reply_to':'contact@lavnalocks.com', 
         'owner_email': 'sales@lavnalocks.com',
         'company': 'Lavnalocks',
   }

};

$.ajax('https://api.emailjs.com/api/v1.0/email/send', {
   type: 'POST',
   data: JSON.stringify(data),
   contentType: 'application/json'
}).done(function() {
  $('#submit-modal').html('Send');
  swal("Thank You!", "Your Query has been submitted!", "success");
$('#closemodal').trigger('click');
}).fail(function(error) {
   alert('Oops... ' + JSON.stringify(error));
});

}

</script>


<script>
	$(document).ready(function(){
        debugger;
		$("#builder_form").submit(function(e) {
        $('#builder_submit').html('Sending...');
    		e.preventDefault();
            var name = document.getElementById("name").value;
			var email = document.getElementById("email").value;
            var mobile = document.getElementById("mobile").value;
            var locks = document.getElementById("locks").value;
            var city = document.getElementById("city").value;
            var message = document.getElementById("message").value;


			if(name ==='' || name == undefined )
			{
				return;
			}
            if(email ==='' || email == undefined )
			{
				return;
			}
            if(mobile ==='' || mobile == undefined )
			{
				return;
			}
            if(locks ==='' || locks == undefined )
			{
				return;
			}
            if(city ==='' || city == undefined )
			{
				return;
			}
            if(message ==='' || message == undefined )
			{
				return;
			}

			var Body ='Name: '+name+'<br>Email: '+email+'<br>Mobile: '+mobile+'<br>locks: '+locks+'<br>city: '+city+'<br>Message: '+message;
          

            sendMailToOwner(Body, name, email, mobile, locks, city, message );
              $('#name').val('');
            $('#email').val('');
            $('#mobile').val('');
            $('#locks').val('');
            $('#city').val('');
            $('#message').val('');
			});

		});


  function sendMailToOwner(Body, name, email, mobile, locks, city, message ){
      debugger
    var data = {
    service_id: 'service_8zp4yhp',
    template_id: 'template_xcrbexa',
    user_id: 'user_mTjMBBP092bpZsnZTyLfp',
        template_params: {
            'reply_to':'contact@lavnalocks.com', 
            'owner_email': 'sales@lavnalocks.com',
            'name': name,
            'email': email,
            'mobile': mobile,
            'locks': locks,
            'city': city,
            'message': message,
            'company': 'Lavnalocks',
        }

    };

$.ajax('https://api.emailjs.com/api/v1.0/email/send', {
   type: 'POST',
   data: JSON.stringify(data),
   contentType: 'application/json'
}).done(function() {
  $('#submit-modal').html('Send');
  swal("Thank You!", "Your Query has been submitted!", "success");
$('#closemodal').trigger('click');
}).fail(function(error) {
   alert('Oops... ' + JSON.stringify(error));
});

}

</script>


<script>
    $('.swiper-button-next').click(
      function(e){
            $(this).parents('.swiper-container').find('.xnext').trigger('click');
 });    

 $('.swiper-button-prev').click(function(e){$(this).parents('.swiper-container').find('.xprev').trigger('click');});
</script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
    $(document).ready(function(){
        $("#togg").click(function(){
            $("#navbar").toggle();
        });
    });
</script>

<script>
	$(document).ready(function(){
		$("#contact-form").submit(function(e) {
      $('#submit-modal').html('Sending...');
    			e.preventDefault();

			var Name = document.getElementById("name")?.value;
			var emailId = document.getElementById("email")?.value;
			var mobile = document.getElementById("mobile")?.value;
      var product = document.getElementById("product")?.value;
      var message = document.getElementById("message")?.value;

			if(Name ==='' || Name == undefined )
			{
				return;
			}
			if(emailId ==='' || emailId == undefined )
			{
				return;
			}
			if(mobile==='' || mobile == undefined )
			{
				return;
			}
      if(product==='' || product == undefined )
			{
				return;
			}
      if(message==='' || message == undefined )
			{
				return;
			}

      var Body ='Name: '+Name+'<br>Email: '+emailId+'<br>Mobile: '+mobile+'<br>Product: '+product+'<br>Message: '+message;
      $('#name').val('');
      $('#email').val('');
      $('#mobile').val('');
      $('#product').val('');
      $('#message').val('');

      sendMailToOwner(Body, Name, emailId, mobile, product,message );
			});

		});
 

  function sendMailToOwner(Body, Name, emailId, mobile, product,message){

var data = {
   service_id: 'service_8zp4yhp',
   template_id: 'template_r8bl13q',
   user_id: 'user_mTjMBBP092bpZsnZTyLfp',
   template_params: {
     
        'from_name': Name,
	      'user_name':Name,
         'user_email':emailId,
         'user_mobile':mobile,
         'product':product,
          'message':message,
         'reply_to':'contact@flybunch.com', 
         'owner_email': 'sales@lavnalocks.com',
         'company': 'Lavnalocks',
   }
};

$.ajax('https://api.emailjs.com/api/v1.0/email/send', {
   type: 'POST',
   data: JSON.stringify(data),
   contentType: 'application/json'
}).done(function() {
  $('#submit-modal').html('Send');
$('#closemodal').trigger('click');
}).fail(function(error) {
   alert('Oops... ' + JSON.stringify(error));
});

}

</script>

</body>
</html>