{{>header}}

<style>
    .payment{
        border: 1px solid #003399;
        border-radius: 10px;
    }
    .payment .check{
        text-align: center;
        background: #003399;
        padding: 10px;
        border-radius: 7px;
    }
    .check .fa-exclamation-triangle{
        background: #fff;
        padding: 10px;
        border-radius: 50px;
    }
    .payment .content{
        padding: 20px;
        text-align: center;
    }
     .payment .content a{
         background-color: #003399;
         color: #fff;
         padding-top: 9px;
         padding-bottom: 9px;
         padding-left: 30px;
         padding-right: 30px;
         border-radius: 10px;
         font-family: 'Source Sans Pro', sans-serif;
     }
       .payment .content h1{
            font-family: 'Playfair Display', serif;
            font-weight: 600;
            color: #003399;
            margin-top: 15px;
            margin-bottom: 15px;
       }
</style>


<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto mt-5">
            <div class="payment">
            <div class="payment_header">
                <div class="check"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></div>
            </div>
            <div class="content">
                <h1>Payment Failed !</h1>
                <p>Please Try Again Later! </p>
                <a href="/">Go to Home</a>
            </div>
            
            </div>
        </div>
    </div>
</div>

   
<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
        <div class="footer-top">
            <div class="row">
                <div class="col-lg-12">
                    <a href="/" class="logo me-auto"><img width="20%" src="assets/new_assets/img2/Logo.webp"
                            alt="Lavna_logo"></a>
                </div>
            </div>
        </div>
        <div class="footer-mid">
            <div class="row mt-4">
                <div class="col-lg-5">
                    <div class="box">
                        <h4>Subscribe to our newsletter</h4>
                        <form id="contact-form2">
                            <input type="email" name="email" id="emailsb" placeholder="Enter Your Email"
                                required><button type="submit" id="submit-modal2">Subscribe Us</button>
                        </form>

                    </div>
                </div>
                <div class="col-lg-4">
                    <h4 class="link">Links</h4>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/shop">Products</a></li>
                        <li><a href="/builder">Builder’s Project</a></li>
                        <li><a href="/privacypolicy">Privacy Policy</a></li>
                         <li><a href="/faq">FAQ</a></li>
                        <li><a href="/blog">Blog</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4 class="link">Contact Us</h4>
                    <ul>
                        <li><a href="tel:+91-18003134491"><i class="fa fa-phone"></i> +91-18003134491</a></li>
                        <li> <a href="mailto:sales@lavnalocks.com"><i class="fa fa-envelope"></i>
                                sales@lavnalocks.com</a></li>
                    </ul>
                    <ul class="lastul">
                        <li><a target="_blank" href="https://www.facebook.com/bhagwnshrilocksprivatelimited/"><img
                                    src="assets/new_assets/img2/facebook (2).svg" alt="facebook"></a></li>
                        <li><a target="_blank" href="https://www.instagram.com/lavnalocks/"><img
                                    src="assets/new_assets/img2/instagram (1).svg" alt="instagram"></a></li>
                        <li><a target="_blank" href="https://youtu.be/Yst8KW2Vm4M"><img
                                    src="assets/new_assets/img2/Vector (13).webp" alt="youtube"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div id="f_bottom" class="container-fluid">
        <div class="row text-center">
            <div class="col-lg-12 footer-bottom">
                <div class="copyright">
                    &copy; 2022 LAVNA Locks is a Unit of Bhagwn Shri Locks PVT. LTD. All Rights Reserved.
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->

<div id="preloader"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Vendor JS Files -->
<script src="assets/new_assets/vendor/aos/aos.js"></script>
<script src="assets/new_assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/new_assets/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="assets/new_assets/js/main.js"></script>
<script src="assets/new_assets/js/owl.min.js"></script>
<script src="assets/new_assets/js/custom.js"></script>


<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js">
</script>


<script type="text/javascript">
    (function () {
        emailjs.init("user_mTjMBBP092bpZsnZTyLfp");
    })();
</script>

<script>
    $(".progress-bar").animate({
        width: "90%"
    }, 2500);

    $("#progress-bar2").animate({
        width: "80%"
    }, 2500);

    $("#progress-bar3").animate({
        width: "70%"
    }, 2500);
</script>

<script>
    $(document).ready(function () {
        var submitIcon = $('.searchbox-icon');
        var inputBox = $('.searchbox-input');
        var searchBox = $('.searchbox');
        var isOpen = false;
        submitIcon.click(function () {
            if (isOpen == false) {
                searchBox.addClass('searchbox-open');
                inputBox.focus();
                isOpen = true;
            } else {
                searchBox.removeClass('searchbox-open');
                inputBox.focusout();
                isOpen = false;
            }
        });
        submitIcon.mouseup(function () {
            return false;
        });
        searchBox.mouseup(function () {
            return false;
        });
        $(document).mouseup(function () {
            if (isOpen == true) {
                $('.searchbox-icon').css('display', 'block');
                submitIcon.click();
            }
        });
    });
    function buttonUp() {
        var inputVal = $('.searchbox-input').val();
        inputVal = $.trim(inputVal).length;
        if (inputVal !== 0) {
            $('.searchbox-icon').css('display', 'none');
        } else {
            $('.searchbox-input').val('');
            $('.searchbox-icon').css('display', 'block');
        }
    }
</script>

<script>
    var swiper = new Swiper("#prd_thumb", {
        slidesPerView: 5.5,
        spaceBetween: 20,

        navigation: {
            nextEl: "#prd_thumb .swiper-button-next",
            prevEl: "#prd_thumb .swiper-button-prev",
        },

    });



    $(document).ready(function () {

        $('.chn_img').click(function () {

            $('.chn_img').removeClass('active');
            $(this).addClass('active');
            var target = $(this).attr('data-target');
            var src = $(this).attr('data-img');

            $(target).attr('src', src);

        });

    });

</script>


<script>
    $(document).ready(function () {
        $("#contact-form2").submit(function (e) {
            $('#submit-modal2').html('Sending...');
            e.preventDefault();
            var emailId = document.getElementById("emailsb").value;
            if (emailId === '' || emailId == undefined) {
                return;
            }
            var Body = 'Email: ' + emailId;
            $('#emailsb').val('');

            sendMailToUser(emailId);
            sendMailToOwner(Body, emailId);
        });

    });


    function sendMailToUser(emailId) {

        var data = {
            service_id: 'service_8zp4yhp',
            template_id: 'template_kvsj7kk',
            user_id: 'user_mTjMBBP092bpZsnZTyLfp',
            template_params: {
                'user_email': emailId,
                'reply_to': 'contact@lavnalocks.com',
                'company': "Lavnalocks",

            }

        };

        $.ajax('https://api.emailjs.com/api/v1.0/email/send', {
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json'
        }).done(function (msg) {
            // alert(msg);
            $('#submit-modal2').html('Subscribe');
            swal("Thank You!", "Your have subscribe lavnalocks", "success");
            $('#closemodal').trigger('click');
        }).fail(function (error) {
            alert('Oops... user mail failed' + JSON.stringify(error));
        });

    }


    function sendMailToOwner(Body, emailId) {
        var data = {
            service_id: 'service_8zp4yhp',
            template_id: 'template_mxovugp',
            user_id: 'user_mTjMBBP092bpZsnZTyLfp',
            template_params: {
                'user_email': emailId,
                'reply_to': 'contact@lavnalocks.com',
                'owner_email': 'sales@lavnalocks.com',
                'company': 'Lavnalocks',
            }

        };

        $.ajax('https://api.emailjs.com/api/v1.0/email/send', {
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json'
        }).done(function () {
            $('#submit-modal').html('Send');
            swal("Thank You!", "Your Query has been submitted!", "success");
            $('#closemodal').trigger('click');
        }).fail(function (error) {
            alert('Oops... ' + JSON.stringify(error));
        });

    }

</script>

<script>
    $(document).ready(function(){
        $("#togg").click(function(){
            $("#navbar").toggle();
        });
    });
</script>

</body>

</html>