<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Fingerprint Door Lock Online  - Lavna Locks</title>
    <meta name="description" content=" Lavna Locks one of the best digital door locks manufacturers in India. We offering you the widest variety of Smart fingerprint Locks. You can access from RFID Card, PIN, OTP & Bluetooth." />
    <meta name="google-site-verification" content="aDywrOhX7tHg_zHCLKjV1VfTqh6aBX2FAotIyjIgsfM" />
  <script>
    (function(m,a,i,l,e,r){ m['MailerLiteObject']=e;function f(){
    var c={ a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
    f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=m[e].q||f.q;r=a.createElement(i);
    var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l+'?v'+(~~(new Date().getTime()/1000000));
    _.parentNode.insertBefore(r,_);})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');
    
    var ml_account = ml('accounts', '3867533', 'r4q2f7i6e7', 'load');
  </script>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K68VG5W');</script>
  <!-- End Google Tag Manager -->

      <!-- Favicons -->
  <link href="../../public/assets/new_assets/img2/fevicon_lavana.webp" rel="icon">
  <link href="../../public/assets/new_assets/img2/fevicon_lavana.webp" rel="apple-touch-icon">

    <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Playfair+Display:wght@400;500;600;700;800;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src=
  "https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
      </script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link href="assets/new_assets/css/font-awesome.min.css" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="assets/new_assets/vendor/aos/aos.css" rel="stylesheet">
  
  <link href="assets/new_assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/new_assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/new_assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/new_assets/css/style2.css" rel="stylesheet">
  <link href="assets/new_assets/css/style.css" rel="stylesheet">
  <link href="assets/new_assets/css/new.css" rel="stylesheet">

  <link href="assets/new_assets/css/owl.min.css" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-212799731-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-212799731-4');
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-174630181-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-174630181-1');
</script>

    <!-- MailerLite Universal -->
  <script>
    (function(m,a,i,l,e,r){ m['MailerLiteObject']=e;function f(){
    var c={ a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
    f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=m[e].q||f.q;r=a.createElement(i);
    var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l+'?v'+(~~(new Date().getTime()/1000000));
    _.parentNode.insertBefore(r,_);})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');
    
    var ml_account = ml('accounts', '3867533', 'r4q2f7i6e7', 'load');
  </script>
  <!-- End MailerLite Universal -->


  <!-- MailerLite Universal for newsletter-->
    <script>
    (function(m,a,i,l,e,r){ m['MailerLiteObject']=e;function f(){
    var c={ a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
    f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=m[e].q||f.q;r=a.createElement(i);
    var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l+'?v'+(~~(new Date().getTime()/1000000));
    .parentNode.insertBefore(r,);})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');

    var ml_account = ml('accounts', '3867533', 'r4q2f7i6e7', 'load');
    </script>
<!-- End MailerLite Universal -->


<style>
  #togg{
  border: none;
  background: #fff;
  color: #003399;
}
li .signin{
  color: #003399; 
  font-weight: 600;
}
li .signup{
  color: #003399; 
  font-weight: 600;
}
li .line{
  color: #003399;
}
.ds_link h2{
    font-family: 'Playfair Display', serif !important;
    font-weight: 600;
    color: #000;
}

#mlb2-5653363.ml-form-embedContainer{
  text-align: left !important;
}
#mlb2-5653363.ml-form-embedContainer .ml-form-align-center{
  text-align: left !important;
}
</style>


</head>
<body>

    <a class="whats-app" href="https://api.whatsapp.com/send?phone=+91-9971427608&amp;text=Hello! I'm interested in your LAVNA | Digital Locks. Please provide me with further details." target="_blank">
       <i class="bx bxl-whatsapp my-float"></i>
    </a>

    <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <a href="/" class="logo me-auto"><img src="../../public/assets/new_assets/img2/l_.webp" alt="Lavna_logo" class="img-fluid"></a>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/shop">Products</a></li>
        <li><a href="/builder">Builder’s Project</a></li>

        {{#if login}}
        <li>
          <a
            class="dropdown-toggle"
            href="#"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="fa fa-user"></i> Welcome
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
             <a class="dropdown-item" href="/user/dashboard">Dashboard</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/user/logout">Logout</a>
          </div>
        </li>
        {{else}}

        <li><a class="signin" href="/user/signin">SIGN IN</a></li>
        <li><span class="line">/</span></li>
        <li><a class="signup" href="/user/signup">SIGN UP</a></li>

        {{/if}}
          <li>
          <a href="/shopping-cart">
            <img id="my_img" width="100%" src="assets/new_assets/img2/cart-1.svg" alt="cart_icon"> {{#if session.cart}}
              <span class="badge badge-pill badge-info"> {{session.cart.totalQty}}</span>
              {{else}}
              <span class="badge badge-pill badge-info">0</span>
              {{/if}}
          </a>
         </li>
        </ul>
       
      </nav>
       <button id="togg">
             <i class="fa fa-bars" aria-hidden="true"></i>
       </button>

      <a class="cc" href="tel:1800-313-4491"><button class="button_unique" type="button" data-hover="1800-313-4491"><span><img src="assets/new_assets/img2/bx_bxs-phone-call.svg" alt="call_icon"> CUSTOMER CARE</span></button></a>

    </div>
  </header>
  <!-- End Header -->

     <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex justify-content-center align-items-center">
        <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
            <div class="box">
                <img src="assets/new_assets/img2/tag-logo_lavna.webp" alt="lavna_logo">
                <h2>Smart solution for your hotels, resorts, hospitals and other private premises.</h2>
                <a href="/shop" class="btn-get-started">Learn More</a>
            </div>
            
            </div>
            <div class="col-lg-6 col-sm-12">
            <div class="box1">
                <img data-aos="fade-left" src="assets/new_assets/img2/model.webp" alt="model_icon">
            </div>
            
            </div>
        </div>

        </div>
    </section>    
    <!-- End Hero -->

    <div class="container" id="top_count" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-6">
            <div class="box">
              <div class="row">
                <div class="col-lg-6 box_sm">
                  <h3>10,000+</h3>
                  <span>Satisfied Customers</span>
                </div>
                <div class="col-lg-6 box_lg">
                  <h3>4,250+</h3>
                  <span>Projects Completed</span>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
          <div class="container" data-aos="fade-up">
            <div class="row d-flex align-items-center">
              <div class="col-lg-6">
                <div class="box" data-aos="fade-left" data-aos-delay="1000">
                  <a href="/products/L-E50"><img class="shadow" src="assets/new_assets/img2/about_lavna.svg" alt="le50 fingerprint digital door lock" data-aos="fade-right" data-aos-delay="1200" loading="lazy"></a>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="box1" data-aos="fade-up">
                  <h5>Welcome to LAVNA &nbsp;<img width="15%" src="assets/new_assets/img2/Line_about.svg" alt="line_icon" loading="lazy"></h5>
                  <h3>About Us</h3>
                  <p>Combining technology with experience, Lavna brings you a complete range of smart locks that fits your every need. Our premium locks won't let you compromise on security and looks. The high-end technology will go with  every kind of door, ranging from wooden, metal to glass cabinets. Over 3 years, we have proudly completed more than 4250+ projects and reached to thousands of people.</p>
                  <a href="/about" class="btn shadow">Learn More</a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End About Section -->


        <!-- ======= Counts Section ======= -->
        <section id="counts" class="counts section-bg">
            <div class="container">
            <div class="row text-center">
                <div class="col-lg-12">
                <h5 data-aos="fade-down">WHY CHOOSE US <img src="assets/new_assets/img2/Line_about.svg" alt="line_icon" loading="lazy"></h5>
                <h1 data-aos="fade-up">India's only Leading Brand that provides<br> complete range of Digital Locks</h1>
                </div>
            </div>
            <div class="row mt-4 d-flex align-items-center">
                <div class="col-lg-6 mt-4">
                <div class="row">
                    <div class="col-lg-6">
                    <ul>
                        <li data-aos="fade-right"><img src="assets/new_assets/img2/Group (2).svg" alt="icon"> &nbsp;Wooden Door Lock</li>
                        <li data-aos="fade-right"><img src="assets/new_assets/img2/Group (2).svg" alt="icon"> &nbsp;Metal Door Lock</li>
                        <li data-aos="fade-right"><img src="assets/new_assets/img2/Group (2).svg" alt="icon"> &nbsp;Glass Door Lock</li>
                    </ul>
                    </div>
                    <div class="col-lg-6">
                    <ul>
                        <li data-aos="fade-left"><img src="assets/new_assets/img2/house.svg" alt="icon"> &nbsp;Residential use</li>
                        <li data-aos="fade-left"><img src="assets/new_assets/img2/fa-solid_hotel.svg" alt="icon"> &nbsp;Hotels and Restaurants use</li>
                    </ul>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-lg-12">
                    <h6>Lock Performance</h6>
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-success"
                            style="width:0%">
                        </div>
                    </div>
                    </div>
                    <div class="col-lg-12 mt-4">
                    <h6>Arrival Time</h6>
                    <div class="progress progress-striped active">
                        <div id="progress-bar2" class="progress-bar progress-bar-success"
                            style="width:0%">
                        </div>
                    </div>
                    </div>
                    <div class="col-lg-12 mt-4">
                    <h6>Modern Technology</h6>
                    <div class="progress progress-striped active">
                        <div id="progress-bar3" class="progress-bar progress-bar-success"
                            style="width:0%">
                        </div>
                    </div>
                    </div>
                </div>
                </div>
                <div class="col-lg-6">
                <div class="row row1-1 counters">
                    <div class="col-lg-6 row1 text-center">
                    <div class="box" data-aos="zoom-in">
                        <img src="assets/new_assets/img2/counter1.svg" alt="expert_team_icon" loading="lazy">
                        <span data-purecounter-start="0" data-purecounter-end="45" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Experts Team</p>
                    </div>
                    </div>
                    <div class="col-lg-6 text-center">
                    <div class="box" data-aos="zoom-in">
                        <img src="assets/new_assets/img2/counter2.svg" alt="projectsprojects_icon" loading="lazy">
                        <span data-purecounter-start="0" data-purecounter-end="4250" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Projects Completed</p>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <img data-aos="fade-left" data-aos-delay="800" id="line_wcu" width="50%" src="assets/new_assets/img2/Line 3.svg" alt="line_icon">
                </div>
                <div class="row counters">
                    <div class="col-lg-6 row2 text-center">
                    <div class="box" data-aos="zoom-in">
                        <img src="assets/new_assets/img2/counter3.svg" alt="client_icon" loading="lazy">
                        <span data-purecounter-start="0" data-purecounter-end="10000" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Satisfied Clients</p>
                    </div>
                    </div>
                    <div class="col-lg-6 text-center">
                    <div class="box" data-aos="zoom-in">
                        <img src="assets/new_assets/img2/counter4.svg" alt="experience_icon" loading="lazy">
                        <span data-purecounter-start="0" data-purecounter-end="3" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Years of Experience</p>
                    </div>
                    </div>
                </div>
                </div>
            </div>
    
            </div>
        </section>
        <!-- End Counts Section -->


        <!-- ======= Product Section ======= -->
       <section id="product_sec" class="why-us df_section ">
            <div class="container" data-aos="fade-up">
            <div class="row text-center ">
                <div class="box1">
                <h5>OUR PRODUCTS<img width="20%" src="assets/img2/Line_about.svg" alt="line_icon"></h5>
                <h3>Explore Range</h3>
                </div>
            </div>
            <div class="col-12 col-md-12 mt-5">
                <div class="row">
                <div class="col-12 col-md-12">
                    <div class="card prod_card">
                    <div class="col-md-12 pt-0 pb-0">
                        <div class="row">
                        <div class="col-md-7 order-lg-1 order-md-3 order-sm-3 order-3">
                            <div class="content_box">
                            <a class="ds_link link_ds" href="/products/L-A24-Black(Bluetooth)"><h2>L-A24-Black(Bluetooth)</h2></a>
                            <p><b style="color: #003399;">M.R.P.</b> <del><span><i class="fa fa-rupee"></i> 14200</span></del><span><i class="fa fa-rupee"></i> 10,999</span></p>
                            <p class="desc">Meet the 6 in 1 smart door lock from LAVNA Locks, which you can access from your Fingerprint, RFID Card, PIN, Bluetooth Unlocking, OTP Unlocking and Key.</p>
                            <a href="/products/L-A24-Black(Bluetooth)" class="btn btn-theme">Buy Now</a> 
                            </div>
                        </div>
                        
                        <div class="col-md-5 order-lg-2 order-md-1 order-sm-1 order-1">
                          <div class="Bluetooth1">
                            <a class="ds_link" href="/products/L-A24-Black(Bluetooth)"><h2 style="margin-left: 20px;">L-A24-Black(Bluetooth)</h2></a>
                          </div>
                          
                            <figure class="prod_img">
                                <a href="/products/L-A24-Black(Bluetooth)"><img id="pr_1_img" src="assets/new_assets/img2/la24_new.webp" alt="la24 bluetooth fingerprint digital door lock"/></a>
                            </figure>
                            
                        </div>
                        <div class="col-md-5 order-lg-2 order-md-2 order-sm-2 order-2 scoller-image">
                          <div class="swiper mySwiper" id="prd_thumb">
                          <div class="swiper-wrapper">
                              <div class="swiper-slide chn_img active" data-target="#pr_1_img" data-img="assets/new_assets/img2/la24_new.webp">
                              <figure class="prod_img">
                                  <img src="assets/new_assets/img2/la24_new.webp" alt="la24 bluetooth fingerprint digital door lock"/>
                              </figure>
                              </div>
          
                              <div class="swiper-slide chn_img" data-target="#pr_1_img" data-img="assets/new_assets/images/LA24_2.webp">
                              <figure class="prod_img">
                                  <img src="assets/new_assets/images/LA24_2.webp" alt="la24black_Product"/>
                              </figure>
                              </div>
          
                              <div class="swiper-slide chn_img" data-target="#pr_1_img" data-img="assets/new_assets/images/LA24_3.webp">
                              <figure class="prod_img">
                                  <img src="assets/new_assets/images/LA24_3.webp" alt="la24black_Product"/>
                              </figure>
                              </div>
          
                              <div class="swiper-slide chn_img" data-target="#pr_1_img" data-img="assets/new_assets/images/LA24_4.webp">
                              <figure class="prod_img">
                                  <img src="assets/new_assets/images/LA24_4.webp" alt="la24black_Product"/>
                              </figure>
                              </div>
          
                              <div class="swiper-slide chn_img" data-target="#pr_1_img" data-img="assets/new_assets/images/LA24_5.webp">
                              <figure class="prod_img">
                                  <img src="assets/new_assets/images/LA24_5.webp" alt="la24black_Product"/>
                              </figure>
                              </div>
          
                              <div class="swiper-slide chn_img" data-target="#pr_1_img" data-img="assets/new_assets/images/LA24_6.webp">
                              <figure class="prod_img">
                                  <img src="assets/new_assets/images/LA24_6.webp" alt="la24black_Product"/>
                              </figure>
                              </div>
          
                              <div class="swiper-slide chn_img" data-target="#pr_1_img" data-img="assets/new_assets/images/LA24_7.webp">
                              <figure class="prod_img">
                                  <img src="assets/new_assets/images/LA24_7.webp" alt="la24black_Product"/>
                              </figure>
                              </div>
          
                              <div class="swiper-slide chn_img" data-target="#pr_1_img" data-img="assets/landing_assets/images/img/free-installation.jpg">
                              <figure class="prod_img">
                                  <img src="assets/landing_assets/images/img/free-installation.jpg" alt="la24 to book free lock installation-contact us"/>
                              </figure>
                              </div>
                          </div>
                          <!-- <div class="swiper-button-next"></div>
                          <div class="swiper-button-prev"></div> -->
                          </div>
                      </div>
                        
                        </div>  
                    </div>
                    </div>
    
                    <div class="row scoller-image2">
                    <div class="col-md-7"></div>
                    <div class="col-md-5 ">
                        <div class="swiper mySwiper" id="prd_thumb">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide chn_img active" data-target="#pr_1_img" data-img="assets/new_assets/img2/la24_new.webp">
                            <figure class="prod_img">
                                <img src="assets/new_assets/img2/la24_new.webp" alt="la24 bluetooth fingerprint digital door lock"/>
                            </figure>
                            </div>
        
                            <div class="swiper-slide chn_img" data-target="#pr_1_img" data-img="assets/new_assets/images/LA24_2.webp">
                            <figure class="prod_img">
                                <img src="assets/new_assets/images/LA24_2.webp" alt="la24black_Product"/>
                            </figure>
                            </div>
        
                            <div class="swiper-slide chn_img" data-target="#pr_1_img" data-img="assets/new_assets/images/LA24_3.webp">
                            <figure class="prod_img">
                                <img src="assets/new_assets/images/LA24_3.webp" alt="la24black_Product"/>
                            </figure>
                            </div>
        
                            <div class="swiper-slide chn_img" data-target="#pr_1_img" data-img="assets/new_assets/images/LA24_4.webp">
                            <figure class="prod_img">
                                <img src="assets/new_assets/images/LA24_4.webp" alt="la24black_Product"/>
                            </figure>
                            </div>
        
                            <div class="swiper-slide chn_img" data-target="#pr_1_img" data-img="assets/new_assets/images/LA24_5.webp">
                            <figure class="prod_img">
                                <img src="assets/new_assets/images/LA24_5.webp" alt="la24black_Product"/>
                            </figure>
                            </div>
        
                            <div class="swiper-slide chn_img" data-target="#pr_1_img" data-img="assets/new_assets/images/LA24_6.webp">
                            <figure class="prod_img">
                                <img src="assets/new_assets/images/LA24_6.webp" alt="la24black_Product"/>
                            </figure>
                            </div>
        
                            <div class="swiper-slide chn_img" data-target="#pr_1_img" data-img="assets/new_assets/images/LA24_7.webp">
                            <figure class="prod_img">
                                <img src="assets/new_assets/images/LA24_7.webp" alt="la24black_Product"/>
                            </figure>
                            </div>
        
                            <div class="swiper-slide chn_img" data-target="#pr_1_img" data-img="assets/landing_assets/images/img/free-installation.jpg">
                            <figure class="prod_img">
                                <img src="assets/landing_assets/images/img/free-installation.jpg" alt="la24 to book free lock installation-contact us"/>
                            </figure>
                            </div>
                        </div>
                        <!-- <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div> -->
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
    
    
            <div class="col-12 col-md-12 mt-5">
                <div class="row">
                  <div class="col-12 col-md-12">
                    <div class="card prod_card">
                      <div class="col-md-12 pt-0 pb-0">
                        <div class="row">     
                          <div class="col-md-7 order-lg-1 order-md-3 order-sm-3 order-3">
                            <div class="content_box">
                                <a class="ds_link link_ds" href="/products/L-A28-Black(Bluetooth)"><h2>L-A28-Black(Bluetooth)</h2></a>
                                <p><b style="color: #003399;">M.R.P.</b> <del><span><i class="fa fa-rupee"></i> 8999</span></del> <span><i class="fa fa-rupee"></i> 8499</span></p>
                                <p class="desc">Meet the 6 in 1 smart door lock from LAVNA Locks, which you can access from your Fingerprint, RFID Card, PIN, Bluetooth Unlocking, OTP Unlocking and Key.
                                </p>
                                <a class="btn btn-theme" href="/products/L-A28-Black(Bluetooth)">Buy Now</a> 
                            </div>
                          </div>
                          <div class="col-md-5 order-lg-2 order-md-1 order-sm-1 order-1">
                            <div class="Bluetooth1">
                              <a class="ds_link" href="/products/L-A28-Black(Bluetooth)"><h2 style="margin-left: 20px;">L-A28-Black(Bluetooth)</h2></a>
                            </div>
                            <figure class="prod_img">
                                <a href="/products/L-A28-Black(Bluetooth)"><img id="pr_3_img" src="assets/new_assets/img2/frame1.webp" alt="la28 fingerprint digital door lock"/></a>
                            </figure>
                          </div>
                          <div class="col-md-5 order-md-2 order-sm-2 order-2  scoller-image">
                            <div class="swiper mySwiper" id="prd_thumb">
                              <div class="swiper-wrapper">
                                <div class="swiper-slide chn_img active" data-target="#pr_3_img" data-img="assets/img2/frame1.webp">
                                  <figure class="prod_img">
                                    <img src="assets/new_assets/img2/frame1.webp" alt="la28 fingerprint digital door lock"/>
                                  </figure>
                                </div>
                
                                <div class="swiper-slide chn_img" data-target="#pr_3_img" data-img="assets/new_assets/images/LA28_2.webp">
                                  <figure class="prod_img">
                                    <img src="assets/new_assets/images/LA28_2.webp" alt="la28black_Product"/>
                                  </figure>
                                </div>
                
                                <div class="swiper-slide chn_img" data-target="#pr_3_img" data-img="assets/new_assets/images/LA28_3.webp">
                                  <figure class="prod_img">
                                    <img src="assets/new_assets/images/LA28_3.webp" alt="la28 black product unlocking"/>
                                  </figure>
                                </div>
                
                                <div class="swiper-slide chn_img" data-target="#pr_3_img" data-img="assets/new_assets/images/LA28_4.webp">
                                  <figure class="prod_img">
                                    <img src="assets/new_assets/images/LA28_4.webp" alt="la28 black features of fingerprint digital door lock"/>
                                  </figure>
                                </div>
                
                                <div class="swiper-slide chn_img" data-target="#pr_3_img" data-img="assets/new_assets/images/LA28_5.webp">
                                  <figure class="prod_img">
                                    <img src="assets/new_assets/images/LA28_5.webp" alt="la28 black product unlocking"/>
                                  </figure>
                                </div>
                
                                <div class="swiper-slide chn_img" data-target="#pr_3_img" data-img="assets/new_assets/images/LA28_6.webp">
                                  <figure class="prod_img">
                                    <img src="assets/new_assets/images/LA28_6.webp" alt="la28 black product battery backup"/>
                                  </figure>
                                </div>
                
                                <div class="swiper-slide chn_img" data-target="#pr_3_img" data-img="assets/new_assets/images/LA28_7.webp">
                                  <figure class="prod_img">
                                    <img src="assets/new_assets/images/LA28_7.webp" alt="la28 black universal lock-suitable for all sides"/>
                                  </figure>
                                </div>
                
                                <div class="swiper-slide chn_img" data-target="#pr_3_img" data-img="assets/landing_assets/images/img/free-installation.jpg">
                                  <figure class="prod_img">
                                    <img src="assets/landing_assets/images/img/free-installation.jpg" alt="la24 to book free lock installation-contact us"/>
                                  </figure>
                                </div>
                              
                              
                              </div>
                            </div>
                          </div>
                         
                        </div>
                      </div>
                    </div>
          
                    <div class="row scoller-image2">
                      <div class="col-md-7"></div>
                      <div class="col-md-5 ">
                        <div class="swiper mySwiper" id="prd_thumb">
                          <div class="swiper-wrapper">
                            <div class="swiper-slide chn_img active" data-target="#pr_3_img" data-img="assets/new_assets/img2/frame1.webp">
                              <figure class="prod_img">
                                <img src="assets/new_assets/img2/frame1.webp" alt="la28 fingerprint digital door lock"/>
                              </figure>
                            </div>
            
                            <div class="swiper-slide chn_img" data-target="#pr_3_img" data-img="assets/new_assets/images/LA28_2.webp">
                              <figure class="prod_img">
                                <img src="assets/new_assets/images/LA28_2.webp" alt="la28black_Product"/>
                              </figure>
                            </div>
            
                            <div class="swiper-slide chn_img" data-target="#pr_3_img" data-img="assets/new_assets/images/LA28_3.webp">
                              <figure class="prod_img">
                                <img src="assets/new_assets/images/LA28_3.webp" alt="la28 black product unlocking"/>
                              </figure>
                            </div>
            
                            <div class="swiper-slide chn_img" data-target="#pr_3_img" data-img="assets/new_assets/images/LA28_4.webp">
                              <figure class="prod_img">
                                <img src="assets/new_assets/images/LA28_4.webp" alt="la28 black features of fingerprint digital door lock"/>
                              </figure>
                            </div>
            
                            <div class="swiper-slide chn_img" data-target="#pr_3_img" data-img="assets/new_assets/images/LA28_5.webp">
                              <figure class="prod_img">
                                <img src="assets/new_assets/images/LA28_5.webp" alt="la28 black product unlocking"/>
                              </figure>
                            </div>
            
                            <div class="swiper-slide chn_img" data-target="#pr_3_img" data-img="assets/new_assets/images/LA28_6.webp">
                              <figure class="prod_img">
                                <img src="assets/new_assets/images/LA28_6.webp" alt="la28 black product battery backup"/>
                              </figure>
                            </div>
            
                            <div class="swiper-slide chn_img" data-target="#pr_3_img" data-img="assets/new_assets/images/LA28_7.webp">
                              <figure class="prod_img">
                                <img src="assets/new_assets/images/LA28_7.webp" alt="la28 black universal lock-suitable for all sides"/>
                              </figure>
                            </div>
            
                            <div class="swiper-slide chn_img" data-target="#pr_3_img" data-img="assets/landing_assets/images/img/free-installation.jpg">
                              <figure class="prod_img">
                                <img src="assets/landing_assets/images/img/free-installation.jpg" alt="la24 to book free lock installation-contact us"/>
                              </figure>
                            </div>
                          
                          
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            
    
        <section class="AmazingFeatureSec df_section">
            <div class="container">
            <div class="row text-center ">
                <div class="box1">
                <h5>lock’s fEATURES<img width="20%"  src="assets/new_assets/img2/Line_about.svg" alt="line_icon"></h5>
                <h3>Amazing Features</h3>
                
                </div>
            </div>
                <div class="row">
                    <div class="col-lg-12">
                    
                        <div id="navigation" class="owl-carousel  amazingfeature-wrap">
                            <div class="projectitem">
                                <div class="iconBoxWRP">
                                    <div class="iconBox">
                                        <img loading="lazy" src="assets/new_assets/images/1unlocked.webp" class="default" alt="Smart Password" title="Smart Password">
                                        <img loading="lazy" src="assets/new_assets/images/unlocked.webp" class="deHover" alt="Smart Password" title="Smart Password" />
                                    </div>
                                </div>
                            </div>
                            <div class="projectitem">
                                <div class="iconBoxWRP">
                                    <div class="iconBox">
                                        <img loading="lazy" src="assets/new_assets/images/1low-battery.webp" class="default" alt="Smart Voice" title="Smart Voice">
                                        <img loading="lazy" src="assets/new_assets/images/low-battery.webp" class="deHover" alt="Smart Voice" title="Smart Voice" />
                                    </div>
                                </div>
                            </div>
                            <div class="projectitem">
                                <div class="iconBoxWRP">
                                    <div class="iconBox">
                                        <img loading="lazy" src="assets/new_assets/images/1fingerprint-scan.webp" class="default" alt="Smart Etiquettes" title="Smart Etiquettes">
                                        <img loading="lazy" src="assets/new_assets/images/fingerprint-scan.webp" class="deHover" alt="Smart Etiquettes - Talking Lock" title="Smart Etiquettes - Talking Lock" />
                                    </div>
                                </div>
                            </div>
                            <div class="projectitem">
                                <div class="iconBoxWRP">
                                    <div class="iconBox">
                                        <img loading="lazy" src="assets/new_assets/img2/ant-design_mobile-filled(blue).svg" class="default" alt="Smart Security" title="Smart Security">
                                        <img loading="lazy" src="assets/new_assets/img2/ant-design_mobile-filled.svg" class="deHover" alt="Smart Security - Two Access Authentications" title="Smart Security - Two Access Authentications" />
                                    </div>
                                </div>
                            </div>

                            <div class="projectitem">
                            <div class="iconBoxWRP">
                                <div class="iconBox">
                                    <img loading="lazy" src="assets/new_assets/img2/gis_map-unlock (blue).svg" class="default" alt="Smart Security" title="Smart Security">
                                    <img loading="lazy" src="assets/new_assets/img2/gis_map-unlock.svg" class="deHover" alt="Smart Security - Two Access Authentications" title="Smart Security - Two Access Authentications" />
                                </div>
                            </div>
                        </div>
                
                    
                        
                        </div>
                        <div id="slider" class="owl-carousel">
                            <div class="projectitem">
                                <div class="tbaDeasIN">
                                    <div class="project-title-wrap">
                                        <h4>OTP Unlock </h4>
                                
                                    </div>
                                    <p>You can generate OTP from anywhere & share with your guest for one time entrance in your absence.</p>
                                </div>
                            </div>
                            <div class="projectitem">
                                <div class="tbaDeasIN">
                                    <div class="project-title-wrap">
                                        <h4>External power port </h4>
                            
                                    </div>
                                    <p>You can give power to the lock externally from any normal power bank in case of complete battery drain.</p>
                                </div>
                            </div>
                            <div class="projectitem">
                                <div class="tbaDeasIN">
                                    <div class="project-title-wrap">
                                        <h4>360⁰ Fingerprint Sensor </h4>
                                
                                    </div>
                                    <p>Register up to 100 fingerprints in the lock. 0.4 sec. unlocking speed.</p>
                                </div>
                            </div>
                            <div class="projectitem">
                                <div class="tbaDeasIN">
                                    <div class="project-title-wrap">
                                        <h4>Mobile application </h4>
                                
                                    </div>
                                    <p>This lock completely operates through mobile application. Add/Del. any user, unlocking records, Bluetooth unlocking..</p>
                                </div>
                            </div>
                            <div class="projectitem">
                                <div class="tbaDeasIN">
                                    <div class="project-title-wrap">
                                        <h4>Past Unlocking Records </h4>
                                
                                    </div>
                                    <p>You can Check Past Unlocking record in your Mobile Application.
                            </div>
                    
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        
        <div class="col-12 col-md-12 mt-5 rmd3">
            <div class="row">
              <div class="col-12 col-md-12">
                <div class="card prod_card">
                  <div class="col-md-12 pt-0 pb-0">
                    <div class="row">     
                      <div class="col-md-7 order-lg-1 order-md-3 order-sm-3 order-3">
                        <div class="content_box">
                          <a class="ds_link link_ds" href="/products/L-A15"><h2>L-A15</h2></a>
                          <p><b style="color: #003399;">M.R.P.</b> <del><span><i class="fa fa-rupee"></i> 4999</span></del> <span><i class="fa fa-rupee"></i> 3999</span></p>
                          <p class="desc">Meet the 2 in 1 most affordable smart door lock from LAVNA Locks, which you can access from your Fingerprint and Key.
                          </p>
                          <a class="btn btn-theme" href="/products/L-A15">Buy Now</a> 
                        </div>
                      </div>
                      <div class="col-md-5 order-lg-2 order-md-1 order-sm-1 order-1">
                        <div class="Bluetooth1">
                          <a class="ds_link" href="/products/L-A15"><h2 style="margin-left: 20px;">L-A15</h2></a>
                        </div>
                        <figure class="prod_img">
                            <a href="/products/L-A15"><img id="pr_5_img" src="assets/new_assets/images/LA15/1.webp" alt="la15 fingerprint digital door lock"/></a>
                        </figure>
                      </div>
                      <div class="col-md-5 order-md-2 order-sm-2 order-2 scoller-image">
                        <div class="swiper mySwiper" id="prd_thumb">
                          <div class="swiper-wrapper">
                            <div class="swiper-slide chn_img active" data-target="#pr_5_img" data-img="assets/new_assets/images/LA15/1.webp">
                              <figure class="prod_img">
                                <img src="assets/new_assets/images/LA15/1.webp" alt="la15 fingerprint digital door lock"/>
                              </figure>
                            </div>
            
                            <div class="swiper-slide chn_img" data-target="#pr_5_img" data-img="assets/new_assets/images/LA15/2.webp">
                              <figure class="prod_img">
                                <img src="assets/new_assets/images/LA15/2.webp" alt="la15 fingerprint digital door lock"/>
                              </figure>
                            </div>
            
                            <div class="swiper-slide chn_img" data-target="#pr_5_img" data-img="assets/new_assets/images/LA15/3.webp">
                              <figure class="prod_img">
                                <img src="assets/new_assets/images/LA15/3.webp" alt="la15 features of fingerprint digital door lock"/>
                              </figure>
                            </div>
            
                            <div class="swiper-slide chn_img" data-target="#pr_5_img" data-img="assets/new_assets/images/LA15/4.webp">
                              <figure class="prod_img">
                                <img src="assets/new_assets/images/LA15/4.webp" alt="la151 year warranty"/>
                              </figure>
                            </div>
            
                            <div class="swiper-slide chn_img" data-target="#pr_5_img" data-img="assets/new_assets/images/LA15/5.webp">
                              <figure class="prod_img">
                                <img src="assets/new_assets/images/LA15/5.webp" alt="la15 unlocking of digital lock"/>
                              </figure>
                            </div>
            
                            <div class="swiper-slide chn_img" data-target="#pr_5_img" data-img="assets/new_assets/images/LA15/6.webp">
                              <figure class="prod_img">
                                <img src="assets/new_assets/images/LA15/6.webp" alt="la15 battery backup"/>
                              </figure>
                            </div>
            
                            <div class="swiper-slide chn_img" data-target="#pr_5_img" data-img="assets/new_assets/images/LA15/7.webp">
                              <figure class="prod_img">
                                <img src="assets/new_assets/images/LA15/7.webp" alt="la15 unlocking pleasure-digital lock"/>
                              </figure>
                            </div>
            
                            <div class="swiper-slide chn_img" data-target="#pr_5_img" data-img="assets/new_assets/images/LA15/8.webp">
                              <figure class="prod_img">
                                <img src="assets/new_assets/images/LA15/8.webp" alt="la15 universal lock-suitable for all sides-digital lock"/>
                              </figure>
                            </div>
        
                            <div class="swiper-slide chn_img" data-target="#pr_5_img" data-img="assets/new_assets/images/LA15/9.webp">
                              <figure class="prod_img">
                                <img src="assets/new_assets/images/LA15/9.webp" alt="la15 video call for installation support"/>
                              </figure>
                            </div>
                          
                          
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
      
                <div class="row scoller-image2">
                  <div class="col-md-7"></div>
                  <div class="col-md-5 ">
                    <div class="swiper mySwiper" id="prd_thumb">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide chn_img active" data-target="#pr_5_img" data-img="assets/new_assets/images/LA15/1.webp">
                          <figure class="prod_img">
                            <img src="assets/new_assets/images/LA15/1.webp" alt="la15 fingerprint digital door lock"/>
                          </figure>
                        </div>
        
                        <div class="swiper-slide chn_img" data-target="#pr_5_img" data-img="assets/new_assets/images/LA15/2.webp">
                          <figure class="prod_img">
                            <img src="assets/new_assets/images/LA15/2.webp" alt="la15 fingerprint digital door lock"/>
                          </figure>
                        </div>
        
                        <div class="swiper-slide chn_img" data-target="#pr_5_img" data-img="assets/new_assets/images/LA15/3.webp">
                          <figure class="prod_img">
                            <img src="assets/new_assets/images/LA15/3.webp" alt="la15 features of fingerprint digital door lock"/>
                          </figure>
                        </div>
        
                        <div class="swiper-slide chn_img" data-target="#pr_5_img" data-img="assets/new_assets/images/LA15/4.webp">
                          <figure class="prod_img">
                            <img src="assets/new_assets/images/LA15/4.webp" alt="la151 year warranty"/>
                          </figure>
                        </div>
        
                        <div class="swiper-slide chn_img" data-target="#pr_5_img" data-img="assets/new_assets/images/LA15/5.webp">
                          <figure class="prod_img">
                            <img src="assets/new_assets/images/LA15/5.webp" alt="la15 unlocking of digital lock"/>
                          </figure>
                        </div>
        
                        <div class="swiper-slide chn_img" data-target="#pr_5_img" data-img="assets/new_assets/images/LA15/6.webp">
                          <figure class="prod_img">
                            <img src="assets/new_assets/images/LA15/6.webp" alt="la15 battery backup"/>
                          </figure>
                        </div>
        
                        <div class="swiper-slide chn_img" data-target="#pr_5_img" data-img="assets/new_assets/images/LA15/7.webp">
                          <figure class="prod_img">
                            <img src="assets/new_assets/images/LA15/7.webp" alt="la15 unlocking pleasure-digital lock"/>
                          </figure>
                        </div>
        
                        <div class="swiper-slide chn_img" data-target="#pr_5_img" data-img="assets/new_assets/images/LA15/8.webp">
                          <figure class="prod_img">
                            <img src="assets/new_assets/images/LA15/8.webp" alt="la15 universal lock-suitable for all sides-digital lock"/>
                          </figure>
                        </div>
    
                        <div class="swiper-slide chn_img" data-target="#pr_5_img" data-img="assets/new_assets/images/LA15/9.webp">
                          <figure class="prod_img">
                            <img src="assets/new_assets/images/LA15/9.webp" alt="la15 video call for installation support"/>
                          </figure>
                        </div>
                      
                      
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> 
    
            <div class="row mt-4 prod-row text-center">
            <div class="col-lg-12 mt-4">
                <a href="/shop" class="btn"> View More</a>
            </div>
            </div>
            </div>
            
        </section>
        <!-- End Product Section -->


        <!-- ======= Why Us Section ======= -->
        <section id="video" class="why-us">
            <div class="container-fluid" data-aos="fade-up">
            <div class="row text-center">
                <h5>Installation Videos <img src="assets/new_assets/img2/Line_about.svg" alt="line_icon"></h5>
                <h3>Watch Videos</h3>
                <p>Explore the world of Smart Door Locks, without compromising on your security.</p>
            </div>
        
            <div class="row" id="row">
                <div class="col-lg-12 aos-init aos-animate" id="video" data-aos="zoom-out" data-aos-delay="100">
                <iframe width="100%" height="500" src="https://www.youtube.com/embed/IaCOQMtg8eQ/vidid?modestbranding=1&amp;rel=0&amp;showinfo=0" allow="fullscreen;" loading="lazy">
                </iframe>
                <div class="firstsection">
                
                </div>
                </div>
            </div>
            </div>
        </section>
        <!-- End Why Us Section -->


        <!-- ======= trusted Section ======= -->
        <section id="trusted" class="why-us">
            <div class="container" data-aos="fade-up">
            <div class="row text-center">
                <h5>Trusted by best brands <img src="assets/new_assets/img2/Line_about.svg" alt="line_
                icon"></h5>
                <h3>Trusted By</h3>
                <p>Our premium quality and reliability has been trusted by industry leaders.</p>
            </div>
            <div class="row mt-4">
                <div class="col-lg-4">
                <div class="box text-center">
                    <img src="assets/new_assets/img2/airindia.webp" alt="airindia" data-aos="fade-right" loading="lazy">
                </div>
                </div>
                <div class="col-lg-4 text-center">
                <div class="box">
                    <img src="assets/new_assets/img2/aiims.webp" alt="aiims" data-aos="zoom-in" loading="lazy">
                </div>
                </div>
                <div class="col-lg-4 text-center">
                <div class="box kb_logo">
                    <img src="assets/new_assets/img2/krishibhawan.webp" alt="krishibhawan" data-aos="fade-left" loading="lazy">
                </div>
                </div>
            </div>
            </div>
        </section>
        <!-- End trusted Section -->

         <!-- ======= Householders Section ======= -->
        <section id="Householders" class="why-us">
            <div class="container" data-aos="fade-up">
            <div class="row text-center">
                <h5 data-aos="zoom-in">SATISFIED HOUSEHOLDERS OF <img src="assets/new_assets/img2/Line_about.svg" alt="line_icon"></h5>
                <h3 data-aos="zoom-out">Householders</h3>
                <p data-aos="fade-left">Our brand stands on the solid ground of trust which makes us everyone’s household product.</p>
            </div>
            <div class="row mt-4 mb-4 text-center d-flex align-items-center">
                <div class="col-lg-6 row1">
                <div class="box text-center">
                    <img width="55%" src="assets/new_assets/img2/omaxe-realty.jpg.crdownload.jpeg" alt="omaxe_logo" loading="lazy">
                </div>
                </div>
                <div class="col-lg-6">
                <div class="box">
                    <img width="32%" src="assets/new_assets/img2/brigade-group-logo.webp" alt="brigade_logo" loading="lazy">
                </div>
                </div>
            </div>
            <div class="row mt-4 text-center d-flex align-items-center">
                <div class="col-lg-6 row2">
                <div class="box">
                    <img width="30%" src="assets/new_assets/img2/supertech-logo-250x250.webp" alt="supertech_logo" loading="lazy">
                </div>
                </div>
                <div class="col-lg-6">
                <div class="box">
                    <img width="55%" src="assets/new_assets/img2/logo-black.webp" alt="phoenix_logo" loading="lazy">
                </div>
                </div>
            </div>
            </div>
        </section>
        <!-- End Householders Section -->

        <section id="offer">
            <div class="container-fluid">
              <a href="javascript:;" onclick="ml_account('webforms', '5693852', 'q0i7t3', 'show')"> 
                <img width="100%" src="assets/new_assets/img2/offer_.webp" alt="coupon_code_offer">
              </a>
            </div>
        </section>

        
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Get Coupon Code</h5>
                        <button type="button" class="close shadow" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                       <div class="ml-form-embed" data-account="3867533:r4q2f7i6e7" data-form="5604774:t6j4n1"></div>
                        <p class="text-center">*Please also check your Promotion tab</p>
                    </div>                   
                       <!-- Badge overlay DIV -->
                       <div class="badge-overlay">
                        <!-- Change Badge Position, Color, Text here-->
                        <span class="top-left badge1 orange">Get 5% Off</span>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- review section -->
        <section style="padding: 0;" id="customer_rev" class="why-us df_section ">
        
            <div class="container-fluid" data-aos="fade-up">
            <div class="row text-center ">
                <div class="box1">
                <h5 style="margin-top: 80px;">CUSTOMER REVIEWS FROM AMAZON<img width="5%" style="width:5% !important;" src="assets/new_assets/img2/Line_about.svg" alt="line_logo"></h5>
                <h3>Customer Review</h3>
                <p class="text-center"><small>we are making our customers life simpler and better. Read what they mention about us</small></p>
        
                <div class="rv_bx67">
                    <div class="swiper mySwiper" id="reviewSlides">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                        <div class="rev_box w-100" >
        
                            <figure class="rev_cus lst1 vg"><img src="assets/new_assets/images/unsplash_DMVD9RkZIwQ.webp" alt="customer_img"/></figure>
                    
                            <div class="content_bx_rev cnt_rev1" >
                            <h3>Kunal</h3>
                    
                            <img class="qtr" src="assets/new_assets/images/clarity_block-quote-line.svg" alt="icon" loading="lazy">
                    
                            <p>It's an amazing product at this price. Completely satisfied with the product and telephonic support from the technician for installation. I hardly bugged the support center for the installation, but whenever I've called them they have provided the best support with the direct video call. </p>
                            <a class="rv_link" href="https://www.amazon.in/Digital-Wooden-Fingerprint-Application-Password/dp/B083KJ3BVR/ref=sr_1_5?adgrpid=81549176372&ext_vrnc=hi&gclid=CjwKCAiA0KmPBhBqEiwAJqKK48pYx2DqUHig_a2LzMGyTiPWvCtOvz6PYY3XXeNgJU8rSxq6QMoeLxoCI3YQAvD_BwE&hvadid=398045578216&hvdev=c&hvlocphy=9302312&hvnetw=g&hvqmt=b&hvrand=5013730765144981200&hvtargid=kwd-993992208397&hydadcr=10402_1922210&keywords=lavna%2Bdoor%2Block&qid=1642766063&sr=8-5&th=1" target="_blank">Read More</a>
                        
                            </div>
                    
                            </div>
                        </div>
                        <div class="swiper-slide">
                        <div class="rev_box w-100" >
        
                            <figure class="rev_cus mindvg"><img src="assets/new_assets/images/unsplash_cYrTvqPMATY.webp" alt="customer_img"/></figure>
                    
                            <div class="content_bx_rev cnt_rev2">
                            <h3>Manoj
                            </h3>
                    
                            <img class="qtr" src="assets/new_assets/images/clarity_block-quote-line.svg" alt="icon" loading="lazy">
                    
                    
                            <p>First I would like to say kudos to the service provided with the product, I got immediate reply on every call and manager was very polite and helpful. Now the product, its just awesome, beautiful lock with so many options to operate.</p>
                            
                            <a class="rv_link" href="https://www.amazon.in/Digital-Wooden-Fingerprint-Application-Password/dp/B083KJ3BVR/ref=sr_1_5?adgrpid=81549176372&ext_vrnc=hi&gclid=CjwKCAiA0KmPBhBqEiwAJqKK48pYx2DqUHig_a2LzMGyTiPWvCtOvz6PYY3XXeNgJU8rSxq6QMoeLxoCI3YQAvD_BwE&hvadid=398045578216&hvdev=c&hvlocphy=9302312&hvnetw=g&hvqmt=b&hvrand=5013730765144981200&hvtargid=kwd-993992208397&hydadcr=10402_1922210&keywords=lavna%2Bdoor%2Block&qid=1642766063&sr=8-5&th=1" target="_blank">Read More</a>
                        
                            </div>
                    
                            </div>
        
                        </div>
                        <div class="swiper-slide">
                        
                        <div class="rev_box w-100">
        
                        <figure class="rev_cus vg lstrv"><img src="assets/new_assets/img2/review_1.svg" alt="customer_img"/></figure>
                
                        <div class="content_bx_rev cnt_rev3">
                            <h3>Jaymin Vyas
                        </h3>
                
                            <img class="qtr" src="assets/new_assets/images/clarity_block-quote-line.svg" alt="icon" loading="lazy">
                
                
                            <p>I was a bit sceptical early on whether we can rely on a new supplier for such a niche product. But they proved their worth hands down! A feature rich product, at such a reasonable price point. And in cases like these, it is not just the product that matters - it is the pre and post sales support that is equally or rather more important. That's where these guys are equally apt.
                        
                            </p>
                        
                            <a class="rv_link" href="https://www.amazon.in/Digital-Wooden-Fingerprint-Application-Password/dp/B083KJ3BVR/ref=sr_1_5?adgrpid=81549176372&ext_vrnc=hi&gclid=CjwKCAiA0KmPBhBqEiwAJqKK48pYx2DqUHig_a2LzMGyTiPWvCtOvz6PYY3XXeNgJU8rSxq6QMoeLxoCI3YQAvD_BwE&hvadid=398045578216&hvdev=c&hvlocphy=9302312&hvnetw=g&hvqmt=b&hvrand=5013730765144981200&hvtargid=kwd-993992208397&hydadcr=10402_1922210&keywords=lavna%2Bdoor%2Block&qid=1642766063&sr=8-5&th=1" target="_blank">Read More</a>
                        
                        </div>
                
                        </div>
                        </div>
        
        
        
                        <div class="swiper-slide">
                        
                            <div class="rev_box w-100">
                    
                            <figure class="rev_cus vg lstrv"><img src="assets/new_assets/img2/review_2.svg" alt="customer_img"/></figure>
                    
                            <div class="content_bx_rev cnt_rev3">
                            <h3>Jasmeet
                            </h3>
                    
                            <img class="qtr" src="assets/new_assets/images/clarity_block-quote-line.svg" alt="icon" loading="lazy">
                    
                    
                            <p>I am super happy with my purchase. The super responsive team at Lavna locks made the product installation so seamless and their after sales service truly outshone my expectations.
                                I am blown away with the fact that their digital locks are super affordable yet packed with all the features one would expect in a more expensive device.
                                I did a thorough research before purchasing this lock and I am so glad I locked on this one ( pun intended).
                        
                            </p>
                        
                        
                            <a class="rv_link" href="https://www.amazon.in/Digital-Wooden-Fingerprint-Application-Password/dp/B083KJ3BVR/ref=sr_1_5?adgrpid=81549176372&ext_vrnc=hi&gclid=CjwKCAiA0KmPBhBqEiwAJqKK48pYx2DqUHig_a2LzMGyTiPWvCtOvz6PYY3XXeNgJU8rSxq6QMoeLxoCI3YQAvD_BwE&hvadid=398045578216&hvdev=c&hvlocphy=9302312&hvnetw=g&hvqmt=b&hvrand=5013730765144981200&hvtargid=kwd-993992208397&hydadcr=10402_1922210&keywords=lavna%2Bdoor%2Block&qid=1642766063&sr=8-5&th=1" target="_blank">Read More</a>
                        
                            </div>
                    
                            </div>
                            </div>
                    
                    </div>
                    <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
            </div>
        
        </section>
        <!-- review_sec -->

        <div class="nb-form">
            <p class="title sdkjk">Enquire Now</p>
            <img id="rms87" src="assets/new_assets/img2/times5.webp" class="hide" alt="cancel_icon" >
                  
            <form id="contact-form">
              <input type="text" name="cpname" id="name" placeholder="Name" pattern="[A-Za-z. ]+" data-error="Name is required." min-length="3" required>
              <input type="email" name="cpemail" id="email" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" data-error="Valid email is required." required>
              <input type="text" name="cpphone" id="mobile" placeholder="Phone" pattern="[1-9]+[0-9]{9}" data-error="Contact no is required." required>
              <select name="product" id="product" required>
                 <option value="" selected>Select Product</option>
                <option>L-A24(Bluetooth)</option>
                <option>L-A28(Bluetooth)</option>
                <option>L-A15</option>
                <option>L-E50</option>
                <option>L-A5</option>
                <option>L-S9</option>
                <option>L-H300(With Encoder)</option>
              </select>
              <textarea name="cpmessage" id="message" placeholder="Message" required></textarea>
              <input id="submit-modal2" type="submit" value="Send message">
            </form>
        </div>

    </main>


    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="container">
      <div class="footer-top">
          <div class="row">
          <div class="col-lg-12">
          <a href="/" class="logo me-auto"><img width="20%" src="assets/new_assets/img2/Logo.webp" alt="Lavna_logo"></a>
          </div>
          </div>    
      </div>
      <div class="footer-mid">
          <div class="row mt-4">
          <div class="col-lg-5">
              <div class="box">
              <h4>Subscribe to our newsletter</h4>
              {{!-- <form id="contact-form2">
                  <input type="email" name="email" id="emailsb" placeholder="Enter Your Email" required><button type="submit" id="submit-modal2">Subscribe Us</button>
              </form> --}}

              <form action="">
                <div class="ml-form-embed" data-account="3867533:r4q2f7i6e7" data-form="5653363:t6a8j0">
                </div>
              </form>
              
              </div>
          </div>
          <div class="col-lg-4">
              <h4 class="link">Links</h4>
              <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/shop">Products</a></li>
              <li><a href="/builder">Builder’s Project</a></li>
              <li><a href="/privacypolicy">Privacy Policy</a></li>
                 <li><a href="/faq">FAQ</a></li>
            <li><a href="/blog">Blog</a></li>
              </ul>
          </div>
          <div class="col-lg-3">
            <h4 class="link">Contact Us</h4>
            <ul>
            <li><a href="tel:+91-18003134491"><i class="fa fa-phone"></i>  +91-18003134491</a></li>
            <li> <a href="mailto:sales@lavnalocks.com"><i class="fa fa-envelope"></i> sales@lavnalocks.com</a></li>
            </ul>
              <ul class="lastul">
              <li><a target="_blank" href="https://www.facebook.com/bhagwnshrilocksprivatelimited/"><img src="assets/new_assets/img2/facebook (2).svg" alt="facebook"></a></li>
              <li><a target="_blank" href="https://www.instagram.com/lavnalocks/"><img src="assets/new_assets/img2/instagram (1).svg" alt="instagram"></a></li>
              <li><a target="_blank" href="https://youtu.be/Yst8KW2Vm4M"><img src="assets/new_assets/img2/Vector (13).webp" alt="youtube"></a></li>
            </ul>
          </div>
          </div>
      </div>
      </div>


      <div id="f_bottom" class="container-fluid">
      <div class="row text-center">
          <div class="col-lg-12 footer-bottom">
          <div class="copyright">
              &copy; 2022 LAVNA Locks is a Unit of Bhagwn Shri Locks PVT. LTD. All Rights Reserved.
          </div>
          </div>
      </div>
      </div>
  </footer>
    <!-- End Footer -->
    
    <div id="preloader"></div>
    <script src="assets/new_assets/js/jquery.min.js"></script>

  <!-- Vendor JS Files -->
  <script src="../../public/assets/new_assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/new_assets/vendor/aos/aos.js"></script>
  <script src="assets/new_assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/new_assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/new_assets/js/main.js"></script>
  <script src="assets/new_assets/js/owl.min.js"></script>  
  <script src="assets/new_assets/js/custom.js"></script>  


  <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js">
  </script>



<script type="text/javascript">
   (function(){
      emailjs.init("user_mTjMBBP092bpZsnZTyLfp");
   })();
</script>
  

  <script>
      $(".progress-bar").animate({
      width: "92%"
    }, 2500);

    $("#progress-bar2").animate({
        width: "84%"
    }, 2500);

    $("#progress-bar3").animate({
        width: "88%"
    }, 2500);
  </script>

 
<script>
  var swiper = new Swiper("#prd_thumb", {
    slidesPerView: 5.5,
    spaceBetween: 20,

    navigation: {
        nextEl: "#prd_thumb .swiper-button-next",
        prevEl: "#prd_thumb .swiper-button-prev",
      },
   
  });


$(document).ready(function(){

$('.chn_img').click(function(){

$('.chn_img').removeClass('active');
$(this).addClass('active');
var target = $(this).attr('data-target');
var src = $(this).attr('data-img');

$(target).attr('src',src);

});

});

</script>

//mail enquery 
<script>
	$(document).ready(function(){
		$("#contact-form").submit(function(e) {
      $('#submit-modal').html('Sending...');
    			e.preventDefault();

			var Name = document.getElementById("name")?.value;
			var emailId = document.getElementById("email")?.value;
			var mobile = document.getElementById("mobile")?.value;
      var product = document.getElementById("product")?.value;
      var message = document.getElementById("message")?.value;

			if(Name ==='' || Name == undefined )
			{
				return;
			}
			if(emailId ==='' || emailId == undefined )
			{
				return;
			}
			if(mobile==='' || mobile == undefined )
			{
				return;
			}
      if(product==='' || product == undefined )
			{
				return;
			}
      if(message==='' || message == undefined )
			{
				return;
			}

      var Body ='Name: '+Name+'<br>Email: '+emailId+'<br>Mobile: '+mobile+'<br>Product: '+product+'<br>Message: '+message;
      $('#name').val('');
      $('#email').val('');
      $('#mobile').val('');
      $('#product').val('');
      $('#message').val('');

      sendMailToOwner(Body, Name, emailId, mobile, product,message );
			});

		});
 

  function sendMailToOwner(Body, Name, emailId, mobile, product,message){

var data = {
   service_id: 'service_8zp4yhp',
   template_id: 'template_r8bl13q',
   user_id: 'user_mTjMBBP092bpZsnZTyLfp',
   template_params: {
     
        'from_name': Name,
	      'user_name':Name,
         'user_email':emailId,
         'user_mobile':mobile,
         'product':product,
          'message':message,
         'reply_to':'contact@flybunch.com', 
         'owner_email': 'sales@lavnalocks.com',
         'company': 'Lavnalocks',
   }
};

$.ajax('https://api.emailjs.com/api/v1.0/email/send', {
   type: 'POST',
   data: JSON.stringify(data),
   contentType: 'application/json'
}).done(function() {
  $('#submit-modal').html('Send');
$('#closemodal').trigger('click');
}).fail(function(error) {
   alert('Oops... ' + JSON.stringify(error));
});

}

</script>

// email for subcribe ;
 <script>

	$(document).ready(function(){
		$("#contact-form2").submit(function(e) {
      $('#submit-modal2').html('Sending...');
    			e.preventDefault();
			var emailId = document.getElementById("emailsb")?.value;
			if(emailId ==='' || emailId == undefined )
			{
				return;
			}
			var Body ='Email: '+emailId;
      $('#emailsb').val('');

      sendMailToUser(emailId);
      sendMailToOwner(Body, emailId);
			});

		});


function sendMailToUser(emailId){

var data = {
   service_id: 'service_8zp4yhp',
   template_id: 'template_kvsj7kk',
   user_id: 'user_mTjMBBP092bpZsnZTyLfp',
   template_params: {
        'user_email':emailId,
        'reply_to':'contact@lavnalocks.com',
  		  'company':"Lavnalocks",

   }

};

$.ajax('https://api.emailjs.com/api/v1.0/email/send', {
   type: 'POST',
   data: JSON.stringify(data),
   contentType: 'application/json'
}).done(function(msg) {
  
  $('#submit-modal2').html('Subscribe');
  swal("Thank You!", "Your have subscribe lavnalocks", "success");
$('#closemodal').trigger('click');
}).fail(function(error) {
   alert('Oops... user mail failed' + JSON.stringify(error));
});

}
    

  function sendMailToOwner(Body, emailId){
var data = {
   service_id: 'service_8zp4yhp',
   template_id: 'template_mxovugp',
   user_id: 'user_mTjMBBP092bpZsnZTyLfp',
   template_params: {
         'user_email': emailId ,
         'reply_to':'contact@lavnalocks.com', 
         'owner_email': 'sales@lavnalocks.com',
         'company': 'Lavnalocks',
   }

};

$.ajax('https://api.emailjs.com/api/v1.0/email/send', {
   type: 'POST',
   data: JSON.stringify(data),
   contentType: 'application/json'
}).done(function() {
  $('#submit-modal').html('Send');
  swal("Thank You!", "Your Query has been submitted!", "success");
$('#closemodal').trigger('click');
}).fail(function(error) {
   alert('Oops... ' + JSON.stringify(error));
});
}
</script> 
//mail for pop-form ;
<script>
	$(document).ready(function(){
    
		$("#pop-form").submit(function(e) {
      $('#pop-modal').html('Processing...');
    			e.preventDefault();
			var popemailId = document.getElementById("popemail")?.value;
      var popMobile = document.getElementById("popmobile")?.value;
			if(popemail ==='' || popemail == undefined )
			{
				return;
			}
      if(popmobile ==='' || popmobile == undefined )
			{
				return;
			}
			var Body ='Email: '+popemailId+ '<br>Whatsapp Number:'+popMobile;
      $('#popemailId').val('');
      $('#popMobile').val('');

      sendMailToOwner(Body, popemailId, popMobile);
			});

		});

    

  function sendMailToOwner(Body, popemailId, popMobile){
  var data = {
    service_id: 'service_8zp4yhp',
    template_id: 'template_1v3hxys',
    user_id: 'user_mTjMBBP092bpZsnZTyLfp',
    template_params: {
          'user_email': popemailId ,
          'user_whatsappno': popMobile ,
          'reply_to':'contact@lavnalocks.com', 
          'owner_email': 'sales@lavnalocks.com',
          'company': 'Lavnalocks', 
    }

  };

$.ajax('https://api.emailjs.com/api/v1.0/email/send', {
   type: 'POST',
   data: JSON.stringify(data),
   contentType: 'application/json'
}).done(function() {
  $('#pop-modal').html('Get Coupon Code');
  swal("Thank You!", "Your Query has been submitted!", "success");
$('#closemodal').trigger('click');
}).fail(function(error) {
   alert('Oops... ' + JSON.stringify(error));
});
  }


</script> 

<script>
    $('.swiper-button-next').click(
      function(e){
            $(this).parents('.swiper-container').find('.xnext').trigger('click');
 });    

 $('.swiper-button-prev').click(function(e){$(this).parents('.swiper-container').find('.xprev').trigger('click');});
</script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
    $(document).ready(function(){
        $("#togg").click(function(){
            $("#navbar").toggle();
        });
    });
</script>

</body>
</html>