<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Digital Fingerprint Lock - Lavna Locks</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Playfair+Display:wght@400;500;600;700;800;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <script src=
  "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
      </script>
      <script src=
  "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js">
      </script>
      <script src=
  "https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
      </script>

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style2.css" rel="stylesheet">
  <link href="assets/css/style1.css" rel="stylesheet">
  <link href="assets/css/new.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <!-- <h1 class="logo me-auto"><a href="index.html">Mentor</a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="index.html" class="logo me-auto"><img src="assets/img2/Logo.jpg" alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="active" href="index.html">Home</a></li>
          <li><a target="_blank" href="https://www.lavnalocks.com/about">About</a></li>
          <li><a href="https://www.lavnalocks.com/shop">Products</a></li>
          <li><a href="index.html">Services</a></li>
          <li><a href="index.html">Distributer</a></li>
          <li><a href="index.html">Builder’s Project</a></li>
          <!-- <li style="margin-right: -12px; padding-left: 10px;">
            <form class="searchbox">
              <input type="search" placeholder="Search......" name="search" class="searchbox-input" onkeyup="buttonUp();" required>
              <input type="submit" class="searchbox-submit" value="GO">
              <span class="searchbox-icon"><i class="fa fa-search" aria-hidden="true"></i></span>
          </form>
          </li> -->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="tel:1800-313-4491" class="get-started-btn"><img src="assets/img2/bx_bxs-phone-call.svg">Customer care 1800-313-4491</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-6">
          <!-- <h1>Lavna,<br>Smart Digital Locks <span>Unlocking Pleasure</span></h1>
          <h2>Smart solution for your Hotels, Resorts, Hospitals and other Private Premises.</h2> -->
          <a target="_blank" href="https://www.lavnalocks.com/shop" class="btn-get-started">Learn More</a>
        </div>
        <div class="col-lg-6">
          <img src="" alt="">
        </div>
      </div>

    </div>
  </section><!-- End Hero -->

  <div class="container" id="top_count" data-aos="zoom-out">
    <div class="row">
      <div class="col-lg-6">
        <div class="box">
          <div class="row">
            <div class="col-lg-6 box_sm">
              <h1>10,000+</h1>
              <span>Satisfied Customers</span>
            </div>
            <div class="col-lg-6 box_lg">
              <h1>4,250+</h1>
              <span>Completed Project</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        <div class="row d-flex align-items-center">
          <div class="col-lg-6">
            <div class="box" data-aos="fade-left" data-aos-delay="1000">
              <img class="shadow" src="assets/img2/about_lavna.svg" alt="" data-aos="fade-right" data-aos-delay="1200">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="box1" data-aos="zoom-in">
              <h5>Welcome to LAVNA &nbsp;<img width="15%" src="assets/img2/Line_about.svg"></h5>
              <h1>About Us</h1>
              <p>Catering the needs of smart security solutions.</p>

              <p>Combining technology with experience, Lavna brings you a complete range of smart locks that fits your every need. Our premium locks won't let you compromise on security and looks. The high-end technology will go with  every kind of door, ranging from wooden, metal to glass cabinets. Over 3 years, we have proudly completed more than 4250+ projects and reached to thousands of people.</p>
              <a target="_blank" href="https://www.lavnalocks.com/about" class="btn shadow">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">
        <div class="row text-center">
          <div class="col-lg-12">
            <h5>WHY CHOOSE US <img src="assets/img2/Line_about.svg"></h5>
            <h1>India's only smart security brand that provides<br> complete range of digital locks</h1>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-lg-6 mt-4">
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li data-aos="fade-right"><img src="assets/img2/Group (2).svg" alt=""> &nbsp;Wooden Door Lock</li>
                  <li data-aos="fade-right"><img src="assets/img2/Group (2).svg" alt=""> &nbsp;Metal Door Lock</li>
                  <li data-aos="fade-right"><img src="assets/img2/Group (2).svg" alt=""> &nbsp;Glass Door Lock</li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li data-aos="fade-left"><img src="assets/img2/house.svg" alt=""> &nbsp;Residential Use</li>
                  <li data-aos="fade-left"><img src="assets/img2/fa-solid_hotel.svg" alt=""> &nbsp;Hotel & Restro Use</li>
                </ul>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-lg-12">
                <h6>Lock Performance</h6>
                <div class="progress progress-striped active">
                  <div class="progress-bar progress-bar-success"
                      style="width:0%">
                  </div>
                </div>
              </div>
              <div class="col-lg-12 mt-4">
                <h6>Arrival Time</h6>
                <div class="progress progress-striped active">
                  <div id="progress-bar2" class="progress-bar progress-bar-success"
                      style="width:0%">
                  </div>
                </div>
              </div>
              <div class="col-lg-12 mt-4">
                <h6>Modern Technology</h6>
                <div class="progress progress-striped active">
                  <div id="progress-bar3" class="progress-bar progress-bar-success"
                      style="width:0%">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="row row1-1 counters">
              <div class="col-lg-6 row1 text-center">
                <div class="box" data-aos="zoom-in">
                  <img src="assets/img2/counter1.svg" alt="">
                  <span data-purecounter-start="0" data-purecounter-end="45" data-purecounter-duration="1" class="purecounter"></span>
                  <p>Expert Team</p>
                </div>
              </div>
              <div class="col-lg-6 text-center">
                <div class="box" data-aos="zoom-in">
                  <img src="assets/img2/counter2.svg" alt="">
                  <span data-purecounter-start="0" data-purecounter-end="4250" data-purecounter-duration="1" class="purecounter"></span>
                  <p>Project Completed</p>
                </div>
              </div>
            </div>
            <div class="row counters">
              <div class="col-lg-6 row2 text-center">
                <div class="box" data-aos="zoom-in">
                  <img src="assets/img2/counter3.svg" alt="">
                  <span data-purecounter-start="0" data-purecounter-end="10000" data-purecounter-duration="1" class="purecounter"></span>
                  <p>Setisfied Clients</p>
                </div>
              </div>
              <div class="col-lg-6 text-center">
                <div class="box" data-aos="zoom-in">
                  <img src="assets/img2/counter4.svg" alt="">
                  <span data-purecounter-start="0" data-purecounter-end="3" data-purecounter-duration="1" class="purecounter"></span>
                  <p>Years Experience</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="1232" data-purecounter-duration="1" class="purecounter"></span>
            <p>Students</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="64" data-purecounter-duration="1" class="purecounter"></span>
            <p>Courses</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1" class="purecounter"></span>
            <p>Events</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
            <p>Trainers</p>
          </div>

        </div> -->

      </div>
    </section><!-- End Counts Section -->



       <!-- ======= Why Us Section ======= -->
       <section id="product_sec" class="why-us df_section ">
        <div class="container" data-aos="fade-up">
          <div class="row text-center ">
            <div class="box1">
              <h5>OUR PRODUCTS<img width="20%"  src="assets/img2/Line_about.svg"></h5>
              <h1>Explore Range</h1>
            
            </div>
          </div>
  
  
          <div class="col-12 col-md-12 mt-5">
            <div class="row">
              <div class="col-12 col-md-12">
                <div class="card prod_card">
                  <div class="col-md-12 pt-0 pb-0">
                    <div class="row">
  
                    
                    <div class="col-md-7 order-lg-1 order-md-1 order-sm-2 order-xs-2">
                      <div class="content_box">
                        <a target="_blank" class="ds_link" href="https://www.lavnalocks.com/products/L-A24-Black(Bluetooth)"><h3>L-A24-Black(Bluetooth)</h3></a>
                        <p><del><span>RS. 14200</span></del> <span>RS. 9499</span></p>
  
                        <p class="desc">Meet the 6 in 1 Digital door lock from LAVNA Locks, which you can access from your fingerprint, RFID Card, PIN, Bluetooth unlocking, OTP Unlocking and Key.</p>
                     
                    <a target="_blank" href="https://www.lavnalocks.com/products/L-A24-Black(Bluetooth)" class="btn btn-theme">Buy Now</a> 
                      </div>
                    </div>
                    <div class="col-md-5 order-lg-2 order-md-2 order-sm-1 order-xs-1">
                      <figure class="prod_img">
                          <img id="pr_1_img" src="assets/images/p1.png"/>
                      </figure>
                    </div>
  
                  </div>
  
               
                </div>
              </div>
  
              <div class="row">
                <div class="col-md-7"></div>
                <div class="col-md-5 ">
                  <div class="swiper mySwiper" id="prd_thumb">
                    <div class="swiper-wrapper">
                      
  
                      <div class="swiper-slide chn_img active" data-target="#pr_1_img" data-img="assets/images/LA24_1.jpg">
                        <figure class="prod_img">
                          <img src="assets/images/LA24_1.jpg"/>
                      </figure>
                      </div>
  
                      <div class="swiper-slide chn_img" data-target="#pr_1_img" data-img="assets/images/LA24_2.jpg">
                        <figure class="prod_img">
                          <img src="assets/images/LA24_2.jpg"/>
                      </figure>
                      </div>
  
                      <div class="swiper-slide chn_img" data-target="#pr_1_img" data-img="assets/images/LA24_3.jpg">
                        <figure class="prod_img">
                          <img src="assets/images/LA24_3.jpg"/>
                      </figure>
                      </div>
  
                      <div class="swiper-slide chn_img" data-target="#pr_1_img" data-img="assets/images/LA24_4.jpg">
                        <figure class="prod_img">
                          <img src="assets/images/LA24_4.jpg"/>
                      </figure>
                      </div>
  
                      <div class="swiper-slide chn_img" data-target="#pr_1_img" data-img="assets/images/LA24_5.jpg">
                        <figure class="prod_img">
                          <img src="assets/images/LA24_5.jpg"/>
                      </figure>
                      </div>
  
                      <div class="swiper-slide chn_img" data-target="#pr_1_img" data-img="assets/images/LA24_6.jpg">
                        <figure class="prod_img">
                          <img src="assets/images/LA24_6.jpg"/>
                      </figure>
                      </div>
  
                      <div class="swiper-slide chn_img" data-target="#pr_1_img" data-img="assets/images/LA24_7.jpg">
                        <figure class="prod_img">
                          <img src="assets/images/LA24_7.jpg"/>
                      </figure>
                      </div>
  
                      <div class="swiper-slide chn_img" data-target="#pr_1_img" data-img="assets/images/LA24_8.jpg">
                        <figure class="prod_img">
                          <img src="assets/images/LA24_8.jpg"/>
                      </figure>
                      </div>
                    
                     
                    </div>
                    <!-- <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div> -->
                  </div>
              </div>
              </div>
            </div>
  
          
  
          </div>
        </div>
  
  
  
  
  
  
  
  
        <div class="col-12 col-md-12 mt-5">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="card prod_card">
                <div class="col-md-12 pt-0 pb-0">
                  <div class="row">
  
                  
                  <div class="col-md-7 order-lg-1 order-md-1 order-sm-2 order-xs-2">
                    <div class="content_box">
                      <a target="_blank" class="ds_link" href="https://www.lavnalocks.com/products/L-A24-GOLD"><h3>L-A24-Gold(Bluetooth)</h3></a>
                      <p><del><span>RS. 14200</span></del> <span>RS. 9499</span></p>
  
                      <p class="desc">Meet the 6 in 1 Digital door lock from LAVNA Locks, which you can access from your fingerprint, RFID Card, PIN, Bluetooth unlocking, OTP Unlocking and Key.</p>
                   
                  <a target="_blank" href="https://www.lavnalocks.com/products/L-A24-GOLD" class="btn btn-theme">Buy Now</a> 
                    </div>
                  </div>
                  <div class="col-md-5 order-lg-2 order-md-2 order-sm-1 order-xs-1">
                    <figure class="prod_img">
                        <img id="pr_2_img" src="assets/images/LA24-gold_1.jpg"/>
                    </figure>
                  </div>
  
                </div>
  
             
              </div>
            </div>
  
            <div class="row">
              <div class="col-md-7"></div>
              <div class="col-md-5 ">
                <div class="swiper mySwiper" id="prd_thumb">
                  <div class="swiper-wrapper">
                    
  
                    <div class="swiper-slide chn_img active" data-target="#pr_2_img" data-img="assets/images/LA24-gold_1.jpg">
                      <figure class="prod_img">
                        <img src="assets/images/LA24-gold_1.jpg"/>
                    </figure>
                    </div>
  
                    <div class="swiper-slide chn_img" data-target="#pr_2_img" data-img="assets/images/LA24-gold_2.jpg">
                      <figure class="prod_img">
                        <img src="assets/images/LA24-gold_2.jpg"/>
                    </figure>
                    </div>
  
                    <div class="swiper-slide chn_img" data-target="#pr_2_img" data-img="assets/images/LA24-gold_3.jpg">
                      <figure class="prod_img">
                        <img src="assets/images/LA24-gold_3.jpg"/>
                    </figure>
                    </div>
  
                    <div class="swiper-slide chn_img" data-target="#pr_2_img" data-img="assets/images/LA24-gold_4.jpg">
                      <figure class="prod_img">
                        <img src="assets/images/LA24-gold_4.jpg"/>
                    </figure>
                    </div>
  
                    <div class="swiper-slide chn_img" data-target="#pr_2_img" data-img="assets/images/LA24-gold_5.jpg">
                      <figure class="prod_img">
                        <img src="assets/images/LA24-gold_5.jpg"/>
                    </figure>
                    </div>
  
                    <div class="swiper-slide chn_img" data-target="#pr_2_img" data-img="assets/images/LA24-gold_6.jpg">
                      <figure class="prod_img">
                        <img src="assets/images/LA24-gold_6.jpg"/>
                    </figure>
                    </div>
  
                    <div class="swiper-slide chn_img" data-target="#pr_2_img" data-img="assets/images/LA24-gold_7.jpg">
                      <figure class="prod_img">
                        <img src="assets/images/LA24-gold_7.jpg"/>
                    </figure>
                    </div>
  
                    <div class="swiper-slide chn_img" data-target="#pr_2_img" data-img="assets/images/LA24-gold_8.jpg">
                      <figure class="prod_img">
                        <img src="assets/images/LA24-gold_8.jpg"/>
                    </figure>
                    </div>
                  
                   
                  </div>
                  <!-- <div class="swiper-button-next"></div>
                  <div class="swiper-button-prev"></div> -->
                </div>
            </div>
            </div>
          </div>
  
        
  
        </div>
      </div>
  
  
  
  
      
  
  
  
  
      
      <div class="col-12 col-md-12 mt-5">
        <div class="row">
          <div class="col-12 col-md-12">
            <div class="card prod_card">
              <div class="col-md-12 pt-0 pb-0">
                <div class="row">
  
                
                <div class="col-md-7 order-lg-1 order-md-1 order-sm-2 order-xs-2">
                  <div class="content_box">
                    <a target="_blank" class="ds_link" href="https://www.lavnalocks.com/products/L-A28-Black(Bluetooth)"><h3>L-A28-Black(Bluetooth)</h3></a>
                    <p><del><span>RS. 8999</span></del> <span>RS. 7799</span></p>
  
                    <p class="desc">Meet the 6 in 1 Fingerprint door lock from LAVNA Locks, which you can access from your fingerprint, RFID Card, PIN, Bluetooth unlocking, OTP unlocking and Key.
  
                    </p>
                 
                <a target="_blank" class="btn btn-theme" href="https://www.lavnalocks.com/products/L-A28-Black(Bluetooth)">Buy Now</a> 
                  </div>
                </div>
                <div class="col-md-5 order-lg-2 order-md-2 order-sm-1 order-xs-1">
                  <figure class="prod_img">
                      <img id="pr_3_img" src="assets/images/LA28_1.jpg"/>
                  </figure>
                </div>
  
              </div>
  
           
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-5 ">
              <div class="swiper mySwiper" id="prd_thumb">
                <div class="swiper-wrapper">
                  
  
                  <div class="swiper-slide chn_img active" data-target="#pr_3_img" data-img="assets/images/LA28_1.jpg">
                    <figure class="prod_img">
                      <img src="assets/images/LA28_1.jpg"/>
                  </figure>
                  </div>
  
                  <div class="swiper-slide chn_img" data-target="#pr_3_img" data-img="assets/images/LA28_2.jpg">
                    <figure class="prod_img">
                      <img src="assets/images/LA28_2.jpg"/>
                  </figure>
                  </div>
  
                  <div class="swiper-slide chn_img" data-target="#pr_3_img" data-img="assets/images/LA28_3.jpg">
                    <figure class="prod_img">
                      <img src="assets/images/LA28_3.jpg"/>
                  </figure>
                  </div>
  
                  <div class="swiper-slide chn_img" data-target="#pr_3_img" data-img="assets/images/LA28_4.jpg">
                    <figure class="prod_img">
                      <img src="assets/images/LA28_4.jpg"/>
                  </figure>
                  </div>
  
                  <div class="swiper-slide chn_img" data-target="#pr_3_img" data-img="assets/images/LA28_5.jpg">
                    <figure class="prod_img">
                      <img src="assets/images/LA28_5.jpg"/>
                  </figure>
                  </div>
  
                  <div class="swiper-slide chn_img" data-target="#pr_3_img" data-img="assets/images/LA28_6.jpg">
                    <figure class="prod_img">
                      <img src="assets/images/LA28_6.jpg"/>
                  </figure>
                  </div>
  
                  <div class="swiper-slide chn_img" data-target="#pr_3_img" data-img="assets/images/LA28_7.jpg">
                    <figure class="prod_img">
                      <img src="assets/images/LA28_7.jpg"/>
                  </figure>
                  </div>
  
                  <div class="swiper-slide chn_img" data-target="#pr_3_img" data-img="assets/images/LA28_8.jpg">
                    <figure class="prod_img">
                      <img src="assets/images/LA28_8.jpg"/>
                  </figure>
                  </div>
                
                 
                </div>
                <!-- <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div> -->
              </div>
          </div>
          </div>
        </div>
  
      
  
      </div>
    </div>
  
    <div class="row mt-4 prod-row text-center">
      <div class="col-lg-12 mt-4">
        <a target="_blank" href="https://www.lavnalocks.com/shop" class="btn"> View More</a>
      </div>
    </div>
        </div>
  
  
  
    
      </section><!-- End Why Us Section -->




      <!-- <section class="AmazingFeatureSec">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class=" redbottom-border">
                        <h3>Amazing <span>features</span></h3>
                    </div>
                    <div id="navigation" class="owl-carousel  amazingfeature-wrap owl-loaded owl-drag">
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                    <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0.25s ease 0s; width: 2274px;"><div class="owl-item active current" style="width: 206.667px;"><div class="projectitem">
                            <div class="iconBoxWRP">
                                <div class="iconBox">
                                    <img loading="lazy" src="img/icon/SmartPassword.png" class="default" alt="Smart Password" title="Smart Password">
                                    <img loading="lazy" src="img/icon/SmartPassword1.png" class="deHover" alt="Smart Password" title="Smart Password">
                                </div>
                            </div>
                        </div></div><div class="owl-item active" style="width: 206.667px;"><div class="projectitem">
                            <div class="iconBoxWRP">
                                <div class="iconBox">
                                    <img loading="lazy" src="img/icon/SmartVoice.png" class="default" alt="Smart Voice" title="Smart Voice">
                                    <img loading="lazy" src="img/icon/SmartVoice1.png" class="deHover" alt="Smart Voice" title="Smart Voice">
                                </div>
                            </div>
                        </div></div><div class="owl-item active" style="width: 206.667px;"><div class="projectitem">
                            <div class="iconBoxWRP">
                                <div class="iconBox">
                                    <img loading="lazy" src="img/icon/SmartEtiquettes.png" class="default" alt="Smart Etiquettes" title="Smart Etiquettes">
                                    <img loading="lazy" src="img/icon/SmartEtiquettes1.png" class="deHover" alt="Smart Etiquettes - Talking Lock" title="Smart Etiquettes - Talking Lock">
                                </div>
                            </div>
                        </div></div><div class="owl-item active" style="width: 206.667px;"><div class="projectitem">
                            <div class="iconBoxWRP">
                                <div class="iconBox">
                                    <img loading="lazy" src="img/icon/SmartSecurity.png" class="default" alt="Smart Security" title="Smart Security">
                                    <img loading="lazy" src="img/icon/SmartSecurity1.png" class="deHover" alt="Smart Security - Two Access Authentications" title="Smart Security - Two Access Authentications">
                                </div>
                            </div>
                        </div></div><div class="owl-item active" style="width: 206.667px;"><div class="projectitem">
                            <div class="iconBoxWRP">
                                <div class="iconBox">
                                    <img loading="lazy" src="img/icon/SmartVisitorImageCapture.png" class="default" alt="Smart Visitor Image Capture" title="Smart Visitor Image Capture">
                                    <img loading="lazy" src="img/icon/SmartVisitorImageCapture1.png" class="deHover" alt="Smart Visitor Image Capture" title="Smart Visitor Image Capture">
                                </div>
                            </div>
                        </div></div><div class="owl-item active" style="width: 206.667px;"><div class="projectitem">
                            <div class="iconBoxWRP">
                                <div class="iconBox">
                                    <img loading="lazy" src="img/icon/SmartFreeze.png" class="default" alt="Smart Freeze" title="Smart Freeze">
                                    <img loading="lazy" src="img/icon/SmartFreeze1.png" class="deHover" alt="Smart Freeze" title="Smart Freeze">
                                </div>
                            </div>
                        </div></div><div class="owl-item" style="width: 206.667px;"><div class="projectitem">
                            <div class="iconBoxWRP">
                                <div class="iconBox">
                                    <img loading="lazy" src="img/icon/SmartIntruderCapture.png" class="default" alt="Smart Intruder Capture" title="Smart Intruder Capture">
                                    <img loading="lazy" src="img/icon/SmartIntruderCapture1.png" class="deHover" alt="Smart Intruder Capture" title="Smart Intruder Capture">
                                </div>
                            </div>
                        </div></div><div class="owl-item" style="width: 206.667px;"><div class="projectitem">
                            <div class="iconBoxWRP">
                                <div class="iconBox">
                                    <img loading="lazy" src="img/icon/SmartNightVision.png" class="default" alt="Smart Night Vision" title="Smart Night Vision">
                                    <img loading="lazy" src="img/icon/SmartNightVision1.png" class="deHover" alt="Smart Night Vision" title="Smart Night Vision">
                                </div>
                            </div>
                        </div></div><div class="owl-item" style="width: 206.667px;"><div class="projectitem">
                            <div class="iconBoxWRP">
                                <div class="iconBox">
                                    <img loading="lazy" src="img/icon/SmartVideoPhone.png" class="default" alt="Smart Video Phone**" title="Smart Video Phone**">
                                    <img loading="lazy" src="img/icon/SmartVideoPhone1.png" class="deHover" alt="Smart Video Phone**" title="Smart Video Phone**">
                                </div>
                            </div>
                        </div></div><div class="owl-item" style="width: 206.667px;"><div class="projectitem">
                            <div class="iconBoxWRP">
                                <div class="iconBox">
                                    <img loading="lazy" src="img/icon/SmartStorage.png" class="default" alt="Smart Storage" title="Smart Storage">
                                    <img loading="lazy" src="img/icon/SmartStorage1.png" class="deHover" alt="Smart Storage" title="Smart Storage">
                                </div>
                            </div>
                        </div></div><div class="owl-item" style="width: 206.667px;"><div class="projectitem">
                            <div class="iconBoxWRP">
                                <div class="iconBox">
                                    <img loading="lazy" src="img/icon/SmartMotionSensor.png" class="default" alt="Smart Motion Sensor" title="Smart Motion Sensor">
                                    <img loading="lazy" src="img/icon/SmartMotionSensor1.png" class="deHover" alt="Smart Motion Sensor" title="Smart Motion Sensor">
                                </div>
                            </div>
                        </div></div></div></div><div class="owl-nav"><div class="owl-prev disabled">prev</div><div class="owl-next">next</div></div><div class="owl-dots"><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div></div></div>
                    <div id="slider" class="owl-carousel owl-loaded owl-drag">
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                    <div class="owl-stage-outer owl-height" style="height: 99px;"><div class="owl-stage" style="transform: translate3d(-7440px, 0px, 0px); transition: all 0.6s ease 0s; width: 28520px;"><div class="owl-item cloned" style="width: 1240px;"><div class="projectitem">
                            <div class="tbaDeasIN">
                                <div class="project-title-wrap">
                                    <h4>Smart Freeze: </h4>
                                    <a href="product-feature" class="project-btn">View All</a>
                                </div>
                                <p>The Häfele Digital Locks have a narrow tolerance for incorrect entries of access by way of a wrong password or unfamiliar ﬁngerprint – 5 to 10 wrong entries result in a lock-freeze for up to 5 minutes. This feature reduces the possibilities of unwanted break-ins.</p>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 1240px;"><div class="projectitem">
                            <div class="tbaDeasIN">
                                <div class="project-title-wrap">
                                    <h4>Smart Intruder Capture:</h4>
                                    <a href="product-feature" class="project-btn">View All</a>
                                </div>
                                <p>RE-Veal, the face recognition lock by Häfele, not only enables the highest level of security for your home but also tells you if someone tried to disrupt this security. Its Smart Intruder Capture technology records the face of any unregistered user who has tried to break into your home. The lock can pull out up to 10 such images in case you want to do an instant check.</p>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 1240px;"><div class="projectitem">
                            <div class="tbaDeasIN">
                                <div class="project-title-wrap">
                                    <h4>Smart Night Vision:</h4>
                                    <a href="product-feature" class="project-btn">View All</a>
                                </div>
                                <p>A feature unique to Hafele’s RE-Veal Face Recognition Lock and Hafele’s RE-Bell Video door Bell, Smart Night Vision uses infrared technology to recognize a visitor’s face even in pitch darkness. This feature comes most handy when you or your guests are trying to access your home in the dense hours of the night when the overall lights in your building corridors are dimmed out or completely turned off.</p>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 1240px;"><div class="projectitem">
                            <div class="tbaDeasIN">
                                <div class="project-title-wrap">
                                    <h4>Smart Video Phone:  </h4>
                                    <a href="product-feature" class="project-btn">View All</a>
                                </div>
                                <p>Hafele’s RE-AL and RE-Place digital locks can be paired to an existing Video Door Phone using a simple radio frequency unit. Once connected, your Video Door Phone and Digital Lock work seamlessly together as one gadget allowing you the beneﬁts of interacting with a visitor at your doorstep while also enabling you to unlock the door to him through the key button on your video door phone; another feather of convenience to manage your door security system from a remote location. And in case you don’t have a Video Door Phone, you could consider Hafele’s RE-Bell video doorbell which acts individually as a video door phone and cohesively as a complete security solution when clubbed with any of our digital locks!</p>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 1240px;"><div class="projectitem">
                            <div class="tbaDeasIN">
                                <div class="project-title-wrap">
                                    <h4>Smart Storage:  </h4>
                                    <a href="product-feature" class="project-btn">View All</a>
                                </div>
                                <p>Häfele’s RE-Bell Video Doorbell comes with the added advantage of recoding video footage and that to for 24 hours continuously! This Smart Storage feature allows you to keep a historic perspective on who entered your home; not just through time logs but through actual videos. The only requirement is that your App-enabled phone (which is paired to the lock) should have an SD card as the videos recorded automatically get saved in the storage memory of an SD card.</p>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 1240px;"><div class="projectitem">
                            <div class="tbaDeasIN">
                                <div class="project-title-wrap">
                                    <h4>Smart Motion Sensor:  </h4>
                                    <a href="product-feature" class="project-btn">View All</a>
                                </div>
                                <p>Häfele’s RE-Bell Video Doorbell comes with an intuitive smart motion sensor feature which when activated senses the presence of a person or any other moving object within 3 meters of the camera lens. Such a realization is then sent to you as a notiﬁcation on your App–enabled phone alerting you that someone or something was hovering around your main door; an ideal option to enable increased security for your home.</p>
                            </div>
                        </div></div><div class="owl-item active" style="width: 1240px;"><div class="projectitem">
                            <div class="tbaDeasIN">
                                <div class="project-title-wrap">
                                    <h4>Smart Password: </h4>
                                    <a href="product-feature" class="project-btn">View All</a>
                                </div>
                                <p>The SMART PASSWORD technology allows you to hide your numeric password between random numbers. Let’s assume that your password is 12345678; the Smart Password function allows you to hide this password before, after or in between other random digits, for example: 9876123456784901. The password can be set up to 8 or 12 digits while the random cushioning numbers can be included up to 30 digits. The Smart Password function is helpful when you don’t want to reveal your password to a person standing next to you while you are accessing your home.</p>
                            </div>
                        </div></div><div class="owl-item" style="width: 1240px;"><div class="projectitem">
                            <div class="tbaDeasIN">
                                <div class="project-title-wrap">
                                    <h4>Smart Voice: </h4>
                                    <a href="product-feature" class="project-btn">View All</a>
                                </div>
                                <p>Every Digital Lock from Häfele talks to you during the instances at which you engage with the lock. These interactive engagements could include step-by-step voice guidance by the lock while adding a user, setting a password or enabling a function/mode; or simple voice notiﬁcations from the lock about various operative modes or incorrect usage of the lock.</p>
                            </div>
                        </div></div><div class="owl-item" style="width: 1240px;"><div class="projectitem">
                            <div class="tbaDeasIN">
                                <div class="project-title-wrap">
                                    <h4>Smart Etiquettes: </h4>
                                    <a href="product-feature" class="project-btn">View All</a>
                                </div>
                                <p>Since every digital lock from Häfele talks to you, it is pertinent to have the right etiquettes to adjust the volume of the lock voice. This technology allows you to seamlessly adjust the voice volume or put it on mute, especially when you are entering your home in the wee hours of morning ensuring that your neighbours are not jolted out of their sleep by your talking lock.</p>
                            </div>
                        </div></div><div class="owl-item" style="width: 1240px;"><div class="projectitem">
                            <div class="tbaDeasIN">
                                <div class="project-title-wrap">
                                    <h4>Smart Security: </h4>
                                    <a href="product-feature" class="project-btn">View All</a>
                                </div>
                                <p>With the different access modes available in the Häfele Digital Locks, you can enable additional security by combining two access authentications; for example, in case of a new house-help who is yet to earn your trust, it could be unsafe to just give her a numeric password access as you could be in danger of her sharing this password with an ally. In such situations adding a face-recognition access as the second authentication can ensure that the person entering your home is not an unwanted stranger.</p>
                            </div>
                        </div></div><div class="owl-item" style="width: 1240px;"><div class="projectitem">
                            <div class="tbaDeasIN">
                                <div class="project-title-wrap">
                                    <h4>Smart Visitor Image Capture: </h4>
                                    <a href="product-feature" class="project-btn">View All</a>
                                </div>
                                <p>Hafele’s RE-Bell Video Doorbell allows you to know who had visited your home even when you were not around to receive them. Every visitor’s image and video call can be viewed live if you are around to receive it and is also recorded for you to see in your mobile App later.  In fact, even if you are in a no network zone or your phone is on ﬂight mode and during that time if a guest visits you, the bell clicks and saves the image of the guest on the server which can then be viewed in the app later. You can now be rest assured that no guest coming to your house goes unnoticed.</p>
                            </div>
                        </div></div><div class="owl-item" style="width: 1240px;"><div class="projectitem">
                            <div class="tbaDeasIN">
                                <div class="project-title-wrap">
                                    <h4>Smart Freeze: </h4>
                                    <a href="product-feature" class="project-btn">View All</a>
                                </div>
                                <p>The Häfele Digital Locks have a narrow tolerance for incorrect entries of access by way of a wrong password or unfamiliar ﬁngerprint – 5 to 10 wrong entries result in a lock-freeze for up to 5 minutes. This feature reduces the possibilities of unwanted break-ins.</p>
                            </div>
                        </div></div><div class="owl-item" style="width: 1240px;"><div class="projectitem">
                            <div class="tbaDeasIN">
                                <div class="project-title-wrap">
                                    <h4>Smart Intruder Capture:</h4>
                                    <a href="product-feature" class="project-btn">View All</a>
                                </div>
                                <p>RE-Veal, the face recognition lock by Häfele, not only enables the highest level of security for your home but also tells you if someone tried to disrupt this security. Its Smart Intruder Capture technology records the face of any unregistered user who has tried to break into your home. The lock can pull out up to 10 such images in case you want to do an instant check.</p>
                            </div>
                        </div></div><div class="owl-item" style="width: 1240px;"><div class="projectitem">
                            <div class="tbaDeasIN">
                                <div class="project-title-wrap">
                                    <h4>Smart Night Vision:</h4>
                                    <a href="product-feature" class="project-btn">View All</a>
                                </div>
                                <p>A feature unique to Hafele’s RE-Veal Face Recognition Lock and Hafele’s RE-Bell Video door Bell, Smart Night Vision uses infrared technology to recognize a visitor’s face even in pitch darkness. This feature comes most handy when you or your guests are trying to access your home in the dense hours of the night when the overall lights in your building corridors are dimmed out or completely turned off.</p>
                            </div>
                        </div></div><div class="owl-item" style="width: 1240px;"><div class="projectitem">
                            <div class="tbaDeasIN">
                                <div class="project-title-wrap">
                                    <h4>Smart Video Phone:  </h4>
                                    <a href="product-feature" class="project-btn">View All</a>
                                </div>
                                <p>Hafele’s RE-AL and RE-Place digital locks can be paired to an existing Video Door Phone using a simple radio frequency unit. Once connected, your Video Door Phone and Digital Lock work seamlessly together as one gadget allowing you the beneﬁts of interacting with a visitor at your doorstep while also enabling you to unlock the door to him through the key button on your video door phone; another feather of convenience to manage your door security system from a remote location. And in case you don’t have a Video Door Phone, you could consider Hafele’s RE-Bell video doorbell which acts individually as a video door phone and cohesively as a complete security solution when clubbed with any of our digital locks!</p>
                            </div>
                        </div></div><div class="owl-item" style="width: 1240px;"><div class="projectitem">
                            <div class="tbaDeasIN">
                                <div class="project-title-wrap">
                                    <h4>Smart Storage:  </h4>
                                    <a href="product-feature" class="project-btn">View All</a>
                                </div>
                                <p>Häfele’s RE-Bell Video Doorbell comes with the added advantage of recoding video footage and that to for 24 hours continuously! This Smart Storage feature allows you to keep a historic perspective on who entered your home; not just through time logs but through actual videos. The only requirement is that your App-enabled phone (which is paired to the lock) should have an SD card as the videos recorded automatically get saved in the storage memory of an SD card.</p>
                            </div>
                        </div></div><div class="owl-item" style="width: 1240px;"><div class="projectitem">
                            <div class="tbaDeasIN">
                                <div class="project-title-wrap">
                                    <h4>Smart Motion Sensor:  </h4>
                                    <a href="product-feature" class="project-btn">View All</a>
                                </div>
                                <p>Häfele’s RE-Bell Video Doorbell comes with an intuitive smart motion sensor feature which when activated senses the presence of a person or any other moving object within 3 meters of the camera lens. Such a realization is then sent to you as a notiﬁcation on your App–enabled phone alerting you that someone or something was hovering around your main door; an ideal option to enable increased security for your home.</p>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 1240px;"><div class="projectitem">
                            <div class="tbaDeasIN">
                                <div class="project-title-wrap">
                                    <h4>Smart Password: </h4>
                                    <a href="product-feature" class="project-btn">View All</a>
                                </div>
                                <p>The SMART PASSWORD technology allows you to hide your numeric password between random numbers. Let’s assume that your password is 12345678; the Smart Password function allows you to hide this password before, after or in between other random digits, for example: 9876123456784901. The password can be set up to 8 or 12 digits while the random cushioning numbers can be included up to 30 digits. The Smart Password function is helpful when you don’t want to reveal your password to a person standing next to you while you are accessing your home.</p>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 1240px;"><div class="projectitem">
                            <div class="tbaDeasIN">
                                <div class="project-title-wrap">
                                    <h4>Smart Voice: </h4>
                                    <a href="product-feature" class="project-btn">View All</a>
                                </div>
                                <p>Every Digital Lock from Häfele talks to you during the instances at which you engage with the lock. These interactive engagements could include step-by-step voice guidance by the lock while adding a user, setting a password or enabling a function/mode; or simple voice notiﬁcations from the lock about various operative modes or incorrect usage of the lock.</p>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 1240px;"><div class="projectitem">
                            <div class="tbaDeasIN">
                                <div class="project-title-wrap">
                                    <h4>Smart Etiquettes: </h4>
                                    <a href="product-feature" class="project-btn">View All</a>
                                </div>
                                <p>Since every digital lock from Häfele talks to you, it is pertinent to have the right etiquettes to adjust the volume of the lock voice. This technology allows you to seamlessly adjust the voice volume or put it on mute, especially when you are entering your home in the wee hours of morning ensuring that your neighbours are not jolted out of their sleep by your talking lock.</p>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 1240px;"><div class="projectitem">
                            <div class="tbaDeasIN">
                                <div class="project-title-wrap">
                                    <h4>Smart Security: </h4>
                                    <a href="product-feature" class="project-btn">View All</a>
                                </div>
                                <p>With the different access modes available in the Häfele Digital Locks, you can enable additional security by combining two access authentications; for example, in case of a new house-help who is yet to earn your trust, it could be unsafe to just give her a numeric password access as you could be in danger of her sharing this password with an ally. In such situations adding a face-recognition access as the second authentication can ensure that the person entering your home is not an unwanted stranger.</p>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 1240px;"><div class="projectitem">
                            <div class="tbaDeasIN">
                                <div class="project-title-wrap">
                                    <h4>Smart Visitor Image Capture: </h4>
                                    <a href="product-feature" class="project-btn">View All</a>
                                </div>
                                <p>Hafele’s RE-Bell Video Doorbell allows you to know who had visited your home even when you were not around to receive them. Every visitor’s image and video call can be viewed live if you are around to receive it and is also recorded for you to see in your mobile App later.  In fact, even if you are in a no network zone or your phone is on ﬂight mode and during that time if a guest visits you, the bell clicks and saves the image of the guest on the server which can then be viewed in the app later. You can now be rest assured that no guest coming to your house goes unnoticed.</p>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 1240px;"><div class="projectitem">
                            <div class="tbaDeasIN">
                                <div class="project-title-wrap">
                                    <h4>Smart Freeze: </h4>
                                    <a href="product-feature" class="project-btn">View All</a>
                                </div>
                                <p>The Häfele Digital Locks have a narrow tolerance for incorrect entries of access by way of a wrong password or unfamiliar ﬁngerprint – 5 to 10 wrong entries result in a lock-freeze for up to 5 minutes. This feature reduces the possibilities of unwanted break-ins.</p>
                            </div>
                        </div></div></div></div><div class="owl-nav"><div class="owl-prev"><svg width="100%" height="100%" viewBox="0 0 11 20"><path style="fill:none;stroke-width: 1px;stroke: #000;" d="M9.554,1.001l-8.607,8.607l8.607,8.606"></path></svg></div><div class="owl-next"><svg width="100%" height="100%" viewBox="0 0 11 20" version="1.1"><path style="fill:none;stroke-width: 1px;stroke: #000;" d="M1.054,18.214l8.606,-8.606l-8.606,-8.607"></path></svg></div></div><div class="owl-dots"><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div></div></div>
                </div>
            </div>
        </div>
    </section> -->



    <!-- ======= Why Us Section ======= -->
    <section id="video" class="why-us">
      <div class="container-fluid" data-aos="fade-up">
        <div class="row text-center">
          <h5>Installation Videos <img src="assets/img2/Line_about.svg"></h5>
          <h1>Watch Videos</h1>
          <p>Explore the world the smart security solution without compromising on your security.</p>
        </div>
   
        <div class="row" id="row">
          <div class="col-lg-12 aos-init aos-animate" id="video" data-aos="zoom-out" data-aos-delay="100">
            <iframe width="100%" height="500" src="https://www.youtube.com/embed/IaCOQMtg8eQ/vidid?modestbranding=1&amp;rel=0&amp;showinfo=0" allow="fullscreen;">
            </iframe>
            <div class="firstsection">
           
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Why Us Section -->




     <!-- ======= trusted Section ======= -->
    <section id="trusted" class="why-us">
      <div class="container" data-aos="fade-up">
        <div class="row text-center">
          <h5>Trusted by best brands <img src="assets/img2/Line_about.svg"></h5>
          <h1>Trusted By</h1>
          <p>Our premium quality and reliability has been trusted by industry leaders.</p>
        </div>
        <div class="row mt-4">
          <div class="col-lg-4">
            <div class="box">
              <img src="assets/img2/airindia.png" alt="" data-aos="fade-right">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="box">
              <img src="assets/img2/aiims.png" alt="" data-aos="zoom-in">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="box">
              <img src="assets/img2/krishibhawan.png" alt="" data-aos="fade-left">
            </div>
          </div>
        </div>
      </div>
    </section><!-- End trusted Section -->



        <!-- ======= Householders Section ======= -->
      <section id="Householders" class="why-us">
        <div class="container" data-aos="fade-up">
          <div class="row text-center">
            <h5>SATISFIED HOUSEHOLDERS OF <img src="assets/img2/Line_about.svg"></h5>
            <h1>Householders</h1>
            <p>Our brand stands on the solid ground of trust which makes us everyone’s household product.</p>
          </div>
          <div class="row mt-4 mb-4 text-center d-flex align-items-center">
            <div class="col-lg-6 row1">
              <div class="box text-center">
                <img width="55%" src="assets/img2/omaxe-realty.jpg.crdownload.jpeg" alt="">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box">
                <img width="32%" src="assets/img2/brigade-group-logo.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="row mt-4 text-center d-flex align-items-center">
            <div class="col-lg-6 row2">
              <div class="box">
                <img width="30%" src="assets/img2/supertech-logo-250x250.png" alt="">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box">
                <img width="55%" src="assets/img2/logo-black.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </section><!-- End Householders Section -->

      
      
      
      <section id="offer">
        <div class="container-fluid">
          <img width="100%" src="assets/img2/offer 1.png" alt="">
        </div>
      </section>



  
<!-- review section -->

<section style="padding: 0;" id="customer_rev" class="why-us df_section ">
  
  <div class="container-fluid" data-aos="fade-up">
    <div class="row text-center ">
      <div class="box1">
        <h5 style="margin-top: 80px;">CUSTOMER REVIEWS FROM AMAZON<img width="5%"  style="width:5% !important;" src="assets/img2/Line_about.svg"></h5>
        <h1>Customer Review</h1>
<p class="text-center"><small>we are making our customers life simpler and better. Read what they mention about us</small></p>

<div class="rv_bx67">


        <div class="row mt-5 pt-5">

<div class="col-md-4">
        <div class="rev_box w-100" style="min-height:600px;background: url(assets/images/Group\ 21.png); background-repeat: no-repeat; background-size: 100%">

       <figure class="rev_cus lst1 vg"><img src="assets/images/unsplash_DMVD9RkZIwQ.png"/></figure>

       <div class="content_bx_rev cnt_rev1" >
         <h3>Kunal        </h3>

         <img class="qtr" src="assets/images/clarity_block-quote-line.png"/>


         <p>It's an amazing product at this price. Completely satisfied with the product and telephonic support from the technician for installation. I hardly bugged the support center for the installation, but whenever I've called them they have provided the best support with the direct video call. </p>
       </div>

        </div>
      </div>




      <div class="col-md-4">
        <div class="rev_box w-100" style="min-height:600px;background: url(assets/images/Group\ 23.png); background-repeat: no-repeat; background-size: 100%">

       <figure class="rev_cus mindvg"><img src="assets/images/unsplash_cYrTvqPMATY.png"/></figure>

       <div class="content_bx_rev cnt_rev2">
         <h3>Manoj
        </h3>

         <img class="qtr" src="assets/images/clarity_block-quote-line.png"/>


         <p>First I would like to say kudos to the service provided with the product, I got immediate reply on every call and manager was very polite and helpful. Now the product, its just awesome, beautiful lock with so many options to operate.</p>
       </div>

        </div>
      </div>


      <div class="col-md-4">
        <div class="rev_box w-100" style="min-height:600px;background: url(assets/images/Group\ 22.png); background-repeat: no-repeat; background-size: 100%">

       <figure class="rev_cus vg lstrv"><img src="assets/images/unsplash_mCnCAUZfapY.png"/></figure>

       <div class="content_bx_rev cnt_rev3">
         <h3>Rajesh Yajaman
        </h3>

         <img class="qtr" src="assets/images/clarity_block-quote-line.png"/>


         <p>Firstly a thank you to Team Lavna lock for their pre and post sales support. I got this locking after confirming it can be fit on a 30mm width door. It can but you need anothet 2mm or 4mm mdf board to one side. The mortise lock cavity is 18mm in width.
        </p>
       </div>

        </div>
      </div>


    </div>
      </div>

    </div>
    </div>

</section>

<!-- review_sec -->

 

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="footer-top">
        <div class="row">
          <div class="col-lg-12">
          <a href="index.html" class="logo me-auto"><img width="20%" src="assets/img2/Logo.jpg" alt=""></a>
          </div>
        </div>    
      </div>
      <div class="footer-mid">
        <div class="row mt-4">
          <div class="col-lg-5">
            <div class="box">
              <h4>Subscribe to our newsletter</h4>
              <form action="">
                <input type="text" required><button type="submit">Subscribe Us</button>
              </form>
             
            </div>
            <!-- <div class="box1">
              <h6><a href="#">Terms & Conditions </a></h6>
            </div> -->
          </div>
          <div class="col-lg-4">
            <h4 class="link">Links</h4>
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a target="_blank" href="https://www.lavnalocks.com/about">About Us</a></li>
              <li><a target="_blank" href="https://www.lavnalocks.com/shop">Products</a></li>
              <li><a href="tel:+91-9971427608">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-lg-3">
            <h4 class="link">Help</h4>
            <ul>
              <li>FAQ</li>
            </ul>
            <ul class="lastul">
              <li><a href="https://www.facebook.com/lavnadigitallocks"><img src="assets/img2/facebook (2).svg"></a></li>
              <li><a href="https://www.instagram.com/lavnalocks/"><img src="assets/img2/instagram (1).svg"></a></li>
              <li><a href="https://youtu.be/Yst8KW2Vm4M"><img src="assets/img2/Vector (13).png"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>


    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; 2022 LAVNA Locks is a Unit of Bhagwn Shri Locks PVT. LTD. All Rights Reserved by <a href="https://www.flybunch.com/">Flybunch</a>.
        </div>
        <!-- <div class="credits text-center">
          Designed by <a href="https://www.flybunch.com/">Flybunch</a>
        </div> -->
      </div>
      <!-- <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div> -->
    </div>
  </footer>
  <!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main1.js"></script>
  

  <script>
    $(".progress-bar").animate({
    width: "90%"
  }, 2500);

  $("#progress-bar2").animate({
      width: "80%"
  }, 2500);

  $("#progress-bar3").animate({
      width: "70%"
  }, 2500);
  </script>

  <script>
     $(document).ready(function(){
            var submitIcon = $('.searchbox-icon');
            var inputBox = $('.searchbox-input');
            var searchBox = $('.searchbox');
            var isOpen = false;
            submitIcon.click(function(){
                if(isOpen == false){
                    searchBox.addClass('searchbox-open');
                    inputBox.focus();
                    isOpen = true;
                } else {
                    searchBox.removeClass('searchbox-open');
                    inputBox.focusout();
                    isOpen = false;
                }
            });  
             submitIcon.mouseup(function(){
                    return false;
                });
            searchBox.mouseup(function(){
                    return false;
                });
            $(document).mouseup(function(){
                    if(isOpen == true){
                        $('.searchbox-icon').css('display','block');
                        submitIcon.click();
                    }
                });
        });
            function buttonUp(){
                var inputVal = $('.searchbox-input').val();
                inputVal = $.trim(inputVal).length;
                if( inputVal !== 0){
                    $('.searchbox-icon').css('display','none');
                } else {
                    $('.searchbox-input').val('');
                    $('.searchbox-icon').css('display','block');
                }
            }
  </script>

<script>
  var swiper = new Swiper("#prd_thumb", {
    slidesPerView: 5.5,
    spaceBetween: 20,

    navigation: {
        nextEl: "#prd_thumb .swiper-button-next",
        prevEl: "#prd_thumb .swiper-button-prev",
      },
   
  });



$(document).ready(function(){

$('.chn_img').click(function(){
debugger;
$('.chn_img').removeClass('active');
$(this).addClass('active');
var target = $(this).attr('data-target');
var src = $(this).attr('data-img');

$(target).attr('src',src);

});

});

</script>

</body>

</html>