{{>header}}<!-- End Header -->


<style>
  #sync1 .item {
  background: #0c83e7;
  padding: 80px 0px;
  margin: 5px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}

#sync2 .item {
  background: #C9C9C9;
  padding: 10px 0px;
  margin: 5px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}
#sync2 .item h1 {
  font-size: 18px;
}
#sync2 .current .item {
  background: #0c83e7;
}

.owl-theme .owl-nav {
  /*default owl-theme theme reset .disabled:hover links */
}
.owl-theme .owl-nav [class*='owl-'] {
  transition: all .3s ease;
}
.owl-theme .owl-nav [class*='owl-'].disabled:hover {
  background-color: #D6D6D6;
}

#sync1.owl-theme {
  position: relative;
}
#sync1.owl-theme .owl-next, #sync1.owl-theme .owl-prev {
  width: 22px;
  height: 40px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
}
#sync1.owl-theme .owl-prev {
  left: 10px;
}
#sync1.owl-theme .owl-next {
  right: 10px;
}

</style>

<style>
  .products a{
    text-decoration: none;
  }

  #about h2{
      color: #000000;
      font-size: 30px;
      font-weight: 600;
      font-family: "Poppins", sans-serif;
      margin-top: 26px;
      line-height: 38px;
  }
 
  .swiper{
    overflow: inherit;
    padding: 30px;
  }
  .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
    left: -35px;
  }
  .swiper-button-next, .swiper-container-rtl .swiper-button-prev{
    right: -35px;
  }
  #top-slider .swiper-button-next, .swiper-container-rtl .swiper-button-prev{
      right: 0px;
      background: #fff;
      padding: 32px;
      height: 50px;
      width: 50px;
      border-radius: 50px;
      box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  }
   #top-slider .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
    left: 0px;
      background: #fff;
      padding: 32px;
      height: 50px;
      width: 50px;
      border-radius: 50px;
      box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  }
  #top-slider .swiper{
    width: 100%;
  }
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: 'next';
    font-weight: bold;
    font-size: 36px;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: 'prev';
    font-weight: bold;
    font-size: 36px;
}



  /* xs */
@media (max-width: 767px) {
     .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
    left: -7px;
  }
  .swiper-button-next, .swiper-container-rtl .swiper-button-prev{
    right: -7px;
  }
  #householder .box{
    min-height: 170px !important;
  }
  #trusted .box{
    margin-top: 10px;
  }
  .modal img{
 display: none;
  }
  .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    font-size: 22px !important;
  }
   .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    font-size: 22px !important;
  }
  #review-1 .swiper-button-next{
    padding: 18px !important;
  }
   #review-1 .swiper-button-prev{
    padding: 18px !important;
  }

}


.links{
  text-align: center;
}
.links ul li{
  list-style: none;
  line-height: 33px;
}
.links ul li a{
  text-decoration: none;
  color: #FFF;
  font-weight: 500;
  font-size: 16px;
}
.links h4{
  font-size: 23px;
  margin-left: 40px;
}
.links span{
  font-size: 17px;
  font-weight: 600;
}
.top-slides {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}
.top-sec{
  padding: 0;
}
.top-sec img{
  width: 100%;
}
.swiper {
    width: 100%;
    height: 100%;
}
input{
  border-radius: 10px;
}
textarea{
  border-radius: 10px;
}



#trusted{
  background-color: rgb(236, 215, 235);
  padding: 50px;
}
#trusted .box{
  padding: 18px 28px;
   overflow: hidden; 
   background-color: #ffffff;
   border-radius: 5px;
  transition: 0.3s;
  min-height: 110px;
  height: auto;
}

#trusted .box:hover {
  transform: scale(1.1);
}

#trusted .box h1{
    color: green;
    font-weight: bold;
    align-items: center;
    text-align: center;
}
#trusted .box img{
  text-align: center;
  align-items: center;
}



.floating {  
    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 7px;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}
.icon-box a{
  text-decoration: none;
  color: #000;
}



#testimonial{
    background-color: #D2D2E0;
}
#testimonial h6{
    color: #00858A;
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
  }
#testimonial h2{
      color: #000000;
      font-size: 30px;
      font-weight: 600;
      font-family: "Poppins", sans-serif;
      margin-top: 22px;
      line-height: 38px;
      margin-bottom: 50px;
  }

  #testimonial .box{
      background-color: #f5efef;
      padding: 30px;
      border-radius: 12px;
  }
#testimonial .box span{
    color: #00858A;
    font-size: 50px;
    font-weight: bold;
}
#testimonial .box p{
    color: #5F5F5F;
    font-size: 14px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    margin-top: -30px;
    line-height: 30px;
}
#testimonial .box-small img{
    float: left;
    margin-right: 20px;
}
#testimonial .box-small h3{
    color: #000;
    font-size: 17px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    /* margin-left: 20px !important; */
    width: 100%;
}
#testimonial .box-small h6{
    color: #A3A3A3;
    font-size: 14px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}
#testimonial .fa-star{
    float: right !important;
    color: #FFDA16 !important;
}




.modal-content{
  border-radius: 0px;
}
.modal h3{
  font-family: serif;
  font-weight: bold;
  font-size: 34px;
  margin-bottom: 22px;
}
.modal img{
  width: 100%;
  transition: 0.3s;
}
.modal-body .send{
  border: none;
  padding: 8px 20px 8px 20px;
  background-color: royalblue;
  box-shadow: 0 0 10px 0 rgb(161, 161, 161);
  color: #fff;
  float: right;
}
.modal-body button span{
  font-size: 29px;
}
.modal img:hover {
  transform: scale(1.1);
}
#review{
  background-color: #fff;
}
#review .swiper-slide{
  background-color: #fff;
}

#review-1{
  padding: 0px;
  background-color: #fff;
}
#review-1 .swiper_main{
    background-color: #fff;
}
#review-1 .swiper-button-next{
  background-color: #fff;
  padding: 30px;
  height: 30px;
  width: 30px;
  border-radius: 50px;
}
#review-1 .swiper-button-prev{
  background-color: #fff;
  padding: 27px;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  font-weight: bold;
}


#householder .box{
  padding: 20px;
  min-height: 280px;
  min-width: 350px;
}
#householder .box img{
  width: 50%;
}
#householder .shadow{
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.35)!important;
}

.modal{
  top: 10%;
}
#contact {
  background-image: url('../../assets/img/BG-lavna.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
</style>

    <section id="review-1">
      <div class="container">

  
        <!-- Slider main container -->
        <div class="swiper_main" style="position: relative;">
          <div class="swiper mySwiper" id="client-swiip3">
              <div class="swiper-wrapper" id="testimonial">
                <div class="swiper-slide">
                    <a href="/shop"><img width="100%" src="assets/img/LA24 New Model (2).jpg" alt=""></a>
                </div>
                <div class="swiper-slide">
                  <img width="100%" src="assets/img/e50 new.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <a href="/faq"><img width="100%" src="assets/img/Support.jpg" alt=""></a>
                </div>
              </div>
              <div class="swiper-button-next shadow"></div>
              <div class="swiper-button-prev shadow"></div>
            </div>
        </div>
      </div>
    </section>
      

<!--Jquery-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<!--Floating WhatsApp css-->
<link rel="stylesheet" href="https://rawcdn.githack.com/rafaelbotazini/floating-whatsapp/3d18b26d5c7d430a1ab0b664f8ca6b69014aed68/floating-wpp.min.css">
<!--Floating WhatsApp javascript-->
<script type="text/javascript" src="https://rawcdn.githack.com/rafaelbotazini/floating-whatsapp/3d18b26d5c7d430a1ab0b664f8ca6b69014aed68/floating-wpp.min.js"></script>

 <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>



  <main id="main">


    <section class="sec-tpadding-2 section-light" id="contact">
      <div class="container">
        <div class="row text-center d-flex align-item-center">
          <div class="col-lg-6" data-aos="fade-left">
            <img width="80%" class="floating" src="assets/img/en.png" alt="">
          </div>
          <div class="col-lg-6 mt-4 text-center" style="margin-top: 20px;">
            <form action="/contact-us" class="contactform" method="POST" data-aos="fade-right">
              <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <h2 style="font-size: 26px; font-weight: 600; margin-bottom:22px;">Enquire Now</h2><br>
                <div class="error"></div>
                <div class="inputbox">
                    <input id="name" type="text" name="name" placeholder="Name*" pattern="[A-Za-z. ]+" data-error="First Name is required." required >
                </div>
                <div class="inputbox">
                    <input id="email" type="email" name="email" placeholder="Email*" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required data-error="Valid email is required.">
                </div>
                <div class="inputbox">
                  <input id="mob" type="text" name="phone" placeholder="Phone*" pattern="[1-9]+[0-9]{9}" required data-error="Contact no is required."><br>
                  <span id="msg" style="color: red;"></span>
                </div>
                <div class="inputbox">
                    <textarea id="textarea" name="message"  placeholder="Type a Message*" required ></textarea>
                </div>
                <div class="inputbox">
                    <!-- <button class="btn btn-primary" value="submit">SEND</button> -->
                    <button style="font-size: 1.5rem; padding: 8px 26px 8px 25px;" class="btn btn-primary shadow" type="submit">SEND</button>
                </div>
            </form>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </section>


   

    <!-- ======= Shop Section ======= -->
   <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Featured Listings</strong></h2>
          <p style="font-size: 1.6rem;">Our Brand New Products</p>
        </div>

        <div class="row">
          {{!-- <div  class="col-lg-4 col-md-6 d-flex align-items-stretch products" data-aos="zoom-in" data-aos-delay="100">
            <div id="1" class="icon-box iconbox-blue">
              <a href="/products/L-A8"><img style="width: 100%; width: 100%;" src="/assets/img/L-A8.jpg"><br><br></a>
          
              <P style="font-size: 1.5rem;">L-A8</P>
              <h4>MAIN DOOR LOCK</h4><br>
              <p style="font-size: 1.5rem;">M.R.P. 14,200</p>
              <p style="text-align: justify;"><br>
                Meet the 4 in 1 Digital gate lock from LAVNA Locks, which you can access from your fingerprint, RFID Card, PIN, and Key.</p><br><br><br>
                <button type="button" style="width: 70%; font-size: 1.5rem !important; font-weight: 600; background-color: rgb(93, 93, 197);" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Request Callback</button>
            </div>
            
          </div> --}}

          <div  class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4  products" data-aos="zoom-in" data-aos-delay="200">
            <div id="2" class="icon-box iconbox-orange shadow">
              <a href="/products/L-A24-Black(Bluetooth)"><img src="assets/img/L-A24.jpg"><br><br>

             <P style="font-size: 1.9rem;">L-A24(Bluetooth)</P>
              <h4>FOR WOODEN DOORS</h4><br>
              <p style="font-size: 1.8rem;"><b style="font-size: 28px; color:#e11717;">₹9,199</b>  <del>₹14,200</del> Save <b>₹5,001</b></p>
              <p class="desc" style="text-align: justify; font-size: 14px;"><br>
                Meet the 6 in 1 digital fingerprint lock from LAVNA Locks, which you can access from your fingerprint, RFID Card, PIN, Bluetooth unlocking, OTP unlocking and Key.</p></a><br>
                <a href="tel:+91 9971427608"><button type="button"  class="btn btn-info btn-lg callme shadow">Call Us Now</button></a>
            </div>
          </div>

          <div  class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 products" data-aos="zoom-in" data-aos-delay="300">
            <div id="3" class="icon-box iconbox-pink shadow">
              <a href="/products/L-A28-Black(Bluetooth)"><img src="assets/img/L-A28.jpg"><br><br>

               <P style="font-size: 1.9rem;">L-A28(Bluetooth)</P>
               <h4>FOR WOODEN DOORS</h4><br>
              <p style="font-size: 1.8rem;"><b style="font-size: 28px; color:#e11717;">₹7,799</b> <del>₹8,999</del> Save <b>₹1,200</b></p>
              <p class="desc" style="text-align: justify; font-size: 14px;"><br>
                Meet the 6 in 1 Fingerprint door lock from LAVNA Locks, which you can access from your fingerprint, RFID Card, PIN, Bluetooth unlocking, OTP unlocking and Key.</p></a><br>
                <a href="tel:+91 9971427608"><button type="button"  class="btn btn-info btn-lg callme shadow">Call Us Now</button></a>
            </div>
          </div>

          <div  class="col-lg-4 col-md-6 d-flex mt-4 align-items-stretch products" data-aos="zoom-in" data-aos-delay="200">
            <div id="5" class="icon-box iconbox-red shadow">
             <a href="/products/L-A15"> <img src="assets/img/L-A15.jpg"><br><br>

              <P style="font-size: 1.9rem;">L-A15</P>
             <h4>FOR WOODEN DOORS</h4><br>
             <p style="font-size: 1.8rem;"><b style="font-size: 28px; color:#e11717;">₹3899</b> <del>₹4999</del> Save <b>₹1,100</b></p>
             <p class="desc" style="text-align: justify; font-size: 14px;"><br>
               
            Meet the 2 in 1 MOST Affordable Digital door lock from LAVNA Locks, which you can access from your fingerprint and Key.</p></a><br><br>
                <a href="tel:+91 9971427608"><button type="button"  class="btn btn-info btn-lg callme shadow">Call Us Now</button></a>
            </div>
          </div>

          <div  class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 products" data-aos="zoom-in" data-aos-delay="300">
            <div id="6" class="icon-box iconbox-teal shadow">
             <a href="/products/L-H300"> <img src="assets/img/L-H300.jpg"><br><br>

              <p style="font-size: 1.9rem;">L-H300</p>
             <h4>FOR COMMERCIAL <b style="bold:900; font-size:2.5rem;">/</b> RESIDENTIAL DOORS</h4><br>
             <p style="font-size: 1.8rem;"><b style="font-size: 28px; color:#e11717;">₹3850</b> <del>₹7500</del>  Save <b>₹3,650</b></p>
             <p class="desc" style="text-align: justify; font-size: 14px;"><br>
               
              Meet the 2 in 1 smart lock for hotel doors from LAVNA Locks, which you can access from your RFID Card and Key.</p><br></a>
                <a href="tel:+91 9971427608"><button type="button"  class="btn btn-info btn-lg callme shadow">Call Us Now</button></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 products" data-aos="zoom-in" data-aos-delay="300">
            <div id="7" class="icon-box iconbox-teal shadow">
             <a href="/products/L-A5">  <img src="assets/img/L-A5.jpg"><br><br>

              <P style="font-size: 1.9rem;">L-A5</P>
             <h4>FOR GLASS DOORS</h4><br>
             <p style="font-size: 1.8rem;"><b style="font-size: 28px; color:#e11717;">₹8,599</b> <del>₹13,900</del> Save <b>₹5,301</b></p>
             <p class="desc" style="text-align: justify; font-size: 14px;"><br>
               
              Meet the 4 in 1 Glass door security lock from LAVNA Locks, which you can access from your fingerprint, RFID Card, PIN and Remote</p><br></a>
                <a href="tel:+91 9971427608"><button type="button"  class="btn btn-info btn-lg callme shadow">Call Us Now</button></a>
            </div>
          </div>

          <div  class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 products" data-aos="zoom-in" data-aos-delay="300">
            <div id="8" class="icon-box iconbox-teal shadow">
            <a href="/products/L-S9"> <img style="width:auto;" src="assets/img/LS9Front.jpg"><br><br> 

              <P style="font-size: 1.9rem;">L-S9</P>
             <h4>FOR CABINETS</h4><br>
             <p style="font-size: 1.8rem;"><b style="font-size: 28px; color:#e11717;">₹3180</b> <del>₹5,900</del> Save <b>₹2,720</b></p>
             <p class="desc" style="text-align: justify; font-size: 14px;"><br>
               
              Meet the 2 in 1 Lock for your cabinets from LAVNA Locks, which you can access from your fingerprint and PIN.</p><br></a>
                <a href="tel:+91 9971427608"><button type="button"  class="btn btn-info btn-lg callme shadow">Call Us Now</button></a>
            </div>
          </div>

           <div  class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 products" data-aos="zoom-in" data-aos-delay="300">
            <div id="6" class="icon-box iconbox-teal shadow">
             <a href="/products/L-H300(Encoder)"> <img src="assets/img/L-H300.jpg"><br><br>

              <p style="font-size: 1.9rem;">L-H300<span style="font-weight:600">(With Encoder)</span></p>
             <h4>FOR COMMERCIAL <b style="bold:900; font-size:2.5rem;">/</b> RESIDENTIAL DOORS</h4><br>
             <p style="font-size: 1.8rem;"><b style="font-size: 28px; color:#e11717;">₹3,800</b> <del>₹7,500</del> Save <b>₹3700</b></p>
             <p class="desc" style="text-align: justify; font-size: 14px;"><br>
               
              Meet the 2 in 1 smart lock for hotel doors from LAVNA Locks, which you can access from your RFID Card and Key.</p><br></a>
                <a href="tel:+91 9971427608"><button type="button"  class="btn btn-info btn-lg callme shadow">Call Us Now</button></a>
            </div>
          </div>

          {{!-- <div  class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 products" data-aos="zoom-in" data-aos-delay="200">
            <div id="2" class="icon-box iconbox-orange shadow">
              <a href="/products/L-A24(WI-FI)"><img  src="assets/img/L-A24.jpg"><br><br></a>

             <P style="font-size: 1.9rem;">L-A24(Wi-Fi)</P>
             <h4>FOR WOODEN <b style="bold:900; font-size:2.5rem;">/</b> METAL DOORS</h4><br>
              <p style="font-size: 1.8rem;"><b style="font-size: 28px; color:#e11717;">₹9,499</b> <del>₹15,700</del> Save <b>₹6,201</b></p>
              <p class="desc" style="text-align: justify; font-size: 14px;"><br>
                Meet the 5 in 1 Digital fingerprint lock from LAVNA Locks, which you can access from your fingerprint, RFID Card, PIN, Wi-Fi unlocking and Key.</p><br>
                <a href="tel:+91 9971427608"><button type="button"  class="btn btn-info btn-lg callme shadow">Call Us Now</button></a>
            </div>
          </div> --}}


          {{!-- <div  class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 products" data-aos="zoom-in" data-aos-delay="100">
            <div id="4" class="icon-box iconbox-yellow shadow">
             <a href="/products/L-A28(WI-FI)"> <img src="assets/img/L-A28.jpg"><br><br></a>

              <P style="font-size: 1.9rem;">L-A28(Wi-Fi)</P>
              <h4>FOR WOODEN <b style="bold:900; font-size:2.5rem;">/</b> METAL DOORS</h4><br>
             <p style="font-size: 1.8rem;"><b style="font-size: 28px; color:#e11717;">₹8,699</b> <del>₹9,999</del> Save <b>₹1,300</b></p>
             <p class="desc" style="text-align: justify; font-size: 14px;"><br>
               Meet the 6 in 1 Fingerprint door lock from LAVNA Locks, which you can access from your fingerprint, RFID Card, PIN, Wi-Fi unlocking, OTP Unlocking and Key.</p><br>
                <a href="tel:+91 9971427608"><button type="button"  class="btn btn-info btn-lg callme shadow">Call Us Now</button></a>
            </div>
          </div> --}}

         
        </div>

      </div>
   </section>

    <div class="container">  
 
      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog" style="margin-top: 10% !important;" >
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content " style="height: 28rem;">
            <div class="text-center">
              <h1 style="margin-left: 8rem; visibility: hidden; "><b>Request Callback</b></h1>
              <h1 style="text-align: center;"><b>Request Callback</b></h1>
              <button type="button" style="font-size: 5rem;   margin-top: -7rem !important;" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <form action="sendemail.php" onsubmit="return myfunc()"  class="text-center" style="width: 100% !important;" method="POST">
                <input style="margin-left: 4%; border-top: none; border-left: none; border-right: none; width: 60%; font-size: 1.5rem !important;" type="text" name="name" placeholder="Name*" required><br><br>
                <input style="margin-left: 4%; border-top: none; border-left: none; border-right: none; width: 60%; font-size: 1.5rem !important;" type="email"  name="email" placeholder="Email*" required><br><br>
                <input style="margin-left: 4%; border-top: none; border-left: none; border-right: none; width: 60%; font-size: 1.5rem !important;" type="mobile" id="mob" name="phone" placeholder="Phone*" required><br>
                <span id="msg" style="color: red;"></span>
                <button style="letter-spacing:.1rem; background-color:#393185; color: white; font-size: 1.5rem !important; padding:1rem; margin:1.5rem; border-radius:1rem;" class="button"  type="submit">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <!-- End Services Section -->



  <script>
    function myfunc(){
      var a =document.getElementById("mob").value;
      if(isNaN(a)){
        document.getElementById("msg").innerHTML ="<h4>*Enter Only Numeric Value</h4>";
        return false;
      }
      if(a.length<10){
        document.getElementById("msg").innerHTML ="<h4>*Mobile Number Must Be 10 Digits.</h4>";
        return false;
      }
      if((a.charAt(0) != 9) && (a.charAt(0) != 8) && (a.charAt(0) != 7)){
        document.getElementById("msg").innerHTML ="<h4>*Mobile Number Must Start With 9,8 and 7.</h4>";
        return false;
      }
    }
  </script>
  
  
      <!-- ======= trusted client Section ======= -->
          
          <section id="trusted">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                   <div class="section-title">
                    <h2>Trusted By</strong></h2>
                   </div>
                </div>
              </div>
        
              <div class="row mt-4">
                <div class="col-lg-4">
                  <div class="box shadow">
                    <img class="inner-img" width="95%" src="assets/img/airindia.png" alt="">
                  </div>
                </div>
                 <div class="col-lg-4">
                  <div class="box shadow">
                    <img class="inner-img" width="95%" src="assets/img/aiims.png" alt="">
                  </div>
                </div>
                 <div class="col-lg-4">
                  <div class="box shadow">
                    <h1 class="inner-img">Krishi Bhawan</h1>
                  </div>
                </div>
              </div>
            </div>
          </section>
        

          <section id="householder">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                   <div class="section-title">
                    <h2>Satisfied Householders Of</strong></h2>
                   </div>
                </div>
              </div>
        
              <div class="row mt-4">
                <div class="col-lg-6 text-center">
                  <div class="box shadow text-center" data-aos="fade-right">
                    <img data-aos="zoom-in" src="assets/img/householder/brigade-group-logo.jpg" alt="">
                  </div>
                </div>
                <div class="col-lg-6 text-center">
                  <div class="box shadow text-center" data-aos="fade-left">
                    <img style="margin-top: 10%;" data-aos="zoom-out" src="assets/img/householder/logo-black.png" alt="">
                  </div>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-lg-6 text-center">
                  <div class="box shadow text-center" data-aos="fade-right">
                    <img style="margin-top: 17%;" data-aos="zoom-out" src="assets/img/householder/omaxe-realty.jpg.crdownload.jpeg" alt="">
                  </div>
                </div>
                <div class="col-lg-6 text-center">
                  <div class="box shadow text-center" data-aos="fade-left">
                    <img data-aos="zoom-in" src="assets/img/householder/supertech-logo-250x250.png" alt="">
                  </div>
                </div>
              </div>
              <!-- Slider main container -->
              {{!-- <div class="swiper_main" style="position: relative;">
                <div class="swiper mySwiper" id="client-swiip">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <img class="shadow" width="95%" src="assets/img/airindia.png" alt="">
                      </div>
                      <div class="swiper-slide">
                          <img class="shadow" width="95%" src="assets/img/airindia.png" alt="">
                      </div>
                      <div class="swiper-slide">
                        <img class="shadow" width="95%" src="assets/img/airindia.png" alt="">
                      </div>
                      <div class="swiper-slide">
                        <img class="shadow" width="95%" src="assets/img/airindia.png" alt="">
                      </div>
                      <div class="swiper-slide">
                        <img class="shadow" width="100%" src="assets/img/airindia.png" alt="">
                      </div>
                      <div class="swiper-slide">
                        <img class="shadow" width="100%" src="assets/img/airindia.png" alt="">
                      </div>
                    
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                  </div>
              </div> --}}
            </div>
          </section>


          {{!-- <section>
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                   <div class="section-title">
                    <h2>Featured By</strong></h2>
                   </div>
                </div>
              </div>
        
              <!-- Slider main container -->
              <div class="swiper_main" style="position: relative;">
                <div class="swiper mySwiper" id="client-swiip">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <img class="shadow" width="95%" src="assets/img/airindia.png" alt="">
                      </div>
                      <div class="swiper-slide">
                          <img class="shadow" width="95%" src="assets/img/airindia.png" alt="">
                      </div>
                      <div class="swiper-slide">
                        <img class="shadow" width="95%" src="assets/img/airindia.png" alt="">
                      </div>
                      <div class="swiper-slide">
                        <img class="shadow" width="95%" src="assets/img/airindia.png" alt="">
                      </div>
                      <div class="swiper-slide">
                        <img class="shadow" width="100%" src="assets/img/airindia.png" alt="">
                      </div>
                      <div class="swiper-slide">
                        <img class="shadow" width="100%" src="assets/img/airindia.png" alt="">
                      </div>
                    
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                  </div>
              </div>
            </div>
          </section> --}}

          <section id="review">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                   <div class="section-title">
                    <h2>Customer Reviews From Amazon</strong></h2>
                   </div>
                </div>
              </div>
        
              <!-- Slider main container -->
              <div class="swiper_main" style="position: relative;">
                <div class="swiper mySwiper" id="client-swiip2">
                    <div class="swiper-wrapper" id="testimonial">
                      <div class="swiper-slide">
                         <img width="95%" src="assets/img/R1 (1).png" alt="">
                      </div>
                      <div class="swiper-slide">
                        <img width="95%" src="assets/img/R2.png" alt="">
                      </div>
                      <div class="swiper-slide">
                        <img width="95%" src="assets/img/R3.png" alt="">
                      </div>
                      <div class="swiper-slide">
                        <img width="95%" src="assets/img/R5.png" alt="">
                      </div>
                      <div class="swiper-slide">
                        <img width="95%" src="assets/img/R6.png" alt="">
                      </div>
                      <div class="swiper-slide">
                        <img width="95%" src="assets/img/R7.png" alt="">
                      </div>
                       <div class="swiper-slide">
                        <img width="95%" src="assets/img/R8.png" alt="">
                      </div>
                       <div class="swiper-slide">
                        <img width="95%" src="assets/img/R9.png" alt="">
                      </div>
                      <div class="swiper-slide">
                        <img width="95%" src="assets/img/R10.png" alt="">
                      </div>
                      <div class="swiper-slide">
                        <img width="95%" src="assets/img/R11.png" alt="">
                      </div>
                      <div class="swiper-slide">
                        <img width="95%" src="assets/img/R12.png" alt="">
                      </div>
                      <div class="swiper-slide">
                        <img width="95%" src="assets/img/R13.png" alt="">
                      </div>
                      <div class="swiper-slide">
                        <img width="95%" src="assets/img/R14.png" alt="">
                      </div>
                      <div class="swiper-slide">
                        <img width="95%" src="assets/img/R15.png" alt="">
                      </div>
                      <div class="swiper-slide">
                        <img width="95%" src="assets/img/R17.png" alt="">
                      </div>
                    
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                  </div>
              </div>
            </div>
          </section>
      
      <!-- End trusted client Section -->
    

<!-- Button trigger modal -->
{{!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button> --}}

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="row d-flex align-items-center">
          <div class="col-lg-6 text-center">
            <img src="https://st2.depositphotos.com/4177785/45675/v/380/depositphotos_456758100-stock-illustration-fingerprint-scanner-keyless-door-lock.jpg?forcejpeg=true" alt="space rocket">
          </div>
          <div class="col-lg-6">
            <h3> Subscribe to <span style="color:royalblue">Lavna Locks</span></h3>
            <form action="">
              <div class="form-group">
                <input class="form-control" type="text" name="name" id="name" placeholder="Your Name" pattern="[A-Za-z. ]+" data-error="First Name is required." required>
              </div>
              <div class="form-group">
                <input class="form-control" type="email" name="email" id="email" placeholder="Your Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required data-error="Valid email is required.">
              </div>
              <button class="btn send" type="submit">Send</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <script>
  const swiper = new Swiper('#client-swiip', {

  loop: true,
  slidesPerView: 3,
  spaceBetween: 30,
  pagination: {
    el: '#client-swiip .swiper-pagination',
  },

  breakpoints: {
          250: {
          slidesPerView: 1,
          spaceBetween: 20
        },
        320: {
          slidesPerView: 1,
          spaceBetween: 20
        },
        480: {
          slidesPerView: 1,
          spaceBetween: 30
        },
        640: {
          slidesPerView: 2,
          spaceBetween: 40
        },
        992:{
          slidesPerView: 3,
          spaceBetween: 40
        }
  },

  navigation: {
          nextEl: "#client-swiip .swiper-button-next",
          prevEl: "#client-swiip .swiper-button-prev",
        },

  autoplay: {
    delay: 3000,
  },

});

  new Swiper('#client-swiip2', {

  loop: true,
  slidesPerView: 1,
  spaceBetween: 30,
  pagination: {
    el: '#client-swiip2 .swiper-pagination',
  },

  breakpoints: {
          250: {
          slidesPerView: 1,
          spaceBetween: 20
        },
        320: {
          slidesPerView: 1,
          spaceBetween: 20
        },
        480: {
          slidesPerView: 1,
          spaceBetween: 30
        },
        640: {
          slidesPerView: 1,
          spaceBetween: 40
        },
        992:{
          slidesPerView: 1,
          spaceBetween: 40
        }
  },

  navigation: {
          nextEl: "#client-swiip2 .swiper-button-next",
          prevEl: "#client-swiip2 .swiper-button-prev",
        },

  autoplay: {
    delay: 3000,
  },

});


  new Swiper('#client-swiip3', {

  loop: true,
  slidesPerView: 1.3,
  spaceBetween: 30,
  pagination: {
    el: '#client-swiip3 .swiper-pagination',
  },

  breakpoints: {
          250: {
          slidesPerView: 1,
          spaceBetween: 20
        },
        320: {
          slidesPerView: 1,
          spaceBetween: 20
        },
        480: {
          slidesPerView: 1,
          spaceBetween: 30
        },
        640: {
          slidesPerView: 1.3,
          spaceBetween: 40
        },
        992:{
          slidesPerView: 1.3,
          spaceBetween: 40
        }
  },

  navigation: {
          nextEl: "#client-swiip3 .swiper-button-next",
          prevEl: "#client-swiip3 .swiper-button-prev",
        },

  autoplay: {
    delay: 3000,
  },

});


new Swiper("#mainsid", {
   slidesPerView: 1.4,
  spaceBetween: 30,
    autoplay:true,
    loop: true,
    speed: 2000,
        navigation: {
          nextEl: "#mainsid .swiper-button-next",
          prevEl: "#mainsid .swiper-button-prev",
        },
      });

    new Swiper("#top-slider", {
      autoplay:true,
      navigation: {
      nextEl: "#top-slider .swiper-button-next",
      prevEl: "#top-slider .swiper-button-prev",
    },
  })
  </script>
  

  <script>
    $(document).ready(function() {
      setTimeout(function () {
        $("#exampleModalCenter").modal('show');
      }, 4000);
    });
  </script>
 
  </main><!-- End #main -->


  

  <!-- ======= Footer ======= -->
  <footer style="width: 100% !important;">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 text-left align-left">
            <div class="footer-content img-responsive">
             <a href="/" class="logo"><img style="width: 100%; height: 40%;" src="/assets/img/Logo.jpg"></a>

              <p>Your Finger Your Key. A Complete Fingerprint Door Lock collection. </p>
              <ul class="socials">
                  <li><a href="https://www.facebook.com/lavnadigitallocks"><i style="font-size: 1.8rem;" class="fa fa-facebook"></i></a></li>
                  <li><a href="https://www.instagram.com/lavnalocks/"><i style="font-size: 1.8rem;" class="fa fa-instagram"></i></a></li>
                  <li><a href="https://www.youtube.com/channel/UCBCwfurSO-DsJaNKlaomHWg/videos"><i style="font-size: 1.8rem;" class="fa fa-youtube" aria-hidden="true"></i></a></li>
                  <li><a href="https://api.whatsapp.com/send?phone=+91-9971427608"><i style="font-size: 1.8rem;" class="fa fa-whatsapp"></i></a></li>
              </ul>
              <p style="color:white;" >Customer Support: <a style="color:white;" href="tel:1800-313-4491">1800-313-4491</a></p>
            </div>
        </div>
        <div class="col-lg-4 links">
           <h4>Useful links</h4>
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="/about">About Us</a></li>
              <li><a href="/shop">Shop</a></li>
              <li><a href="/faq">Faq's</a></li> 
              <li><a href="/blog">Blogs</a></li> 
              <li><a href="/privacypolicy">Privacy Policy</a></li> 
            </ul>
        </div>
           <div class="col-lg-4 links">
           <h4>Contact Us</h4>
            <ul>
              <li><span>Main Head Office:</span> <a href="">Rohini, Sector - 3 Delhi - 110085</a></li><br>
              <li><span>Mobile:</span> <a href="tel:9667771077">+91-9667771077</a></li>
              <li><span>Email:</span> <a href="mailto:contact@lavnalocks.com">Contact@lavnalocks.com</a></li>
            </ul>
        </div>
      </div>
    </div>
    
    <div class="footer-bottom img-responsive" style="background: rgb(243, 235, 235) !important; height:5.5rem !important;">
        <p style="color: black !important; text-align: center; align-items: center; font-size:15px; font-weight:600">&copy;2022 LAVNA Locks is a Unit of Bhagwn Shri Locks PVT. LTD. All Rights Reserved.</p>
    </div>
</footer>

  <!-- End Footer -->

  <!-- <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a> -->

  <!-- Vendor JS Files -->
  <script src="/public/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/public/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/public/assets/vendor/php-email-form/validate.js"></script>
  <script src="/public/assets/vendor/jquery-sticky/jquery.sticky.js"></script>
  <script src="/public/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/public/assets/vendor/venobox/venobox.min.js"></script>
  <script src="/public/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="/public/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/public/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="/public/assets/js/main.js"></script>


</body>

</html>