{{>header title="Accounts Sign in - Lavna Locks" }}

{{#if errorMsg }}
      <div id="flash-msg" class="alert alert-danger">
        {{errorMsg}}
      </div>
      {{/if}}

  
    <section id="signin3">
        <div class="container" id="container">
            <input type="checkbox" id="flip">
            <div class="cover">
                <div class="front">
                    <img id="bg" class="front_cl" src="../../public/assets/new_assets/img2/sign-in.webp" alt="">
                 
                </div>
                <div class="back">
                  <img class="backImg" src="../../public/assets/new_assets/img2/sign-up.webp" alt="">
                </div>
            </div>
            <form action="/user/signin" method="POST">
                <div class="form-content">
                    <div class="login-form">
                        <div class="title">Login</div>
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fa fa-envelope"></i>
                                <input type="email" placeholder="Enter Email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" data-error="Valid email is required.">
                            </div>
                            <div class="input-box">
                                <i class="fa fa-key"></i>
                                <input type="password" placeholder="Enter Password" name="password" required>
                            </div>
                            <div class="input-box">
                                <input type="text" value="{{title}}" name="title" hidden>
                            </div>
                            <label>
                              <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px; font-size: 1.6rem;"> Remember me
                            </label>

                            <div class="text">
                                <a href="#">Forgot password?</a>
                            </div>

                            <div class="button input-box">
                               <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                                {{!-- <input type="submit" class="signupbtn" value="Submit"> --}}
                                <button type="submit" class="signupbtn">Sign In</button>
                            </div>

                            <div class="text login-text">Dont't have an account? <a href="/user/signup">Signup now</a></div>
                        </div>
                    </div>  
                </div>              
            </form>
         
        </div>
    </section>


  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
    <div class="footer-top">
        <div class="row">
        <div class="col-lg-12">
        <a href="/" class="logo me-auto"><img width="20%" src="../../public/assets/new_assets/img2/Logo.webp" alt="Lavna_logo"></a>
        </div>
        </div>    
    </div>
    <div class="footer-mid">
        <div class="row mt-4">
        <div class="col-lg-5">
            <div class="box">
            <h4>Subscribe to our newsletter</h4>
            {{!-- <form id="contact-form2">
                <input type="email" name="email" id="emailsb" placeholder="Enter Your Email" required><button type="submit" id="submit-modal2">Subscribe Us</button>
            </form> --}}

              <form action="">
                <div class="ml-form-embed" data-account="3867533:r4q2f7i6e7" data-form="5653363:t6a8j0">
                </div>
              </form>    
            
            </div>
        </div>
        <div class="col-lg-4">
            <h4 class="link">Links</h4>
            <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/shop">Products</a></li>
            <li><a href="/builder">Builder’s Project</a></li>
            <li><a href="/privacypolicy">Privacy Policy</a></li>
               <li><a href="/faq">FAQ</a></li>
            <li><a href="/blog">Blog</a></li>
            </ul>
        </div>
        <div class="col-lg-3">
          <h4 class="link">Contact Us</h4>
          <ul>
          <li><a href="tel:+91-18003134491"><i class="fa fa-phone"></i>  +91-18003134491</a></li>
          <li> <a href="mailto:sales@lavnalocks.com"><i class="fa fa-envelope"></i> sales@lavnalocks.com</a></li>
          </ul>
            <ul class="lastul">
            <li><a target="_blank" href="https://www.facebook.com/bhagwnshrilocksprivatelimited/"><img src="../../public/assets/new_assets/img2/facebook (2).svg" alt="facebook"></a></li>
            <li><a target="_blank" href="https://www.instagram.com/lavnalocks/"><img src="../../public/assets/new_assets/img2/instagram (1).svg" alt="instagram"></a></li>
            <li><a target="_blank" href="https://youtu.be/Yst8KW2Vm4M"><img src="../../public/assets/new_assets/img2/Vector (13).webp" alt="youtube"></a></li>
            </ul>
        </div>
        </div>
    </div>
    </div>


    <div id="f_bottom" class="container-fluid">
    <div class="row text-center">
        <div class="col-lg-12 footer-bottom">
        <div class="copyright">
            &copy; 2022 LAVNA Locks is a Unit of Bhagwn Shri Locks PVT. LTD. All Rights Reserved.
        </div>
        </div>
    </div>
    </div>
</footer>
  <!-- End Footer -->

<div id="preloader"></div>
<script src="../../public/assets/new_assets/js/jquery.min.js"></script>

<!-- Vendor JS Files -->
<script src="../../public/assets/new_assets/vendor/aos/aos.js"></script>
<script src="../../public/assets/new_assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../public/assets/new_assets/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="../../public/assets/new_assets/js/main.js"></script>
<script src="../../public/assets/new_assets/js/owl.min.js"></script>  
<script src="../../public/assets/new_assets/js/custom.js"></script>  


<script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js">
</script>



<script type="text/javascript">
(function(){
  emailjs.init("user_mTjMBBP092bpZsnZTyLfp");
})();

</script>

<script>
  $(function() {
  $('.login-text').click(function(){
    $("#bg").addClass("intro");
    $(".intro").attr('src',"../../public/assets/new_assets/img2/sign-up.webp");
   
    $("#bg").css('transform', 'scaleX(-1)');
    
  });
});
$(function() {
  $('.signup-text').click(function(){
    $("#bg").removeClass("intro");
    $(".front_cl").attr('src',"../../public/assets/new_assets/img2/sign-in.webp");
    $("#bg").css('transform', 'scaleX(1)');
  });
});

</script>



<script>

$(document).ready(function(){

$('.chn_img').click(function(){

$('.chn_img').removeClass('active');
$(this).addClass('active');
var target = $(this).attr('data-target');
var src = $(this).attr('data-img');

$(target).attr('src',src);

});

});

</script>



<script>
$(document).ready(function(){
    $("#contact-form2").submit(function(e) {
  $('#submit-modal2').html('Sending...');
            e.preventDefault();
        var emailId = document.getElementById("emailsb").value;
        if(emailId ==='' || emailId == undefined )
        {
            return;
        }
        var Body ='Email: '+emailId;
  $('#emailsb').val('');

  sendMailToUser(emailId);
  sendMailToOwner(Body, emailId);
        });

    });


function sendMailToUser(emailId){

var data = {
service_id: 'service_8zp4yhp',
template_id: 'template_kvsj7kk',
user_id: 'user_mTjMBBP092bpZsnZTyLfp',
template_params: {
    'user_email':emailId,
    'reply_to':'contact@lavnalocks.com',
        'company':"Lavnalocks",

}

};

$.ajax('https://api.emailjs.com/api/v1.0/email/send', {
type: 'POST',
data: JSON.stringify(data),
contentType: 'application/json'
}).done(function(msg) {
// alert(msg);
$('#submit-modal').html('Send');
swal("Thank You!", "Your have subscribe lavnalocks", "success");
$('#closemodal').trigger('click');
}).fail(function(error) {
alert('Oops... user mail failed' + JSON.stringify(error));
});

}


function sendMailToOwner(Body, emailId){
var data = {
service_id: 'service_8zp4yhp',
template_id: 'template_mxovugp',
user_id: 'user_mTjMBBP092bpZsnZTyLfp',
template_params: {
     'user_email': emailId ,
     'reply_to':'contact@lavnalocks.com', 
     'owner_email': 'sales@lavnalocks.com',
     'company': 'Lavnalocks',
}

};

$.ajax('https://api.emailjs.com/api/v1.0/email/send', {
type: 'POST',
data: JSON.stringify(data),
contentType: 'application/json'
}).done(function() {
$('#submit-modal').html('Send');
swal("Thank You!", "Your Query has been submitted!", "success");
$('#closemodal').trigger('click');
}).fail(function(error) {
alert('Oops... ' + JSON.stringify(error));
});

}

</script>


<script>
    $(document).ready(function(){
        $("#togg").click(function(){
            $("#navbar").toggle();
        });
    });
</script>

<script src="../../public/assets/new_assets/js/title.js"></script>

</body>
</html>