
{{>header}}<br><br><br><br><br>


        <!-- ****** Quick View Modal Area Start ****** -->
        <div class="container" > 
            <div>
             <div>
                 <div>     
                   <div>
                       <div>
                         <div class="container">
                             <div class="row">
                                 <div class="col-12 col-lg-5">
                                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                                <!-- Indicators -->
                                       

                                         <ul id="portfolio-flters" style="list-style: none; display:flex; text-align:center; line-height:2rem; background-color:none;">
                                            
                                            {{!-- <button><li data-filter=".filter-gold"><b>Gold</b></li></button> --}}
                                            {{!-- <button style="margin-left: 3rem;"><li data-filter=".filter-black"><b>Black</b></li></button> --}}
                                            {{!-- <li data-filter=".filter-card">Sofa</li> --}}
                                          
                                         </ul>
                                         

                                            <div class="row portfolio-container" >

                                                <div class="col-lg-4 col-md-6 portfolio-item filter-gold">
                                                    <div id="items" class="portfolio-wrap add" >
                                                    {{!-- <img style="max-width: 300%;" src="assets/img/lavna3.jpg" class="img-fluid" alt=""> --}}
                                                 <div class="product">
                                                            <img src="{{product.image}}"><br><br>
                                                            {{!-- <p class="name">${i.name}</p>
                                                            <p class="price">$${i.price}</p> --}}
                                                            <p class="is-available text-center" style="background-color: var(--green);
    width: 8em;
    color: var(--ivory);
    font-weight: bold;
    font-size: 12px;
    padding: 0.3em;
    text-transform: uppercase;
    margin-left:10px;">In stock</p>
                                                            <button type="button" class="btn btn-primary" style="margin-left:10px;" onclick="addToCart();">Add to Shopping cart</button>
                                                            </div>
                                                    </div>
                                                </div>
                                            </div><br><br>
                                            

                                                <!-- Wrapper for slides -->
                                   
                                        </div>
                                     </div>
                                            {{#ifCond product.features "features-L-A24(WI-FI)"}}
                                            {{>features_la4wifi}}
                                            {{/ifCond}}

                                            {{#ifCond product.features "features-L-A24(Bluetooth)"}}
                                            {{>features_la4bluetooth}}
                                            {{/ifCond}}

                                            {{#ifCond product.features "features-L-A28(Bluetooth)"}}
                                            {{>features_la28bluetooth}}
                                            {{/ifCond}}

                                            {{#ifCond product.features "features-L-A28(WI-FI)"}}
                                            {{>features_la28wifi}}
                                            {{/ifCond}}

                                            {{#ifCond product.features "features-L-A28(Remote)"}}
                                            {{>features_la28remote}}
                                            {{/ifCond}}

                                            {{#ifCond product.features "features-L-A15"}}
                                            {{>features_la15}}
                                            {{/ifCond}}

                                            {{#ifCond product.features "features-L-A5"}}
                                            {{>features_la5}}
                                            {{/ifCond}}

                                            {{#ifCond product.features "features-L-H300"}}
                                            {{>features_h300}}
                                            {{/ifCond}}

                                            {{#ifCond product.features "features-L-S9"}}
                                            {{>features_s9}}
                                            {{/ifCond}}
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
               
            </div>
        </div>
        
  <br><br><br><br>

  
  
        <!-- ****** Quick View Modal Area End ****** -->
  <footer style="width: 100% !important;">
    <div class="footer-content img-responsive">
      <a href="/" class="logo"><img style="width: 40%; height: 40%;" src="/assets/img/logo (1).svg"></a>

        <p>Your Finger Your Key. A Complete Fingerprint Door Lock collection. </p>
        <ul class="socials" style="text-align: center; align-items: center; justify-content: center;">
            <li><a href="https://www.facebook.com/lavnadigitallocks"><i style="font-size: 1.8rem;" class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/lavnalocks/"><i style="font-size: 1.8rem;" class="fa fa-instagram"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCBCwfurSO-DsJaNKlaomHWg/videos"><i style="font-size: 1.8rem;" class="fa fa-youtube" aria-hidden="true"></i></a></li>
            <li><a href="https://api.whatsapp.com/send?phone=+91-7838486896"><i style="font-size: 1.8rem;" class="fa fa-whatsapp"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom img-responsive" style="background: rgb(243, 235, 235) !important; height:2rem !important;">
        <p style="color: black !important; text-align: center; align-items: center; justify-content: center;">copyright &copy;2020 Lavna Locks | Powered by FlyBunch Ventures Pvt Ltd</p>
    </div>
</footer>

<script>
    function addToCart()
    {
        var title = document.getElementById("productTitle").innerHTML;
        
        window.location.href = "/add-to-cart/"+title;
    }
</script>


  <!-- End Footer -->

  <!-- <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a> -->

  <!-- Vendor JS Files -->
  {{!-- <script src="/public/assets/vendor/jquery/jquery.min.js"></script> --}}
     <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
  <script src="/public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/public/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/public/assets/vendor/php-email-form/validate.js"></script>
  <script src="/public/assets/vendor/jquery-sticky/jquery.sticky.js"></script>
  <script src="/public/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/public/assets/vendor/venobox/venobox.min.js"></script>
  <script src="/public/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="/public/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/public/assets/vendor/aos/aos.js"></script>
   

  <!-- Template Main JS File -->
  <script src="/public/assets/js/main.js"></script>
  <script src="/public/assets/vendor/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>