{{>header}}<br><br><br><br><br>

<style>
  
.links{
  text-align: center;
}
.links ul li{
  list-style: none;
  line-height: 33px;
}
.links ul li a{
  text-decoration: none;
  color: #FFF;
  font-weight: 500;
  font-size: 16px;
}
.links h4{
  font-size: 23px;
  margin-left: 40px;
}
.links span{
  font-size: 17px;
  font-weight: 600;
}
</style>
<style>
  * {
    box-sizing: border-box
  }

  .mySlides1,
  .mySlides2 {
    display: none
  }

  img {
    vertical-align: middle;
  }

  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    font-weight: bold;
    font-size: 30px;
    background-color: #fff;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.30)!important;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a grey background color */
  .prev:hover,
  .next:hover {
    background-color: #f1f1f1;
    color: black;
  }
  .btn-dark:hover{
    color: #fff;
  }

</style>

<!-- ****** Quick View Modal Area Start ****** -->
<div class="container">
  <div>
    <div>
      <div>
        <div>
          <div>
            <div class="container">
              <div class="row">
                <div class="col-12 col-lg-5">
                  {{#ifCond product.features "features-L-A24(WI-FI)"}}
                  {{>img_la24_gold_wifi}}
                  {{/ifCond}}

                  {{#ifCond product.features "features-L-A24(Bluetooth)"}}
                  {{>img_la24_gold_bluetooth}}
                  {{/ifCond}}


                  {{#ifCond product.features "features-L-A24-Black(WI-FI)"}}
                  {{>img_la24_black_wifi}}
                  {{/ifCond}}
    
                  {{!-- new entry --}}
                  {{#ifCond product.features "features-L-A28-GOLD"}}
                  {{>img_la28_gold_bluetooth}}
                  {{/ifCond}}

                  {{#ifCond product.features "features-L-A24-GOLD"}}
                  {{>img_la24_gold_bluetooth}}
                  {{/ifCond}}
                  {{!-- new entry --}}
                  {{#ifCond product.features "features-L-A24-Black(Bluetooth)"}}
                  {{>img_la24_black_bluetooth}}
                  {{/ifCond}}

                  {{#ifCond product.features "features-L-A28(Bluetooth)"}}
                  {{>img_la28_gold_bluetooth}}
                  {{/ifCond}}

                  {{#ifCond product.features "features-L-A28(WI-FI)"}}
                  {{>img_la28_gold_wifi}}
                  {{/ifCond}}

                  {{#ifCond product.features "features-L-A28(Remote)"}}
                  {{>img_la28_gold_remote}}
                  {{/ifCond}}

                  {{#ifCond product.features "features-L-A28-Black(Bluetooth)"}}
                  {{>img_la28_black_bluetooth}}
                  {{/ifCond}}

                  {{#ifCond product.features "features-L-A28-Black(WI-FI)"}}
                  {{>img_la28_black_wifi}}
                  {{/ifCond}}

                  {{#ifCond product.features "features-L-A28-Black(Remote)"}}
                  {{>img_la28_black_remote}}
                  {{/ifCond}}


                  {{#ifCond product.features "features-L-A15"}}
                  {{>img_la15}}
                  {{/ifCond}}

                  {{#ifCond product.features "features-L-A5"}}
                  {{>img_la5}}
                  {{/ifCond}}

                  {{#ifCond product.features "features-L-H300"}}
                  {{>img_H300}}
                  {{/ifCond}}

                  {{#ifCond product.features "features-L-S9"}}
                  {{>img_s9}}
                  {{/ifCond}}

                  {{#ifCond product.features "features-L-H300(Encoder)"}}
                  {{>img_H300_encoder}}
                  {{/ifCond}}

                  {{#ifCond product.features "features-L-E50"}}
                  {{>img_E50}}
                  {{/ifCond}}


                  <br>

                  {{#ifCond product.features "features-L-A24(WI-FI)"}}


                   <p class="is-available text-center" style="background-color: #d8191d;
    width: 8em;
    color: var(--ivory);
    font-weight: bold;
    font-size: 12px;
    padding: 0.3em;
    text-transform: uppercase;
    margin-left:10px;">Out of Stock</p>
    

{{else}}

{{#ifCond product.features "features-L-A5"}}
                   <p class="is-available text-center" style="background-color: #d8191d;
    width: 8em;
    color: var(--ivory);
    font-weight: bold;
    font-size: 12px;
    padding: 0.3em;
    text-transform: uppercase;
    margin-left:10px;">Out of Stock</p>


    {{else}}

{{!-- <div class="row" id="color">
  <div class="col-lg-6">
  Avialable Colors:-   <a href="" class="btn">Black</a>
  </div>
  <div class="col-lg-6">
    <a href="" class="btn">Golden</a>
  </div>
</div> --}}

<div class="row text-center">
  <div class="col-lg-6">
           <p class="is-available text-center" style="background-color: var(--green);
    width: 100%;
    color: var(--ivory);
    font-weight: bold;
    font-size: 12px;
    border-radius:6px;
    padding: 0.6em;
    padding: 10px 20px 10px 20px;
    text-transform: uppercase;
 ">In stock</p>
  </div>
  <div class="col-lg-6">
        <button type="button" class="btn btn-primary" style="padding:8px 20px 8px 20px; width:100%;" onclick="addToCart();">Add to
          Shopping cart</button>
  </div>
</div>
<div class="row text-center mt-4">
  <div class="col-lg-12">
      <div>
        <button type="button" class="btn btn-dark" style="padding: 9px 20px 9px 20px; font-weight:600; width:100%; background: green;" onclick="checkout();">
          Buy now</button>
      </div>
  </div>
</div>
                  
                 
{{/ifCond}}

    
{{/ifCond}}
                </div>
                {{!-- {{#ifCond product.features "features-L-A24(WI-FI)"}}
                {{>features_la4wifi}}
                {{/ifCond}}

                {{#ifCond product.features "features-L-A24(Bluetooth)"}}
                {{>features_la4bluetooth}}
                {{/ifCond}} --}}

                 {{!-- new entry --}}
                  {{#ifCond product.features "features-L-A28-GOLD"}}
                  {{>features_la28_gold}}
                  {{/ifCond}}

                  {{#ifCond product.features "features-L-A24-GOLD"}}
                  {{>features_la24_gold}}
                  {{/ifCond}}
                  {{!-- new entry --}}
                 {{#ifCond product.features "features-L-A24(WI-FI)"}}
                   {{>features_la4wifi}}
                  {{/ifCond}}

                  {{#ifCond product.features "features-L-A24(Bluetooth)"}}
                  {{>features_la4bluetooth}}
                  {{/ifCond}}

                  {{#ifCond product.features "features-L-A24-Black(WI-FI)"}}
                  {{>features_la4wifi}}
                  {{/ifCond}}

                  {{#ifCond product.features "features-L-A24-Black(Bluetooth)"}}
                  {{>features_la4bluetooth}}
                  {{/ifCond}}


                {{#ifCond product.features "features-L-A28(Bluetooth)"}}
                {{>features_la28bluetooth}}
                {{/ifCond}}

                {{#ifCond product.features "features-L-A28(WI-FI)"}}
                {{>features_la28wifi}}
                {{/ifCond}}

                {{#ifCond product.features "features-L-A28(Remote)"}}
                {{>features_la28remote}}
                {{/ifCond}}

                {{#ifCond product.features "features-L-A28-Black(Bluetooth)"}}
                {{>features_la28bluetooth}}
                {{/ifCond}}

                {{#ifCond product.features "features-L-A28-Black(WI-FI)"}}
                {{>features_la28wifi}}
                {{/ifCond}}

                {{#ifCond product.features "features-L-A28-Black(Remote)"}}
                {{>features_la28remote}}
                {{/ifCond}}

                {{#ifCond product.features "features-L-A15"}}
                {{>features_la15}}
                {{/ifCond}}

                {{#ifCond product.features "features-L-A5"}}
                {{>features_la5}}
                {{/ifCond}}

                {{#ifCond product.features "features-L-H300"}}
                {{>features_h300}}
                {{/ifCond}}

                {{#ifCond product.features "features-L-S9"}}
                {{>features_s9}}
                {{/ifCond}}


                {{#ifCond product.features "features-L-H300(Encoder)"}}
                {{>features_h300_encoder}}
                {{/ifCond}}

                 {{#ifCond product.features "features-L-E50"}}
                  {{>features_E50}}
                  {{/ifCond}}

                

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<br><br><br><br>



<!-- ****** Quick View Modal Area End ****** -->
  <footer style="width: 100% !important;">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 text-left align-left">
            <div class="footer-content img-responsive">
             <a href="/" class="logo"><img style="width: 100%; height: 40%;" src="/assets/img/Logo.jpg"></a>

              <p>Your Finger Your Key. A Complete Fingerprint Door Lock collection. </p>
              <ul class="socials">
                  <li><a href="https://www.facebook.com/lavnadigitallocks"><i style="font-size: 1.8rem;" class="fa fa-facebook"></i></a></li>
                  <li><a href="https://www.instagram.com/lavnalocks/"><i style="font-size: 1.8rem;" class="fa fa-instagram"></i></a></li>
                  <li><a href="https://www.youtube.com/channel/UCBCwfurSO-DsJaNKlaomHWg/videos"><i style="font-size: 1.8rem;" class="fa fa-youtube" aria-hidden="true"></i></a></li>
                  <li><a href="https://api.whatsapp.com/send?phone=+91-9971427608"><i style="font-size: 1.8rem;" class="fa fa-whatsapp"></i></a></li>
              </ul>
              <p style="color:white;" >Customer Support: <a style="color:white;" href="tel:1800-313-4491">1800-313-4491</a></p>
            </div>
        </div>
        <div class="col-lg-4 links">
           <h4>Useful links</h4>
            <ul>
               <li><a href="index.html">Home</a></li>
              <li><a href="/about">About Us</a></li>
              <li><a href="/shop">Shop</a></li>
              <li><a href="/faq">Faq's</a></li> 
              <li><a href="/blog">Blogs</a></li> 
              <li><a href="/privacypolicy">Privacy Policy</a></li> 
            </ul>
        </div>
           <div class="col-lg-4 links">
           <h4>Contact Us</h4>
            <ul>
              <li><span>Main Head Office:</span> <a href="">Rohini, Sector - 3 Delhi - 110085</a></li><br>
              <li><span>Mobile:</span> <a href="tel:9667771077">+91-9667771077</a></li>
              <li><span>Email:</span> <a href="mailto:contact@lavnalocks.com">Contact@lavnalocks.com</a></li>
            </ul>
        </div>
      </div>
    </div>
    
    <div class="footer-bottom img-responsive" style="background: rgb(243, 235, 235) !important; height:5.5rem !important;">
        <p style="color: black !important; text-align: center; align-items: center; font-size:15px; font-weight:600">&copy;2021 A Unit of PRS Neurosciences and Mechatronics Research Institute Pvt. Ltd.All rights reserved.Powered by MGC</p>
    </div>
</footer>


<script>
  function addToCart() {
    var title = document.getElementById("productTitle").innerHTML;

    window.location.href = "/add-to-cart/" + title;
  }

  function checkout() {
    var title = document.getElementById("productTitle").innerHTML;

    window.location.href = "/products/checkout/" + title;
  }
</script>


<script>
  var slideIndex = [1, 1];
  var slideId = ["mySlides1", "mySlides2"]
  showSlides(1, 0);
  showSlides(1, 1);

  function plusSlides(n, no) {
    showSlides(slideIndex[no] += n, no);
  }

  function showSlides(n, no) {
    var i;
    var x = document.getElementsByClassName(slideId[no]);
    if (n > x.length) { slideIndex[no] = 1 }
    if (n < 1) { slideIndex[no] = x.length }
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    x[slideIndex[no] - 1].style.display = "block";
  }
</script>

<!-- End Footer -->

<!-- <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a> -->

<!-- Vendor JS Files -->
{{!--
<script src="/public/assets/vendor/jquery/jquery.min.js"></script> --}}
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
<script src="/public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/public/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="/public/assets/vendor/php-email-form/validate.js"></script>
<script src="/public/assets/vendor/jquery-sticky/jquery.sticky.js"></script>
<script src="/public/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/public/assets/vendor/venobox/venobox.min.js"></script>
<script src="/public/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
<script src="/public/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="/public/assets/vendor/aos/aos.js"></script>


<!-- Template Main JS File -->
<script src="/public/assets/js/main.js"></script>
<script src="/public/assets/vendor/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>
