{{>header}}

{{#if errorMsg }}
      <div id="flash-msg" class="alert alert-danger">
        {{errorMsg}}
      </div>
      {{/if}}

  
   <section id="signin3">
        <div class="container" id="container">
            <input type="checkbox" id="flip">
            <div class="cover">
                <div class="front">
                    <img id="bg" class="front_cl" src="../../public/assets/new_assets/img2/sign-in.jpg" alt="">
                 
                </div>
                <div class="back">
                  <img class="backImg" src="../../public/assets/new_assets/img2/sign-up.jpg" alt="">
                </div>
            </div>
             <form action="/user/signup" method="POST">
                <div class="form-content">
                   <div class="signup-form">
                        <div class="title">Signup</div>
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fa fa-user"></i>
                                <input type="text" placeholder="Enter Your Name" name="firstname" id="firstname" required>
                            </div>
                            <div class="input-box">
                                <i class="fa fa-envelope"></i>
                                <input type="email" placeholder="Enter Email" name="email" id="email" required>
                            </div>
                            <div class="input-box">
                                <i class="fa fa-key"></i>
                                <input type="password" placeholder="Enter Password" name="password" id="password" required>
                            </div>
                            <div class="input-box">
                              <i class="fa fa-key"></i>
                              <input type="password" placeholder="Confirm Password" name="confirmpassword" id="confirmpassword" required="">
                            </div>
                            <div class="button input-box">
                               <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                                <button type="submit" value="submit" class="signupbtn">Sign Up</button>
                                {{!-- <input type="submit" value="Submit"> --}}
                            </div>
                            <div class="text signup-text">Already have an account? <a href="/user/signin">Login now</a></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>


  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
    <div class="footer-top">
        <div class="row">
        <div class="col-lg-12">
        <a href="/" class="logo me-auto"><img width="20%" src="../../public/assets/new_assets/img2/Logo.jpg" alt="Lavna_logo"></a>
        </div>
        </div>    
    </div>
    <div class="footer-mid">
        <div class="row mt-4">
        <div class="col-lg-5">
            <div class="box">
            <h4>Subscribe to our newsletter</h4>
            <form id="contact-form2">
                <input type="email" name="email" id="emailsb" placeholder="Enter Your Email" required><button type="submit" id="submit-modal2">Subscribe Us</button>
            </form>
            
            </div>
        </div>
        <div class="col-lg-4">
            <h4 class="link">Links</h4>
            <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/shop">Products</a></li>
            <li><a href="/builder">Builder’s Project</a></li>
            </ul>
        </div>
        <div class="col-lg-3">
          <h4 class="link">Contact Us</h4>
          <ul>
          <li><a href="tel:+91-18003134491"><i class="fa fa-phone"></i>  +91-18003134491</a></li>
          <li> <a href="mailto:sales@lavnalocks.com"><i class="fa fa-envelope"></i> sales@lavnalocks.com</a></li>
          </ul>
            <ul class="lastul">
            <li><a target="_blank" href="https://www.facebook.com/bhagwnshrilocksprivatelimited/"><img src="../../public/assets/new_assets/img2/facebook (2).svg" alt="facebook"></a></li>
            <li><a target="_blank" href="https://www.instagram.com/lavnalocks/"><img src="../../public/assets/new_assets/img2/instagram (1).svg" alt="instagram"></a></li>
            <li><a target="_blank" href="https://youtu.be/Yst8KW2Vm4M"><img src="../../public/assets/new_assets/img2/Vector (13).png" alt="youtube"></a></li>
            </ul>
        </div>
        </div>
    </div>
    </div>


    <div id="f_bottom" class="container-fluid">
    <div class="row text-center">
        <div class="col-lg-12 footer-bottom">
        <div class="copyright">
            &copy; 2022 LAVNA Locks is a Unit of Bhagwn Shri Locks PVT. LTD. All Rights Reserved.
        </div>
        </div>
    </div>
    </div>
</footer>
  <!-- End Footer -->

<div id="preloader"></div>
<script src="../../public/assets/new_assets/js/jquery.min.js"></script>

<!-- Vendor JS Files -->
<script src="../../public/assets/new_assets/vendor/aos/aos.js"></script>
<script src="../../public/assets/new_assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="../../public/assets/new_assets/js/main.js"></script>
<script src="../../public/assets/new_assets/js/owl.min.js"></script>  
<script src="../../public/assets/new_assets/js/custom.js"></script>  


<script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js">
</script>



<script type="text/javascript">
(function(){
  emailjs.init("user_mTjMBBP092bpZsnZTyLfp");
})();

</script>

<script>
   // Wrapper Area
const wrapper__Area = document.querySelector('#wrapper_Area');

// Login & Sing-Up Forms
const loginForm = document.querySelector('#loginForm');
const signUpForm = document.querySelector('#signUpForm');

// All Login And Sing-Up Forms Inputs 
const allLoginFormFields = Array.from(document.querySelectorAll('#loginForm .input__group .field input'));
const allSignUpFormFields = Array.from(document.querySelectorAll('#signUpForm .input__group:not(.confirm__group) .field input'));

// Password And Confirm Password Fileds
const passwordField = document.querySelector('#signUpPassword');
const confirmPassword = document.querySelector('#signUpConfirmPassword');

// Login % Sign-Up Submit Buttons
const loginFormSubmitBtn = document.querySelector('#loginSubmitBtn');
const signUpFormSubmitBtn = document.querySelector('#signUpSubmitBtn');

// Show Hide Password Element
const showHidePassDom = Array.from(document.querySelectorAll('.showHide__Icon i'));

// Pattrens Regex
const patterns = { // All This Regex Code Is For Demo You Can Add Your Own Regex Code :)
  username: /^[a-z]+\d?/,
  email: /^[^\W\d\.-_]+\w\d?@[a-z0-9]+\.([a-z0-9]{2,6})(\.[a-z0-9]{2,6})?$/,
  password: /^[^\d\W]\w+\d?\W?\w?/i,
};

// Aside Area
const aside__Area = document.querySelector('#aside_Area');

// Aside Sing-Up & Sign In Buttons
const aside__SignUp_Button = document.querySelector('#aside_signUp_Btn');
const aside__SignIn_Button = document.querySelector('#aside_signIn_Btn');

// - - - - -  Events - - - - - //

// When Submitting On Login & Sign-Up Forms
loginForm.addEventListener('submit', (e) => {
  // Stop Form Submission
  e.preventDefault();
  // Call Login Form Validation Function
  loginFormValidation();
});
signUpForm.addEventListener('submit', (e) => {
  // Stop Form Submission
  e.preventDefault();
  // Call Sign-Up Form Validation Function
  signUpFormValidation();
});

// Every Time Click On Aside Sign-Up & Sing-In Buttons. Call Function Chnage Form Mode
aside__Area.addEventListener('click', chnageFormMode);
aside__Area.addEventListener('click', chnageFormMode);

// - - - - -  Functions - - - - - //

// Change Form Mode Function
function chnageFormMode(e) {
  // Check. If The Target Element Is Aside Sign-Up Button
  if(e.target === aside__SignUp_Button){
    // Add Class [ Sign Up Mode Active ] On Wrapper Area
    wrapper__Area.classList.add('sign-up__Mode-active');
  };
  // Check. If The Target Element Is Aside Sign-In Button
  if(e.target === aside__SignIn_Button){
    // Remove Class [ Sign Up Mode Active ] From Wrapper Area
    wrapper__Area.classList.remove('sign-up__Mode-active');
  };
};

// Function Show Hide Password
(function showHidePass() {
  // Loop On All The Show Hide Password Icon
  showHidePassDom.forEach(icon =>{
    // When Click On Any Show Hide Icon...
    icon.addEventListener('click', () => {
      // Select The Target Password Input
      const targetAreaInput = icon.parentElement.parentElement.querySelector('.field input');
      // If The Target Icon Has Hide-icon
      if(icon.className === 'bx bx-hide'){
        // Change The Target Icon Class
        icon.className = 'bx bx-show';
        // Change The Target Input Area Type
        targetAreaInput.setAttribute('type', 'text');
      }else{ // else
        // Change The Target Icon Class
        icon.className = 'bx bx-hide';
        // Change The Target Input Area Type
        targetAreaInput.setAttribute('type', 'password');
      };
    });
  });
})();

// Login Form Validation Function
function loginFormValidation() {
  // Loop On All The Inputs
  allLoginFormFields.forEach(input => {
    // Input Targte Field Name Value
    const inputAttribueValueName = input.attributes.name.value;
    // Input Value Without Spaces
    const inputValue = input.value.trim();
    // Input Regex Validation Response [ True || False ] :)
    const inputRegex = patterns[inputAttribueValueName].test(inputValue);

    // Check If The Input Value Is Empty
    if(inputValue === ''){
      // Call Function Set Error For
      setErrorFor(input, `${inputAttribueValueName} is required. Please enter your response.`);
    }else if(inputRegex === false){ // Else If: If The InputRegext Response Is False
      // Call Function Set Error For
      setErrorFor(input, `${inputAttribueValueName} Is Invalid .`);
    }else{ // Else
      // Call Function Set Success For
      setSuccessFor(input);
    };
  });
};

// Sign-Up Form Validation Function
function signUpFormValidation() {
  // Loop On All The Inputs
  allSignUpFormFields.forEach(input => {
    // Password And Confirm Password Fileds Values Without Spaces
    const passwordFieldValue = passwordField.value.trim();
    const conifrmPassValue = confirmPassword.value.trim();
    // Input Targte Field Name Value
    const inputAttribueValueName = input.attributes.name.value;
    // Input Value Without Spaces
    const inputValue = input.value.trim();
    // Input Regex Validation Response [ True || False ] :)
    const inputRegex = patterns[inputAttribueValueName].test(inputValue);

    // Check If The Input Value Is Empty
    if(inputValue === ''){
      // Call Function Set Error For
      setErrorFor(input, `${inputAttribueValueName} is required. Please enter your response.`);
    }else if(inputRegex === false){ // Else If: If The InputRegext Response Is False
      // Call Function Set Error For
      setErrorFor(input, `${inputAttribueValueName} Is Invalid .`);
    }else{ // Else
      // Call Function Set Success For
      setSuccessFor(input);
    };

    // Validation The Confirm Password
    if(conifrmPassValue === ''){ // Check If The Confirm Password Value Is Empty
      // Call Function Set Error For
      setErrorFor(confirmPassword, `Confirm password is required. Please enter your response.`);
    }else if(conifrmPassValue !== passwordFieldValue){ // Check If The Confirm Password Value Is Dose Not Match The Password Filed
      // Call Function Set Error For
      setErrorFor(confirmPassword, `Confirm password does not match`);
    }else{ // Eles
      // Call Function Set Success For
      setSuccessFor(confirmPassword);
    };

  });
};

// Set Error For Function
function setErrorFor(input, message){
  // Select The Target Parent Target Input Group
  const targetParentInput = input.parentElement.parentElement;
  // Select The Target Input Error Message
  const targetErrorMessage = targetParentInput.querySelector('.input__error_message');

  // Remove Class FormSucess From The Parent Target
  targetParentInput.classList.remove('formSuccess');
  // Add Class Success On Target ParentElement
  targetParentInput.classList.add('formError');
  // Set The Message Inside The Target Error Message
  targetErrorMessage.innerHTML = message;
};

// Set Success For Function
function setSuccessFor(input){
  // Select The Target Parent Target Input Group
  const targetParentInput = input.parentElement.parentElement;
  // Select The Target Input Error Message
  const targetErrorMessage = targetParentInput.querySelector('.input__error_message');

  // Remove Class FormError From The Parent Target
  targetParentInput.classList.remove('formError');
  // Add Class Success On Target ParentElement
  targetParentInput.classList.add('formSuccess');
  // Empty The Error Message
  targetErrorMessage.innerHTML = '';
};
</script>

<script>
  $(function() {
  $('.login-text').click(function(){
    $("#bg").addClass("intro");
    $(".intro").attr('src',"../../public/assets/new_assets/img2/sign-up.jpg");
   
    $("#bg").css('transform', 'scaleX(-1)');
    
  });
});
$(function() {
  $('.signup-text').click(function(){
    $("#bg").removeClass("intro");
    $(".front_cl").attr('src',"../../public/assets/new_assets/img2/sign-in.jpg");
    $("#bg").css('transform', 'scaleX(1)');
  });
});

</script>

<script>
  $(".progress-bar").animate({
  width: "92%"
}, 2500);

$("#progress-bar2").animate({
    width: "84%"
}, 2500);

$("#progress-bar3").animate({
    width: "88%"
}, 2500);
</script>

<script>
 $(document).ready(function(){
        var submitIcon = $('.searchbox-icon');
        var inputBox = $('.searchbox-input');
        var searchBox = $('.searchbox');
        var isOpen = false;
        submitIcon.click(function(){
            if(isOpen == false){
                searchBox.addClass('searchbox-open');
                inputBox.focus();
                isOpen = true;
            } else {
                searchBox.removeClass('searchbox-open');
                inputBox.focusout();
                isOpen = false;
            }
        });  
         submitIcon.mouseup(function(){
                return false;
            });
        searchBox.mouseup(function(){
                return false;
            });
        $(document).mouseup(function(){
                if(isOpen == true){
                    $('.searchbox-icon').css('display','block');
                    submitIcon.click();
                }
            });
    });
        function buttonUp(){
            var inputVal = $('.searchbox-input').val();
            inputVal = $.trim(inputVal).length;
            if( inputVal !== 0){
                $('.searchbox-icon').css('display','none');
            } else {
                $('.searchbox-input').val('');
                $('.searchbox-icon').css('display','block');
            }
        }
</script>

<script>
var swiper = new Swiper("#prd_thumb", {
slidesPerView: 5.5,
spaceBetween: 20,

navigation: {
    nextEl: "#prd_thumb .swiper-button-next",
    prevEl: "#prd_thumb .swiper-button-prev",
  },

});



$(document).ready(function(){

$('.chn_img').click(function(){

$('.chn_img').removeClass('active');
$(this).addClass('active');
var target = $(this).attr('data-target');
var src = $(this).attr('data-img');

$(target).attr('src',src);

});

});

</script>


<script>
$(document).ready(function(){
    $("#contact-form2").submit(function(e) {
  $('#submit-modal2').html('Sending...');
            e.preventDefault();
        var emailId = document.getElementById("emailsb").value;
        if(emailId ==='' || emailId == undefined )
        {
            return;
        }
        var Body ='Email: '+emailId;
  $('#emailsb').val('');

  sendMailToUser(emailId);
  sendMailToOwner(Body, emailId);
        });

    });


function sendMailToUser(emailId){

var data = {
service_id: 'service_8zp4yhp',
template_id: 'template_kvsj7kk',
user_id: 'user_mTjMBBP092bpZsnZTyLfp',
template_params: {
    'user_email':emailId,
    'reply_to':'contact@lavnalocks.com',
        'company':"Lavnalocks",

}

};

$.ajax('https://api.emailjs.com/api/v1.0/email/send', {
type: 'POST',
data: JSON.stringify(data),
contentType: 'application/json'
}).done(function(msg) {
// alert(msg);
$('#submit-modal').html('Send');
swal("Thank You!", "Your have subscribe lavnalocks", "success");
$('#closemodal').trigger('click');
}).fail(function(error) {
alert('Oops... user mail failed' + JSON.stringify(error));
});

}


function sendMailToOwner(Body, emailId){
var data = {
service_id: 'service_8zp4yhp',
template_id: 'template_mxovugp',
user_id: 'user_mTjMBBP092bpZsnZTyLfp',
template_params: {
     'user_email': emailId ,
     'reply_to':'contact@lavnalocks.com', 
     'owner_email': 'sales@lavnalocks.com',
     'company': 'Lavnalocks',
}

};

$.ajax('https://api.emailjs.com/api/v1.0/email/send', {
type: 'POST',
data: JSON.stringify(data),
contentType: 'application/json'
}).done(function() {
$('#submit-modal').html('Send');
swal("Thank You!", "Your Query has been submitted!", "success");
$('#closemodal').trigger('click');
}).fail(function(error) {
alert('Oops... ' + JSON.stringify(error));
});

}

</script>

<script>
$('.swiper-button-next').click(
  function(e){
        $(this).parents('.swiper-container').find('.xnext').trigger('click');
});    

$('.swiper-button-prev').click(function(e){$(this).parents('.swiper-container').find('.xprev').trigger('click');});
</script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
    $(document).ready(function(){
        $("#togg").click(function(){
            $("#navbar").toggle();
        });
    });
</script>

</body>
</html>