<!DOCTYPE html>
<html lang="en">

<head>
{{>header}}
<style>
  
.links{
  text-align: center;
}
.links ul li{
  list-style: none;
  line-height: 33px;
}
.links ul li a{
  text-decoration: none;
  color: #FFF;
  font-weight: 500;
  font-size: 16px;
}
.links h4{
  font-size: 23px;
  margin-left: 40px;
}
.links span{
  font-size: 17px;
  font-weight: 600;
}
</style>
  <style>
    
 nav{
    font-size: 20px !important;
    margin-left: 20% !important;
    }

    

         
    .contact{
        background-size: cover;
        background: center;
        width: 100%;
        padding: 100px;
    }
    .contactform{
        padding: 20px 30px;
        background: #fff;
        box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
        max-width: 450px;
        margin-top: 10px;
        /* margin-left: 300px; */
        margin: 0 auto;
    }
    .contactform h3{
        color: #111;
        font-size: 1.2em;
        margin-bottom: 20px;
        font-weight: 500;
        
    }
    .contactform .inputbox{
        position: relative;
        width: 100%;
        margin-bottom: 20px;
    }
    .contactform .inputbox input,
    .contactform .inputbox textarea{
        width: 100%;
        border: 1px solid #555;
        padding: 10px;
        color: #111;
        outline: none;
        font-size: 16px;
        font-weight: 300;
        resize: none;
    }
    .contactform .inputbox input[type="submit"]
    {
        font-size: 1em;
        color: #fff;
        background: blueviolet;
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 2px;
        transition: 0.5s;
        max-width: 100px;
        font-weight: 500;
        border: none;
        cursor: pointer;
    }
    #cont{
        align-items: center;
        width: 100%;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        color: #fff;
    }
    #cont1{
        font-size: 14px;
        align-items: center;
        width: 100%;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        color: #fff;
    }
    #raleway{
      padding-top: 70px;
    
    
      
    }

    



footer{
    background-color: black;
    height: auto;
    width: 100vw;
    font-family: sans-serif;
    padding-top: 40px;
    color: white;
    overflow: hidden;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: white;
}
.socials{
    list-style: none;
    display: flex;

    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 15px;
    padding: 5px;
}
.socials a{
    text-decoration: none;
    color: white;
    
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: blueviolet;
}
.footer-bottom{
    background: black;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    color: white;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-content img{
    width: 220px;

}


.whatsapp h5{
            color: white;
            background: #205a19;
            padding: 8px;
            margin: 8px;
            /* border-radius: 5%; */
            height: 50px;
            text-align: center;
            align-items: center;
            justify-content: center;
            width: 250px;
            top: -10%;
            box-sizing: border-box;
        }
        .whatsapp{
            position: fixed;
            right: 4%;
            bottom: 1%;
            /* font-size: 40px; */
        }

  </style>
   <style>
    body {font-family: Arial, Helvetica, sans-serif;}
    * {box-sizing: border-box}
    
    /* Full-width input fields */
    input[type=text],   input[type=email], input[type=password] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background: #f1f1f1;
    }
    
    input[type=text]:focus, input[type=password]:focus {
      background-color: #ddd;
      outline: none;
    }
    
    hr {
      border: 1px solid #f1f1f1;
      margin-bottom: 25px;
    }
    
    /* Set a style for all buttons */
    button {
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
    }
    
    button:hover {
      opacity:1;
    }
    
    /* Extra styles for the cancel button */
    .cancelbtn {
      padding: 14px 20px;
      background-color: #f44336;
    }
    
    /* Float cancel and signup buttons and add an equal width */
    .cancelbtn, .signupbtn {
      float: left;
      width: 50%;
    }
    
    /* Add padding to container elements */
    .container {
      padding: 16px;
    }
    
    /* Clear floats */
    .clearfix::after {
      content: "";
      clear: both;
      display: table;
    }
    
    /* Change styles for cancel button and signup button on extra small screens */
    @media screen and (max-width: 300px) {
      .cancelbtn, .signupbtn {
         width: 100%;
      }
    }
    </style>
   
</head>

<body>
  

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <a href="/" class="logo" style="width: 60rem !important;"><img class="img-fluid" style="margin-left: -1rem; height: 200rem !important;" src="/assets/img/Logo.jpg"></a>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

  {{>navbar}}

      <!-- <div class="header-social-links" style="width: 15rem;">
        <a style="font-size: 1.5rem;" href="https://www.facebook.com/lavnadigitallocks" class="facebook"><i style="color: blue; font-size: 17px;" class="fa fa-facebook-square" aria-hidden="true"></i></a>&nbsp;
        <a style="font-size: 1.5rem;" href="https://www.instagram.com/lavnalocks/" class="instagram"><i style="color: white; border-radius: 12%; background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%) !important;" class="icofont-instagram"></i></a>&nbsp;
        <a style="font-size: 1.5rem;" href="https://www.instagram.com/lavnalocks/" class="instagram"><i style="color: red;" class="fa fa-youtube-play" aria-hidden="true"></i></a>&nbsp;
        <a style="font-size: 1.5rem;" href="https://api.whatsapp.com/send?phone=+91-9971427608" class="instagram"><i style="color: green;" class="fa fa-whatsapp" aria-hidden="true"></i></a>&nbsp;
        <div id="WhatsApp" class="fa fa-3x"></div>
       
      </div> -->

    </div>
    
  


  </header><!-- End Header --><br><br><br><br><br><br><br>

{{#if errorMsg }}
      <div id="flash-msg" class="alert alert-danger">
        {{errorMsg}}
      </div>
      {{/if}}

  
  <form action="/user/signup" method="POST" style="border:1px solid #ccc" id="reg-form">
    <div class="container">
      <h1>Sign Up</h1>
     
      <hr>
  
      <label for="name"><b><h2>Your Name</h2></b></label>
      <input style="font-size: 1.4rem;" type="text" placeholder="Enter Your Name" name="firstname" id="firstname" required>

      <label for="email"><b><h2>Email</h2></b></label>
      <input style="font-size: 1.4rem;" type="email" placeholder="Enter Email" name="email" id="email" required>
  
      <label for="psw"><b><h2>Password</h2></b></label>
      <input style="font-size: 1.4rem;" type="password" placeholder="Enter Password" name="password" id="password" required>
  
      <label for="psw-repeat"><b><h2>Confirm Password</h2></b></label>
      <input style="font-size: 1.4rem;" type="password" placeholder="Confirm Password" name="confirmpassword" id="confirmpassword" required>
      
      <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px; font-size: 1.6rem;"> Remember me
      </label>
      
      <p style="font-size: 1.4rem;">By creating an account you agree to our <a style="font-size: 1.4rem;" href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
  
      <div class="clearfix">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <button style="font-size: 1.6rem;" type="submit" value="submit" class="signupbtn">Sign Up</button>
      </div>
    </div>
  </form>


  {{!-- <script>
    const form = document.getElementById('reg-form');
    form.addEventListner('submit', registerUser)

    async function registerUser(event){
      event.preventDefault()
      const username = document.getElementById('name').value;
      const email = document.getElementById('email').value;
      const password = document.getElementById('psw').value;
      const confirm-password = document.getElementById('cnfm-psw').value;

      const result = await fetch('api/register', {
        method: POST,
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify{
          name,
          email,
          psw,
          cnfm-psw
        }
      }).then((res) => res.json())

      console.log(result);
    }
  </script> --}}



  <footer style="width: 100% !important;">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 text-left align-left">
            <div class="footer-content img-responsive">
             <a href="/" class="logo"><img style="width: 100%; height: 40%;" src="/assets/img/Logo.jpg"></a>

              <p>Your Finger Your Key. A Complete Fingerprint Door Lock collection. </p>
              <ul class="socials">
                  <li><a href="https://www.facebook.com/lavnadigitallocks"><i style="font-size: 1.8rem;" class="fa fa-facebook"></i></a></li>
                  <li><a href="https://www.instagram.com/lavnalocks/"><i style="font-size: 1.8rem;" class="fa fa-instagram"></i></a></li>
                  <li><a href="https://www.youtube.com/channel/UCBCwfurSO-DsJaNKlaomHWg/videos"><i style="font-size: 1.8rem;" class="fa fa-youtube" aria-hidden="true"></i></a></li>
                  <li><a href="https://api.whatsapp.com/send?phone=+91-9971427608"><i style="font-size: 1.8rem;" class="fa fa-whatsapp"></i></a></li>
              </ul>
              <p style="color:white;" >Customer Support: <a style="color:white;" href="tel:1800-313-4491">1800-313-4491</a></p>
            </div>
        </div>
        <div class="col-lg-4 links">
           <h4>Useful links</h4>
            <ul>
               <li><a href="index.html">Home</a></li>
              <li><a href="/about">About Us</a></li>
              <li><a href="/shop">Shop</a></li>
              <li><a href="/faq">Faq's</a></li> 
              <li><a href="/blog">Blogs</a></li> 
              <li><a href="/privacypolicy">Privacy Policy</a></li> 
            </ul>
        </div>
           <div class="col-lg-4 links">
           <h4>Contact Us</h4>
            <ul>
              {{!-- <li><span>Address:</span> <a href="">G-29/205, Pocket 28, Sector 3, Rohini, New Delhi, Delhi 110085</a></li><br> --}}
              <li><span>Mobile:</span> <a href="tel:9667771077">+91-9667771077</a></li>
              <li><span>Email:</span> <a href="mailto:contact@lavnalocks.com">Contact@lavnalocks.com</a></li>
            </ul>
        </div>
      </div>
    </div>
    
    <div class="footer-bottom img-responsive" style="background: rgb(243, 235, 235) !important; height:5.5rem !important;">
        <p style="color: black !important; text-align: center; align-items: center; font-size:15px; font-weight:600">copyright &copy;2020 Lavna Locks | Powered by Flybunch Ventures Pvt Ltd</p>
    </div>
</footer>

  <!-- End Footer -->

  <!-- <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a> -->

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>
  <script src="/assets/vendor/jquery-sticky/jquery.sticky.js"></script>
  <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/vendor/venobox/venobox.min.js"></script>
  <script src="/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>

</body>

</html>