{{>shop_header}}


<main id="main">

  <!-- ======= Product Section ======= -->
   <section id="product_sec" class="why-us df_section ">
    <div class="container hide-out hide-out3 pln_box" data-aos="fade-up" id="plan__3">
      <div class="row text-center ">
        <div class="box1">
          <h5>OUR PRODUCTS<img width="20%" src="../../public/assets/new_assets/img2/Line_about.svg" alt="line_icon"></h5>
          <h3>Explore Range</h3>
        </div>
      </div>
      <div class="col-12 col-md-12 mt-5">
        <div class="row">
          <div class="col-12 col-md-12">
            <div class="card prod_card">
              <div class="col-md-12 pt-0 pb-0">
                <div class="row">
                  <div class="col-md-7 order-lg-1 order-md-3 order-sm-3 order-3">
                    <div class="content_box">
                      <a class="ds_link link_ds" href="/products/L-A24-Black(Bluetooth)"><h2>L-A24-Black(Bluetooth)</h2></a>
                      <p><b style="color: #003399;">M.R.P.</b> <del><span><i class="fa fa-rupee"></i> 14200</span></del> <span><i class="fa fa-rupee"></i> 9799</span></p>
                      <p class="desc">Meet the 6 in 1 smart door lock from LAVNA Locks, which you can access from your Fingerprint, RFID Card, PIN, Bluetooth Unlocking, OTP Unlocking and Key.</p>
                      <a href="/products/L-A24-Black(Bluetooth)" class="btn btn-theme">Buy Now</a> 
                    </div>
                  </div>
                  <div class="col-md-5 order-lg-2 order-md-1 order-sm-1 order-1">
                    <div class="Bluetooth1">
                      <a class="ds_link" href="/products/L-A24-Black(Bluetooth)"><h2 style="margin-left: 20px;">L-A24-Black(Bluetooth)</h2></a>
                    </div>
                    <figure class="prod_img">
                        <a href="/products/L-A24-Black(Bluetooth)"><img id="pr_1_img" src="../../public/assets/new_assets/img2/la24_new.jpg" alt="la24_product"/></a>
                    </figure>
                  </div>
                  <div class="col-md-5 order-md-2 order-sm-2 order-2 scroller-image">
                    <div class="swiper mySwiper" id="prd_thumb">
                      <!-- <div class="swiper-button-prev"></div> -->
                      <div class="swiper-wrapper">
                        <div class="swiper-slide chn_img active" data-target="#pr_1_img" data-img="../../public/assets/new_assets/img2/la24_new.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/img2/la24_new.jpg" alt="la24_product"/>
                          </figure>
                        </div>
    
                        

                        <div class="swiper-slide chn_img" data-target="#pr_1_img" data-img="../../public/assets/new_assets/images/LA24_2.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/images/LA24_2.jpg" alt="la24_product"/>
                          </figure>
                        </div>

                        <div class="swiper-slide chn_img" data-target="#pr_1_img" data-img="../../public/assets/landing_assets/images/img/free-installation.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/landing_assets/images/img/free-installation.jpg" alt="la24_product"/>
                          </figure>
                        </div>
    
                        <div class="swiper-slide chn_img" data-target="#pr_1_img" data-img="../../public/assets/new_assets/images/LA24_3.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/images/LA24_3.jpg" alt="la24_product"/>
                          </figure>
                        </div>
    
                        <div class="swiper-slide chn_img" data-target="#pr_1_img" data-img="../../public/assets/new_assets/images/LA24_4.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/images/LA24_4.jpg" alt="la24_product"/>
                          </figure>
                        </div>
    
                        <div class="swiper-slide chn_img" data-target="#pr_1_img" data-img="../../public/assets/new_assets/images/LA24_5.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/images/LA24_5.jpg" alt="la24_product"/>
                          </figure>
                        </div>
    
                        <div class="swiper-slide chn_img" data-target="#pr_1_img" data-img="../../public/assets/new_assets/images/LA24_6.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/images/LA24_6.jpg" alt="la24_product"/>
                          </figure>
                        </div>
    
                        <div class="swiper-slide chn_img" data-target="#pr_1_img" data-img="../../public/assets/new_assets/images/LA24_7.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/images/LA24_7.jpg" alt="la24_product"/>
                          </figure>
                        </div>
    
                        <div class="swiper-slide chn_img" data-target="#pr_1_img" data-img="../../public/assets/new_assets/images/LA24_8.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/images/LA24_8.jpg" alt="la24_product"/>
                          </figure>
                        </div>
                      </div>
                      <!-- <div class="swiper-button-next"></div> -->
                    </div>
                  </div>
                </div>  
              </div>
            </div>

            <div class="row scroller-image2">
              <div class="col-md-7"></div>
              <div class="col-md-5 ">
                <div class="swiper mySwiper" id="prd_thumb">
                  <!-- <div class="swiper-button-prev"></div> -->
                  <div class="swiper-wrapper">
                    <div class="swiper-slide chn_img active" data-target="#pr_1_img" data-img="../../public/assets/new_assets/img2/la24_new.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/img2/la24_new.jpg" alt="la24_product"/>
                      </figure>
                    </div>

                    <div class="swiper-slide chn_img" data-target="#pr_1_img" data-img="../../public/assets/new_assets/images/LA24_2.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/LA24_2.jpg" alt="la24_product"/>
                      </figure>
                    </div>

                    <div class="swiper-slide chn_img" data-target="#pr_1_img" data-img="../../public/assets/landing_assets/images/img/free-installation.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/landing_assets/images/img/free-installation.jpg" alt=""/>
                          </figure>
                        </div>

                    <div class="swiper-slide chn_img" data-target="#pr_1_img" data-img="../../public/assets/new_assets/images/LA24_3.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/LA24_3.jpg" alt="la24_product"/>
                      </figure>
                    </div>

                    <div class="swiper-slide chn_img" data-target="#pr_1_img" data-img="../../public/assets/new_assets/images/LA24_4.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/LA24_4.jpg" alt="la24_product"/>
                      </figure>
                    </div>

                    <div class="swiper-slide chn_img" data-target="#pr_1_img" data-img="../../public/assets/new_assets/images/LA24_5.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/LA24_5.jpg" alt="la24_product"/>
                      </figure>
                    </div>

                    <div class="swiper-slide chn_img" data-target="#pr_1_img" data-img="../../public/assets/new_assets/images/LA24_6.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/LA24_6.jpg" alt="la24_product"/>
                      </figure>
                    </div>

                    <div class="swiper-slide chn_img" data-target="#pr_1_img" data-img="../../public/assets/new_assets/images/LA24_7.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/LA24_7.jpg" alt="la24_product"/>
                      </figure>
                    </div>

                    <div class="swiper-slide chn_img" data-target="#pr_1_img" data-img="../../public/assets/new_assets/images/LA24_8.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/LA24_8.jpg" alt="la24_product"/>
                      </figure>
                    </div>
                  </div>
                  <!-- <div class="swiper-button-next"></div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
   
      <div class="col-12 col-md-12 mt-5">
        <div class="row">
          <div class="col-12 col-md-12">
            <div class="card prod_card">
              <div class="col-md-12 pt-0 pb-0">
                <div class="row">     
                  <div class="col-md-7 order-lg-1 order-md-3 order-sm-3 order-3">
                    <div class="content_box">
                      <a class="ds_link link_ds" href="/products/L-A28-Black(Bluetooth)"><h2>L-A28-Black(Bluetooth)</h2></a>
                      <p><b style="color: #003399;">M.R.P.</b> <del><span><i class="fa fa-rupee"></i> 8999</span></del> <span><i class="fa fa-rupee"></i> 7999</span></p>
                      <p class="desc">Meet the 6 in 1 smart door lock from LAVNA Locks, which you can access from your Fingerprint, RFID Card, PIN, Bluetooth Unlocking, OTP Unlocking and Key.
                      </p>
                      <a class="btn btn-theme" href="/products/L-A28-Black(Bluetooth)">Buy Now</a> 
                    </div>
                  </div>
                  <div class="col-md-5 order-lg-2 order-md-1 order-sm-1 order-1">
                    <div class="Bluetooth1">
                      <a class="ds_link" href="/products/L-A28-Black(Bluetooth)"><h2 style="margin-left: 20px;">L-A28-Black(Bluetooth)</h2></a>
                    </div>
                    <figure class="prod_img">
                        <a href="/products/L-A28-Black(Bluetooth)"><img id="pr_3_img" src="../../public/assets/new_assets/img2/frame1.jpg" alt="la28black_product"/></a>
                    </figure>
                  </div>
                  <div class="col-md-5 order-md-2 order-sm-2 order-2 scroller-image">
                    <div class="swiper mySwiper" id="prd_thumb">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide chn_img active" data-target="#pr_3_img" data-img="../../public/assets/new_assets/img2/frame1.jpg">
                          <figure class="prod_img">
                             <a href="/products/L-A28-Black(Bluetooth)"><img src="../../public/assets/new_assets/img2/frame1.jpg" alt="la28black_product"/></a>
                          </figure>
                        </div>
        
                        <div class="swiper-slide chn_img" data-target="#pr_3_img" data-img="../../public/assets/new_assets/images/LA28_2.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/images/LA28_2.jpg" alt="la28black_product"/>
                          </figure>
                        </div>
                        <div class="swiper-slide chn_img" data-target="#pr_3_img" data-img="../../public/assets/landing_assets/images/img/free-installation.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/landing_assets/images/img/free-installation.jpg" alt="la28black_product"/>
                          </figure>
                        </div>
                        <div class="swiper-slide chn_img" data-target="#pr_3_img" data-img="../../public/assets/new_assets/images/LA28_3.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/images/LA28_3.jpg" alt="la28black_product"/>
                          </figure>
                        </div>
        
                        <div class="swiper-slide chn_img" data-target="#pr_3_img" data-img="../../public/assets/new_assets/images/LA28_4.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/images/LA28_4.jpg" alt="la28black_product"/>
                          </figure>
                        </div>
        
                        <div class="swiper-slide chn_img" data-target="#pr_3_img" data-img="../../public/assets/new_assets/images/LA28_5.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/images/LA28_5.jpg" alt="la28black_product"/>
                          </figure>
                        </div>
        
                        <div class="swiper-slide chn_img" data-target="#pr_3_img" data-img="../../public/assets/new_assets/images/LA28_6.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/images/LA28_6.jpg" alt="la28black_product"/>
                          </figure>
                        </div>
        
                        <div class="swiper-slide chn_img" data-target="#pr_3_img" data-img="../../public/assets/new_assets/images/LA28_7.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/images/LA28_7.jpg" alt="la28black_product"/>
                          </figure>
                        </div>
        
                        <div class="swiper-slide chn_img" data-target="#pr_3_img" data-img="../../public/assets/new_assets/images/LA28_8.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/images/LA28_8.jpg" alt="la28black_product"/>
                          </figure>
                        </div>
                      
                      
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="row scoller-image2">
              <div class="col-md-7"></div>
              <div class="col-md-5 ">
                <div class="swiper mySwiper" id="prd_thumb">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide chn_img active" data-target="#pr_3_img" data-img="../../public/assets/new_assets/img2/frame1.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/img2/frame1.jpg" alt="la28black_product"/>
                      </figure>
                    </div>
    
                    <div class="swiper-slide chn_img" data-target="#pr_3_img" data-img="../../public/assets/new_assets/images/LA28_2.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/LA28_2.jpg" alt="la28black_product"/>
                      </figure>
                    </div>

                    <div class="swiper-slide chn_img" data-target="#pr_3_img" data-img="../../public/assets/landing_assets/images/img/free-installation.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/landing_assets/images/img/free-installation.jpg" alt="la28black_product"/>
                          </figure>
                        </div>
    
                    <div class="swiper-slide chn_img" data-target="#pr_3_img" data-img="../../public/assets/new_assets/images/LA28_3.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/LA28_3.jpg" alt="la28black_product"/>
                      </figure>
                    </div>
    
                    <div class="swiper-slide chn_img" data-target="#pr_3_img" data-img="../../public/assets/new_assets/images/LA28_4.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/LA28_4.jpg" alt="la28black_product"/>
                      </figure>
                    </div>
    
                    <div class="swiper-slide chn_img" data-target="#pr_3_img" data-img="../../public/assets/new_assets/images/LA28_5.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/LA28_5.jpg" alt="la28black_product"/>
                      </figure>
                    </div>
    
                    <div class="swiper-slide chn_img" data-target="#pr_3_img" data-img="../../public/assets/new_assets/images/LA28_6.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/LA28_6.jpg" alt="la28black_product"/>
                      </figure>
                    </div>
    
                    <div class="swiper-slide chn_img" data-target="#pr_3_img" data-img="../../public/assets/new_assets/images/LA28_7.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/LA28_7.jpg" alt="la28black_product"/>
                      </figure>
                    </div>
    
                    <div class="swiper-slide chn_img" data-target="#pr_3_img" data-img="../../public/assets/new_assets/images/LA28_8.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/LA28_8.jpg" alt="la28black_product"/>
                      </figure>
                    </div>
                  
                  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-12 mt-5">
        <div class="row">
          <div class="col-12 col-md-12">
            <div class="card prod_card">
              <div class="col-md-12 pt-0 pb-0">
                <div class="row">     
                  <div class="col-md-7 order-lg-1 order-md-3 order-sm-3 order-3">
                    <div class="content_box">
                      <a class="ds_link link_ds" href="/products/L-E50"><h2>L-E50</h2></a>
                      <p><b style="color: #003399;">M.R.P.</b> <del><span><i class="fa fa-rupee"></i> 9900</span></del> <span><i class="fa fa-rupee"></i> 6999</span></p>
                      <p class="desc">Meet the 2 in 1 most affordable smart door lock from LAVNA Locks, which you can access from your Fingerprint and Key.
                      </p>
                      <a class="btn btn-theme" href="/products/L-E50">Buy Now</a> 
                    </div>
                  </div>
                  <div class="col-md-5 order-lg-2 order-md-1 order-sm-1 order-1">
                    <div class="Bluetooth1">
                      <a class="ds_link" href="/products/L-E50"><h2 style="margin-left: 20px;">L-E50</h2></a>
                    </div>
                    <figure class="prod_img">
                        <a href="/products/L-E50"><img id="pr_6_img" src="../../public/assets/new_assets/images/LE50/1.jpg" alt="le50_product"/></a>
                    </figure>
                  </div>
                  <div class="col-md-5 order-md-2 order-sm-2 order-2 scroller-image">
                    <div class="swiper mySwiper" id="prd_thumb">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide chn_img active" data-target="#pr_6_img" data-img="../../public/assets/new_assets/images/LE50/1.jpg">
                          <figure class="prod_img">
                            <a href="/products/L-E50"><img src="../../public/assets/new_assets/images/LE50/1.jpg" alt="le50_product"/></a>
                          </figure>
                        </div>
        
                        <div class="swiper-slide chn_img" data-target="#pr_6_img" data-img="../../public/assets/new_assets/images/LE50/2.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/images/LE50/2.jpg" alt="le50_product"/>
                          </figure>
                        </div>

                        <div class="swiper-slide chn_img" data-target="#pr_6_img" data-img="../../public/assets/new_assets/images/LE50/3.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/images/LE50/3.jpg" alt="le50_product"/>
                          </figure>
                        </div>
        
                        <div class="swiper-slide chn_img" data-target="#pr_6_img" data-img="../../public/assets/new_assets/images/LE50/4.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/images/LE50/4.jpg" alt="le50_product"/>
                          </figure>
                        </div>
        
                        <div class="swiper-slide chn_img" data-target="#pr_6_img" data-img="../../public/assets/new_assets/images/LE50/5.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/images/LE50/5.jpg" alt="le50_product"/>
                          </figure>
                        </div>
        
                        <div class="swiper-slide chn_img" data-target="#pr_6_img" data-img="../../public/assets/new_assets/images/LE50/6.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/images/LE50/6.jpg" alt="le50_product"/>
                          </figure>
                        </div>
        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="row scroller-image2">
              <div class="col-md-7"></div>
              <div class="col-md-5 ">
                <div class="swiper mySwiper" id="prd_thumb">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide chn_img active" data-target="#pr_6_img" data-img="../../public/assets/new_assets/images/LE50/1.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/LE50/1.jpg" alt="le50_product"/>
                      </figure>
                    </div>
    
                    <div class="swiper-slide chn_img" data-target="#pr_6_img" data-img="../../public/assets/new_assets/images/LE50/2.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/LE50/2.jpg" alt="le50_product"/>
                      </figure>
                    </div>

                    <div class="swiper-slide chn_img" data-target="#pr_6_img" data-img="../../public/assets/new_assets/images/LE50/3.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/LE50/3.jpg" alt="le50_product"/>
                      </figure>
                    </div>
    
                    <div class="swiper-slide chn_img" data-target="#pr_6_img" data-img="../../public/assets/new_assets/images/LE50/4.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/LE50/4.jpg" alt="le50_product"/>
                      </figure>
                    </div>
    
                    <div class="swiper-slide chn_img" data-target="#pr_6_img" data-img="../../public/assets/new_assets/images/LE50/5.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/LE50/5.jpg" alt="le50_product"/>
                      </figure>
                    </div>
    
                    <div class="swiper-slide chn_img" data-target="#pr_6_img" data-img="../../public/assets/new_assets/images/LE50/6.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/LE50/6.jpg" alt="le50_product"/>
                      </figure>
                    </div>
    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 

      <div class="col-12 col-md-12 mt-5">
        <div class="row">
          <div class="col-12 col-md-12">
            <div class="card prod_card">
              <div class="col-md-12 pt-0 pb-0">
                <div class="row">     
                  <div class="col-md-7 order-lg-1 order-md-3 order-sm-3 order-3">
                    <div class="content_box">
                      <a class="ds_link link_ds" href="/products/L-A15"><h2>L-A15</h2></a>
                      <p><b style="color: #003399;">M.R.P.</b> <del><span><i class="fa fa-rupee"></i> 4999</span></del> <span><i class="fa fa-rupee"></i> 3999</span></p>
                      <p class="desc">Meet the 2 in 1 most affordable smart door lock from LAVNA Locks, which you can access from your Fingerprint and Key.
                      </p>
                      <a class="btn btn-theme" href="/products/L-A15">Buy Now</a> 
                    </div>
                  </div>
                  <div class="col-md-5 order-lg-2 order-md-1 order-sm-1 order-1">
                    <div class="Bluetooth1">
                      <a class="ds_link" href="/products/L-A15"><h2 style="margin-left: 20px;">L-A15</h2></a>
                    </div>
                    <figure class="prod_img">
                        <a href="/products/L-A15"><img id="pr_5_img" src="../../public/assets/new_assets/images/LA15/1.jpg" alt="la15_product"/></a>
                    </figure>
                  </div>
                  <div class="col-md-5 order-md-2 order-sm-2 order-2 scroller-image">
                    <div class="swiper mySwiper" id="prd_thumb">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide chn_img active" data-target="#pr_5_img" data-img="../../public/assets/new_assets/images/LA15/1.jpg">
                          <figure class="prod_img">
                            <a href="/products/L-A15"><img src="../../public/assets/new_assets/images/LA15/1.jpg" alt="la15_product"/></a>
                          </figure>
                        </div>
        
                        <div class="swiper-slide chn_img" data-target="#pr_5_img" data-img="../../public/assets/new_assets/images/LA15/2.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/images/LA15/2.jpg" alt="la15_product"/>
                          </figure>
                        </div>

                        <div class="swiper-slide chn_img" data-target="#pr_5_img" data-img="../../public/assets/new_assets/images/LA15/3.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/images/LA15/3.jpg" alt="la15_product"/>
                          </figure>
                        </div>
        
                        <div class="swiper-slide chn_img" data-target="#pr_5_img" data-img="../../public/assets/new_assets/images/LA15/4.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/images/LA15/4.jpg" alt="la15_product"/>
                          </figure>
                        </div>
        
                        <div class="swiper-slide chn_img" data-target="#pr_5_img" data-img="../../public/assets/new_assets/images/LA15/5.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/images/LA15/5.jpg" alt="la15_product"/>
                          </figure>
                        </div>
        
                        <div class="swiper-slide chn_img" data-target="#pr_5_img" data-img="../../public/assets/new_assets/images/LA15/6.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/images/LA15/6.jpg" alt="la15_product"/>
                          </figure>
                        </div>
        
                        <div class="swiper-slide chn_img" data-target="#pr_5_img" data-img="../../public/assets/new_assets/images/LA15/7.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/images/LA15/7.jpg" alt="la15_product"/>
                          </figure>
                        </div>
        
                        <div class="swiper-slide chn_img" data-target="#pr_5_img" data-img="../../public/assets/new_assets/images/LA15/8.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/images/LA15/8.jpg" alt="la15_product"/>
                          </figure>
                        </div>
    
                        <div class="swiper-slide chn_img" data-target="#pr_5_img" data-img="../../public/assets/new_assets/images/LA15/9.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/images/LA15/9.jpg" alt="la15_product"/>
                          </figure>
                        </div>
                      
                      
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="row scroller-image2">
              <div class="col-md-7"></div>
              <div class="col-md-5 ">
                <div class="swiper mySwiper" id="prd_thumb">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide chn_img active" data-target="#pr_5_img" data-img="../../public/assets/new_assets/images/LA15/1.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/LA15/1.jpg" alt="la15_product"/>
                      </figure>
                    </div>
    
                    <div class="swiper-slide chn_img" data-target="#pr_5_img" data-img="../../public/assets/new_assets/images/LA15/2.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/LA15/2.jpg" alt="la15_product"/>
                      </figure>
                    </div>
    
                    <div class="swiper-slide chn_img" data-target="#pr_5_img" data-img="../../public/assets/new_assets/images/LA15/3.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/LA15/3.jpg" alt="la15_product"/>
                      </figure>
                    </div>
    
                    <div class="swiper-slide chn_img" data-target="#pr_5_img" data-img="../../public/assets/new_assets/images/LA15/4.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/LA15/4.jpg" alt="la15_product"/>
                      </figure>
                    </div>
    
                    <div class="swiper-slide chn_img" data-target="#pr_5_img" data-img="../../public/assets/new_assets/images/LA15/5.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/LA15/5.jpg" alt="la15_product"/>
                      </figure>
                    </div>
    
                    <div class="swiper-slide chn_img" data-target="#pr_5_img" data-img="../../public/assets/new_assets/images/LA15/6.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/LA15/6.jpg" alt="la15_product"/>
                      </figure>
                    </div>
    
                    <div class="swiper-slide chn_img" data-target="#pr_5_img" data-img="../../public/assets/new_assets/images/LA15/7.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/LA15/7.jpg" alt="la15_product"/>
                      </figure>
                    </div>
    
                    <div class="swiper-slide chn_img" data-target="#pr_5_img" data-img="../../public/assets/new_assets/images/LA15/8.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/LA15/8.jpg" alt="la15_product"/>
                      </figure>
                    </div>

                    <div class="swiper-slide chn_img" data-target="#pr_5_img" data-img="../../public/assets/new_assets/images/LA15/9.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/LA15/9.jpg" alt="la15_product"/>
                      </figure>
                    </div>
                  
                  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 

      <div class="col-12 col-md-12 mt-5">
        <div class="row">
          <div class="col-12 col-md-12">
            <div class="card prod_card">
              <div class="col-md-12 pt-0 pb-0">
                <div class="row">     
                  <div class="col-md-7 order-lg-1 order-md-3 order-sm-3 order-3">
                    <div class="content_box">
                      <a class="ds_link link_ds" href="/products/L-A5"><h2>L-A5</h2></a>
                      <p><b style="color: #003399;">M.R.P.</b> <del><span><i class="fa fa-rupee"></i> 13900</span></del> <span><i class="fa fa-rupee"></i> 11999</span></p>
                      <p class="desc"> Meet the 4 in 1 Glass door security lock from LAVNA Locks, which you can access from your fingerprint, RFID Card, PIN and remote.
                      </p>
                      <a class="btn btn-theme" href="/products/L-A5">Buy Now</a> 
                    </div>
                  </div>
                  <div class="col-md-5 order-lg-2 order-md-1 order-sm-1 order-1">
                    <div class="Bluetooth1">
                      <a class="ds_link" href="/products/L-A5"><h2 style="margin-left: 20px;">L-A5</h2></a>
                    </div>
                    <figure class="prod_img">
                        <a href="/products/L-A5"><img id="pr_7_img" src="../../public/assets/new_assets/images/LA5/L-A5.jpg" alt="la5_product"/></a>
                    </figure>
                  </div>

                  <div class="col-md-5 order-md-2 order-sm-2 order-2 scroller-image">
                    <div class="swiper mySwiper" id="prd_thumb">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide chn_img active" data-target="#pr_7_img" data-img="../../public/assets/new_assets/images/LA5/L-A5.jpg">
                          <figure class="prod_img">
                            <a href="/products/L-A5"><img src="../../public/assets/new_assets/images/LA5/L-A5.jpg" alt="la5_product"/></a>
                          </figure>
                        </div>
        
                        <div class="swiper-slide chn_img" data-target="#pr_7_img" data-img="../../public/assets/new_assets/images/LA5/LA-5_1.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/images/LA5/LA-5_1.jpg" alt="la5_product"/>
                          </figure>
                        </div>
        
                        <div class="swiper-slide chn_img" data-target="#pr_7_img" data-img="../../public/assets/new_assets/images/LA5/LA-5_2.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/images/LA5/LA-5_2.jpg" alt="la5_product"/>
                          </figure>
                        </div>
        
                        <div class="swiper-slide chn_img" data-target="#pr_7_img" data-img="../../public/assets/new_assets/images/LA5/LA-5_3.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/images/LA5/LA-5_3.jpg" alt="la5_product"/>
                          </figure>
                        </div>
        
                        <div class="swiper-slide chn_img" data-target="#pr_7_img" data-img="../../public/assets/new_assets/images/LA5/LA-5_4.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/images/LA5/LA-5_4.jpg" alt="la5_product"/>
                          </figure>
                        </div>
        
                        <div class="swiper-slide chn_img" data-target="#pr_7_img" data-img="../../public/assets/new_assets/images/LA5/LA-5_5.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/images/LA5/LA-5_5.jpg" alt="la5_product"/>
                          </figure>
                        </div>
        
                        <div class="swiper-slide chn_img" data-target="#pr_7_img" data-img="../../public/assets/new_assets/images/LA5/LA-5_6.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/images/LA5/LA-5_6.jpg" alt="la5_product"/>
                          </figure>
                        </div>
        
                        <div class="swiper-slide chn_img" data-target="#pr_7_img" data-img="../../public/assets/new_assets/images/LA5/LA-5_7.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/images/LA5/LA-5_7.jpg" alt="la5_product"/>
                          </figure>
                        </div>
    
                        <div class="swiper-slide chn_img" data-target="#pr_7_img" data-img="../../public/assets/new_assets/images/LA5/LA-5_8.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/images/LA5/LA-5_8.jpg" alt="la5_product"/>
                          </figure>
                        </div>
                      
                      
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="row scroller-image2">
              <div class="col-md-7"></div>
              <div class="col-md-5 ">
                <div class="swiper mySwiper" id="prd_thumb">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide chn_img active" data-target="#pr_7_img" data-img="../../public/assets/new_assets/images/LA5/L-A5.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/LA5/L-A5.jpg" alt="la5_product"/>
                      </figure>
                    </div>
    
                    <div class="swiper-slide chn_img" data-target="#pr_7_img" data-img="../../public/assets/new_assets/images/LA5/LA-5_1.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/LA5/LA-5_1.jpg" alt="la5_product"/>
                      </figure>
                    </div>
    
                    <div class="swiper-slide chn_img" data-target="#pr_7_img" data-img="../../public/assets/new_assets/images/LA5/LA-5_2.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/LA5/LA-5_2.jpg" alt="la5_product"/>
                      </figure>
                    </div>

    
                    <div class="swiper-slide chn_img" data-target="#pr_7_img" data-img="../../public/assets/new_assets/images/LA5/LA-5_3.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/LA5/LA-5_3.jpg" alt="la5_product"/>
                      </figure>
                    </div>
    
                    <div class="swiper-slide chn_img" data-target="#pr_7_img" data-img="../../public/assets/new_assets/images/LA5/LA-5_4.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/LA5/LA-5_4.jpg" alt="la5_product"/>
                      </figure>
                    </div>
    
                    <div class="swiper-slide chn_img" data-target="#pr_7_img" data-img="../../public/assets/new_assets/images/LA5/LA-5_5.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/LA5/LA-5_5.jpg" alt="la5_product"/>
                      </figure>
                    </div>
    
                    <div class="swiper-slide chn_img" data-target="#pr_7_img" data-img="../../public/assets/new_assets/images/LA5/LA-5_6.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/LA5/LA-5_6.jpg" alt="la5_product"/>
                      </figure>
                    </div>
    
                    <div class="swiper-slide chn_img" data-target="#pr_7_img" data-img="../../public/assets/new_assets/images/LA5/LA-5_7.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/LA5/LA-5_7.jpg" alt="la5_product"/>
                      </figure>
                    </div>

                    <div class="swiper-slide chn_img" data-target="#pr_7_img" data-img="../../public/assets/new_assets/images/LA5/LA-5_8.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/LA5/LA-5_8.jpg" alt="la5_product"/>
                      </figure>
                    </div>
                  
                  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 

      <div class="col-12 col-md-12 mt-5">
        <div class="row">
          <div class="col-12 col-md-12">
            <div class="card prod_card">
              <div class="col-md-12 pt-0 pb-0">
                <div class="row">     
                  <div class="col-md-7 order-lg-1 order-md-3 order-sm-3 order-3">
                    <div class="content_box">
                      <a class="ds_link link_ds" href="/products/L-H300(Encoder)"><h2>L-H300(Encoder)</h2></a>
                      <p><b style="color: #003399;">M.R.P.</b> <del><span><i class="fa fa-rupee"></i> 7500</span></del> <span><i class="fa fa-rupee"></i> 3800</span></p>
                      <p class="desc"> Meet the 2 in 1 smart lock for hotel doors from LAVNA Locks, which you can access from your RFID Card and Key.
                      </p>
                      <a class="btn btn-theme" href="/products/L-H300(Encoder)">Buy Now</a> 
                    </div>
                  </div>
                  <div class="col-md-5 order-lg-2 order-md-1 order-sm-1 order-1">
                    <div class="Bluetooth1">
                      <a class="ds_link" href="/products/L-H300(Encoder)"><h2 style="margin-left: 20px;">L-H300(Encoder)</h2></a>
                    </div>
                    <figure class="prod_img">
                        <a href="/products/L-H300(Encoder)"><img id="pr_8_img" src="../../public/assets/new_assets/images/L-H300/L-H300_0.jpg" alt="lh300_product"/></a>
                    </figure>
                  </div>
                  <div class="col-md-5 order-md-2 order-sm-2 order-2 scoller-image">
                    <div class="swiper mySwiper" id="prd_thumb">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide chn_img active" data-target="#pr_8_img" data-img="../../public/assets/new_assets/images/L-H300/L-H300_0.jpg">
                          <figure class="prod_img">
                            <a href="/products/L-H300(Encoder)"><img src="../../public/assets/new_assets/images/L-H300/L-H300_0.jpg" alt="lh300_product"/></a>
                          </figure>
                        </div>
        
                        <div class="swiper-slide chn_img" data-target="#pr_8_img" data-img="../../public/assets/new_assets/images/L-H300/L-H300_1.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/images/L-H300/L-H300_1.jpg" alt="lh300_product"/>
                          </figure>
                        </div>
        
                        <div class="swiper-slide chn_img" data-target="#pr_8_img" data-img="../../public/assets/new_assets/images/L-H300/L-H300_2.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/images/L-H300/L-H300_2.jpg" alt="lh300_product"/>
                          </figure>
                        </div>

        
                        <div class="swiper-slide chn_img" data-target="#pr_8_img" data-img="../../public/assets/new_assets/images/L-H300/L-H300_3.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/images/L-H300/L-H300_3.jpg" alt="lh300_product"/>
                          </figure>
                        </div>
        
                        <div class="swiper-slide chn_img" data-target="#pr_8_img" data-img="../../public/assets/new_assets/images/L-H300/L-H300_4.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/images/L-H300/L-H300_4.jpg" alt="lh300_product"/>
                          </figure>
                        </div>
        
                        <div class="swiper-slide chn_img" data-target="#pr_8_img" data-img="../../public/assets/new_assets/images/L-H300/L-H300_5.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/images/L-H300/L-H300_5.jpg" alt="lh300_product"/>
                          </figure>
                        </div>
        
                        <div class="swiper-slide chn_img" data-target="#pr_8_img" data-img="../../public/assets/new_assets/images/L-H300/L-H300_6.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/images/L-H300/L-H300_6.jpg" alt="lh300_product"/>
                          </figure>
                        </div>
        
                        <div class="swiper-slide chn_img" data-target="#pr_8_img" data-img="../../public/assets/new_assets/images/L-H300/L-H300_8.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/images/L-H300/L-H300_8.jpg" alt="lh300_product"/>
                          </figure>
                        </div>
    
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="row scroller-image2">
              <div class="col-md-7"></div>
              <div class="col-md-5 ">
                <div class="swiper mySwiper" id="prd_thumb">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide chn_img active" data-target="#pr_8_img" data-img="../../public/assets/new_assets/images/L-H300/L-H300_0.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/L-H300/L-H300_0.jpg" alt="lh300_product"/>
                      </figure>
                    </div>
    
                    <div class="swiper-slide chn_img" data-target="#pr_8_img" data-img="../../public/assets/new_assets/images/L-H300/L-H300_1.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/L-H300/L-H300_1.jpg" alt="lh300_product"/>
                      </figure>
                    </div>
    
                    <div class="swiper-slide chn_img" data-target="#pr_8_img" data-img="../../public/assets/new_assets/images/L-H300/L-H300_2.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/L-H300/L-H300_2.jpg" alt="lh300_product"/>
                      </figure>
                    </div>
    
                    <div class="swiper-slide chn_img" data-target="#pr_8_img" data-img="../../public/assets/new_assets/images/L-H300/L-H300_3.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/L-H300/L-H300_3.jpg" alt="lh300_product"/>
                      </figure>
                    </div>
    
                    <div class="swiper-slide chn_img" data-target="#pr_8_img" data-img="../../public/assets/new_assets/images/L-H300/L-H300_4.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/L-H300/L-H300_4.jpg" alt="lh300_product"/>
                      </figure>
                    </div>
    
                    <div class="swiper-slide chn_img" data-target="#pr_8_img" data-img="../../public/assets/new_assets/images/L-H300/L-H300_5.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/L-H300/L-H300_5.jpg" alt="lh300_product"/>
                      </figure>
                    </div>
    
                    <div class="swiper-slide chn_img" data-target="#pr_8_img" data-img="../../public/assets/new_assets/images/L-H300/L-H300_6.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/L-H300/L-H300_6.jpg" alt="lh300_product"/>
                      </figure>
                    </div>
    
                    <div class="swiper-slide chn_img" data-target="#pr_8_img" data-img="../../public/assets/new_assets/images/L-H300/L-H300_8.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/L-H300/L-H300_8.jpg" alt="lh300_product"/>
                      </figure>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 

      <div class="col-12 col-md-12 mt-5">
        <div class="row">
          <div class="col-12 col-md-12">
            <div class="card prod_card">
              <div class="col-md-12 pt-0 pb-0">
                <div class="row">     
                  <div class="col-md-7 order-lg-1 order-md-3 order-sm-3 order-3">
                    <div class="content_box">
                      <a class="ds_link link_ds" href="/products/L-S9"><h2>L-S9</h2></a>
                      <p><b style="color: #003399;">M.R.P.</b> <del><span><i class="fa fa-rupee"></i> 5900</span></del> <span><i class="fa fa-rupee"></i> 3180</span></p>
                      <p class="desc"> Meet the 2 in 1 Lock for your cabinets from LAVNA Locks, which you can access from your fingerprint and PIN.
                      </p>
                      <a class="btn btn-theme" href="/products/L-S9">Buy Now</a> 
                    </div>
                  </div>
                  <div class="col-md-5 order-lg-2 order-md-1 order-sm-1 order-1">
                    <div class="Bluetooth1">
                      <a class="ds_link" href="/products/L-S9"><h2 style="margin-left: 20px;">L-S9</h2></a>
                    </div>
                    <figure class="prod_img">
                        <a href="/products/L-S9"><img id="pr_9_img" src="../../public/assets/new_assets/images/L-S9/L-S9_0.jpg" alt="ls9_product"/></a>
                    </figure>
                  </div>

                  <div class="col-md-5 order-md-2 order-sm-2 order-2 scroller-image" >
                    <div class="swiper mySwiper" id="prd_thumb">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide chn_img active" data-target="#pr_9_img" data-img="../../public/assets/new_assets/images/L-S9/L-S9_0.jpg">
                          <figure class="prod_img">
                            <a href="/products/L-S9"><img src="../../public/assets/new_assets/images/L-S9/L-S9_0.jpg" alt="ls9_product"/></a>
                          </figure>
                        </div>
        
                        <div class="swiper-slide chn_img" data-target="#pr_9_img" data-img="../../public/assets/new_assets/images/L-S9/L-S9_1.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/images/L-S9/L-S9_1.jpg" alt="ls9_product"/>
                          </figure>
                        </div>

                        
                        {{!-- <div class="swiper-slide chn_img" data-target="#pr_9_img" data-img="../../public/assets/landing_assets/images/img/free-installation.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/landing_assets/images/img/free-installation.jpg" alt=""/>
                          </figure>
                        </div> --}}
        
                        <div class="swiper-slide chn_img" data-target="#pr_9_img" data-img="../../public/assets/new_assets/images/L-S9/L-S9_2.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/images/L-S9/L-S9_2.jpg" alt="ls9_product"/>
                          </figure>
                        </div>

        
                        <div class="swiper-slide chn_img" data-target="#pr_9_img" data-img="../../public/assets/new_assets/images/L-S9/L-S9_3.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/images/L-S9/L-S9_3.jpg" alt="ls9_product"/>
                          </figure>
                        </div>
        
                        <div class="swiper-slide chn_img" data-target="#pr_9_img" data-img="../../public/assets/new_assets/images/L-S9/L-S9_4.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/images/L-S9/L-S9_4.jpg" alt="ls9_product"/>
                          </figure>
                        </div>
        
                        <div class="swiper-slide chn_img" data-target="#pr_9_img" data-img="../../public/assets/new_assets/images/L-S9/L-S9_5.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/new_assets/images/L-S9/L-S9_5.jpg" alt="ls9_product"/>
                          </figure>
                        </div>
        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="row scoller-image2">
              <div class="col-md-7"></div>
              <div class="col-md-5 ">
                <div class="swiper mySwiper" id="prd_thumb">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide chn_img active" data-target="#pr_9_img" data-img="../../public/assets/new_assets/images/L-S9/L-S9_0.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/L-S9/L-S9_0.jpg" alt="ls9_product"/>
                      </figure>
                    </div>
    
                    <div class="swiper-slide chn_img" data-target="#pr_9_img" data-img="../../public/assets/new_assets/images/L-S9/L-S9_1.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/L-S9/L-S9_1.jpg" alt="ls9_product"/>
                      </figure>
                    </div>

                     {{!-- <div class="swiper-slide chn_img" data-target="#pr_9_img" data-img="../../public/assets/landing_assets/images/img/free-installation.jpg">
                          <figure class="prod_img">
                            <img src="../../public/assets/landing_assets/images/img/free-installation.jpg" alt=""/>
                          </figure>
                        </div> --}}
    
                    <div class="swiper-slide chn_img" data-target="#pr_9_img" data-img="../../public/assets/new_assets/images/L-S9/L-S9_2.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/L-S9/L-S9_2.jpg" alt="ls9_product"/>
                      </figure>
                    </div>

                   
    
                    <div class="swiper-slide chn_img" data-target="#pr_9_img" data-img="../../public/assets/new_assets/images/L-S9/L-S9_3.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/L-S9/L-S9_3.jpg" alt="ls9_product"/>
                      </figure>
                    </div>
    
                    <div class="swiper-slide chn_img" data-target="#pr_9_img" data-img="../../public/assets/new_assets/images/L-S9/L-S9_4.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/L-S9/L-S9_4.jpg" alt="ls9_product"/>
                      </figure>
                    </div>
    
                    <div class="swiper-slide chn_img" data-target="#pr_9_img" data-img="../../public/assets/new_assets/images/L-S9/L-S9_5.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/L-S9/L-S9_5.jpg" alt="ls9_product"/>
                      </figure>
                    </div>
    
                    <div class="swiper-slide chn_img" data-target="#pr_9_img" data-img="../../public/assets/new_assets/images/L-S9/L-S9_6.jpg">
                      <figure class="prod_img">
                        <img src="../../public/assets/new_assets/images/L-S9/L-S9_6.jpg" alt="ls9_product"/>
                      </figure>
                    </div>
    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 


      <!-- <div class="row mt-4 prod-row text-center">
        <div class="col-lg-12 mt-4">
          <a href="javascript:;" data-more=".rmd3" class="btn knw"> View More</a>
        </div>
      </div> -->
    </div>
  </section>
  <!-- End Product Section -->

  <section id="videos">
    <div class="container">
      <div class="row mb-4 text-center">
        <div class="box1" data-aos="zoom-in">
          <h5>OUR VIDEOS <img width="9%" src="assets/new_assets/img2/Line_about.svg" alt="line_icon"></h5>
          <h1>Explore Our Videos</h1>
        </div>
      </div>
      <div class="row mt4">
        <div class="col-lg-3 mt-4">
          <div class="box2">
            <iframe class="shadow" width="100%" height="380"
              src="https://www.youtube.com/embed/IaCOQMtg8eQ/vidid?modestbranding=1&amp;rel=0&amp;showinfo=0"
              allow="fullscreen;">
            </iframe>
          </div>
        </div>
        <div class="col-lg-3 mt-4">
          <div class="box2">
            <iframe class="shadow" width="100%" height="380"
              src="https://www.youtube.com/embed/MEAsO5lHblQ/vidid?modestbranding=1&amp;rel=0&amp;showinfo=0"
              allow="fullscreen;">
            </iframe>
          </div>
        </div>
        <div class="col-lg-3 mt-4">
          <div class="box2">
            <iframe class="shadow" width="100%" height="380"
              src="https://www.youtube.com/embed/Yst8KW2Vm4M/vidid?modestbranding=1&amp;rel=0&amp;showinfo=0"
              allow="fullscreen;">
            </iframe>
          </div>
        </div>
        <div class="col-lg-3 mt-4">
          <div class="box2">
            <iframe class="shadow" width="100%" height="380"
              src="https://www.youtube.com/embed/CDUrP5KJhl8/vidid?modestbranding=1&amp;rel=0&amp;showinfo=0"
              allow="fullscreen;">
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </section>


  {{!-- <div class="nb-form">
    <p class="title sdkjk">Enquire Now</p>
    <img id="rms87" src="assets/new_assets/img2/times5.png" class="hide" alt="">

    <form id="contact-form">
      <input type="text" name="cpname" id="name" placeholder="Name" pattern="[A-Za-z. ]+" data-error="Name is required."
        min-length="3" required>
      <input type="email" name="cpemail" id="email" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        data-error="Valid email is required." required>
      <input type="text" name="cpphone" id="mobile" placeholder="Phone" pattern="[1-9]+[0-9]{9}"
        data-error="Contact no is required." required>
      <select name="product" id="product" required>
        <option value="" selected>Select Product</option>
        <option>L-A24(Bluetooth)</option>
        <option>L-A28(Bluetooth)</option>
        <option>L-A15</option>
        <option>L-E50</option>
        <option>L-A5</option>
        <option>L-S9</option>
        <option>L-H300(With Encoder)</option>
      </select>
      <textarea name="cpmessage" id="message" placeholder="Message" required></textarea>
      <input id="submit-modal" type="submit" value="Send message">
    </form>
  </div> --}}

</main>

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="container">
    <div class="footer-top">
      <div class="row">
        <div class="col-lg-12">
          <a href="/" class="logo me-auto"><img width="20%" src="assets/new_assets/img2/Logo.jpg" alt="Lavna_logo"></a>
        </div>
      </div>
    </div>
    <div class="footer-mid">
      <div class="row mt-4">
        <div class="col-lg-5">
          <div class="box">
            <h4>Subscribe to our newsletter</h4>
            <form id="contact-form2">
              <input type="email" name="email" id="emailsb" placeholder="Enter Your Email" required><button
                type="submit" id="submit-modal2">Subscribe Us</button>
            </form>

          </div>
          <!-- <div class="box1">
            <h6><a href="#">Terms & Conditions </a></h6>
            </div> -->
        </div>
        <div class="col-lg-4">
          <h4 class="link">Links</h4>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/shop">Products</a></li>
            <li><a href="/builder">Builders Project</a></li>
          </ul>
        </div>
        <div class="col-lg-3">
          <h4 class="link">Contact Us</h4>
          <ul>
            <!-- <li> <span class="office">Main Head Office</span> : Rohini, Sector - 3 Delhi - 110085</li> -->
            <li><a href="tel:+91-18003134491"><i class="fa fa-phone"></i> +91-18003134491</a></li>
            <li> <a href="mailto:sales@lavnalocks.com"><i class="fa fa-envelope"></i> sales@lavnalocks.com</a></li>
          </ul>
          <ul class="lastul">
            <li><a href="https://www.facebook.com/bhagwnshrilocksprivatelimited/"><img
                  src="assets/new_assets/img2/facebook (2).svg" alt="facebook"></a></li>
            <li><a href="https://www.instagram.com/lavnalocks/"><img
                  src="assets/new_assets/img2/instagram (1).svg" alt="instagram"></a></li>
            <li><a href="https://youtu.be/Yst8KW2Vm4M"><img
                  src="assets/new_assets/img2/Vector (13).png" alt="youtube"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div id="f_bottom" class="container-fluid">
    <div class="row text-center">
      <div class="col-lg-12 footer-bottom">
        <div class="copyright">
          &copy; 2022 LAVNA Locks is a Unit of Bhagwn Shri Locks PVT. LTD. All Rights Reserved.
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="ml-form-embed" data-account="3867533:r4q2f7i6e7" data-form="5604774:t6j4n1"></div>
      </div>
    </div>
  </div>
</div>

<div id="preloader"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<!-- Vendor JS Files -->
<script src="assets/new_assets/vendor/aos/aos.js"></script>
<script src="assets/new_assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/new_assets/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="assets/new_assets/js/main.js"></script>
<script src="assets/new_assets/js/owl.min.js"></script>
<script src="assets/new_assets/js/custom.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>


<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js">
</script>


<script type="text/javascript">
  (function () {
    emailjs.init("user_mTjMBBP092bpZsnZTyLfp");
  })();
</script>


<script>
  $(".progress-bar").animate({
    width: "90%"
  }, 2500);

  $("#progress-bar2").animate({
    width: "80%"
  }, 2500);

  $("#progress-bar3").animate({
    width: "70%"
  }, 2500);
</script>


<script>
  var swiper = new Swiper("#prd_thumb", {
    slidesPerView: 5.5,
    spaceBetween: 20,

    navigation: {
      nextEl: "#prd_thumb .swiper-button-next",
      prevEl: "#prd_thumb .swiper-button-prev",
    },

  });

  $(document).ready(function () {

    $('.chn_img').click(function () {
      $('.chn_img').removeClass('active');
      $(this).addClass('active');
      var target = $(this).attr('data-target');
      var src = $(this).attr('data-img');

      $(target).attr('src', src);

    });

  });

</script>

<script>
$(document).ready(function(){
    $("#contact-form2").submit(function(e) {
  $('#submit-modal2').html('Sending...');
            e.preventDefault();
        var emailId = document.getElementById("emailsb").value;
        if(emailId ==='' || emailId == undefined )
        {
            return;
        }
        var Body ='Email: '+emailId;
  $('#emailsb').val('');

  sendMailToUser(emailId);
  sendMailToOwner(Body, emailId);
        });

    });


function sendMailToUser(emailId){

var data = {
service_id: 'service_8zp4yhp',
template_id: 'template_kvsj7kk',
user_id: 'user_mTjMBBP092bpZsnZTyLfp',
template_params: {
    'user_email':emailId,
    'reply_to':'contact@lavnalocks.com',
        'company':"Lavnalocks",

}

};

$.ajax('https://api.emailjs.com/api/v1.0/email/send', {
type: 'POST',
data: JSON.stringify(data),
contentType: 'application/json'
}).done(function(msg) {
// alert(msg);
$('#submit-modal').html('Send');
swal("Thank You!", "Your have subscribe lavnalocks", "success");
$('#closemodal').trigger('click');
}).fail(function(error) {
alert('Oops... user mail failed' + JSON.stringify(error));
});

}


function sendMailToOwner(Body, emailId){
var data = {
service_id: 'service_8zp4yhp',
template_id: 'template_mxovugp',
user_id: 'user_mTjMBBP092bpZsnZTyLfp',
template_params: {
     'user_email': emailId ,
     'reply_to':'contact@lavnalocks.com', 
     'owner_email': 'sales@lavnalocks.com',
     'company': 'Lavnalocks',
}

};

$.ajax('https://api.emailjs.com/api/v1.0/email/send', {
type: 'POST',
data: JSON.stringify(data),
contentType: 'application/json'
}).done(function() {
$('#submit-modal').html('Send');
swal("Thank You!", "Your Query has been submitted!", "success");
$('#closemodal').trigger('click');
}).fail(function(error) {
alert('Oops... ' + JSON.stringify(error));
});

}

</script>


<script>
  var owl = $('.screenshot_slider').owlCarousel({
    loop: true,
    responsiveClass: true,
    nav: true,
    margin: 0,
    autoplayTimeout: 4000,
    smartSpeed: 400,
    center: true,
    navText: ['&#8592;', '&#8594;'],
    responsive: {
      0: {
        items: 1,
      },
      600: {
        items: 5
      },
      1200: {
        items: 5
      }
    }
  });

  /****************************/

  jQuery(document.documentElement).keydown(function (event) {

    // var owl = jQuery("#carousel");

    // handle cursor keys
    if (event.keyCode == 37) {
      // go left
      owl.trigger('prev.owl.carousel', [400]);
      //owl.trigger('owl.prev');
    } else if (event.keyCode == 39) {
      // go right
      owl.trigger('next.owl.carousel', [400]);
      //owl.trigger('owl.next');
    }

  });

</script>

<script>
  $(document).ready(function () {
    $('.center-slider').slick({
      slidesToShow: 5,
      slidesToScroll: 1,
      centerMode: true,
      arrows: true,
      dots: false,
      speed: 300,
      centerPadding: '20px',
      infinite: true,
      autoplaySpeed: 5000,
      autoplay: true,
      breakpoint: {
        320: {
          slidesToShow: 3,
          slidesToScroll: 1,
        },
        520: {
          slidesToShow: 3,
          slidesToScroll: 1,
        },
        720: {
          slidesToShow: 5,
          slidesToScroll: 1,
        }
      }
    });
  });
</script>

<script>
    $(document).ready(function(){
        $("#togg").click(function(){
            $("#navbar").toggle();
        });
    });
</script>

<script>
  $(document).ready(function() {
   setTimeout(function() {
      $('#exampleModalCenter').modal('show');
  }, 10000);
  });
</script>

<script>
    $(document).ready(function() {
    $('.close').click(function(){
       $('#exampleModalCenter').modal('hide');
    });
  });
</script>

<script src="assets/new_assets/js/title.js"></script>

</body>

</html>